[2016-05-29 09:30] #262 closed

[2016-05-29 09:48] tomchentw commented on #186
We're going to look into this shortly. In the meantime, feel free to submit a minimal repository that can fully reproduce this error so that anyone can try to help out. Thanks.

Feel free to submit a gif to demonstrate the behaviour.

We're also looking for maintainers. Involve in #266 to help strengthen our community!

[2016-05-29 09:49] tomchentw commented on #101
Will look into this shortly.

We're also looking for maintainers. Involve in #266 to help strengthen our community!

[2016-05-29 09:51] tomchentw commented on #265
We're working on this to make it clearer.

We're also looking for maintainers. Involve in #266 to help strengthen our community!

[2016-05-29 09:53] tomchentw commented on #261
Glad it's resolved! We're also looking for maintainers. Involve in #266 to help strengthen our community!

[2016-05-29 09:54] tomchentw commented on #257
Glad it's resolved! We're also looking for maintainers. Involve in #266 to help strengthen our community!

[2016-05-29 09:56] tomchentw commented on #189
We're also looking for maintainers. Involve in #266 to help strengthen our community!

[2016-05-29 09:56] tomchentw commented on #253
Glad it's resolved! We're also looking for maintainers. Involve in #266 to help strengthen our community!

[2016-05-29 09:59] tomchentw commented on #238
Glad it's resolved! We're also looking for maintainers. Involve in #266 to help strengthen our community!

[2016-05-29 10:01] tomchentw commented on #185
We're looking into this shortly! We're also looking for maintainers. Involve in #266 to help strengthen our community!

[2016-05-29 10:02] tomchentw commented on #232
No problem!

[2016-05-29 10:04] tomchentw commented on #230
Glad it's resolved! We're also looking for maintainers. Involve in #266 to help strengthen our community!

[2016-05-29 10:05] tomchentw commented on #188
We're looking into this!

We're also looking for maintainers. Involve in #266 to help strengthen our community!

[2016-05-29 10:05] tomchentw commented on #220
Glad it's resolved! We're also looking for maintainers. Involve in #266 to help strengthen our community!\

[2016-05-29 10:06] tomchentw commented on #225
Glad it's resolved! We're also looking for maintainers. Involve in #266 to help strengthen our community!

[2016-05-29 10:07] tomchentw commented on #98
Glad it's resolved! We're also looking for maintainers. Involve in #266 to help strengthen our community!

[2016-05-29 20:16] farrrr commented on #172
I will check it this week...

[2016-05-30 01:59] tomchentw opened #267 "5.0.0"
* [x] #224
* [x] #268
* [x] #269
* [x] #270
* [x] #271
* [x] #274
* [x] #300
* [x] #317

[2016-06-02 16:57] brigand opened #272 "access to the map instance?"
I want access to the map instance, specifically to call setCenter and setZoom in response to an autocomplete input selection. Is there any way to access it?

I know there are props for zoom/center but I just want to set them once in response to the event and then not manage them.

[2016-06-02 17:47] eamonpenland opened #273 "Trying to get a hover event in application to trigger a marker animation without re-rendering entire map"
Hi, I have a hover event on a info card that corresponds to a marker on the map. When I hover on the card, I successfully trigger the animation on the correct marker, but it triggers a full refresh of the map component. How can I prevent the map from doing a full refresh? Currently, I am just changing the animation property on the component based on which card is hovered.

The trigger data is tied

[2016-06-03 11:32] cristiandley commented on #267
@tomchentw in this release we should also map a project tree, that way we can be sure no one is going to publish new features in the wrong path or project structure.

I will commit a readme PR on monday with the idea. I will be traveling this weekend.

[2016-06-03 15:06] eamonpenland commented on #273
or am i missing this in the other issues somewhere?

[2016-06-04 03:03] WebRuin commented on #266
I would like to be a maintainer as well.  How can I help?  What needs doing?

[2016-06-04 03:06] WebRuin opened #275 "Where do I add the Google Maps API"
js:35 Google Maps API error: ApiNotActivatedMapError https://developers.google.com/maps/documentation/javascript/error-messages#api-not-activated-map-error

I am using with /react-google-maps https://github.com/kriasoft/react-starter-kit

[2016-06-04 09:59] jmagrippis commented on #275
As the error message you are getting suggests, this doesn't look related to react-google-maps or React; you just need to enable the Google Maps Javascript API.

You can do that for your project by navigating [https://console.developers.google.com/apis](https://console.developers.google.com/apis). Are you trying to pass an API key when loading the script? You should create a new one just for that p

[2016-06-04 10:04] rewop commented on #275
It looks like the Google account and project you are using doesn't have Google maps activated.

You need to set it up from Google console.

Maybe [this link](https://developers.google.com/maps/documentation/javascript/get-api-key#get-an-api-key) can help you setting it up.

[2016-06-04 10:06] rewop commented on #275
@jmagrippis sorry I saw your comment just after posting mine :)

[2016-06-04 14:15] crisys11 opened #276 "Polygon strokeColor and fillColor not working"
if i do this stroke color and fillcolor, dont apply.
[code]

[2016-06-05 02:44] tomchentw commented on #267
@cristiandley Got it. A correct project tree is a good idea. Thanks for doing this! 👍

[2016-06-05 02:50] tomchentw commented on #276
See #125

[2016-06-05 02:50] #276 closed

[2016-06-05 10:03] rewop commented on #273
It may be related to #240

[2016-06-05 10:04] rewop commented on #273
@eamonpenland it would be best if you could post an example to reproduce your issue.

[2016-06-05 10:11] rewop commented on #272
Related to #239

[2016-06-05 12:29] crisys11 commented on #276
thanks

[2016-06-05 19:00] eamonpenland commented on #273
@rewop sure thing https://gist.github.com/eamonpenland/6e135678dab10a5f9f9c547e8e0968ed

Someone else wrote this code. I'm in the process of refactoring and improving!

I think i will need to use shouldComponentUpdate. Ideally I would like to make the hover effect function like this example. http://istarkov.github.io/google-map-react/map/main/

[2016-06-06 07:53] rewop commented on #273
Thanks @eamonpenland I will look into it asap.

[2016-06-08 07:20] ClementParis016 commented on #275
Then where do you need to pass your Google Maps API key to react-google-maps? Is it even supported to pass an API key? I guess we should add instructions for this in the README ;)

[2016-06-08 09:15] jmagrippis commented on #275
@ClementParis016 You would add it where you import the script for the Google maps API, so if you just include it synchronously, you'd do something like:
`<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY"
  type="text/javascript"></script>`

If you are using the ScriptjsLoader to load the script asynchronously, you can sorta derive [from the async example](http://react-google-m

[2016-06-08 09:15] zaggy commented on #266
HI, I would be happy to help. Can I just choose an open bug and work on it?

[2016-06-08 09:46] tomchentw commented on #266
@zaggy sure. I'd suggest you open a new ticket and points to those old tickets in it :)

[2016-06-08 09:48] ClementParis016 commented on #275
@jmagrippis that's exactly the explanation I was looking for, thanks!
+1 for adding this to the README, I could write a PR once I've set this up for my project

[2016-06-08 11:37] rewop commented on #275
@ClementParis016 @jmagrippis feel free to make a pull request for the README. I think this issue can be closed.

[2016-06-08 16:21] natorious opened #277 "Map should use context to pass map reference to child components"
Right now, Map passes itself as "mapHolderRef" through props to child components via cloning of children. This gets dicey when creating subclasses. For example, this doesn't work:

[code]

It breaks (without a good error message) because secret mapHolderRef prop is not passed down to Polygon. The fix is easy (pass rest of props using rest-spread) but I had to dig into the code to figure out the pr

[2016-06-08 20:35] zeroasterisk opened #278 "How can I "edit" Polygons and update state to match?"
If I allow editable polygons, I can listen for `onMouseup` and get back some "stuff" but I don't see anything which tells me which polygon I've just updated.

I have `this.state.polygons` as an array of polygon objects which contain paths...

`[{"id":0,"editable":true,"path":[{"lat":38.25764366831546,"lng":-85.7516598701477},{"lat":38.25656530505969,"lng":-85.75185298919678},{"lat":38.258081748816

[2016-06-08 20:40] zeroasterisk commented on #196
[code]

[2016-06-09 18:33] mtimofiiv opened #279 "Certain mapOptions don't seem to work"
Here are the props passed into the component:

<img width="295" alt="screen shot 2016-06-09 at 20 23 44" src="https://cloud.githubusercontent.com/assets/428948/15941435/6976e3e6-2e80-11e6-89c6-fee1c3c5a558.png">

And yet, the map still renders with type control and zoom control:

![screen shot 2016-06-09 at 20 27 29](https://cloud.githubusercontent.com/assets/428948/15941489/b0b8a9a6-2e80-11e6-9da

[2016-06-09 18:39] mtimofiiv commented on #279
Never mind, sorry, I really should have read "Rule 4". Putting them in the `options` object helped.

But I guess my question is, why an `options` object?

[2016-06-10 09:21] Rtg147 opened #280 "My maps is grey"
![capture d ecran 2016-06-10 a 11 22 43](https://cloud.githubusercontent.com/assets/6206019/15959978/cfe84d2c-2efd-11e6-8487-5fbab417fa55.png)
![capture d ecran 2016-06-10 a 11 23 05](https://cloud.githubusercontent.com/assets/6206019/15959980/d1a0615e-2efd-11e6-8ce0-3fa3ad8b3359.png)>

Maps is grey when larger than a certain width. And the zoom btns icons dont display well as i move too.Where doe

[2016-06-12 17:25] ClementParis016 opened #281 "Async - google is not defined: you should handle this yourself"
I've browsed this repository during the entire afternoon and like most people here, I don't have any clue how to deal with the `google is undefined` error which you get when using the `ScriptjsLoader`.

I fully understand that this error is obvious since we are asynchronously loading the Google Maps library, but every time someone asks how to solve this problem he is answered to "handle that by hi

[2016-06-13 03:47] pahans opened #282 "Use React Storybook to demonstrate components"
Hi @tomchentw ,
We can use [react-storybook](https://github.com/kadirahq/react-storybook/) to demonstrate some use cases for each component. I can work on this issue if you're interested.

[2016-06-13 05:40] tomchentw commented on #282
Yes! Please feel free to open up a PR!

[2016-06-13 18:57] eamonpenland commented on #273
hey @rewop any thoughts on this issue?

[2016-06-13 20:31] woniesong92 commented on #273
+1. If I only want to replace one of the markers instead of the entire map, do I still have to re-render the entire map?

[2016-06-13 22:00] woniesong92 commented on #173
@tomchentw when I put it in the `options`, it doesn't seem to work either

[2016-06-14 16:03] mariusandra commented on #172
Has anyone gotten this to work with a controlled map?

[2016-06-15 06:55] SantanMaddi opened #283 "InfoWindow cannot be used with Polyline"
`<Polyline {...l} onClick={this.handlePolylineClick.bind(this, l)}>
  <InfoWindow key={l.id}>
    <div className="info">
      <h3>{l.name}</h3>
    </div>
  </InfoWindow>
</Polyline>`

Using InfoWindow with polyline instead of marker. But I do not see InfoWindow on map. Any help is much appreciated.

[2016-06-15 08:51] mariusandra commented on #172
Hey, I got this working.

The trouble is indeed with the controlled zoom. `react-google-maps` sends a `map.setZoom(props.zoom)` at every render, even when `map.getZoom() === props.zoom`.

I fixed the situation by doing this:

1) Changed to an uncontrolled zoom.
[code]
to
[code]

2) Store a reference to `map` in `this.mapRendered`
3) In `componentWillReceiveProps (nextProps)` do this:
[code]

And i

[2016-06-15 16:25] cristiandley commented on #275
https://github.com/tomchentw/react-google-maps/pull/284 new pull request made, please review it.

[2016-06-15 16:25] #275 closed

[2016-06-15 20:32] matanhalevy commented on #263
i've had the same issue, wondering if this issue is closed was a solution found?

[2016-06-15 20:37] cristiandley commented on #281
@ClementParis016 please show me a repo where you show your `ScriptjsLoader` usage.
Dont be so rude buddy, we all work to make this a good repo :cry:

[2016-06-15 20:43] cristiandley commented on #279
Thanks @mtimofiiv Im not an expert on this, but my notion says its to achieve a better handling on them.

[2016-06-15 20:43] #279 closed

[2016-06-15 20:58] cristiandley commented on #280
@Rtg147 at first glance i saw bad formated your ISSUE dont use ` > ` (thats for QUOTES) to add code use "```"  . Also... you have ``` ResultList ``` twice please improve this issue description. I've been using this package since a time ago for several projects and only once i had SIZE issues because of a Component i did. Try to isolate your component and tell me what happen.

[2016-06-15 23:12] ClementParis016 commented on #281
@cristiandley I didn't meant to be rude, I'm sorry if it's how you feel it. Of course we are all trying to help each other here, I was just a bit upset to see that question was hanging around without real answer :(
I will set up an example in the following days ;)

[2016-06-16 07:32] khoerling opened #285 "React 15.1.x Support"
Is this on the horizon?

[2016-06-16 12:08] cristiandley commented on #267
@tomchentw can you explain me ` Remove <GoogleMap> ` ? Im a bit lost. I want to work on this.

[2016-06-16 16:52] rewop commented on #267
@cristiandley I think @tomchentw means that we remove the [old api to load the map](https://github.com/tomchentw/react-google-maps/blob/master/src/async/ScriptjsGoogleMap.js#L22). Am I right?

[2016-06-16 16:55] rewop commented on #267
And also [this deprecation](https://github.com/tomchentw/react-google-maps/blob/master/src/GoogleMap.js#L89)

[2016-06-16 17:45] rewop commented on #281
@ClementParis016  I found only these issues mentioning the problem #244 #196. Did you find more? if so could you mention them?

#244 has an example to reproduce it. In that case, they should handle the case in which `google` is not defined (which could happen in the first render cycles).

The way I would do it is this:

[code]

You are sure that the component is rendered again once the map is load

[2016-06-16 17:47] rewop commented on #281
We may find a smart way to access google when not loaded yet.

My idea would be in the direction to make the prop `googleMapElement` a function called only when google is loaded.

Usually the problem of `google is undefined` happens because `GoogleMap` may need constants defined in google. And I cannot think of other cases at the moment.

Any thoughts about it?

[2016-06-16 20:44] idolize commented on #172
@mariusandra Awesome! Can you make a PR to handle this directly in the library so developers won't have to worry about doing this themselves if they use a controlled component?

[2016-06-16 20:46] idolize commented on #266
@tomchentw I'm happy to help too

[2016-06-17 03:59] tomchentw commented on #267
@rewop yes, you got it. Thanks for posting these for me. Basically, everything should be under `<XXXLoader>` in `5.0.0` and `<GoogleMap>` should be just a component responsible for maps instance.

@cristiandley go ahead, create a ticket and a PR to work on it 👍

[2016-06-17 03:59] khoerling commented on #285
On second look, it's working excellently on the latest React!  (closing)

[2016-06-17 03:59] #285 closed

[2016-06-17 04:00] tomchentw commented on #266
@idolize Thank you so much!

[2016-06-17 04:09] tomchentw commented on #280
I just had this issue recently. It's because for my `center` props of `<GoogleMap>`, I've switched the values of `lat` and `lng` so they point to the wrong location and I got a blank gray map as well.

[2016-06-17 04:10] tomchentw commented on #263
@matanhalevy did you try to run with latest `master`?

[2016-06-17 04:38] benwiley4000 commented on #258
@tomchentw I do not see why you closed this issue, please reopen it - it is still outstanding, I was about to post the same! Context should be passed, but it lost because children are rendered using ReactDom.render. Look into [renderSubtreeIntoContainer](https://github.com/gaearon/react-dnd/issues/204#issuecomment-114476147). It's a means to passing context to manual React rendering. I was going t

[2016-06-17 05:48] benwiley4000 commented on #258
Note that @wuct's tentative solution of setting `href` directly is not a complete fix. First off, it causes a page reload. Second, in certain cases, the transition will be blocked and default prevented (in my particular case, it seems anytime the map route is not the initially loaded route fetched from the server).

Long story short - those are not problems I should need to debug, since react-goog

[2016-06-17 07:06] davidpelayo commented on #266
@tomchentw I'm happy to help too!

[2016-06-17 07:20] tomchentw commented on #266
@davidpelayo sure. Feel free to pick some topics in this thread to work on it!

[2016-06-17 07:21] ClementParis016 commented on #281
@rewop Thanks for your answers. Yes, I encountered this issue while trying to use constants like `google.maps.ControlPosition.TOP_CENTER` to add a SearchBox inside your googleMapElement for example.

Like you said, using a function could be a good idea. Though, I'm quite new to React so I don't master well the best practices yet.

[2016-06-17 07:26] davidpelayo commented on #183
@solace anyone knows a better solution? I'm looking at how to solve the same issue, and there is no docs for doing proper fitBounds with your current markers in a markerClusterer.

[2016-06-17 07:53] solace commented on #183
It wasn't meant to be a complete solution, just point people in the right direction.

You may have to take a look inside the lib in `node_modules` to figure out what will work for you.  Those same files will also have the functions so you can see what params they need you to pass in.  If it helps, grep for the functions used to find file they're in.

Based on how you're implementing it, you will a

[2016-06-17 08:25] davidpelayo commented on #183
@solace, your rebuildMarkers function looks like this now (and works):

[code]

[2016-06-17 08:44] solace commented on #183
I'm glad you found a solution for your problem.

I can't recall at this point, and am not going to go check, but the `onChange` may have been to handle zoom in/out and dragging of the map to update the positions, otherwise when new markers come in from props, the center and bounds would jump away from where the user had them.

Of course, I could be wrong.

[2016-06-17 09:35] davidpelayo commented on #183
@solace Now is named `onCenterChanged`.

[2016-06-17 18:55] matanhalevy commented on #263
@tomchentw i did and it still didn't work, although i was able to implement the library in my own project, big thanks for the great resource!

[2016-06-20 23:48] agilgur5 commented on #272
I actually am managing the center myself, but changing the `center` prop doesn't seem to actually move the map in any way. Not sure if this is a bug, but to workaround this, I would need to call `setCenter` and I can't right now...

[2016-06-22 23:00] Rtg147 commented on #280
I've done as the example and i got the same issue,(ps: the streetview monkey even if isnt visible works well ^^)

[2016-06-22 23:04] Rtg147 commented on #280
import {GoogleMapLoader, GoogleMap, Marker} from "react-google-maps";
const SimpleMap = props => (
    <GoogleMapLoader
      containerElement={
        <div
          {...props.containerElementProps}
          style={{
            height: `100%`,
          }}
        />
      }
      googleMapElement={
        <GoogleMap
          defaultZoom={15}
          defaultCenter={{ lat: 46.2017559, lng:

[2016-06-22 23:04] Rtg147 commented on #280
`.mapResult{
	width: 100%;
	height: 600px;
	background-color: grey;
}`

[2016-06-23 01:59] cristiandley commented on #280
@Rtg147

First. Are you using sub-components  like ` GoogleLoader.js > GoogleMap.js > Markers.js` and importing them in that order ?

Second. Try to make a parent node before the loader, give it `height: 80vh, width:100vw` and in the Loader `height: inherit`.

Check out my example here: https://github.com/AYCRAL/alimentar  `alimentar/imports/ui/components/mapa/MapLoader.js` i still working on that

[2016-06-23 07:32] Rtg147 commented on #280
https://drive.google.com/folderview?id=0B3QY371CAbzgc1c5aWpaVVhQVmc&usp=sharing  its the files concernig my maps.Thank you very much for the time you consecrate

[2016-06-23 07:46] Rtg147 commented on #280
Ahh do we have to refresh on mouse map move

[2016-06-23 14:53] davidpelayo commented on #172
Oh @mariusandra you made my day! Thank you very much. It works like a charm. Willing to see a PR linked to this issue so other devs won't be digging around any longer.

[2016-06-24 11:15] sameerkambli commented on #173
@tomchentw

[2016-06-25 12:41] miracle2k commented on #281
Since the access to ``google``is a JavaScript level issue, we have to somehow delay access to it.

One obvious way, wrapping ``GoogleMap`` inside a custom react component, and passing that to the ``googleMapElement`` attribute didn't work last time I tried, because somehow it was insisting on an actual ``GoogleMap`` component.

Allowing ``googleMapElement`` to be a function is a good fix, but I pr

[2016-06-26 04:52] jamaica474 opened #288 "Marker image screwed up on draggable=false"
Strange behaviour of Marker component. When I set draggable = true it looks just fine, but draggable = false, and it suddenly stops showing properly.

This is how it looks on chrome. On FF markers just disappear.

Marker options:
Object {draggable: true, mapHolderRef: GoogleMapHolder, position: Object}
![image](https://cloud.githubusercontent.com/assets/7143553/16360565/3bf1e8e8-3b38-11e6-8e38-d25

[2016-06-26 11:34] rewop commented on #280
@Rtg147 I looked into the folder you shared privately with me but, despite I managed to open the `index.php.html` file, the code you have problem with is never imported in the example, so still I cannot reproduce.

It spites me, but I cannot spend more time on this issue until I have a **working** example.

Again we are willing to help, but you first need to help us in reproducing your problem. Pl

[2016-06-26 11:34] #280 closed

[2016-06-28 12:24] davidpelayo opened #290 "Custom InfoWindow"
Do you know how can I customize the InfoWindow markup to fully customize it? Not only the content of the InfoWindow but also the wrapper divs and so.

Thanks in advance.

Edit: I guess we should reproduce [this example](https://github.com/googlemaps/js-samples/tree/gh-pages/infowindow_custom) Google provides: [Demo](http://googlemaps.github.io/js-samples/infowindow_custom/infowindow-custom.html).

[2016-06-28 13:31] davidpelayo commented on #290
Just to point out. I realized google examples as well as the AirBnb implementation are using the `OverlayView` abstraction to achieve this, setting the position when it comes to render the fake "InfoWindows".

Therefore, this is the only way to go. Even [`angular-google-maps` repo is using the google `InfoBox` abstraction](https://github.com/angular-ui/angular-google-maps/blob/master/src/js/wrappe

[2016-06-28 13:40] davidpelayo commented on #290
However, I think we should add classes inheritance by props at least or any data attribute to be able to style elements, in case needed, via CSS the component.

[2016-06-29 07:52] adamryvola commented on #126
Please, can you explain me, why `this.refs.gmap` is undefined in `componentDidMount`? I would like to access bounds of map and calculate something.

`export default class Map extends Component {

    componentDidMount() {
        console.log('GMAP: ' + this.refs.gmap);
    }

    render() {
        return (
            <GoogleMapLoader
                containerElement = {
                    <div

[2016-06-29 08:43] rewop commented on #126
@adamryvola please check the usage of refs on [react documentation](https://facebook.github.io/react/docs/more-about-refs.html#the-ref-callback-attribute).

I believe the ref is undefined because the component passed in `googleMapElement` is not yet mounted in the dom, therefore the `ref` is available yet after the first render.

The `ref` is available only after [this setState](https://github.com

[2016-06-30 07:54] adamryvola commented on #126
Soooo stupid question from me, thank you for your time :)
(I am React newbie)

[2016-06-30 07:58] rewop commented on #126
@adamryvola No problem at all. Great to see always new people learning react :) Please close this issue if you think it is resolved.

[2016-06-30 20:39] RishabhJain96 opened #291 "Extending Existing Component"
**Overall Question:** How do we use a component (Marker, Rectangle) in another larger component before displaying it on a GoogleMap via standard map.
**Specific to my problem:**
I am trying to attach hover functionality to the Rectangle component. However, I draw lots of rectangles, so updating the state is out of the question as the rendering takes time. I decided on putting the Rectangle inside

[2016-06-30 21:31] RishabhJain96 commented on #273
@eamonpenland Did you solve this issue/find a workaround?

[2016-07-01 00:32] kirkstrobeck opened #292 "Marker offset available?"
Like http://stackoverflow.com/a/10666030/537998

[2016-07-01 06:38] doubleoevan commented on #255
Might want to update this example page so people know that cluster markers are back :) http://react-google-maps.tomchentw.com/#/addons/marker-clusterer?_k=zvrnxa

[2016-07-01 08:48] rewop opened #293 "Fix description how to start examples without docker"
I tried the instructions in the [README.md](https://github.com/tomchentw/react-google-maps#without-docker) to start the examples without docker, and the url http://localhost:8080/webpack-dev-server/ doesn't work when the example start.

It works though with http://localhost:8080/.

I suggest anyway to only use docker, and make sure the examples can be run with the published version in npm, and opt

[2016-07-01 08:49] rewop commented on #293
I am also noticing that the examples pages are not working properly. There are crashes happening.

[2016-07-01 09:58] rewop commented on #273
Sorry guys for the delay. I will look into this in the weekend.

[2016-07-04 15:22] vedran-maestral opened #294 "How to update line strokeWidth on hover"
I am trying to change line.strokeWeigth based on mouse hover. So I have this line renderer:

                              {this.state.lines.map((line, index) => {
                                return (                               `
                                <Polyline
                                  key={line.relationId}
                                  {...line}

[2016-07-05 12:21] oliviertassinari opened #295 "Warnings with react v0.15.2"
I'm seeing the following warnings when upgrading to React v0.15.2
[code]

<details>
  <summary>Stack trace</summary>
[code]
</details>

[2016-07-05 19:08] mcmar commented on #295
![screen shot 2016-07-05 at 12 07 32 pm](https://cloud.githubusercontent.com/assets/8251430/16596507/2107a98c-42a9-11e6-9dfa-432ec429e523.png)

[2016-07-07 06:38] WellyShen commented on #295
I have the same problem

`Warning: Unknown props `lat`, `lng`, `$hover`, `$getDimensions`, `$dimensionKey`, `$geoService`, `$onMouseAllow`, `$prerender` on <div> tag. Remove these props from the element. For details, see https://fb.me/react-unknown-prop
    in div (created by GMap)
    in div (created by GoogleMapMarkers)
    in div (created by GoogleMapMarkers)
    in GoogleMapMarkers (created by

[2016-07-07 14:05] tomchentw commented on #255
@doubleoevan a PR is welcomed!

[2016-07-07 14:10] tomchentw commented on #288
Weird…

[2016-07-07 14:11] tomchentw commented on #288
Try using Symbol to define your icon instead of png?

[2016-07-07 14:14] tomchentw commented on #173
Is `minZoom` or `maxZoom` supported by the official Google Maps JavaScript API v3? If not, then use the solution proposed by @sameerkambli .

[2016-07-07 14:17] tomchentw commented on #172
Would love to see an ultimate solution to get rid of this controlled/uncontrolled hell……

[2016-07-07 14:27] tomchentw commented on #283
Yes, it's not supported at the moment.

[2016-07-07 14:27] #283 closed

[2016-07-07 14:30] tomchentw opened #296 "Warnings wordings for #168"
Thanks to @aug-riedinger in https://github.com/tomchentw/react-google-maps/pull/168#issuecomment-225692098

[2016-07-07 14:31] tomchentw commented on #277
Merged in #224

[2016-07-07 14:31] #277 closed

[2016-07-07 14:33] tomchentw commented on #267
@wuct @cristiandley @rewop anyone interested in the last task for `v5.0.0`? It's just

[2016-07-07 14:45] aug-riedinger commented on #296
Cheers. :smile:
Do you expect me to PR this?

[2016-07-07 16:30] jamaica474 commented on #288
What do you mean? My icon is base64 encoded svg.

[2016-07-07 16:49] eamonpenland commented on #273
@RishabhJain96 Hey! sorry for the late reply. I haven't found a solution. Actually, I put the refactor of that component on the back burner as the re-render was annoying but not unusable in production. Revisiting the refactor now though. @rewop any ideas?

[2016-07-07 19:55] nbergseng commented on #272
Another use case: accessing the map.data property.  The current GeoJSON example generates shapes and paths instead of using the built in load/addGeoJson functions.  Exposing those properties could make a few things quite a bit easier.

[2016-07-08 06:26] RishabhJain96 commented on #273
I managed a workaround albeit using Rectangles rather than Markers. The gist was wrapping all the components in another component and then using MobX observables to prevent rerendering of the entire map.

[2016-07-08 13:09] tomchentw commented on #296
@aug-riedinger if you like that'd be great! Also, #266

[2016-07-08 13:15] tomchentw commented on #288
Sorry, I don't know why this would happen. Could you try native Google Maps JavaScript API v3 and see if it's still have the same bug?

[2016-07-08 15:12] eamonpenland opened #297 "Child Components"
Hi all,

I'm trying to break a monolithic map component up a little. I'm using Polylines, Marker, and InfoWindow. I'm trying to render these as Child components of the map in their own component. Any suggestions? words of wisdom? I keep getting an error PolylineCreator.js?0b47:117 Uncaught TypeError: Cannot read property 'getMap' of undefined.

[2016-07-08 15:14] eamonpenland commented on #273
@RishabhJain96 interesting. Was there a reason for using Rectangles vs Markers? Any way you could share a gist?

[2016-07-08 17:35] eamonpenland commented on #297
actually just got it working. Found what I needed here https://github.com/tomchentw/react-google-maps/issues/165#issuecomment-206440454

[2016-07-08 17:35] #297 closed

[2016-07-12 02:34] RishabhJain96 commented on #294
I suggest not setting options, rather setting a boolean in the state and using that boolean when rendering the options of the polyline. You may wish to use something such as MobX to avoid re-rendering all components.

[2016-07-12 08:49] aug-riedinger commented on #296
Regarding your search for maintainers, I shall consider helping if I dive further into the projet that uses this repo. But this won't be before september because I'll be off this summer.
Cheers

[2016-07-13 13:03] zlwaterfield opened #298 "Cant drag or zoom map when directions are on"
I have the directions showing, they are working, but when you drag or zoom the map it defaults back to where the directions are. It is like the map is locked on the directions.

GIF  to show => http://g.recordit.co/R3sDpLyqB6.gif

[code]

[2016-07-13 14:11] patrickvlad opened #299 "Data layer Event Listener"
Hello,

I'm trying to set listeners on data layer, but I get nothing:

[code]
I want to get a result that looks like [http://jsfiddle.net/gfp9qntx/10/](url) , but the event listener does nothing.

I need to set an event listener (like "addfeature" and "setgeometry") on data layer that listens to all drawn objects regardless of object type (selected drawing mode).

I can set listeners on every obje

[2016-07-14 10:44] tomchentw commented on #280
I may found the issue. Reproducible in `Directions` example.

[2016-07-14 12:56] patrickvlad commented on #299
Never mind,

If you add the object (onOverlayComplete or similar event) in the data layer ( map.data.add(...) ), you can set events on data layer that affects it. I though the overlay you draw it's added in data layer by drawing manger, but you need to do that manually.

Awesome package!

Best regards,
Vlad

[2016-07-14 12:56] #299 closed

[2016-07-15 23:17] ryanhca commented on #260
This was closed, but was there ever an implementation into the library? It would save me a whole lot of time if someone had an example of how they dropped this functionality into the library.

[2016-07-15 23:21] dyyylan commented on #260
@ryanhca Are you just looking for the `fitBounds` implementation with react-google-maps? If so, it is an exposed method that you can access via refs on the map component.

[2016-07-16 00:40] camiel opened #301 "OverlayViews are added to a surrounding MarkerClusterer but not removed on unmount"
For Markers the MarkerCreator adds the marker to the surrounding MarkerClusterer (https://github.com/tomchentw/react-google-maps/blob/master/src/creators/MarkerCreator.js#L77). In the Marker component the marker is removed from this clusterer when componentWillUnmount is called: (https://github.com/tomchentw/react-google-maps/blob/master/src/Marker.js#L98). For OverlayViews the OverlayViewCreator

[2016-07-18 11:23] SVITY opened #303 "Custom marker"
Hello,
Could I make custom markers using this maps component?
Custom markers are like these http://take.ms/SB6v6 . Marker has two state, red arrow points to normal state, blue one points to state after click.

Thx for help

[2016-07-18 12:28] camiel commented on #303
I created custom markers using an OverlayView: http://react-google-maps.tomchentw.com/#/basics/overlay-view.

[2016-07-18 17:11] ryanhca commented on #260
@dyyylan thanks. I'll give it a whirl.

[2016-07-18 17:50] kirkstrobeck opened #304 "`optimized` attribute not available on Marker"
See

- https://github.com/tomchentw/react-google-maps/blob/5e672b92f3e47861126349a5691c33b9b1d1eb88/lib/creators/MarkerCreator.js#L53-L67
- https://developers.google.com/maps/documentation/javascript/3.exp/reference#MarkerOptions
- http://stackoverflow.com/questions/38404566/google-maps-svg-marker-with-animation?noredirect=1#comment64237425_38404566

[2016-07-18 17:50] SVITY opened #305 "how to set bounds?"
I get bounds from server api. For example:
{
  ne: { lat: 52.6754542, lng: 13.7611175 },
  sw: { lat: 52.33962959999999, lng: 13.0891554 },
}
Google Api has fitBounds() method. Unfortunately, I don't understand how do it via this component.
Can I set bounds to map component?

Thx for help

[2016-07-18 19:26] kirkstrobeck commented on #304
Implement as

[code]

[2016-07-18 21:59] ryanhca commented on #305
I too am still having trouble with this. I can't see it on the refs for some reason.

[2016-07-18 23:48] zainer26 opened #306 "How to use Retina optimized icons for Marker image?"
I'm trying to implement retina optimized images for the map markers, but I'm not sure how to specify the 'size' or 'scaledSize' properties for the icon using this component.

Perhaps that's not even the correct way to do it using this component?

Please let me know how to achieve this.

Here is the relevant code snippet:
...
{plots ?

			plots.map((marker, index) => {
				var location = {lat: Numb

[2016-07-19 17:12] zainer26 commented on #306
ok I figured it out... I just needed to specify the image variable as an Icon object and pass the options in there. i.e. 'url' and 'scaledSize'. Here's the updated snippet:

    ...
    {plots ?
	plots.map((marker, index) => {
 	var location = {lat: Number(marker.lat), lng: Number(marker.lng)};
	var image = {
		url: '/../../img/marker@2x.png',
		scaledSize: new google.maps.Size(31, 43)
	};

	    r

[2016-07-19 17:12] #306 closed

[2016-07-19 20:24] #304 closed

[2016-07-20 21:41] ryanhca commented on #183
so.... @tomchentw did fitBounds() get removed from the 'ref'. When I log this.refs.map (after putting a ref on the GoogleMap component I don't see 'fitBounds' anywhere. I can't see the ref in CDM() function, but I see it when I log it in the render portion of the component.

[2016-07-21 11:46] craigcartmell opened #308 "Removing an overlay (e.g. rectangle) on click"
I couldn't find this in the docs but I'm trying to work out how to remove a rectangle on click.

I can draw rectangles fine and handle a click event which gives me some coordinates, so do I need to manually work it out from there?

Or is there an easier way to do this?

My current render looks like this:

     <GoogleMapLoader
          query={{libraries: "drawing"}}
          containerElement={<d

[2016-07-21 14:46] jeneg opened #309 "How to get directions from <DirectionsRenderer>"
Hi! @tomchentw!
I'm new to React, and I'm trying to get current directions from DirectionsRenderer after user moves route waypoints, but  #have no success yet.
Please advise

[code]

[2016-07-22 15:55] ryanhca commented on #305
@tomchentw I'm assuming that the open source community and yourself are no longer maintaining this library? It's been a few days since I've heard from anyone on these issues. I'm referencing the ref that is set on my google map component and I have no access to any of the methods claimed to be on the refs. Please advise. You're library is the better implementation out there so I'd hate to have to

[2016-07-25 15:22] Rtg147 commented on #280
Really😀. What's reason of this issue ?

[2016-07-25 15:39] PsychicNoodles opened #310 "Add a simple custom control class"
Currently, it is not entirely clear how to add custom control elements to the map. You can dig through the `SearchBox` and `SearchBoxCreator` source to figure it out, but that seems like an unnecessary amount of work for potential devs when a working implementation is quite simple (plus, it has some intricacies due to using an `input` element).

## Example Implementation

(this can be submitted as

[2016-07-26 11:56] nishankkumar1994 opened #311 "How to add custom block on hover over polygon by using the polygon component"

[2016-07-26 20:36] KensoDev commented on #305
@ryanhca I've had the same issue with the map centering around markers being added.
I started working on setting the bounds and exposing this outside. Check it out here: https://github.com/kensodev/react-google-maps/tree/feature/center-map-markers

[2016-07-26 20:37] KensoDev commented on #305
I think @tomchentw is no longer maintaining this since there's a message in the README that he's looking for other maintainers.

[2016-07-27 00:27] RishabhJain96 commented on #273
Sorry for the delay, I can't actually share a gist. The rectangle vs markers didn't actually matter.

[2016-07-27 03:30] #291 closed

[2016-07-27 03:33] RishabhJain96 commented on #311
Provide a function to onMouseover as provided by the [event list](https://github.com/tomchentw/react-google-maps/blob/master/src/eventLists/PolygonEventList.js).

[2016-07-27 06:09] nishankkumar1994 commented on #311
Thanks @RishabhJain96 , Also custom block is not working for markers when i am using it inside <MarkerClusterer /> component, any idea how we can add info window on it. Thanks for the help.

[2016-07-27 18:44] RishabhJain96 commented on #311
Could you provide some code?

[2016-07-27 21:32] Rtg147 commented on #280
The problem was the css

[2016-07-28 14:15] nishankkumar1994 commented on #311
import React from "react"
import { Marker,  InfoWindow } from "react-google-maps"
import { default as MarkerClusterer }
  from 'google-react/lib/addons/MarkerClusterer';

export default React.createClass({

    getInitialState() {
        return { showInfoWindow: false }
    },

    render() {

        const { marker } = this.props

        return (
            <MarkerClusterer
              avera

[2016-07-28 14:16] nishankkumar1994 commented on #311
@RishabhJain96 : In my code it's not showing info window on click on a clustered marker. any idea how we can do it. Thanks

[2016-08-01 14:50] nishankkumar1994 commented on #311
HI @RishabhJain96 , i am using code below and it's not working. thanks for the help
<Polygon
                options={{
                  fillColor: THREAT_LEVELS_LIST_COLOR[this.props.threatLevelIndexSelected],
                  fillOpacity: 0.7,
                  strokeColor: THREAT_LEVELS_LIST_COLOR[this.props.threatLevelIndexSelected],
                  strokeOpacity: 0.7,
                  st

[2016-08-03 09:39] nishankkumar1994 commented on #311
Hi @tomchentw  I am trying to use InfoWindow component inside the Polygon component, it's not working. Can you please tell me how can i fix this. Thanks

[2016-08-03 11:22] cezarneaga opened #312 "scrollwheel false?"
hi there,
i tried setting scrollwheel option to false on GoogleMap but didnt work.
is this not supported? or am i just doing it wrong?

thanks,
C

[2016-08-03 15:06] roytz opened #313 "containerTagName is deprecated"
I get this warning:
"GoogleMap" with containerTagName is deprecated now and will be removed in next major release (5.0.0).

Thanks!

[2016-08-03 20:14] cezarneaga commented on #312
yeap,
just not very clear how to declare it from the docs/examples. once i went through the code i got it.
for future references to others the prop is
```<GoogleMap options={ {scrollwheel: false} } >```
cheers,
C

[2016-08-03 20:14] #312 closed

[2016-08-03 22:32] spolisetty opened #314 "Can't get cloned application to work on my local machine"
Hello All, I'm new to using this react component/library. I tried following the basic instructions on the Readme page, Without Docker installation.

- npm install - works
- cd examples/gh-pages - works (Obviously!)
- npm install - works
- npm start - throws the following error (See below)

Then open http://localhost:8080/webpack-dev-server - nothing displays

Do anyone of you see errors like this?

[2016-08-03 22:44] fishnugget opened #315 "defaultCenter and defaultZoom not working"
Does anyone know how to access the map object to set the center and the zoom?  This will need to happen after the map renders.  Adding the values to the defaultZoom and/or defaultCenter in the render doesn't affect the view.

[2016-08-04 01:22] deadlocked247 opened #316 "Adding position absolute onto the map container gets overwritten"
Whenever I try to pass any `position` attribute into the styling for the container element, it gets overwritten by `position: relative`

[2016-08-04 04:28] tomchentw opened #318 "6.0.0"
## Branches
- https://github.com/tomchentw/react-google-maps/compare/feature/rebuild-everything-from-scratch?expand=1
- https://github.com/tomchentw/react-google-maps/compare/docs/migrate-gh-pages-to-6-0-0?expand=1
- https://github.com/tomchentw/react-google-maps/compare/docs/migrate-simple-map-to-6-0-0?expand=1
## PRs
- [x] #343
- [x] #344
- [x] #345
- [x] #346
- [x] #347
- [x] #351

[2016-08-04 04:31] tomchentw commented on #267
Released [v5.0.0](https://github.com/tomchentw/react-google-maps/releases/tag/v5.0.0). Please notice that it's in **`next` tag on `npm`**. Install it via

[code]

This version(`5.0.0`) will never be tagged `latest` on `npm` since there's a major rewrite ongoing for **`6.0.0`**. See #318

[2016-08-04 04:31] #267 closed

[2016-08-04 07:23] wnoveno opened #319 "a better way of grouping elements inside the GooglMapLoader"
There should be a component to easily group elements as such

[code]

Note that this would also help with react's return single element rule as well.

[2016-08-07 08:58] amangeot commented on #315
You have to use [controlled props](https://facebook.github.io/react/docs/forms.html#controlled-components) (center, zoom), defaultCenter and defaultZoom are [uncontrolled](https://facebook.github.io/react/docs/forms.html#uncontrolled-components) props.

One solution that's working for me is passing (center, zoom) props only when they are defined `<GoogleMap ref='map' {...this.optionalProps} ...` a

[2016-08-08 01:14] evfleet commented on #305
I found myself able to access the Map instance by throwing a ref on my <GoogleMapLoader> component and then accessing the map throwing this.refs.whateverYouCalledIt.state.map

I just kind of hacked my way around, not sure if its the best implementation but it might help.

[2016-08-08 01:19] CharlieIGG opened #322 "How to integrate Traffic data?"
I've been trying to figure out how to integrate Traffic data from the maps API into these maps, but to no avail... Anyone can point me in the right direction?  My best guess is to have it render somehow via the overlay function, but no luck so far.

[2016-08-09 02:39] ashtonwar commented on #310
Cheers for this, I defined `CustomControl` like:

[code]

Checking for `this.renderedOnce` keeps the element ordering consistent.

[2016-08-09 09:17] nishankkumar1994 commented on #172
@idolize Hi, does your info window also works for the clustered markers, i m trying to do the same but it works only for one marker not for clustered markers. Please help me if you have any idea how can i show info windows for the clustered markers as well.

[2016-08-09 13:02] jeneg commented on #309
Ok, I solved this using ref prop
[code]
[code]
Maybe someone will find this helpful

[2016-08-09 13:02] #309 closed

[2016-08-09 22:58] brandonmp opened #323 "Responsive container"
From reading through the issues in this project, it looks like the container has to have a height/width set in `px`.

Has anyone figured out how to circumvent that and make this component responsive? I can render it fine w/ fixed height/width, but that's not really tenable for the long-term.

[2016-08-09 23:06] brandonmp commented on #323
classic programming dilemma: posted an issue/question, then immediately found a solution

These settings seem to work:

Wrapping the entire `GoogleMapLoader` component:

[code]

Then, the `containerElement` prop:

[code]

[2016-08-09 23:07] brandonmp commented on #323
Going to leave open for now since a lot of issues in this project instruct users to give dimensions in absolute pixel values. Would be interested to hear from a dev on the project re: best practices for responsive layout of this component

[2016-08-10 01:57] JoshuaGross commented on #298
What version are you using? I'm seeing similar behaviour on `5.0.0`, even with the default search box example (http://react-google-maps.tomchentw.com/#/places/search-box), but not on `4.x`.

[2016-08-11 13:32] thiagoterleski opened #324 "Geocoder"
How can i use the `new google.maps.Geocoder()` library?, i'm using the ScriptjsLoader to load map lib, and i need to search the address from my point.

[2016-08-11 16:32] ufon opened #325 "clusteringend"
how to implement clusteringend clusteringbegin events. it are not working

[2016-08-11 18:52] MychaelZ commented on #314
I'm also getting errors.

[2016-08-12 16:02] ryanhca commented on #305
@KensoDev The link you shared takes me to a forked version of this project, I do notice you have a bunch of branches in this fork, but I'm curious as to which files you have an example for me in. I don't want to have to poke around the entire app to get what you're talking about. Thanks!

[2016-08-12 16:03] ryanhca commented on #305
@evfleet That didn't work for me? Where are you throwing "this.refs.foobar.state.map"? in the ComponentDidMount? Render? or any other lifecycle method?

[2016-08-13 22:03] CharlieIGG opened #326 "Can this be used with React-Native?"
Has anyone successfully tried this on React-Native? I'm not liking react-native's current only choice for maps.

[2016-08-14 22:43] jrichardsz commented on #186
HI, This is not related to react. Im trying https://developers.google.com/maps/documentation/javascript/examples/marker-simple in a simple html and I get this grey box.
Somebody have a minimal example that works!!
THanks!

[2016-08-15 07:30] jerefrer opened #327 "Error when upgrading from 3.0.0 to 5.0.0"
I'm trying to upgrade from 3.0.0 to 5.0.0, which requires that I also upgrade React from 0.13.3 to 15.1.0.

I've dealt with a number of things, like the need to wrap `GoogleMap` inside a `GoogleMapLoader`.

I got things *almost* working, but now I'm struggling with this error:

    common.js:230 Uncaught RangeError: Maximum call stack size exceeded
      _.m.zoom_changed._.dy.zoomRange_changed @ c

[2016-08-17 18:22] sanjaydev commented on #45
0 info it worked if it ends with ok
1 verbose cli [ 'c:\\Program Files\\nodejs\\node.exe',
1 verbose cli   'c:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'start' ]
2 info using npm@2.11.2
3 info using node@v0.12.5
4 verbose run-script [ 'prestart', 'start', 'poststart' ]
5 info prestart reactmodules@1.0.0
6 info start reactmodules@1.0.0
7 verbose unsafe-perm in li

[2016-08-17 18:23] sanjaydev commented on #45
I have added

"scripts": {
    "start": "webpack-dev-server --hot"
  },

to start webpack

[2016-08-17 21:49] assaf-farmigo commented on #186
I have the same issue, change the height '100%' to '500px'

[2016-08-18 05:50] wnoveno commented on #327
I'm having the same problem. It's actually really weird since I'm not passing any data to the component yet. Would love to know the solution to this as well

[2016-08-18 23:12] crisys11 opened #328 "Error on onRadiusChanged in Circle component"
When set onRadiusChanged attribute in Circle component google maps throw an exception

[code]

Uncaught TypeError: Cannot read property 'apply' of undefined

[2016-08-20 16:26] jerefrer commented on #327
I gave up using `react-google-map` and went to vanilla Google Map.
Everything went well and I decided to add a feature related to the zoom.
Then I encountered the same error when I passed an `undefined` zoom when initializing the map.

So maybe there is some issue while passing the `defaultZoom` prop ?

[2016-08-21 00:18] ayushbhagat commented on #308
Another way of doing this would be to make the Rectangle component controlled, instead of letting the DrawingManager handle it. Here is a code snippet:
[code]

[2016-08-22 12:41] craigcartmell commented on #308
Yep, that's the route I ended up going down.

Thanks!

[2016-08-23 05:38] ayushbhagat commented on #308
Cool! No problem!

[2016-08-23 10:27] momirov opened #329 "Context for redux and intl inside of GoogleMap?"
Hi, I have some trouble getting react-intl and redux to work with components rendered into GoogleMap component.

I get:
``
Uncaught Invariant Violation: Could not find "store" in either the context or props of "Connect(FollowContainer)". Either wrap the root component in a <Provider>, or explicitly pass "store" as a prop to "Connect(FollowContainer)"
``

It seems that store and intl are not availa

[2016-08-27 02:59] brandonmp commented on #324
[This project](https://github.com/ubilabs/react-geosuggest/blob/master/src/Geosuggest.jsx) uses `geocode`. I adapted some of his code to my project (using a material-ui autocomplete box instead of his custom component), so the `geocode` etc. happens outside of the `react-google-maps` component, but so far both components are working harmoniously.

His code handles the UI and the API stuff all toge

[2016-08-29 18:37] nishankkumar1994 commented on #294
@RishabhJain96 : can we set options somehow, on hover.

[2016-08-29 20:18] RishabhJain96 commented on #294
Yes, create a PolyLineWrapper object (make sure you are handling the mapHolderRef correctly) that contains a polyline. Then pass in style as a property to the PolyLineWrapper object and use that style in your polyline. Attach an onHover event to the polyline and simply update state (you may want to attach the style property to state)

[2016-08-30 07:19] nishankkumar1994 commented on #294
But in case of large data it is very slow. Every time you hover over a poly line it updates its state and the main object is updated and renders all polylines again. Is there any way to handle using something like this.setOption on hover.

[2016-08-30 09:07] eljefejames opened #330 "Not sure if Meteor Issue or I'm just stupid..."
Firstly congrats on the great package, it's very useful and everything is quite intuitive. However, I must be doing something wrong when specifying the api key using GoogleMapsLoader, as I continue to get warnings about missing API keys. Has anyone experienced anything like this before when using meteor? Any input much appreciated!

[code]

[2016-08-30 16:35] RishabhJain96 commented on #294
Read through https://facebook.github.io/react/docs/multiple-components.html.

Make sure to use shouldComponentUpdate(). Alternatively, you can use another state management tool such as MobX.

[2016-08-30 17:26] bearcanrun commented on #330
I'm using it in Meteor as well. How are you loading the API Script? Here's what I'm using:
[code]

[2016-08-31 02:08] SirBryan commented on #305
I did it in the render method:
[code]

[2016-08-31 20:05] ryanhca commented on #305
This is what I have so far... and I'm getting an error because I believe I have a race condition
[code]

[2016-09-01 09:01] yagneshmodh opened #331 "unable to change language after changing the value in query"
I want to change language of the google map by passing language id(es or de) as a property.

following code is not working to change language dynamical.

import React, { PropTypes } from 'react';
import {
  GoogleMap,
  Marker,
} from 'react-google-maps';

import { default as ScriptjsLoader } from 'react-google-maps/lib/async/ScriptjsLoader';

import CircularProgress from 'material-ui/CircularProg

[2016-09-01 11:05] eljefejames commented on #330
I was using GoogleMapLoader but I'll try ScriptJSLoader. Thanks!

[2016-09-03 04:50] eljefejames commented on #330
ScriptJSLoader works great, I'm succesfully connected to the API, the map is being loaded, everything is perfect but the the map doesn't actually render! It seems this issue is related to https://github.com/tomchentw/react-google-maps/issues/186 - is there a common root cause/solution? THANKS!

For reference my code looks like
[code]

[2016-09-03 05:18] bearcanrun commented on #330
You probably have to force the component to rerender again. I had used a timeout or promise to check on the map ref this.googleMap that then set state 'loaded' and causing the component to rerender and then map to reinitialize.

 I've actually moved away from this package because I needed more control. On that note, an even easier and more reliable than scriptloader is using from npm tiny-script-l

[2016-09-05 10:13] eljefejames commented on #330
I managed to fix this by changing the height of the containing Div Element to
"style={{ height: '500px' }". Not sure why this works but it does!

[2016-09-05 23:29] pukapukan commented on #329
There are some react-google-maps components rendered in a different context internally.

Refer to #258 for more info.

[2016-09-06 09:53] timkraut opened #332 "Disabling scrollwheel"
Hi,

is there a way to disable the scroll wheel? In the [MapOptions object specification](https://developers.google.com/maps/documentation/javascript/reference#MapOptions) is a property `scrollwheel` which can be set to false to disable zooming when the scroll wheel is used. I'm not sure how to integrate this option into react-google-maps.

It would be awesome if you could help me! Thanks in advan

[2016-09-07 16:23] brandonmp opened #333 "Is there a better way to display InfoWindow?"
looking at [this example](http://react-google-maps.tomchentw.com/#/basics/pop-up-window?_k=od4ln6) and a few things occur to me:

- the mechanism for showing the window seems like an anti-pattern. it skips entirely the React management of state and props and just mutates an internal variable. is there a more 'react-y' pattern for this?

- i use `Immutable.js` and pass my marker locations down thro

[2016-09-07 17:13] SourceNova opened #334 "how to panTo a location?"
Hi,
I can't use the functions you mad public in the GoogleMap component. For example:
panTo(latLng) { return (this.props.map || this.refs.delegate).panTo(latLng); }

when i try to use panTo on the ref of the map, i get this Error:
TypeError: map.panTo is not a function

my code:
<GoogleMap
    ref={(map) => map.panTo({lat: 25.0112183,lng: 121.52067570000001})}
    defaultZoom={12}
    onClick={thi

[2016-09-07 22:38] brandonmp commented on #333
After some messing around with it I arrived at this solution which I think will be more performant than the example.

if the devs agree that this is better i can submit a pr for a new example

a method in my map component:

`InfoWindow` can open at a specific coordinate, so we'll use the coordinate of the clicked marker.

First we control the visibility of the `InfoWindow` by placing its location

[2016-09-08 01:14] brandonmp commented on #329
i'm able to fire redux actions by passing them down to components like `InfoWindow` from the parent. not sure if that meets your needs though :/

[2016-09-08 01:14] brandonmp commented on #258
@benwiley4000  did you figure this out?

is it possible to set the route from the parent and pass the handler down to the infoWindow?

I'm able to execute redux actions from the infoWindow by doing that, but I don't know too much about React Router, so uncertain if same applies

[2016-09-08 01:21] benwiley4000 commented on #258
@brandonmp: I probably could pass an action down, but I would like to be able to use React Router's `Link` component rather than specifying an `onClick` route change explicitly.

[2016-09-08 01:24] brandonmp commented on #258
word, but a bird in hand & all that

the real bummer for me is i can't use MUI components as they require context. haven't found a workaround for that yet.

[2016-09-08 04:18] elmeister commented on #186
Thanks @ansgarm, adding zoom & center props helped me as well.

[2016-09-09 00:09] iamgutz commented on #278
@zeroasterisk You need to use refs for the polygon that triggered the event.
For Example, something like this:
_assign a ref name to each polygon_
`const refs = 'polygon' + index`
_set the polygon component adding the ref name and on the mousedown event pass a function that will receive the ref name as well._
`<Polygon ref={refs} center={polygon.center} paths={polygon.paths} options={polygon.optio

[2016-09-09 00:14] iamgutz commented on #315
Does anyone knows how to remove map controls?
For example I don't want to have the streetViewControl, I am setting the property to the map like:
`<GoogleMap
          zoom={zoom}
          center={center}
          streetViewControl={false}`

but it doesn't work, still shows the man icon for streetview..
any thoughts @tomchentw ?

Thanks!

[2016-09-09 06:16] amangeot commented on #315
Have you tried using `defaultOptions` props ?

That is where you can pass map styles, an object like:
[code]
where administrative, landscape, etc. are objects with featureType, elementType, stylers properties

You can probably pass a `streetViewControl: true`

[2016-09-09 23:59] iamgutz commented on #315
@amangeot  thanks! it worked for me.

[2016-09-12 18:47] kkribakaran commented on #332
I was able to disable the scroll wheel by doing this:

[code]

Hope this helps! :)

[2016-09-13 12:45] timkraut commented on #332
@kkribakaran It does! Thanks! :)

[2016-09-13 12:45] #332 closed

[2016-09-14 19:06] esthersweon commented on #108
@jshthornton - did you ever create your PR with the intended fix and have it merged in? I don't see anything in the PRs, but checking in case this was resolved via another method.

[2016-09-15 01:33] ranleung commented on #144
@ksavenkov ,

How do we use this map-icon?  Can you provide an example with your fork please? Do we have to
`import { default as MarkerCreator } from "react-google-maps/src/addons/addonsCreators/MarkerCreator";`

But I am getting the error:

ERROR in ./~/react-google-maps/src/addons/addonsCreators/MarkerCreator.js
Module parse failed: ---/node_modules/react-google-maps/src/addons/addonsCreators/Ma

[2016-09-16 00:28] jasan-s opened #335 "any way to get static image from api?"

[2016-09-16 00:44] jasan-s opened #336 "is is possible to use searchBox component with Redux-form field?"

[2016-09-16 09:11] joefraley opened #337 "triggerEvent('resize') does...what?"
http://react-google-maps.tomchentw.com/#/?_k=vkf06f

If you load this in Chrome nightly and open the console, you can see the logs dump on the window resize event, but the map is not being updated to reflect the changing screen size.

The example code just logs the component instance on resize. But how does one actually trigger the resize _on the map_, with access only to the _component_? Looking

[2016-09-16 21:37] bretthayes commented on #196
Using [React Async Script Loader](https://www.npmjs.com/package/react-async-script-loader) solved this issue for me. It exposes three props that you can use to determine whether the Google Maps API is loaded or not.

[code]

[2016-09-17 00:45] MatthewKosloski opened #338 "Uncaught RangeError: Maximum call stack size exceeded"
I tried to run the `simple-map` example, but I got the following error when I tried to move around in the map:

    Uncaught RangeError: Maximum call stack size exceeded

All my code is the same thing you have, except I put in my API key:

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=geometry,drawing&key=[MY_API_KEY]"></script>

[2016-09-19 06:53] khalid3n opened #339 "How can I disable map repeat?"

[2016-09-19 14:49] tbtommyb commented on #298
I am having a similar problem using fitBounds, did either of you find a resolution?

[2016-09-20 02:44] ranleung commented on #338
getting the same problem

[2016-09-20 10:25] tiagomegas commented on #266
@tomchentw I'm thinking on helping you out too! And let me add that you when you say no project uses in production...we use it here: www.flykt.com !!! And I love it ^^

[2016-09-22 15:11] alvelig commented on #336
SearchBoxInstance.refs.inputElement

[2016-09-22 18:41] L3V147H4N commented on #278
this adds the listener on every mousedown

[2016-09-22 18:47] iamgutz commented on #278
No, on mouse down it sends the ref of the polygon element that triggered it, with the ref then you can get the polygon position etc.

[2016-09-23 04:47] jaux opened #340 "5.0.0 isn't available on npm"
The latest version on npm is still 4.11.0, please update.

[2016-09-23 14:05] amangeot commented on #340
There is no intention for such thing:
https://github.com/tomchentw/react-google-maps/issues/267#issuecomment-231095919

[2016-09-24 22:34] jj117 commented on #227
Anyone have a fix?

[2016-09-26 20:09] mika75 opened #341 "Marker : No action on handleMarkerClick"
Hi,

I tried this example

http://react-google-maps.tomchentw.com/#/basics/pop-up-window?_k=ylwfg9

But i can't handle click on Marker
I see no event. Any idea ?

[code]

[2016-09-27 17:54] rokimoto commented on #341
@mika75 Also having the same issue adding click handlers to markers.  Have you found any solution to this?

[2016-09-28 15:00] farhd commented on #338
same problem, but default version:
`<script src="https://maps.googleapis.com/maps/api/js"></script>`

[2016-09-29 02:02] MatthewKosloski commented on #338
@ranleung @farhd I found a really simple Google Maps React component.  It's called [GMaps](https://github.com/MicheleBertoli/react-gmaps).  The author is pretty good at responding to any questions you have, just create an issue!

[2016-09-29 11:31] elcsiga commented on #207
A simple tandalone Google Street View component for React.js can be found here: https://github.com/elcsiga/react-streetview

[2016-09-30 14:04] jgoux commented on #319
What is the current way of doing it ?
I'm trying to connect 3 different "groups" to redux but I'm not sure which node to use at the root.

[2016-10-02 14:28] Gregoor commented on #334
try
[code]

ref may be called when the element is not yet mounted, hence the method wouldn't be available then.

[2016-10-03 00:24] uniquoooo opened #342 "InfoWindow clears on update"
Hi guys,

I'm currently using `react-google-maps` to create a public transit map and I'm using the `InfoWindow` component to display stop timetables.

When I open the `InfoWindow` component through a marker, the window opens as normal, however, I am using JQuery and Ajax to load the data from a server into the React element.  When the Ajax request finishes and the data is stored in the React eleme

[2016-10-04 09:31] #301 closed

[2016-10-04 09:45] tomchentw commented on #301
Released [v5.1.1](https://github.com/tomchentw/react-google-maps/releases/tag/v5.1.1)

[2016-10-04 09:56] tomchentw commented on #301
@camiel why would you need to render `<OverlayView>` specifically under `<MarkerClusterer>`? Is there any benefits for this?

[2016-10-04 10:08] tomchentw commented on #281
We'll provide a HOC approach in 6.0.0. Follows up #318 !

[2016-10-04 10:08] #281 closed

[2016-10-04 11:14] camiel commented on #301
@tomchentw I needed it for custom markers for which regular markers are too limited but I still required clustering.

[2016-10-04 13:12] tomchentw commented on #318
Released [v6.0.0](https://github.com/tomchentw/react-google-maps/releases/tag/v6.0.0) under `beta` tag.

[2016-10-04 21:20] mattmcdonald39 commented on #323
I set the containerElement to a div with 100% width and height. Then wrapped the GoogleMapLoader  in a Div and gave it a height: 100vh. This may not work for everyone but so far its worked for me.

[2016-10-05 10:15] imperat0r opened #348 "Unable to set options on map?"
I tried this
  <GoogleMap    options={this.createMapOptions}   ....
where createMapOptions is function defined as:

  createMapOptions (maps) {
        return {
            panControl: false,
            mapTypeControl: false,
            scrollwheel: false,
            styles: [{ stylers: [{ 'saturation': -100 }, { 'gamma': 0.8 }, { 'lightness': 4 }, { 'visibility': 'on' }] }]
        }
    }

[2016-10-05 19:01] mika75 commented on #341
@rokimoto Sorry I have no solution and you ? are you on Async Mode ?

[2016-10-05 20:16] nodegin commented on #188
+1 for setCenter

[2016-10-05 21:02] nodegin commented on #348
` options={this.createMapOptions()} `

[2016-10-06 01:06] rokimoto commented on #341
@mika75 No solution over here either unfortunately.  😞   But no I was not.

[2016-10-06 03:05] MarcusHurney opened #349 "Error for missing API Key"
I'm getting an error in the browser console saying "Google Maps API Error: MissingKeyMapError"

I'm not sure where I am suppose to enter such an API key because I'm simply feeding the component longitude and latitude.

Here is how I am using the component: https://gist.github.com/MarcusHurney/d043af928c4c25b57a6243d769743708

[2016-10-06 03:08] tomchentw commented on #349
@MarcusHurney I'm experiencing the same issue as well, and I believe it's a policy change in Google. Please see: https://developers.google.com/maps/documentation/javascript/get-api-key

[2016-10-06 03:08] #349 closed

[2016-10-06 03:10] tomchentw commented on #341
@mika75 @rokimoto Since [6.0.0](https://github.com/tomchentw/react-google-maps/issues/318) is released on npm beta tag now and we have a new demo page, could you try it here again?
https://tomchentw.github.io/react-google-maps/basics/pop-up-window

[2016-10-06 03:10] #341 closed

[2016-10-06 03:11] tomchentw commented on #348
Thanks @nodegin ! Or you can use an object literal:

[code]

Also,  [6.0.0](https://github.com/tomchentw/react-google-maps/issues/318) is released on npm beta tag now. We also have a new demo page. Feel free to try it:
https://tomchentw.github.io/react-google-maps/

[2016-10-06 03:11] #348 closed

[2016-10-06 03:12] tomchentw commented on #188
@nodegin you can just use:

[code]

to change the center of the map. There's no need for a `setCenter` function.

Also,  [6.0.0](https://github.com/tomchentw/react-google-maps/issues/318) is released on npm beta tag now. We also have a new demo page. Feel free to try it:
https://tomchentw.github.io/react-google-maps/

[2016-10-06 03:14] tomchentw commented on #323
I don't have a good solution either. The only thing I knew is Google Maps API requires the div to have certain dimension instead of leaving it auto.

[2016-10-06 03:14] #323 closed

[2016-10-06 03:14] tomchentw commented on #323
Also,  [6.0.0](https://github.com/tomchentw/react-google-maps/issues/318) is released on npm beta tag now. We also have a new demo page. Feel free to try it:
https://tomchentw.github.io/react-google-maps/

[2016-10-06 03:16] tomchentw commented on #301
@camiel Got it. Unfortunately, I removed this feature in the[6.0.0](https://github.com/tomchentw/react-google-maps/issues/318) version. It would be great if you can take a look at new changes and if you like, submit a new PR with a demo page. It should be easier to do it in 6.0.0

Also,  [6.0.0](https://github.com/tomchentw/react-google-maps/issues/318) is released on npm beta tag now. We also hav

[2016-10-06 03:18] tomchentw commented on #342
@uniquoooo this is weird, seems to be a bug. Could you try 6.0.0 and see if it's still the same?

[6.0.0](https://github.com/tomchentw/react-google-maps/issues/318) is released on npm beta tag now. We also have a new demo page. Feel free to try it:
https://tomchentw.github.io/react-google-maps/

[2016-10-06 03:20] tomchentw commented on #334
@Gregoor Thanks for answering. Please read the documentation about ref: https://facebook.github.io/react/docs/more-about-refs.html#the-ref-callback-attribute

Also,  [6.0.0](https://github.com/tomchentw/react-google-maps/issues/318) is released on npm beta tag now. We also have a new demo page. Feel free to try it:
https://tomchentw.github.io/react-google-maps/

[2016-10-06 03:20] #334 closed

[2016-10-06 03:21] tomchentw commented on #319
Try the new version [6.0.0](https://github.com/tomchentw/react-google-maps/issues/318), I believe this can be done now since we use context to store google map instances instead of props.

[6.0.0](https://github.com/tomchentw/react-google-maps/issues/318) is released on npm beta tag now. We also have a new demo page. Feel free to try it:
https://tomchentw.github.io/react-google-maps/

[2016-10-06 03:21] #319 closed

[2016-10-06 03:23] tomchentw commented on #336
You'll need to manually connect to `redux-form` `<Field>` component yourself, but I haven't tried it.

@alvelig this is no longer available in 6.0.0.

Also, [6.0.0](https://github.com/tomchentw/react-google-maps/issues/318) is released on npm beta tag now. We also have a new demo page. Feel free to try it:
https://tomchentw.github.io/react-google-maps/

[2016-10-06 03:23] #336 closed

[2016-10-06 03:24] tomchentw commented on #266
@tiagomegas thanks. Check out [6.0.0](https://github.com/tomchentw/react-google-maps/issues/318) which is released on npm beta tag now. We also have a new demo page. Feel free to try it:
https://tomchentw.github.io/react-google-maps/

[2016-10-06 03:27] tomchentw commented on #298
@zlwaterfield @JoshuaGross @tbtommyb I'm not sure what's the cause to this. Could you check out if there's any option in `DirectionsRenderer` that can disable this (because react-google-maps just by-pass everything into Google Maps JavaScript API)? https://developers.google.com/maps/documentation/javascript/3.exp/reference#DirectionsRendererOptions

Also, [6.0.0](https://github.com/tomchentw/react

[2016-10-06 03:30] tomchentw commented on #339
Check out if you can find any options for Map: https://developers.google.com/maps/documentation/javascript/3.exp/reference#MapOptions
react-google-maps just delegate everything to Google Maps JavaScript API. Please check on StackOverflow if you can't find any solution.

Also, [6.0.0](https://github.com/tomchentw/react-google-maps/issues/318) is released on npm beta tag now. We also have a new demo

[2016-10-06 03:30] #339 closed

[2016-10-06 03:30] tomchentw commented on #196
Just want to let you knwo [6.0.0](https://github.com/tomchentw/react-google-maps/issues/318) is released on npm beta tag now. We also have a new demo page. Feel free to try it:
https://tomchentw.github.io/react-google-maps/

[2016-10-06 03:31] tomchentw commented on #337
Could you check if this issue still exists on [6.0.0](https://github.com/tomchentw/react-google-maps/issues/318)? It's released on npm beta tag now. We also have a new demo page. Feel free to try it:
https://tomchentw.github.io/react-google-maps/

[2016-10-06 03:32] tomchentw commented on #335
Don't know what you're trying to do here. Could you be more specific?

[2016-10-06 03:32] #335 closed

[2016-10-06 03:34] tomchentw commented on #144
@ranleung we have released a new version 6.0.0 now. See the "Marker Cluster add on" example in the demo page: https://tomchentw.github.io/react-google-maps/

Also, [6.0.0](https://github.com/tomchentw/react-google-maps/issues/318) is released on npm beta tag now. We also have a new demo page. Feel free to try it:
https://tomchentw.github.io/react-google-maps/

[2016-10-06 03:34] tomchentw commented on #108
@esthersweon we don't have this in `react-google-maps`.

[2016-10-06 03:34] tomchentw commented on #332
Thanks @kkribakaran for answering!

Also, [6.0.0](https://github.com/tomchentw/react-google-maps/issues/318) is released on npm beta tag now. We also have a new demo page. Feel free to try it:
https://tomchentw.github.io/react-google-maps/

[2016-10-06 03:35] tomchentw commented on #315
Thanks @amangeot for answering!

Also, [6.0.0](https://github.com/tomchentw/react-google-maps/issues/318) is released on npm beta tag now. We also have a new demo page. Feel free to try it:
https://tomchentw.github.io/react-google-maps/

[2016-10-06 03:35] #315 closed

[2016-10-06 03:36] tomchentw commented on #186
Just to let you know [6.0.0](https://github.com/tomchentw/react-google-maps/issues/318) is released on npm beta tag now. We also have a new demo page. Feel free to try it:
https://tomchentw.github.io/react-google-maps/

[2016-10-06 03:41] tomchentw commented on #258
@benwiley4000 @corbpaul @brandonmp

I'm sorry to close this but it would be great if you can help! Yes you are right we should switch to `ReactDOM.unstable_renderSubtreeIntoContainer` to preserve context.

Do you want to open up a PR for this? Just to let you know, we just released [6.0.0](https://github.com/tomchentw/react-google-maps/issues/318) and it's rewritten from scratch. I hope this could

[2016-10-06 03:42] tomchentw commented on #329
@momirov @pukapukan @brandonmp this is duplicated of #258 . Close now. Discuss there.

Also, [6.0.0](https://github.com/tomchentw/react-google-maps/issues/318) is released on npm beta tag now. We also have a new demo page. Feel free to try it:
https://tomchentw.github.io/react-google-maps/

[2016-10-06 03:42] #329 closed

[2016-10-06 03:44] tomchentw commented on #333
@brandonmp `<InfoWindow>` can of course rendered separated without `<Marker>`. Yes an `position` props could do that!

Also, [6.0.0](https://github.com/tomchentw/react-google-maps/issues/318) is released on npm beta tag now. We also have a new demo page. Feel free to try it:
https://tomchentw.github.io/react-google-maps/

[2016-10-06 03:44] #333 closed

[2016-10-06 03:46] tomchentw commented on #330
@eljefejames @bearcanrun

Also,  [6.0.0](https://github.com/tomchentw/react-google-maps/issues/318) is released on npm beta tag now. We also have a new demo page. Feel free to try it:
https://tomchentw.github.io/react-google-maps/

[2016-10-06 03:46] #330 closed

[2016-10-06 03:46] tomchentw commented on #331
I don't think this is doable with Google Maps JavaScript API. Please check on StackOverflow.

Also,  [6.0.0](https://github.com/tomchentw/react-google-maps/issues/318) is released on npm beta tag now. We also have a new demo page. Feel free to try it:
https://tomchentw.github.io/react-google-maps/

[2016-10-06 03:46] #331 closed

[2016-10-06 03:47] tomchentw commented on #305
Use the `map.fitBounds` public method for now.

Also,  [6.0.0](https://github.com/tomchentw/react-google-maps/issues/318) is released on npm beta tag now. We also have a new demo page. Feel free to try it:
https://tomchentw.github.io/react-google-maps/

[2016-10-06 03:47] #305 closed

[2016-10-06 03:49] tomchentw commented on #294
@vedran-maestral @nishankkumar1994 @RishabhJain96 Just use the `options` props:

[code]

Also,  [6.0.0](https://github.com/tomchentw/react-google-maps/issues/318) is released on npm beta tag now. We also have a new demo page. Feel free to try it:
https://tomchentw.github.io/react-google-maps/

[2016-10-06 03:49] #294 closed

[2016-10-06 03:50] tomchentw commented on #324
@thiagoterleski what @brandonmp did seems okay. `react-google-maps` doesn't wrap the `Geocoder` object for you. You'll need to connect yourself.

Also,  [6.0.0](https://github.com/tomchentw/react-google-maps/issues/318) is released on npm beta tag now. We also have a new demo page. Feel free to try it:
https://tomchentw.github.io/react-google-maps/

[2016-10-06 03:50] #324 closed

[2016-10-06 03:51] tomchentw commented on #308
Thanks for @ayushbhagat for answering!

Also,  [6.0.0](https://github.com/tomchentw/react-google-maps/issues/318) is released on npm beta tag now. We also have a new demo page. Feel free to try it:
https://tomchentw.github.io/react-google-maps/

[2016-10-06 03:51] #308 closed

[2016-10-06 03:51] benwiley4000 commented on #258
@tomchentw thanks for the update. I'm adding this to my todo list and I'll look at it soon. :)

[2016-10-06 03:52] tomchentw commented on #327
@jerefrer @wnoveno don't use `5.0.0`. Please try `6.0.0` instead. This bug is fixed now.

[6.0.0](https://github.com/tomchentw/react-google-maps/issues/318) is released on npm beta tag now. We also have a new demo page. Feel free to try it:
https://tomchentw.github.io/react-google-maps/

[2016-10-06 03:52] #327 closed

[2016-10-06 03:53] tomchentw commented on #314
@spolisetty @MychaelZ We did a rewrite for #318 . This should be pretty easy now.

Also,  [6.0.0](https://github.com/tomchentw/react-google-maps/issues/318) is released on npm beta tag now. We also have a new demo page. Feel free to try it:
https://tomchentw.github.io/react-google-maps/

[2016-10-06 03:53] #314 closed

[2016-10-06 03:53] tomchentw commented on #325
I don't know. Please check on StackOverflow instead.

Also,  [6.0.0](https://github.com/tomchentw/react-google-maps/issues/318) is released on npm beta tag now. We also have a new demo page. Feel free to try it:
https://tomchentw.github.io/react-google-maps/

[2016-10-06 03:53] #325 closed

[2016-10-06 03:54] tomchentw commented on #309
@jeneg does `ondirectionsChanged` not work as expected?

Also,  [6.0.0](https://github.com/tomchentw/react-google-maps/issues/318) is released on npm beta tag now. We also have a new demo page. Feel free to try it:
https://tomchentw.github.io/react-google-maps/

[2016-10-06 03:54] tomchentw commented on #172
Just to let you know [6.0.0](https://github.com/tomchentw/react-google-maps/issues/318) is released on npm beta tag now. We also have a new demo page. Feel free to try it:
https://tomchentw.github.io/react-google-maps/

[2016-10-06 03:56] tomchentw commented on #310
@PsychicNoodles @ashtonwar this could be easily done in 6.0.0 since we wrote it. Would you like to submit a PR?

Also,  [6.0.0](https://github.com/tomchentw/react-google-maps/issues/318) is released on npm beta tag now. We also have a new demo page. Feel free to try it:
https://tomchentw.github.io/react-google-maps/

[2016-10-06 03:56] #310 closed

[2016-10-06 03:57] tomchentw commented on #322
Please check StackOverflow and Google Maps JavaScript API for more information. `react-google-maps` is simply a wrapper around it.

[2016-10-06 03:57] #322 closed

[2016-10-06 04:09] nodegin commented on #188
@tomchentw I'm not sure if I was using it in a correct way, I specify a center prop object which contains the initial coordinate, then I modify the center coordinate in a click event which opens a panel, but once I dismiss the panel the map should able for dragging. However, the center variable locks my map movement.

If I use `mapRef.panTo` then the problem is solved perfectly by just calling it

[2016-10-06 04:12] tomchentw commented on #188
@nodegin could you try if setting a `center` props locks the map movement in 6.0.0?

[2016-10-06 04:16] nodegin commented on #188
@tomchentw I'm not using v6, let me try it later. By the way I got it working by using `mapRef.props.map.setCenter` hope this help anyone who having the same problem.

[2016-10-06 04:20] nodegin commented on #326
No since you'll have to put a `<script>` tag in your html file in order to loads the Google Maps library. Have you looked up on ![airbnb/react-native-maps](https://github.com/airbnb/react-native-maps)?

[2016-10-06 05:02] uniquoooo commented on #342
@tomchentw I'm getting the following error while trying to transform ES6 code:
[code]

[2016-10-06 06:10] tomchentw commented on #326
Thanks @nodegin for pointing the right direction!

[2016-10-06 06:10] #326 closed

[2016-10-06 06:11] tomchentw commented on #342
@uniquoooo what do you mean transform ES6 code? Are you importing from `react-google-maps/src`?

[2016-10-06 07:44] mika75 opened #350 "6.0.0 [Error: Cannot find module 'react-google-maps/lib/async/ScriptjsLoader]"
Hi

Is it normal that module react-google-maps/lib/async/ScriptjsLoader is not present ?

[2016-10-06 07:57] nodegin commented on #272
you can do:
[code]

[2016-10-06 08:00] nodegin commented on #316
try adding `!important` after `absolute`

[2016-10-06 08:53] tomchentw commented on #350
Yes, it's replaced by a new HOC. See the changelog:
https://github.com/tomchentw/react-google-maps/blob/master/CHANGELOG.md#600-2016-10-04

[2016-10-06 08:53] #350 closed

[2016-10-06 08:55] tomchentw commented on #340
Thanks @amangeot for answering.

Also,  [6.0.0](https://github.com/tomchentw/react-google-maps/issues/318) is released on npm beta tag now. See the changelog [here](https://github.com/tomchentw/react-google-maps/blob/master/CHANGELOG.md#600-2016-10-04). We also have a new demo page. Feel free to try it:
https://tomchentw.github.io/react-google-maps/

[2016-10-06 08:55] #340 closed

[2016-10-06 08:57] tomchentw commented on #338
This is a know bug for 4.x and 5.x on React 15. It's fixed in 6.0.0.

 [6.0.0](https://github.com/tomchentw/react-google-maps/issues/318) is released on npm beta tag now. See the changelog [here](https://github.com/tomchentw/react-google-maps/blob/master/CHANGELOG.md#600-2016-10-04). We also have a new demo page. Feel free to try it:
https://tomchentw.github.io/react-google-maps/

[2016-10-06 08:57] #338 closed

[2016-10-06 08:57] tomchentw commented on #328
Could you check if this still exists for 6.0.0?

[6.0.0](https://github.com/tomchentw/react-google-maps/issues/318) is released on npm beta tag now. See the changelog [here](https://github.com/tomchentw/react-google-maps/blob/master/CHANGELOG.md#600-2016-10-04). We also have a new demo page. Feel free to try it:
https://tomchentw.github.io/react-google-maps/

[2016-10-06 08:58] tomchentw commented on #313
Please migrate to 6.0.0 instead.

[6.0.0](https://github.com/tomchentw/react-google-maps/issues/318) is released on npm beta tag now. See the changelog [here](https://github.com/tomchentw/react-google-maps/blob/master/CHANGELOG.md#600-2016-10-04). We also have a new demo page. Feel free to try it:
https://tomchentw.github.io/react-google-maps/

[2016-10-06 08:58] #313 closed

[2016-10-06 09:00] tomchentw commented on #311
@nishankkumar1994 `<InfoWindow>` expects to have an anchor component when it is placed inside something (which is often a `<Marker>`). The `<Polygon>` cannot be served as an anchor by design. However, you can render the `<InfoWindow>` separately by just giving it `props.position`.

Also,  [6.0.0](https://github.com/tomchentw/react-google-maps/issues/318) is released on npm beta tag now. See the ch

[2016-10-06 09:00] #311 closed

[2016-10-06 09:01] tomchentw commented on #303
Thanks @camiel for answering!

Also,  [6.0.0](https://github.com/tomchentw/react-google-maps/issues/318) is released on npm beta tag now. See the changelog [here](https://github.com/tomchentw/react-google-maps/blob/master/CHANGELOG.md#600-2016-10-04). We also have a new demo page. Feel free to try it:
https://tomchentw.github.io/react-google-maps/

[2016-10-06 09:01] #303 closed

[2016-10-06 09:01] tomchentw commented on #296
Just to let you know  [6.0.0](https://github.com/tomchentw/react-google-maps/issues/318) is released on npm beta tag now. See the changelog [here](https://github.com/tomchentw/react-google-maps/blob/master/CHANGELOG.md#600-2016-10-04). We also have a new demo page. Feel free to try it:
https://tomchentw.github.io/react-google-maps/

[2016-10-06 09:02] tomchentw commented on #295
This should be fixed in 6.0.0. Please consider upgrading.

Also,  [6.0.0](https://github.com/tomchentw/react-google-maps/issues/318) is released on npm beta tag now. See the changelog [here](https://github.com/tomchentw/react-google-maps/blob/master/CHANGELOG.md#600-2016-10-04). We also have a new demo page. Feel free to try it:
https://tomchentw.github.io/react-google-maps/

[2016-10-06 09:02] #295 closed

[2016-10-06 09:03] tomchentw commented on #293
This is no longer needed given 6.0.0 removes the docker example. We could put it in somehow. Feel free to open another ticket there.

 [6.0.0](https://github.com/tomchentw/react-google-maps/issues/318) is released on npm beta tag now. See the changelog [here](https://github.com/tomchentw/react-google-maps/blob/master/CHANGELOG.md#600-2016-10-04). We also have a new demo page. Feel free to try it:

[2016-10-06 09:03] #293 closed

[2016-10-06 09:04] tomchentw commented on #292
Nope.

Also,  [6.0.0](https://github.com/tomchentw/react-google-maps/issues/318) is released on npm beta tag now. See the changelog [here](https://github.com/tomchentw/react-google-maps/blob/master/CHANGELOG.md#600-2016-10-04). We also have a new demo page. Feel free to try it:
https://tomchentw.github.io/react-google-maps/

[2016-10-06 09:04] #292 closed

[2016-10-06 09:05] tomchentw commented on #290
We have custom `OverlayView` component as well as pulling support for `InfoBox` as a addon. Could you see if that fits your needs?

Also,  [6.0.0](https://github.com/tomchentw/react-google-maps/issues/318) is released on npm beta tag now. See the changelog [here](https://github.com/tomchentw/react-google-maps/blob/master/CHANGELOG.md#600-2016-10-04). We also have a new demo page. Feel free to try

[2016-10-06 09:05] #290 closed

[2016-10-06 09:05] tomchentw commented on #288
Close for inactivity.

Also,  [6.0.0](https://github.com/tomchentw/react-google-maps/issues/318) is released on npm beta tag now. See the changelog [here](https://github.com/tomchentw/react-google-maps/blob/master/CHANGELOG.md#600-2016-10-04). We also have a new demo page. Feel free to try it:
https://tomchentw.github.io/react-google-maps/

[2016-10-06 09:05] #288 closed

[2016-10-06 09:06] tomchentw commented on #282
Just to let you know  [6.0.0](https://github.com/tomchentw/react-google-maps/issues/318) is released on npm beta tag now. See the changelog [here](https://github.com/tomchentw/react-google-maps/blob/master/CHANGELOG.md#600-2016-10-04). We also have a new demo page. Feel free to try it:
https://tomchentw.github.io/react-google-maps/

[2016-10-06 09:07] tomchentw commented on #278
Try using `polygon.getPath()` method with ref?

Also,  [6.0.0](https://github.com/tomchentw/react-google-maps/issues/318) is released on npm beta tag now. See the changelog [here](https://github.com/tomchentw/react-google-maps/blob/master/CHANGELOG.md#600-2016-10-04). We also have a new demo page. Feel free to try it:
https://tomchentw.github.io/react-google-maps/

[2016-10-06 09:11] tomchentw commented on #272
This related to #188 where @nodegin said:

Does anyone get a good solution for this except for `setCenter`?

[2016-10-06 10:20] uniquoooo commented on #342
Yep, I'm importing with `import { withScriptjs, withGoogleMap, GoogleMap } from 'react-google-maps/src';`.

[2016-10-06 12:07] tomchentw commented on #342
@uniquoooo

1. could you setup a minimal repository that uses this feature? I'm not familiar with the toolchain like `rollup` that pulls directly from ES2015 modules.
2. `withScriptjs` needs to be imported separately. Check out the "async" example

[2016-10-06 15:04] reeceaw opened #352 "Removing Markers Without Click"
Hi there,

I am using react-google-maps with a GPS tracker to keep track of where a boat is. At the moment I am just placing markers and then removing and placing a new one when I need to update the position.

Is there a way to change the lat and lon of a current marker defined in `state` and show it on the map, or do I have to delete and recreate a marker? If I do need to recreate markers, how ca

[2016-10-06 15:19] reeceaw commented on #352
Here is the code I have already been trying:
`
componentDidMount() {
    const socket = io('localhost:3000');
    socket.on('receiveCoord', function(givenCoords) {
      console.log('Coordinates received clientside: LAT: ' + givenCoords.lat + ', LON: ' + givenCoords.lon);
      //REMOVE LAST MARKER
      const targetMarker = `taxi1`;
      const lastMarkers = this.state.markers.filter(marker => ma

[2016-10-06 15:21] reeceaw commented on #352
Here the bit of code I have been trying (and failing with).
![screen shot 2016-10-06 at 16 20 50](https://cloud.githubusercontent.com/assets/17890560/19158499/dfdedb16-8be0-11e6-8818-2b140cd62051.png)

[2016-10-06 19:07] benwiley4000 opened #353 "Map doesn't load after v4 -> v5 upgrade"
I was already using the `googleMapElement` prop on `GoogleMapLoader` when I was using v4, so I'm not sure what's going wrong. I'm not doing anything with `mapHolderRef`. The tiles simply don't load. ETA: no error logs.

Here's my component:

[code]

[2016-10-07 02:00] uniquoooo commented on #342
For some reason `react-display-name` was not downloading the required Babel transformers, but after I installed them it seemed to work fine. The `InfoWindow` is also fixed. Thanks for your help!

[2016-10-07 02:00] #342 closed

[2016-10-07 02:38] h0ttz commented on #108
I'm looking for this feature too! Will be very useful!

Hey guys ( @ksavenkov and @jshthornton ), please help us get this feature to work in version 6.0!

Thanks in advance!!!

[2016-10-07 03:52] tomchentw commented on #352
@reeceaw you just need to call `setState` once:

[code]

Please ask on StackOverflow instead in the future. This is not related to `react-google-maps` but only react.

[2016-10-07 03:52] #352 closed

[2016-10-07 03:54] tomchentw commented on #353
Please see this comment:

Also,  [6.0.0](https://github.com/tomchentw/react-google-maps/issues/318) is released on npm beta tag now. We also have a new demo page. Feel free to try it:
https://tomchentw.github.io/react-google-maps/

[2016-10-07 03:54] #353 closed

[2016-10-07 03:55] tomchentw commented on #353
@benwiley4000 please try 6.0.0 instead, thanks!

[2016-10-07 04:01] benwiley4000 commented on #353
@tomchentw I plan to upgrade 6 but I'm trying to take incremental steps. Your comment doesn't seem to address my issue - the parent div classes enforce the size of the map and it had no problem in version 4. I'm getting a properly sized tan pre-load map.

[2016-10-07 04:23] tomchentw commented on #353
v6 is rewritten from scratch and has some breaking changes. Please see the `CHANGELOG.md` for more details. v5 is just an obsolete version. Don't use it.

For your code, I'm not sure why it doesn't load. Could you show me the class name definitions of `device_map` and `google_map`? Also, which version of React are you using? Since we have a bug in v4 and v5 with `react@^15` (see #327), and  I have

[2016-10-07 09:54] reeceaw commented on #352
Thanks for the help @tomchentw

[2016-10-07 13:26] tbtommyb commented on #298
@tomchentw In my case it turned out to be because fitBounds was immediately rebounding the map, so I had to change it so that it was only called once when my map's markers were created.

[2016-10-07 17:07] cajoy opened #354 "Cannot find module 'react-google-maps"
[code]

And getting following error:
[code]

Am I doing something wrong?

[2016-10-08 02:08] andela-rekemezie opened #355 "Fix typo on README.MD"
I think the contributor meant hesitate and not hensitate.

[2016-10-08 02:09] andela-rekemezie opened #356 "Add tests to increase coverage"

[2016-10-10 13:15] Youcef2015 opened #359 "Cannot find module 'react-google-maps'"
I installed

https://www.npmjs.com/package/react-google-map

in my code
const GooglePlacesSuggest = require('react-google-map');

i have an error

Module not found: Error: Cannot resolve module 'react-google-map'

[2016-10-11 05:12] brandonmp commented on #359
Wrong repo - - that module's repo  is at https://github.com/cedricdelpoux/react-google-map

But it looks like it's not maintained currently

[2016-10-11 14:21] prewk opened #360 "Getting TypeError: Cannot read property 'addEventListener' of undefined"
Hi, I'm using `ScriptjsLoader` to load the map. When loading the map it seems to work at first, but when the component gets dismounted (I navigate to another page in our SPA) and go back again I get this error from within the minified Google Maps API JS: `TypeError: Cannot read property 'addEventListener' of undefined`

![screen shot 2016-10-11 at 16 25 57](https://cloud.githubusercontent.com/asse

[2016-10-11 14:26] tomchentw commented on #354
Did you `npm install react-google-maps`?

[2016-10-11 14:26] tomchentw commented on #359
Thanks @brandonmp . Close now!

[2016-10-11 14:26] #359 closed

[2016-10-11 14:28] tomchentw commented on #360
missing API keys is pretty annoying stuff, and it may cause map not rendering. Please try to fix it.

Also, we're releasing 6.0.0 now. Please try to upgrade because there are various bugs in <6.0.0 and we won't fix them. See #318

[2016-10-11 14:30] tomchentw commented on #356
I'd appreciate some help from contributors!

[2016-10-11 14:32] prewk commented on #360
Oh, I wasn't aware that we were so far behind with the versions. I'll try v6 and get back to you.

[2016-10-11 14:32] #360 closed

[2016-10-11 14:34] tomchentw commented on #360
It's still in the `beta` channel btw. Also, check out the changelog file. Let me know if you have any questions.

[2016-10-11 14:56] prewk commented on #360
It solved my problem. Thanks!

I think you should look over [this async part](https://github.com/tomchentw/react-google-maps#asyncwithscriptjs) in the readme. I _think_ `GettingStartedGoogleMap` is supposed to be `AsyncGettingStartedExampleGoogleMap`, and the imports weren't obvious to figure out so might as well include them:

[code]

[2016-10-11 14:58] tomchentw commented on #360
@prewk Good catch! I'll update the README. Thanks a lot

[2016-10-11 16:12] cajoy commented on #354
of course

[2016-10-12 12:39] tomchentw commented on #355
Closes by #357

[2016-10-12 12:39] #355 closed

[2016-10-12 20:17] benwiley4000 commented on #353
Not sure what went wrong with version 5, but I'm now on v6 and everything works.

[2016-10-12 21:25] benwiley4000 commented on #258
@tomchentw I've completed a fix that uses `ReactDOM.unstable_renderSubtreeIntoContainer`. Should the `lib` changes be included in the PR, or only the source changes?

[2016-10-12 21:30] benwiley4000 commented on #258
Addressed by https://github.com/tomchentw/react-google-maps/pull/361.

[2016-10-13 09:59] eljefejames opened #362 "Advantages of updating to Version 5/6?"
I currently use version 4, it's great. Where can  I find a list of new changes/features for version 5 or 6? I'm somewhat hesitant to update as it took quite some time to make it play nicely with Meteor...

[2016-10-13 10:22] rewop commented on #362
Check the [changelog](https://github.com/tomchentw/react-google-maps/blob/master/CHANGELOG.md)

[2016-10-13 12:18] tomchentw commented on #362
Thanks @rewop ! Also noticing that v6 fixes a serious bug (#338) in `React@^15`.

[2016-10-13 16:21] ASpehler commented on #316
I'm having the same issue, the mapElement div has a `position: relative` and the map does not show up on my page
And override with `!important` is not possible in React

[2016-10-14 03:33] tomchentw commented on #316
@ASpehler would it possible to put it in `containerElement` with v6.0.0 and still work? I'm asking because `mapElement` is the actual DOM that `Google Maps JavaScript API` will render its DOMs on, and `containerElement` is just a wrapper around it.

[2016-10-14 03:52] tomchentw commented on #353
@benwiley4000 Great!

[2016-10-14 06:22] tomchentw commented on #258
Closed by #361 , thanks @benwiley4000 !

[2016-10-14 06:22] #258 closed

[2016-10-14 06:27] tomchentw commented on #258
Released [v6.0.1](https://github.com/tomchentw/react-google-maps/releases/tag/v6.0.1) in the npm `beta` channel.

[2016-10-14 09:33] ASpehler commented on #316
@tomchentw yes it works too

[code]

[2016-10-14 14:00] cajoy commented on #354
I have package installed and did verified it in node_modules.

The error comes from typescript:

[code]

[2016-10-14 14:13] cajoy commented on #354
This may help you:

[code]

[2016-10-14 14:32] jenyckee commented on #161
The Map object obtained through the ref is not a google.maps.Map Object, it is a react component? Storing this object in a redux store results in a cyclic data structure I think. Is there any way we could obtain the actual google.maps.Map Object?

[2016-10-14 15:40] tomchentw commented on #316
Thanks @ASpehler for the feedback!

@nodegin @deadlocked247 did this solve your issue?

[2016-10-14 15:44] tomchentw commented on #354
@cajoy in your logs, the first line reads the project: `someproject`. However, the second line and below lines reads: `brief.taxi.reactive`. I would assuming this is a typo.

I did see the line that it found the module:

[code]

Could you explain what does `types` field means here? I believe it's more than a TypeScript error than `react-google-maps`.

[2016-10-14 15:46] tomchentw commented on #161
@jenyckee yes, it's a React component of course.

There is a hacky way to get underlying `google.maps.Map` object but it's just an implementation detail. Please check the source code, thanks!

[2016-10-14 15:48] cajoy commented on #354
It should be "someproject" instead of "brief.taxi.reactive" :) It is my typo.. but it is only because of manual replace in log file.

Yes it is typescript related because there is no definitions.

I've managed it to work by adding following index.d.ts file:

[code]

[2016-10-14 15:48] cajoy commented on #354
So it is more like incompatibility of the project with typescript due to module definitions

[2016-10-14 15:51] tomchentw opened #363 "Create TypeScript definitions"

[2016-10-14 15:52] tomchentw commented on #354
Yeah, I believe so. Feel free to contribute! Close for #363

[2016-10-14 15:52] #354 closed

[2016-10-17 05:27] stupidisum opened #364 "How to render array of markers and other components together"
[code]

[2016-10-17 05:30] #364 closed

[2016-10-17 05:34] stupidisum commented on #258
How about OverlayView and maybe other components?

[2016-10-17 05:43] benwiley4000 commented on #258
@stupidisum good catch, didn't notice that when I was working on the pull request because child rendering works a bit differently than `InfoWindow`/`InfoBox`. I could submit another change if you'd like?

[2016-10-17 06:59] tomchentw commented on #364
👍

[2016-10-17 09:53] jenyckee commented on #161
If you use a flux architecture you'll probably want to have access to the map in other components, how can I do this then a not hacky way?

[2016-10-17 10:55] rewop commented on #161
@jenyckee If you use flux architecture, you can define actions to control the map. The components that wants to update the map can dispatch those actions to fire map updates.

The actions are handled by a store that contains the state of the map.

Finally the component that renders the map would just use the state in your store to implement the logic to render the map. If you need some programmati

[2016-10-18 10:10] eljefejames commented on #362
thanks for the link to changelog!

[2016-10-18 10:10] #362 closed

[2016-10-18 20:35] michael-daly opened #365 "Using Marker component in a file separate from GoogleMaps component"
I'm trying to make a component that's an Marker/InfoWindow combo component. It's a child of the GoogleMap component, but it's in its own separate file.

When I try to use it I get `Uncaught TypeError: Cannot read property 'getMap' of undefined`

Is this not possible or am I doing something wrong?

[2016-10-18 20:52] michael-daly commented on #365
five seconds of searching later...
https://github.com/tomchentw/react-google-maps/issues/165#issuecomment-206440454

whoops fixed

[2016-10-18 20:52] #365 closed

[2016-10-19 02:43] tomchentw commented on #365
@michael-daly Try using v6?

[2016-10-19 03:35] michael-daly commented on #365
sorry, I forgot to mention that I was able to solve it with the comment I linked

[2016-10-19 13:48] Unforgiven-wanda opened #366 "Wait for the component to be in view before rendering"
Hello,
In my use case, I have a single, long page, with the google map component at the very bottom. I'd like to only initialize the map once it is in view to speed up the initial page load. I had the same use case in an older project (with simple Jquery) and the results were astounding.

Is it possible?
Thank you

[2016-10-19 15:27] rewop commented on #366
When you say *in view*, you mean the component is visible in the viewport?

If so, you should get control of the scrolling, and use the state to initialise your map only when the map component enters the viewport.

There are many utility components that help with this in react: [react-visibility-sensor](https://github.com/joshwnj/react-visibility-sensor), [react-component-visibility](https://githu

[2016-10-20 09:51] Unforgiven-wanda commented on #366
Indeed. However, is there a prop to this end in react-google-map? Knowing I use the `async/withScriptjs` variant, something along the lines of:
[code]

And as for the view utility component, this isn't an issue. I already have it working with other components.

[2016-10-20 10:05] rewop commented on #366
So basically you would like to load at page load, but showing it only, when it enters the viewport?

[2016-10-20 10:07] rewop commented on #366
Also what version are you using?

[2016-10-20 11:11] rickyn73 opened #367 "Google Map setCenter and setPosition issue"
InvalidValueError: setPosition: not a LatLng or LatLngLiteral: in property lat: not a number

InvalidValueError: setCenter: not a LatLng or LatLngLiteral: in property lat: not a number

[code]

[2016-10-20 11:38] Unforgiven-wanda commented on #366
Yes, exactly. I am using the beta, v6.0.

[2016-10-20 13:05] rewop commented on #366
I would suggest just hide the root component with css. And show it once the component becomes visible.

[2016-10-20 13:21] Unforgiven-wanda commented on #366
In fact what I'm trying to avoid here are the initial google maps requests, both the js file and countless other requests. In fact, the number of initial requests on first page load went from something like 30 to 65/70 when adding the map component, and that here is what I'm trying to avoid. I've noticed in older projects that initializing the map only once it is in view did wonders to the initial

[2016-10-20 13:24] rewop commented on #366
Since this is not a problem with the map. I will close this issue.

[2016-10-20 13:24] #366 closed

[2016-10-21 02:00] tomchentw commented on #367
It should be you messed up the state. Try console log this:

[code]

in the first line of `render()`, and see if the data structure there is correct.

[2016-10-21 02:03] tomchentw commented on #366
A typical approach would be wrapped this `container is in view` logic into an HOC:

[code]

[2016-10-21 13:52] wedneyyuri commented on #366
It makes sense, we can change the state using any jQuery plugin or similar

[2016-10-22 13:08] itayb8 opened #368 "react-google-maps- InfoWindow adding content as string"
My issue started when I couldnt remove scrollbar from the InfoWindow using a InfoWindow component's child node (as the content of the InfoWindow).
When I am using the builtIn props - 'content' to pass the content I am having another issue.
I create a list of items in the info window and each one of them has to be clickable. everything works fine except for the onclick event - shows me an error - U

[2016-10-22 22:14] danielehrlich commented on #368
I formatted your code so it looks more readable here: [https://jsfiddle.net/hoottkf0/](https://jsfiddle.net/hoottkf0/).

From at least this code, it looks like your issue is an extra greater-than-sign near the end of the first function where you are defining the key attribute:

[code]

Remove that extra sign and see if it works.

[2016-10-23 02:26] itayb8 commented on #368
Sorry, something in the copy paste went wrong from the first place. this is the complete version:
getInfoWindow(items, i) {
    if (i === this.state.clickedMarker) {
      const content = `<div class="info-window-partner">${this.getInfoWindowContent(items)}</div>`;
      return (
        <InfoWindow
          disableAutoPan={true}
          content={content}
          onCloseclick={this.handleMark

[2016-10-23 03:58] tomchentw commented on #368
No. You can't use `HTML as string` for `content` nor `children` property for `InfoWindow`. The only thing allowed is React Element (JSX). Check the example here:
https://tomchentw.github.io/react-google-maps/basics/pop-up-window

Please notice that the example uses `react-google-maps@^6.0.0` version.

[2016-10-23 03:58] #368 closed

[2016-10-23 04:00] itayb8 commented on #368
How would you recommend me to avoid scrollbar in the InfoWindow?

[2016-10-23 04:10] tomchentw commented on #368
Fix it via css styles `overflow: hidden` or giving it a fixed `width/height`?

[2016-10-23 04:15] itayb8 commented on #368
InfoWindow doesnt get styling props.

[2016-10-23 04:44] tomchentw commented on #368
Would setting styles in `children` element work? Could you provide a minimal repository to demonstrate this?

[2016-10-23 12:13] itayb8 commented on #368
It wont work, that's where my issue started from.
I understand why it doesnt work. I can see in chrome dev tool that the parent  element of my children element has attribute over-flow: auto.
If instead I pass to InfoWindow content as props I can control the styling of the parent element but then I have problem mentioned previously.

[2016-10-23 13:14] tomchentw commented on #368
@itayb8 I bet you mean `overflow: auto` on the element I highlighted below, right?

<img width="357" alt="screen shot 2016-10-23 at 9 12 42 pm" src="https://cloud.githubusercontent.com/assets/922234/19626467/8329de10-9965-11e6-87e1-319bc00da3ae.png">

In fact, **that** dom is created and managed by `Google Maps JavaScript API`. The only thing I can control is the dom of `data-reactroot` and its pa

[2016-10-23 13:37] itayb8 commented on #368
It did work with the code I provided earlier.

[2016-10-23 13:38] itayb8 commented on #368
Do you have another idea?

[2016-10-23 13:41] tomchentw commented on #368
I remembered an old issue, #93, may help. Do you want to fork this project and try to make it work?

[2016-10-23 14:10] itayb8 commented on #368
I wish I could. it's a bit sensitive. The old issue seems to be very relevant. I'll try to work it though, with the help of issue #93.

[2016-10-24 09:37] rickyn73 commented on #367
I have resolved this issue .This issue was due to Number format error so adding **parseFloat** to lat and lng works.

[2016-10-24 14:39] tomchentw commented on #367
OK. Close for now

[2016-10-24 14:39] #367 closed

[2016-10-26 14:04] n0ne opened #371 "6.0.0 and Custom controls"
Hi everyone.
How to create one small button with two states and one onClick event?
I have no idea...Are there some examples or tuts?
It'll be great...
Thank you!

[2016-10-26 14:51] r2dev commented on #337
I have updated to v6, and used ref to expose the google map element. since there is no 'util/triggerEvent' any more, I just call the google.map.event.trigger to trigger 'resize' on the element, unfortunately it doesnt work correctly. I assume the google map element i got is modified by library because I saw there is no setCenter and setZoom.

Is there any implementation related to this issue, much

[2016-10-26 17:31] nwind21 opened #372 "center is not being propagated in basic GoogleMap element"
I'm trying to figure out why this is the case but wanted to see if anyone more familiar with the code has a clue to where to look.

I have a basic GoogleMap element, using this.state.center.  When I change the state, the center is not updated on the map.

Now, if I embed a SearchBox with the Places control, center WILL update through the state change.

Is it possible that basic GoogleMap element i

[2016-10-27 08:41] zkdzegede commented on #186
I have a similar issue with seeing the google logo and only a grey box.

But the interesting thing is that the map appears when I resize the window!

Is that happening with anyone else?

[2016-10-27 15:10] jrichardsz commented on #186
I think this is related to gmap library because I tried simple html + gmap example without react and I have a similar problem : grey box.  This error was fixed moving divs in my html.

Maybe a simplest example of html + gmap without react could help to determine the problem.

[2016-10-27 19:30] danielehrlich commented on #186
I've had a similar issue happen as well. It's somehow related to the CSS / styling. When I change the CSS the map sometimes will simply not load (the entire DOM tree will be gone, so it's not just "not appearing", it's literally not part of the document).

In all of these cases I have been working with a map inside of a <td> element. I've been able to work around it always, but it is odd. I don't

[2016-10-27 23:21] gregegan commented on #242
Just following up on this to see if any progress on this issue?

[2016-10-27 23:23] gregegan commented on #280
Any progress on this issue? Not sure I understand your response @Rtg147

[2016-10-28 08:55] amangeot commented on #301
Hi @camiel, hi @tomchentw,  I'm using custom markers with `MarkerClusterer` too. I am currently trying to change the marker's color on click.

I'm changing the marker's icon on click, I see in logs that `GoogleMap` and `MarkerClusterer` get updated (react lifecycle), but the map / icons display doesn't change.
If i refresh the entire page, the previously clicked marker's icon shows it's selected (

[2016-10-28 08:56] amangeot commented on #371
Have you seen these demos: http://tomchentw.github.io/react-google-maps/basics/overlay-view ?

[2016-10-28 13:30] amangeot commented on #301
Well I eventually tried OverlayView and it works very well, even with 8000 clustered markers that are in a separate React smart component.

In case anyone would be looking for it, this works to put a highlighted marker in place of a clicked one:
[code]

[2016-10-29 00:33] johnstew commented on #356
I'd be interested in helping write some tests. I'm going to go ahead and take a stab at writing some and will submit PR for review once I feel I have some good progress.

[2016-10-29 02:18] johnstew commented on #356
Alright so after playing around with this for a bit. I wanted to try and understand more about what exactly we should be using and doing for writing these tests.

I initially tried using React's test renderer and Jest's snapshots to test the GoogleMap component but ran into this issue https://github.com/facebook/jest/issues/1353. The recommended solve there was trying a number of different things

[2016-10-29 21:19] danielehrlich commented on #356
When you were running tests, what command did you use? It took me forever to find the correct one (you can see it in the .travis.yml file), but the command you should be using is `npm test -- --coverage`. This will not only run your tests but also give you a coverage report.

Also on a side note, I like how you went about the tests. I looked at testing a little bit ago, and as I was writing them I

[2016-10-30 13:49] johnstew commented on #356
Yea so I've been running `npm test` for now without the code coverage because I was just interested in getting the tests up and running. I feel like once I get some good direction from Tom & Co about what I have above and if I am going down the right path for how they want the project tests structured then I will begin to generate the test coverage report. Also, @danielehrlich  thank you! I'm glad

[2016-11-01 14:17] jacobo360 opened #373 "Custom Marker and Cluster Icons"
Hi,

Is there a simple way to include options in Markers and the MarkerClusterer? I am looking to use my custom icons for both. Ideally something like what is available in javascript:

          var options = {
            styles: [{
              textColor: 'white',
              height: 53,
              url: "images/m1.png",
              width: 53
            },
            {
              tex

[2016-11-02 03:04] reintroducing commented on #337
I'm also looking for setZoom which used to be available and no longer is. What is the new implementation of this in v6.x?

[2016-11-02 08:36] Stupidism opened #374 "How can we migrate from v4 and v5 to v6?"

[2016-11-02 10:25] uniquoooo commented on #337
@reintroducing You can change the zoom with the `zoom` prop on your `GoogleMap`.

[2016-11-02 14:15] reintroducing commented on #337
@uniquoooo I could have sworn I tried that and it was causing performance issues but I may be thinking of a different library I tried (these past few days have been a nightmare of Google Maps for me :)  Thanks, when I can I'll circle back to upgrading and see if that works.

[2016-11-03 20:30] L3V147H4N commented on #373
👍 also interested in this

[2016-11-04 09:35] n0ne commented on #371
Yees....why are you asking? I don't see any buttons on this map...

[2016-11-04 09:37] n0ne commented on #373
For Marker you can use option icon={}

[2016-11-04 21:25] RishabhJain96 opened #375 "HeatmapLayer Broken"
HeatmapLayer should use `google.maps.visualization.HeatmapLayer` instead of just `google.maps.HeatmapLayer` in order to construct a HeatmapLayer.

[2016-11-05 22:52] raysmithdev opened #377 "Change marker icon size"
Is there a way to adjust the marker icon size ? I have alot of images which i am using as the marker icon but the sizes are too big so was wondering how to change the size and possibly make them rounded like normal CSS. Suggestions ?

[2016-11-06 07:44] ZachPerkitny commented on #186
I'm having the same issue as @zkdzegede. Also, when I resize the page, the center is completely off.

Anyone have a possible solution ?

[2016-11-07 06:52] xeiaaa opened #378 "Get Polygon data from Drawing Manager"
How do I get polygon data when I draw using Drawing Manager? I'm planning to save it on a database. Also, how do i recreate the polygon on a different map using the data retrieved from the database? thanks

[2016-11-08 00:06] #378 closed

[2016-11-08 03:21] akosialz opened #379 "InfoWindow No OnCloseClick Event for React Google Maps v 4.11.0 and also in v.5.1.1."
So I am following this tutorial of yours

https://tomchentw.github.io/react-google-maps/basics/pop-up-window

basically the InfoWindow has this onCloseClick() event for capturing the, as the name of the method implies, close click in InfoWindow. Now when I installed v 4.11.0 and up to v.5.1.1. there's no onCloseClick event but according in your repo, there is.

How should I work on it? I cannot us

[2016-11-08 04:12] RishabhJain96 commented on #371
I believe you can either use an OverlayView, or try something like this: https://developers.google.com/maps/documentation/javascript/examples/control-custom.

[2016-11-08 09:18] akosialz commented on #379
Forgot to comment in here. Found out that onCloseClick event in InfoWindow exists in version 6.0.1. My bad.

[2016-11-08 09:18] #379 closed

[2016-11-08 10:04] hdrdavies commented on #192
@lauffenp did you resolve your problem?

[2016-11-08 10:05] hdrdavies commented on #373
@jacobo360 did you manage to achieve this?

[2016-11-08 10:15] hdrdavies commented on #292
@kirkstrobeck did you find an appropriate solution? I take it you were trying to handle markers on the same location or...?

[2016-11-08 11:56] kirkstrobeck commented on #292
Thx, yes just an anchor offset

[2016-11-08 12:36] jacobo360 commented on #373
No

[2016-11-08 13:16] L3V147H4N commented on #373
I used the icon prop to use my own custom Marker Image:

[code]

[2016-11-08 13:43] 7s4r opened #380 "Uncaught Error: Cannot find module "warning""
I got this error with 6.0.1 version:

`./~/react-google-maps/~/warning/browser.js
Module build failed: Error: ENOENT: no such file or directory, open '/app/node_modules/react-google-maps/node_modules/warning/browser.js'
    at Error (native)
 @ ./~/react-google-maps/lib/withGoogleMap.js 37:15-33`

It seems that warning package isn't added in react-google-maps dependencies.

[2016-11-08 14:08] 7s4r commented on #380
I fixed it. It was issue with docker & npm cache.

[2016-11-08 14:09] #380 closed

[2016-11-09 02:09] sohibul opened #381 "Working with CartoDB"
Is is possible to create data layer from cartodb?

[2016-11-09 10:10] farhan687 opened #382 "Using symbol with Marker"
Hello there,

I want to use the `symbol` within marker, and I am using following code snippet:
[code]

Am I missing anything?

[2016-11-09 11:56] kstratis commented on #371
@n0ne I was wondering the exact same thing.

It seems however that we are out of lack. Peeking at the [SearchBox](https://github.com/tomchentw/react-google-maps/blob/master/lib/places/SearchBox.js) code, I see hints everywhere that it's custom designed for maps usage  (google maps specific `controlPosition` prop) and as such no plain react component can be used.

Any thoughts on that @tomchentw ?

[2016-11-10 02:30] mndewitt commented on #382
See the [Google Maps JS API docs example](https://developers.google.com/maps/documentation/javascript/symbols) for adding a custom SVG icon:

[code]

So something like:
[code]
...May be what you are looking for...

[2016-11-10 05:31] akosialz commented on #82
@frankwong  hi
im a lil bit perplexed as to how i should port your solution to mine. can you post the entire code of it for our reference?

[2016-11-10 14:00] farhan687 commented on #382
Hey @mndewitt Thanks a lot. It resolved my issue.

[2016-11-10 14:00] #382 closed

[2016-11-10 20:40] anvk opened #383 "Can we add custom labels to markers?"
https://developers.google.com/maps/documentation/javascript/examples/marker-labels

[2016-11-10 22:25] scronide commented on #188
I'm finding that changing the `center` and `zoom` props isn't affecting the map on re-renders (v6.0.1). I have to manually call `panTo()` based on the updated props and I haven't figured out a way to reflect the changes to zoom level yet.

[2016-11-12 00:28] zverbeta commented on #260
@dyyylan I have same question

[2016-11-12 01:13] dyyylan commented on #260
It's important to note that since the *actual* map is mounted asynchronously from the react component, you may not have methods available as soon as it mounts.

So it depends on your use case for when you want to call the method, if you already have all your data when the map loads up, you can add a callback on the GoogleMap component with `onTilesloaded` and then use your map ref.

Here's an exam

[2016-11-12 01:45] kstratis opened #384 "event object in search box"
Hi,

Looking at [the examples page](https://tomchentw.github.io/react-google-maps/places/search-box), is there a way to access the event from within the `handlePlacesChanged()` method?

It accidentally triggers a form submit in my code and I'd like to `e.preventDefault()` it.

Thanks

[2016-11-12 23:11] Sachavent opened #385 "Map not rendering"
Hi,

My map is not rendering (I have a "blank screen").

Otherwise, I don't have any error in the console...

I added "   `<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=geometry,drawing,places&key=MY_KEY"></script>"`  in public\index.html

Here is my Js file:
[code]
Thanks a lot for your help

[2016-11-13 10:18] Sachavent commented on #385
I found a solution...

I changed the style of the container and the map like that :
[code]

[2016-11-13 15:16] acomito commented on #372
I'm having the same problem. I'm using an outside google places input which is updating the location for the map. The marker (which in my case is the same as defaultCenter) is updating but the defaultCenter is not updating.

[2016-11-13 16:29] acomito commented on #372
**Update:**

The first example in the demo passes `defaultCenter={this.state.position}` to the Map component. If you look at the example with places search, you'll see it uses `center={this.state.position}`. Changing my Map prop from `defaultCenter={this.state.position}` to `center={this.state.position}` fixed it for me (i.e. map now updates when position changes).

[2016-11-14 12:30] prashantgaikwad opened #386 "DrawingManager is undefined when imported from "react-google-maps""

[2016-11-14 12:41] mariusandra opened #387 "MarkerCluser view OverlayView in v4.11.0 - how to merge PR?"
Hey,

I had an issue with putting OverlayViews inside a MarkerCluster. The following changes, which I copied from a similar fix to Marker fix the problem:

https://github.com/tomchentw/react-google-maps/compare/v4.11.0...mariusandra:markercluster-overlayview

However, how can I merge this back into the v4? Github doesn't allow me to do a PR against a tag...?

Thanks! :)

Marius

[2016-11-15 13:42] ElGoorf opened #388 "Adding points to polylines."
I have polyline data in a store and trying to figure out how to have the line update as points are added to the _observablearray_ (I'm using MobX).

I tried modifying the markers example, but have no luck. It's going to take me a while to extract the relevant parts of my code, but wondering if in the mean time, anyone has a working example of something similar they could show me?

Thanks

[2016-11-18 04:30] DiegoGallegos4 opened #390 "Example Polygon, Polyline"
Hi is there any example on how to use Polygon or Polyline. This is, create a polygon or show a polygon from latLng array, events and some basic example.

I started using the last version today.

Cheers.

[2016-11-18 16:30] amangeot commented on #210
Hello,
@tomchentw, could you confirm that the "repainting issue" is still fixed in v6?

I have map with a lot of clustered markers (about 8k). I add them all on the map without any filtering trick, it works wonderfully but it takes time to mount when first loading the page. I guess this is normal, but it takes time to unmount when going from '/map' to let's say '/dashboard'.

Thank you,

[2016-11-18 18:16] gchameleon opened #391 "Feature Request: Add support for new "gestureHandling" option"
The Google Maps JS Api version 3.27 (published on the 15.11.2016, see https://developers.google.com/maps/documentation/javascript/releases?hl=de) introduces a new map option called `gestureHandling` to define how touch events on mobile should be handled. It would be really nice to see support for it in this library, especially since the update changed the default behavior of the map.

[2016-11-19 00:07] aaj commented on #186
I was also having the same issue as @zkdzegede. Fixed it by adding default width and height to the containerElement prop of the ScriptLoader component which I'm using:

[code]

[2016-11-21 10:39] twanschik opened #392 "Missing functionality to trigger a resize event"
Hi,
it seems like there is no official way to trigger a resize event. Before i could use `triggerResize()`, however I can't find such a helper method anymore. The only way I can trigger a resize event is via `google.maps.event.trigger(this.map.context[__SECRET_MAP_DO_NOT_USE_OR_YOU_WILL_BE_FIRED], 'resize')` with this.map being the instance passed in `onMapMounted`. This seems really dirty. Is the

[2016-11-21 14:31] r2dev commented on #392
Oh my, this is a thing! Thanks for pointing out this 'secret' map object. I finally can do resize on this library

[2016-11-22 13:59] EdwardNelson commented on #372
Thanks @acomito fixed it for me!

[2016-11-23 08:24] andriytyurnikov opened #393 "Async example doesn't work"
[code]
fils with error `TypeError: (0 , _withScriptjs.withScriptjs) is not a function`

[2016-11-24 06:08] ihsansatriawan commented on #273
Hi @eamonpenland did you solve this issue/find a workaround?

[2016-11-24 13:02] asbjornenge opened #394 "Unable to drag marker"
Hi!

I am not able to drag the marker. Nor am I able to click it while `draggable=true`. If I set `draggable=false` then the click works. Still, it's drag that I need. Using v6.0.0.

Here is my component:

[code]

Rendered like so:

[code]

Any help appreciated :smile:
Thanks!

[2016-11-24 18:39] amangeot opened #395 "[MarkerClusterer] Repaints the map for every marker to add / remove"
Hello,
I think this issue still exists in v6: https://github.com/tomchentw/react-google-maps/issues/210

The issue is that `MarkerClusterer` is passed down to `Marker`s within the context, so that `Marker` can add itself to the `MarkerClusterer`. Then the underlying `addMarker` or `removeMarker` forces a redraw on the map, for each added or removed marker.

From [Marker.js](https://github.com/tomc

[2016-11-24 23:45] agilgur5 commented on #260
Can confirm @dyyylan's method works (thanks!), though keep in mind `onTilesloaded` is called during every resize, pan, zoom, etc. If you need to call it exactly once on initialization, you'll have to use some hacky method like below:

[code]

[2016-11-25 01:50] michaelcpuckett opened #396 "Responsive Map"
Is there any way to make the center stay centered when resizing the window?

I found a simple responsive example, but the new center has already been calculated by the time I try to access it when using the component API.

https://codepen.io/hubpork/pen/xriIz

[2016-11-25 01:52] #396 closed

[2016-11-25 14:17] amangeot commented on #395
I forked the project and edited these two lines in Marker.js to prevent every added / removed `Marker`s from redrawing clusters:
In `getInitialState()`: `markerClusterer.addMarker(marker, true);`
In `componentWillUnmount(): `markerClusterer.removeMarker(marker, true)`

[2016-11-25 14:48] sudharsan1988 commented on #196
By using **react-async-script-loader** and _componentWillReceiveProps_ solved my problem. whatever I do with _google.maps_ that I can do it once the script is loaded successfully from react-async-script-loader.

Here is my sample code,

https://gist.github.com/sudharsan1988/73b36e23655ece48d0093adb3f84d5f9

[2016-11-25 17:53] cezarneaga commented on #210
@joelwurtz could you please share your solution. the re-rendering doesnt work for me still

[2016-11-25 18:28] amangeot commented on #210
Not sure if if it will work for you but you could check this issue:
 https://github.com/tomchentw/react-google-maps/issues/395

That I tried to solve this way: https://github.com/tomchentw/react-google-maps/pull/397

[2016-11-28 05:18] jrichardsz commented on #186
@aaj works!!
In my case I used (whitout tomchentw-react-google-maps library)
[code]
But  I need a dynamic size :s

[2016-11-29 03:34] jrichardsz commented on #186
This works:
`style={{width: '100%', height: '100%'}}`

[2016-11-30 10:16] eljefejames opened #398 "V5/V6 with Meteor"
Has anyone successfully managed to use V5 or 6 with Meteor? I currently use V4 which works pretty smoothly, but I haven't been able to get V5 or 6 to run with Meteor 1.3 or higher. Would love to see an example of the two working together... Cheers

[2016-12-01 15:35] dyyylan commented on #390
The `Polygon` and `Polyline` components are just wrappers around the google maps classes, you can use them in pretty much the same way as you would use other components in this library. For example properties such as `setX` are just a prop `x`.

[code]

[2016-12-02 15:22] ryanhca commented on #260
Wow, this worked really well for me! Thank you. I'm now just diggin in to see if I can force the map to fit bounds, but also zoom out a little. The fit bounds sort of force it to zoom in too far.

[2016-12-02 16:09] ryanhca commented on #260
following up. I used @agilgur5 's solution above to only call my set bounds handler once. Now my issue is that the bounds are too far zoomed in if the coords all exist in or near the same place. I'm looking to expose the "setZoom" method on the "map" ref. I can use "getZoom" but not setZoom for some reason. I'm digging in deeper

[2016-12-02 16:16] dyyylan commented on #260
There is a difference between `defaultZoom` and `zoom`, just like `defaultValue` and `value` on an `<input />` component.

If you want to control the zoom dynamically, just use the `zoom` prop on the map, it will update whenever the value changes. But it does also allow the user to zoom/pan around themself without being locked into whatever value you set.

[2016-12-05 06:34] finetype commented on #393
https://github.com/tomchentw/react-google-maps/blob/master/src/app/pages/async/AsyncGettingStartedExample.js

They are requiring from '../../../libs' or something, you have to switch that to 'react-google-maps' if you're using it in your own project. I had to tweak a few small things iirc, but it did finally work.

[2016-12-05 06:35] finetype commented on #296
Seems like it should point to this instead: https://github.com/tomchentw/react-google-maps/blob/master/src/app/pages/async/AsyncGettingStartedExample.js

[2016-12-05 07:43] finetype commented on #390
Hey, @dyyylan, I'm trying to make a Polygon as you've shown here, and I don't seem to be having luck...

I've got markers working, and copying the same pattern, I'm trying to do this alongside them:

[code]
JSON.stringify on zipcodeDictionary looks like this:
[code]
Do I need more properties for styling?

[2016-12-05 14:44] dyyylan commented on #390
@finetype: It seems like the coordinates are just weird, the first one shows up in the middle of antarctica and the second breaks the map entirely.
https://gist.github.com/dyyylan/a81245ec7b88251c317148f3699c58a0

[2016-12-05 15:15] finetype commented on #390
Haha, figured it out shortly thereafter. Thanks. Adding the other
properties from the Bermuda triangle example sealed it. I just simplified
the shape data I was using so much that it became unusable, perhaps?
Anyways, thanks for getting back to me.

On Dec 5, 2016 8:44 AM, "Dylan Foster" <notifications@github.com> wrote:

[2016-12-06 14:56] Novex commented on #393
Try `import withScriptjs from 'react-google-maps/lib/async/withScriptjs';` - I'm not sure why it's not part of the default exports but that seems to pull it out for me.

[2016-12-06 16:01] mychalvlcek opened #399 "InfoBox children with onClick event"
Anyone experiencing issue with adding onClick event to InfoBox children?

[code]

[2016-12-07 03:55] finetype commented on #348
@tomchentw, I've been pulling my hair out trying to figure out how to use geojson with this plugin for the last two days. The last example I could find seems to be quite old, and I can't seem to get it working... What's the best way to get at the map object to use the native map.data.loadGeoJson ? Or do you have a working geoJsonToLatLang component in the most recent version? (Still, converting ge

[2016-12-07 04:00] finetype opened #400 "GeoJson support in current version, or at least access to map.data.loadGeoJson?"
@tomchentw, I've been pulling my hair out trying to figure out how to use geojson with this plugin for the last two days. The last example I could find seems to be quite old, and I can't seem to get it working... What's the best way to get at the map object to use the native map.data.loadGeoJson ? Or do you have a working geoJsonToLatLang component in the most recent version? (Still, converting ge

[2016-12-07 04:53] finetype commented on #400
I've got the imports 'working' for now, not sure if their api has changed (probably has), but was getting erors because I wasn't wrapping it in withGoogleMap(). So, I've tried refactoring it to use that, but now I'm getting `WGM(...): A valid React element (or null) must be returned. You may have returned undefined, an array, or some other invalid object.`

Here's my refactored render:

[code]

An

[2016-12-07 09:03] Sopheakmorm opened #401 "watchPosition API Google Map"
Hey guy,

How can I use API watchPosition from google map to refresh the map marker ?

Thank you !!

[2016-12-07 16:48] mychalvlcek commented on #399
ok i figured it out.. the problem wasnt here but in infobox library (https://github.com/lucasfs7/google-maps-infobox-module)

solution: infobox has disabled mouse event propagation by default..
so just set it up by option `enableEventPropagation`

[code]

[2016-12-07 16:48] #399 closed

[2016-12-09 03:00] KchTT opened #403 "Marker onClick"
How can i get the Marker data on click?
Thankss

[2016-12-10 06:53] TrejGun opened #404 "SearchBox out of map"
I'd like to have SearchBox separated from the map, how can I do this?

[2016-12-12 20:24] r2dev commented on #404
I am using [react-geosuggest](https://github.com/ubilabs/react-geosuggest). This library require to load the google map script manually, what i did was combine with "withScriptJS" from this library, it works perfectly.
`const GoogleSearchBox = withScriptJs( props => (<Geosuggest ....... />))`

[2016-12-13 14:06] janprasil opened #405 "Property mapPanes is null"
Hello,

I have a problem with overlayView - a property mapPanes becomes null when a component is rerendered (by incoming items that create new overlayViews) and i am still giving this error message:
`TypeError: Cannot read property 'overlayMouseTarget' of null`

from react-google-maps/lib/utils/OverlayViewHelper in mountContainerElementToPane

Here is my code:
[code]
Please, do you have any idea t

[2016-12-14 09:15] Stupidism commented on #392
try this one
[code]

[2016-12-14 17:31] techsev opened #406 "KML preserveViewport bug (Temp Fix Inside)"
Plugin is great, does everything I needed but when I load a KML, map recenters to fit the container.

an old closed issue says to use

`<KmlLayer options={{preserveViewport: true}} />`

but it still didn't prevent the map from shifting. I was able to fix it by modifying the "KmlLayers.js" file to add the missing propType.

I added `preserveViewport: _react.PropTypes.any,` and now it works perfectl

[2016-12-15 11:02] ZephD opened #407 "Differentiate ref's onMapLoad and onMapRender"
When using the ref from the GoogleMap component, the function gets triggered every time the map renders.

I'm currently using fit to bounds during this function, but it means if I re-render the map the map gets re fitted to bounds.

Is there a way to differentiate the initial load (the first time the map object is created) from a re-render?

[2016-12-16 09:35] Stupidism opened #408 "[Info Window] blink/glintch/twinkle when opening big InfoWindow"
## Behaviour
like the title saied

## Way to reproduce
a little modify on the demo app:
[code]

## Version
As I can know, not happened in v4.

## Others
I don't know if these would help. I didn't find a solution myself yet.

http://stackoverflow.com/questions/15399585/infowindow-blinks-when-calling-setcontent-on-google-maps-api-v3

http://stackoverflow.com/questions/20219179/google-map-js-api-vers

[2016-12-16 11:47] batjko commented on #393
I'm having the same issue. It used to work, but recently stopped (change in a new version?).
We're using react-google-maps v4.11.0 (not sure what it used to be when it still worked).

Looking into the node_modules/react-google-maps folder, the `withScriptjs` file simply doesn't seem to exist anymore?
Instead there is "ScriptjsGoogleMap.js" and "ScriptjsLoader.js" only:
![image](https://cloud.githu

[2016-12-16 12:11] Novex commented on #393
Did you possibly miss the `@beta` tag when you npm installed?

I get those files if I do a straight `npm install react-google-maps`, but if I `npm install react-google-maps@beta` I get the expected withScriptjs files.

[2016-12-16 12:17] batjko commented on #393
@Novex Yes, that's it! I wasn't aware of this and apparently the previous developer forgot to add it to our shrinkwrap.

Thanks a lot!

[2016-12-18 21:32] janprasil commented on #405
I found the answer - the overlay key was not unique.

[2016-12-20 11:07] ZephD opened #409 "HeatmapLayer and withScriptjs are sort-of incompatable"
HeatmapLayer requires a google.maps.LatLng object and cannot accept a LatLngLiteral ({lat:0, lng:0}).

However, google.maps.LatLng is loaded asynchronously with withScriptjs, and therefore is not available when creating the props.

My current workaround is to convert the data upon render if window.google exists.
[code]

It may be beneficial to do this _within_ HeatmapLayer, allowing us to use LatL

[2016-12-20 14:44] ZephD opened #410 "Testing <GoogleMap/> inside withScriptjs and withGoogleMap"
The element is as follows:

[code]

The test is as follows:
[code]

I get the error:

 See https://github.com/tomchentw/react-google-maps/pull/168

(Followed by the Mocha error:

)

Therefore, 'done' is not being called, because of the first error preventing the map from being created.

Now, I'm using withScriptjs, and therefore google.maps should be loaded for me. I should not be getting the firs

[2016-12-21 15:21] matthill1 commented on #409
Hey ZephD. I take it then you managed to sucesfully get the react-google-maps to display heatmap data? Would you mind sharing the source code

[2016-12-21 16:41] ZephD commented on #409
@matthill1 : I had to manually tweak the react-google-maps code. See #376.

This, plus the code above to translate the LatLng objects to google's LatLng objects if google exists.

[2016-12-22 10:51] khotey opened #411 "Dont call onCloseClick in InfoWindow"
I have component :

[code]

with two methods, onMarkerClick which work correct, but when click on in InfoWindow close button(method onCloseClick), InfoWindow close but function onCloseClick don't call

[2016-12-22 11:02] khotey commented on #411
Rename method from onCloseClick to onCloseclick

[2016-12-22 11:02] #411 closed

[2016-12-23 00:33] ducminhn commented on #315
@amangeot's solution works. Or you can use the `options ` prop

[2016-12-23 18:22] matthill1 commented on #409
Strange. I'm still getting a console error "typeError: undefined is not a constructor (evaluating 'new google.maps.HeatmapLayer')" despite having changed the code to  const heatmapLayer = new google.maps.visualization.HeatmapLayer

[2016-12-23 18:54] matthill1 commented on #409
I managed to get it to display in the following way:

const GoogleMapHeatMaps = withGoogleMap(props => (
  <GoogleMap
    defaultZoom={4}
    defaultCenter={centerLocation}

  <HeatmapLayer data = {heatmapdata}/>
  </GoogleMap>

and

export default class Map extends Component {
render() {
return (
      <GoogleMapImageMarkersandHeatMaps
        containerElement={
          <div style={{ height: `1

[2016-12-29 10:32] mhrisse commented on #331
Hi! The Google Maps documentation explains you can define the language paremeter at API loading time by defining the ```language``` GET parameter. I implemented this simply like so:

[code]

I am getting the locale from a redux store. When I switch the first time between locales all renders perfectly (the Maps API is called again, then everything is re-rendered) and the maps are localized.

Howeve

[2016-12-30 02:42] TerjeNorderhaug commented on #383
Just include a label attribute for the marker:

`<Marker label="Hello" position= {{ lat: 12.97, lng: 77.59 }}>`

[2016-12-31 02:53] seansinflipflops opened #413 "withGoogleMap is not a function?"
I keep getting the error that Uncaught TypeError: (0 , _reactGoogleMaps.withGoogleMap) is not a function

does anyone else get this error, i am importing withGoogleMap from react-google-maps.

[2016-12-31 23:34] cameronmoreau commented on #413
This happened to me earlier, make sure you have version 6.0.0 or above.
By default, npm downloaded v4, so you should look at [these docs instead](https://github.com/tomchentw/react-google-maps/tree/v4.1.0#documentation)

If you want to use the withGoogleMap method, run
`npm install --save react-google-maps@6.0`

[2017-01-01 07:14] seansinflipflops commented on #413
Thanks @cameronmoreau !

[2017-01-02 19:44] #413 closed

[2017-01-02 19:46] sho13 opened #414 "google is not defined?"
Hey, I keep getting a reference error for google in the withGoogleMap at line 101.

`Uncaught ReferenceError: google is not defined - withGoogleMap.js:101 `

Does anyone know how to remedy this error?

[2017-01-04 00:44] jamesoliverband opened #418 "typeError: (0 , _googleMapsReact.withGoogleMap) is not a function"
Hi,

I am getting this error: typeError: (0 , _googleMapsReact.withGoogleMap) is not a function

My 'google-maps-react' version is 6.0.1

Please help me!

[2017-01-04 11:24] max8hine commented on #414
withGoogleMap.js? withGoogleMap is higher order component wrapper, should not be a file name.
[code]

[2017-01-05 05:34] mattcarlotta commented on #418
Not sure why you're getting this error, but here's a stripped down version of some code from a project I'm currently working on that should get you in the right direction (this works for 6.0.1 running React 15.4.1):

The "RenderGoogleMap" is a presentational component that will render the "CreateGoogleMap" component inside of a table. This way, you can control where to place it on the page and how

[2017-01-05 13:55] frankbo commented on #53
For me adding styles as a prop didn't work. I had to add the styles to the `defaultOptions` prop as one can see in this example.
https://github.com/tomchentw/react-google-maps/blob/master/src/app/pages/basics/StyledMapExample.js
It is also possible to add the custom styles to the `options` prop as `options.styles`.

[2017-01-05 20:44] jtiscione opened #419 "DrawingManager prevents map from loading"

[2017-01-06 02:20] #419 closed

[2017-01-06 12:44] hazboun commented on #418
I'm facing the same error. I did `npm install --save react-google-maps@beta` and got `npm ERR! cb() never called!`, so I tried master `npm install --save react-google-maps' and then I started getting the same error above!

Any ideas?

[2017-01-06 16:02] ZephD commented on #414
You must run the google amps script in your index.html
`<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY></script>`
Or wrap withGoogleMap() with withScriptjs()
`withScriptjs(withGoogleMap((props) => ( <GoogleMap />)))`

[2017-01-06 17:34] mattcarlotta commented on #418
`npm install --save react-google-maps@6` is what I used.

[2017-01-08 23:54] melyourhero opened #420 "MarkerCluster"
Hello. I guess you can help me. There's any possibility of getting the markers inside a cluster?

[2017-01-09 18:52] Andriy-Kulak commented on #260
@ryanhca I am working on a similar problem for fitting map view in bounds, but I am getting inconsistent results. Do you have sample code of the component you can share by any chance? Thanks!

[2017-01-09 20:26] ryanhca commented on #260
@Andriy-Kulak So I had this working really well, then something broke my implementation ... IDK if it was the Google api being updated or some faulty logic on my end. But I've tabled a fix for this for a little bit until I have some time to go back to it. I'll let you know what comes of it when/if I get it re-implemented.

[2017-01-10 01:06] Andriy-Kulak commented on #260
@ryanhca  I ended up doing to a workaround for fitbounds. the google maps geometry api was also giving me trouble so I decided to take a different approach. I have two points on a map so all I need to do is to make sure the map is centered in between the two points and the zoom is appropriate.

I calculated the middle point between two points and used that a defaultCenter using geoLib npm package

[2017-01-10 02:11] dyyylan commented on #260
@Andriy-Kulak my gist above is a complete component with fitBounds, if you needed an example of how to use it.

[2017-01-10 19:11] agilgur5 commented on #260
I'll note that on [my solution](https://github.com/tomchentw/react-google-maps/issues/260#issuecomment-262856550), I actually added a line at the end, `this.forceUpdate()` due to a React nuance:

[code]

As I didn't change the state in my callback, it doesn't cause the React part of the view to rerender, and therefore the binding on the component `onTilesloaded={this.onTilesloaded}` doesn't get re

[2017-01-10 21:11] jtiscione commented on #405
Doesn't fix it for me...

[2017-01-10 22:37] janprasil commented on #405
Add a random uuid to every key prop and change it every rerendering..

[2017-01-11 03:14] Stupidism commented on #408
Anybody tracking this?

[2017-01-11 03:15] Stupidism commented on #420
https://tomchentw.github.io/react-google-maps/addons/marker-clusterer

[2017-01-12 01:09] thzinc commented on #266
I'd be interested in helping to maintain this project. At Syncromatics, we're building out a new version of our site on top of this, and I'd like to be able to contribute improvements and help do the work of maintaining the codebase. How can I go about contributing? (I do already have a PR out for adding TrafficLayer)

(CC @wuct @cristiandley @rewop)

[2017-01-12 14:32] bulteau commented on #377
Do you try this method to adjust the size ? https://github.com/tomchentw/react-google-maps/issues/306

[2017-01-12 21:43] davidbarker opened #422 "React.createElement: type should not be null, undefined, boolean, or number when using SearchBox"
I'm trying to use a SearchBox within my map, but keep running into the console errors:

[code]

My (simplified) code is as follows:
[code]

I've tried a few different ways based on the SearchBox example, but keep getting the error no matter what I try. Without the SearchBox producing the error, the map works great. Thanks.

[2017-01-12 21:46] thzinc commented on #422
Where is `marker` defined? I see that you're including `{marker}` after the `<SearchBox />` component, but I don't see its definition anywhere.

[2017-01-12 21:47] davidbarker commented on #422
Oh, sorry. I removed that to cut down on the code I pasted. I've edited my post above to include it. That works, though — the marker shows as expected.

[2017-01-12 22:07] thzinc commented on #422
Now I see it. `SearchBox` isn't exported from `react-google-maps`. It's available from `react-google-maps/lib/places/SearchBox`.

[code]

I extrapolated this from the [examples](https://tomchentw.github.io/react-google-maps/places/search-box). It looks like you'll need to specify at least `controlPosition`, and maybe `bounds` in order for this to work, but the example should help you see how it's

[2017-01-12 22:21] davidbarker commented on #422
Aaah, yes. Thank you so much! I suspected it was something to do with the imports, but I couldn't quite figure it out. I had to add `controlPosition` as you suggested, but also add `?libraries=places` to my Google Maps JS tag for it to work, but it seems to work now. Thanks again.

[2017-01-12 22:21] #422 closed

[2017-01-13 11:48] melyourhero commented on #420
No about this. For example, I want to get data inside cluster by clicking on it. It is possible to get markers inside this cluster?

[2017-01-13 21:23] techsev commented on #405
this solves the error messages BUT causes flickering on any setState that rerenders the map.

[2017-01-16 05:01] bansalrachita opened #423 "KeyDragZoom"
Hi, I am trying to implement a feature which can select a rectangular area on the map when a key is pressed with mouse being dragged and zooms in the map when the mouse is dropped. I found this functionality in this library - https://github.com/googlemaps/v3-utility-library/blob/master/keydragzoom

Will this functionality be available using react-google-maps anytime soon?

Thanks.

[2017-01-16 10:02] Stupidism commented on #420
Read the document of [MarkerCLuster](https://github.com/googlemaps/v3-utility-library/tree/master/markerclusterer).

I tried once and it works but didn't leave any code usable.
I could only get the `GoogleMap markers` in the cluster. By some way, maybe you can add some custom meta data in the `GoogleMap markers`.

-----------------------------------------------------------

I recovered that `react

[2017-01-16 12:04] diegoappmoove opened #424 "Color in polyline does not work"
How can I add color in my polyline?
![polyline](https://cloud.githubusercontent.com/assets/19688682/21982365/1c67df64-dbd3-11e6-9541-996a741ed401.JPG)

[2017-01-16 12:49] #424 closed

[2017-01-16 22:32] rayozerets opened #425 "How selected and edited Polygon"
How to select and edit the desired polygons on the map? I wanted set 'ref', but it don't work, when I set ref 'react-google-maps' stops working.

[2017-01-17 16:18] jsmapr1 commented on #266
Happy to help also. I'm going to be using the project heavily for at least the next year so I'lll be around quite a bit.

[2017-01-18 00:15] harlannorth commented on #266
I work with @thzinc  over at Syncromatics and as he mentioned we're using react-google-maps for the next version of our UI, so I'd like to contribute where I can as well.

[2017-01-18 10:30] liorpr commented on #425
What exactly do you wish to edit? all I could find on the official docs is just a popup window
https://developers.google.com/maps/documentation/javascript/examples/polygon-arrays

[2017-01-18 12:07] rayozerets commented on #425
For polygon need set prop editable={true}

[2017-01-18 13:07] liorpr commented on #425
what do you actually want to do? can you give an example from the google maps api ?

[2017-01-19 18:50] kunokdev commented on #295
This is still isssue in present?
Is it updated in main branch of npm install?

[2017-01-19 20:38] peterdeka opened #426 "Overlay example doesn't correctly resize on zoom change"
The example for the OverlayView doesn't behave as expected (or as Google maps overlay example behaves). When the map is zoomed the overlay doesn't resize accordingly, keeping always the same size. Also trying to use the bounds instead of the position, the outcome is the same. Any clue on this?

[2017-01-24 17:07] belliAndrea opened #427 "fitBounds() is not working properly"
Hi,
i've tried to use fitBounds() through refs, but seem like is not working properly.
Every latlngBounds i pass to the method is not mantained as i pass it to.

so for example:
i use: {sw:{lat: 14.200, lng: 41.200}....}
when i call map.getBounds() i find different values like {sw:{lat: 14.800, lng: 41.900}...}

how can it be?

[2017-01-24 21:38] jsmapr1 commented on #406
Put in a pull request to address this issue: https://github.com/tomchentw/react-google-maps/pull/428

[2017-01-25 10:46] belliAndrea commented on #427
sorry my fault

[2017-01-25 10:46] #427 closed

[2017-01-25 14:21] belliAndrea commented on #188
Same problem here, i can set zoom the first time, but then if user change zoom manually, the props do not effect the component anymore.

[2017-01-26 05:42] noushad-pp commented on #420
@melyourhero were you able to figure out a solution for this?

[2017-01-27 02:44] jeangarcia2414 commented on #184
Hello , someone managed to solve this problem, I present the same problem and I can not find a solution

[2017-01-28 13:25] melyourhero commented on #420
@noushad-pp
@Stupidism
Unfortunately, I have not found a way to get to the data markers in a cluster. Are there any suggestions?

[2017-01-28 13:47] noushad-pp commented on #420
@melyourhero  I passed the ids of the data as the key of the  associated marker and was able to get the list of markers oncluster click. I had to manually recreate data from the returned marker keys and was unable to get the any custom data passed to the marker.

[code]

[2017-01-28 13:57] melyourhero commented on #420
@noushad-pp The same thing. I can't get any data which I passed to marker component.

[2017-01-28 13:58] melyourhero commented on #420
@noushad-pp The same thing. I can't get any data which I passed to marker component.

[2017-01-29 15:40] kafka-tamura commented on #173
@tomchentw minZoom and maxZoom is supported by the official Google Maps Javascript API v3.

[2017-01-30 04:44] noushad-pp commented on #420
@melyourhero you can JSON.stringify the data and pass it as title of the marker and later on parse it . This can be used as a dirty hack if you are not passing any actual title param to the marker.

[2017-01-30 17:39] nicholasgonzalezsc opened #429 "Release new version on NPM"
The latest version in NPM is 4.11.0, which seems to be a more than a few versions behind.
@tomchentw could you publish the latest stable version to NPM?

I believe either v5.1.1 or v6.0.1 is the latest stable version.

[2017-01-30 22:25] sellomkantjwa opened #430 "Map not rendered after getting Places from the Places API"
I am trying to integrate react-google-maps with the vanilla google places API. I have a handler for the bounds_changed event that fires correctly.

[code]

`this._map`,  `results` and `status` are  all correctly printed to the screen and this._map.getDiv() correctly prints the target Div. I get no errors, however the map is not rendered.
If I leave out the instantiation of the `places` service  i.

[2017-01-31 15:40] AgentCoop commented on #188
Are you serious? That's very confusing that underlying Google Maps API is being called either by passing component property or by calling its method. Any component API must be unified!

[2017-02-01 19:50] josephmisiti commented on #414
@seansinflipflops as @ZephD said, insert

```<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY></script>```

in the top of you index.html file and you should be good to go.

[2017-02-02 05:01] oshalygin commented on #266
Happy to help guys.  Going to be using this or something very close to it over the next couple of years.

[2017-02-02 08:27] karthikkncs14 commented on #392
Any where i can see the full implementation of resize of map on window resize

[2017-02-05 18:11] melyourhero commented on #420
@noushad-pp Yes, you were right. Thank you very much for your help.
Closed.

[2017-02-05 18:11] #420 closed

[2017-02-07 18:15] metastew commented on #418
I'm getting the same error as well. I've tried installing version 6 via npm, but no go on that solution.

[2017-02-08 14:51] Michael-Brooks opened #431 "Can't set custom styles to Control Options"
I have set my Control Options to dropdown, but can't seem to style it at all.
[code]
I have tried updating the style attribute, so it's an object and make it contain my styling options, but this didn't work. I also tried to add inputStyle and mapTypeStyle into the mapTypeControlOptions object, but that didn't work either. I would appreciate any suggestions.

[2017-02-08 17:15] noushad-pp opened #432 "Tileoverlay"
How can I implement custom tiles as in [maptiler](https://www.maptiler.com/)?

[2017-02-08 17:46] BrunoBerisso commented on #430
Hope you found a solution for this. In case I don't and for the future this is my current approach to this topic.

I have the same issue, what (seems) to work for me is remove the map and add it again each time I want to load new marks.

Something like:

[code]

The idea is delete the `Map` component each time you get new places.

_Note:_ I'm using the v5.0.1 because I can't use React 15 at this p

[2017-02-10 20:03] rivyx commented on #295
I'm still getting this issue in 6.0.1

[2017-02-13 05:25] 6farer commented on #373
How do you set the height/width of the marker icon?

[2017-02-13 07:48] Stupidism commented on #408
@tomchentw Do you know where the bug locates in this repo? If you can tell me, maybe I can help you fix this.

[2017-02-13 11:24] #431 closed

[2017-02-13 19:53] jtomaszewski commented on #429
`npm i --save react-google-maps@6.0.1` worked for me

[2017-02-14 13:47] Pentatonic commented on #385
@Sachavent I ran into the same problem with the demo example.

[2017-02-14 20:18] Sachavent commented on #385
@Pentatonic did you add my style?

To display a Mapview, you need "position : 'absolute' " (position relative may also work)

[2017-02-15 00:29] shri3k commented on #429
@jtomaszewski I see that that version is still in a `beta` flag in the registry. As @nicholasgonzalezsc  stated, `4.11.0` is still tagged as latest version.

[2017-02-15 20:45] Bazze commented on #414
One of my users got this error today as well actually, even though I'm wrapping it correctly. Or at least it has been working for months (see below). Could there be a possible race condition/timeout case which could cause this?

[code]

[2017-02-15 20:49] sho13 commented on #414
@Bazze i think @ZephD has the right idea.

[2017-02-15 20:49] #414 closed

[2017-02-15 20:52] Bazze commented on #414
@sho13 I'm not so sure. The whole idea with the `withScriptJs` is to load the Google Maps SDK async and when done load the map, right? I only want to include the Google Maps stuff if the user actually visits that page where I display a map. It's working perfectly, but today 1 user encountered this error so something strange might be going on here?

[2017-02-15 23:02] ZephD commented on #414
Can you found out where in withScripts google is used but not defined?

[2017-02-16 06:58] Bazze commented on #414
@ZephD On the exact same line as reported in this issue.

[code]

Which is:
[code]

[2017-02-18 23:37] davidpatters0n commented on #414
I ran into the same issue due to me using eslint. In order to over come this issue I had to add at the top of my file: `/* eslint-disable no-unde */`.

[2017-02-20 10:10] yoihito commented on #266
Hi guys. I would like to help you with it, going to use the project for the next year or so :)

[2017-02-20 17:26] oshalygin commented on #266
Ive got other commitments but I havent heard back from the author(no email response :( ), I'll be ramping up on this again come March if anyone wants to fork and continue

[2017-02-20 19:24] jwamsterdam opened #434 "error 'google' is not defined no-undef"
This doc: https://tomchentw.github.io/react-google-maps/basics/directions isn't working at all.

can't get around:  error 'google' is not defined no-undef

I did find a solution that is partly working, e.g. using
[code]

But I have no idea how to match this to the tutorial  with componentDidMount etc. to get it to work with the direction service. Any help is greatly appreciated.

[2017-02-20 21:55] jwamsterdam opened #435 "<DirectionsRenderer> not giving any results"
The following code does not provide me a map with a route displayed:

[code]

If I use the code without the `<DirectionsRenderer>` component, I do get a nice google maps view.

Do I need to assign the callback somehow to the `<GoogleMap>`? And if so, how? And how can I get the results json in a variable, so I can use this in my react code to parse e.g. the travel time?

btw: I am on version 4.11.0

[2017-02-20 21:57] jwamsterdam commented on #434
I am one step further, see this question: https://github.com/tomchentw/react-google-maps/issues/435

[2017-02-21 09:05] jwamsterdam commented on #435
I currently have updated to react-google-maps beta (v6), and the async example is working.

The directions renderer example is still giving me google undefined errors.

can someone tell me how I can get the directions example working on the v6 version of react-google-maps?

[2017-02-21 09:53] Michael-Brooks commented on #82
Is there an update on this issue? I'm trying to add it into my ReactJS project using ES6 and RxJS. I have tried to convert it over and get no errors, but it also isn't displaying at all by following this issue and the Custom Controls docs in Google Maps.

[2017-02-21 17:19] jwamsterdam commented on #435
Is DirectionRenderer actually implemented in v6? I see it works when I pass a pre-executed route response from google as direction prop, but I cant get the API call to work to get the response message from google. Any advice??

[2017-02-21 17:31] ctrlaltdylan commented on #373
Thank you @L3V147H4N that worked like a charm for my needs.

Now I just need to adjust the sizing of the icon and all will be kosher

[2017-02-22 05:13] jbrugman commented on #435
The DirectionRenderer seems implemented, but it needs to be feeded with the result of the DirectionsService.
If you put in the raw data as given by the Demo, it would result in this:

`
import _ from "lodash";

import {
    default as React,
    Component
} from "react";

import FaSpinner from "react-icons/lib/fa/spinner";

import withScriptjs from "react-google-maps/lib/async/withScriptjs";

impo

[2017-02-23 00:36] josephdburdick opened #437 "MarkerClusterer returning 404 image by incorrectly handling icon filePath"
Hello, I am requiring an image from Webpack and inserting into MarkerClusterer like so:
[code]

If I place `<img src={clusterMarkerSrc} />` in the view it renders properly with the file path. When I place it in the map however via the MarkerCluster `imagePath` option console reports the following 404: `http://localhost:3000/marker-cluster--magenta.png1.png 404 (Not Found)`. If I place an external

[2017-02-24 05:15] ashishchoudhary12 commented on #290
how to hide infow window close button???

[2017-02-24 05:17] ashishchoudhary12 commented on #25
how to hide infow window close buttom???

[2017-02-24 05:17] ashishchoudhary12 commented on #25
how to hide infow window close buttom???

[2017-02-26 04:33] spicyShoyo opened #439 "heatmaplayer"
Hi,
looks like Goole has made some changes.
For heatmaplayer
`google.maps.HeatmapLayer`
now should be
`google.maps.visualization.HeatmapLayer`

Thank you!

[2017-02-26 13:05] michaeltheodore048 opened #440 "this._mapComponent is not defined"
I copy all the code you give, but "Uncaught ReferenceError: this._mapComponent is not defined" appear, can u tell me where's the _mapComponent?

[2017-02-26 20:15] davidpatters0n commented on #434
@jwamsterdam - Take a look at #414

[2017-02-26 20:34] davidpatters0n opened #441 "Marker Clusterer Example - props.markers undefined on load"
I am trying to follow the marker clusterer example: https://tomchentw.github.io/react-google-maps/addons/marker-clusterer with the exception that I am not using isomorphic-fetch but I am using axios.

Upon load I am getting:

This is due to:

[code]

Why is `props.markers` undefined ?

[code]

[2017-02-26 20:52] #441 closed

[2017-02-27 13:02] ElAnonimo opened #442 "no GoogleMap API key"
The console pops up a 'TypeError: this.props.googleMapElement is undefined' error. Where do I put the API key? Version 4.7.1.

[2017-02-27 15:23] TheRizzen commented on #418
Same here. The getting started would need a little refresh to be quickly understandable..

[2017-02-28 17:04] AdamFrey commented on #408
@Stupidism the InfoWindow module is here: https://github.com/tomchentw/react-google-maps/blob/f1712f229429a5d184e968c09a1b2ff8f50be08c/src/lib/InfoWindow.js

As you can see in this line (https://github.com/tomchentw/react-google-maps/blob/3163a995adb5400f9324d24f24491ba261a6e469/src/lib/InfoWindow.js#L127), the original content of the info window is just a blank div, and then later the content is

[2017-03-01 08:53] Stupidism commented on #408
Maybe add a style `overflow: hidden` will do the trick.

[2017-03-01 09:00] Stupidism commented on #408
Tried
[code]
Not working

[2017-03-01 09:11] Stupidism commented on #408
Not working even with
[code]

[2017-03-01 09:13] Stupidism commented on #408
Actually, first time to open the InfoWindow, there's no flicker. Only happens when close it and open it again.

[2017-03-01 09:23] PaulieScanlon opened #443 "v5 Custom Cluster Icon"
I need to use v5 rather than v6 (beta) for reasons i won't go in to.

Is there a way to use custom cluster icons in this version? I've looked over the issues but can't seem to find anything.

Thanks.

[2017-03-01 14:21] rayozerets opened #444 "Slow render InfoWindow"
Why so slow render InfoWindow?
[See screenshot](https://sc-cdn.scaleengine.net/i/7a0b2675815294cbf367cdee9ddca5e3.png)

[2017-03-05 08:51] hypersolo commented on #405
Did anyone come up with any solutions?

[2017-03-05 15:36] feux07 commented on #408
I also have same problem, I didn't find a solution yet.

[2017-03-08 01:17] imdevan commented on #440
In my project I have something like the following to access the map component.

[code]

Does that answer your question? (I'm a user not a contributor)

[2017-03-08 04:30] fikilek commented on #186
I searched on the web and found this post which I is exactly problem I have right now. Can someone please explain how to solve this .

I've tried all the suggestions in this post but still cannot render the map.

The example work when I do them in a testing environment but fails when I integrate with my application.

I also notice the map does not center properly.

[2017-03-08 14:17] barnc commented on #188
Also having this issuewith updating zoom level - anyone have any workarounds in the meantime?

[2017-03-08 17:30] scronide commented on #188
@barnc Unfortunately, no, I ended up rebuilding on another Google Maps component for React.

[2017-03-08 21:21] llanginger opened #445 "Prevent map re-rendering on update with Redux subscription"
Hi there,

I imagine there is a way of doing this that is easy and obvious that I have not seen. I would like to use this package in a redux app I am building but I am having trouble with the map re-rendering any time I update my store (which, being a redux app, is basically any time anything changes). There was a suggestion in another issue to use componentShouldUpdate(...){ return false } but th

[2017-03-09 17:38] gchameleon commented on #391
For anyone following: you just have to pass an `options` object to any of the provided react elements to set their respective google maps js options. For example, for the map itself and this example you would add a prop to the `<GoogleMap>` like this: `options={{gestureHandling: "greedy"}}` as specified in [the API doc](https://developers.google.com/maps/documentation/javascript/reference#MapOptio

[2017-03-09 17:38] #391 closed

[2017-03-09 22:04] mjvalade opened #446 "Close InfoWindow?"
Right now the only way to close an InfoWindow on a MapMarker is by clicking the "X" `onCloseClick`. Is it possible to close one or all windows when the user clicks elsewhere on the map? Is it possible to close one InfoWindow when the user clicks to open a different InfoWindow so only one is open at any given time?

I feel like adding another property to the InfoWindow (similar to the `onRightClick

[2017-03-11 07:01] XOneto9 opened #447 "I want fix the window Map view."
Hi,

I use react google maps @6.0.1 ver.
and I'm display on my web google maps

I want show the view of google maps as a fixed View on the some location with Mark(lat, lng)
like as Zoom in/out function and dragging map location

but the mark on the maps should work to click to show information of location.

how can I do that???

[2017-03-13 05:05] harsheet commented on #238
Can I have multiple markers in this like below -

import React, {PropTypes} from 'react';
import {GoogleMapLoader, GoogleMap, Marker} from 'react-google-maps';
import _ from 'lodash';

class MapContainer extends React.Component {

  render() {
    return (
        <section className="searchInput-MapScreen">
        <GoogleMapLoader
          containerElement={
            <div
              style=

[2017-03-13 14:09] urikphytech commented on #405
+1

[2017-03-14 03:34] eforkin commented on #427
@belliAndrea I'm having a similar issue. What exactly did you put into fitBounds()?

[2017-03-14 11:09] Anahkiasen opened #448 "Licensing issues"
Hey!

We've been using `react-google-maps` for a while now, however recently we've been made aware that some of its dependencies do not have any licenses which is causing issues on our end. The two packages involved are:

- [ ] [scriptjs](https://github.com/ded/script.js)
- [x] [google-maps-infobox-module](https://github.com/lucasfs7/google-maps-infobox-module)

My question is, would you consider

[2017-03-14 15:36] Zetberg commented on #418
+1

[2017-03-17 15:30] ztanner commented on #444
I think this is related to https://github.com/tomchentw/react-google-maps/issues/408 and I don't think a working fix has been suggested yet.

[2017-03-17 17:20] ztanner commented on #408
I've attempted to fix this with https://github.com/tomchentw/react-google-maps/issues/449. Let me know if it worked for you. I tested with your example and it seems to have.

[2017-03-17 22:26] eforkin commented on #405
+1

[2017-03-18 09:53] felipemfp commented on #437
`imagePath` should be the path to a folder where the MarkerClusterer can find images ([1-5].png).

See how it adds `1.png`: localhost:3000/marker-cluster--magenta.png**1.png**

[2017-03-18 18:47] faviouz commented on #448
I am curious. Aren't repositories on GitHub by default public domain? How does that work?

[2017-03-18 18:50] faviouz commented on #442
I'm wondering the same

[2017-03-19 15:33] alengel commented on #333
Hi @brandonmp, thank you for your example! I was able to use it and got my map to only show one InfoWindow at a time now.

I do have the issue you mention about the InfowWindow being exactly on top of the Marker and I'm struggling to figure out how to use the pixelOffset with this library.

<img width="162" alt="screen shot 2017-03-19 at 11 32 22 am" src="https://cloud.githubusercontent.com/assets

[2017-03-20 03:56] Falconerd commented on #386
I have this issue as well, not sure if I'm being dense. I ended up modifying the library to export it, but would like to know if there is some other way of getting access to DrawingManager. I would prefer not to have to modify it on other machines or include the package in my project.

I added this to `lib/index.js`:

[code]

[2017-03-20 10:39] Anahkiasen commented on #448
As far as I know no, it's the opposite, code without a license is considered to be copyrighted by default.

[2017-03-21 15:05] JohnnyRuvac commented on #446
You can close it by changing state of the marker, change property showInfo to false. Have look at this example: https://tomchentw.github.io/react-google-maps/events/closure-listeners

[2017-03-21 15:30] mjvalade commented on #446
Ah, so don't make the InfoWindow in charge of closing itself all the time. Put that on the Map itself to listen when users click the overlay or elsewhere and that triggers the close InfoWindow. Thank you!

[2017-03-21 15:35] #446 closed

[2017-03-22 18:22] jamiesonbates commented on #188
This may or may not be relevant, but if you use Redux, this isn't a problem (in my experience). If you set center and zoom by assigning them values from props and you are changing zoom and center via action --> reducer --> new state, then the map re-renders on every change. The user can still control the map entirely.

[2017-03-22 18:26] jamiesonbates commented on #188
I believe this would also work with normal react state...but have not tried.

[2017-03-22 21:26] scronide commented on #448
- scriptsjs is MIT
- google-maps-infobox-module is Apache v2

[2017-03-22 22:13] oshalygin commented on #442
we definitely need to update the README with this, its fairly critical

[2017-03-22 22:19] oshalygin commented on #266
Hey guys, there are a series of PR's that we can merge in and keep contributing to the project.  @tomchentw any chance you can grant me access?

[2017-03-22 22:21] faviouz commented on #448
google-maps-infobox-module was licensed only after this pull request was made.

Where can you see script.js is MIT?

[2017-03-22 22:23] scronide commented on #448
@faviouz https://github.com/ded/script.js/blob/master/dist/script.js

[2017-03-22 22:30] scronide commented on #448
I should point out that I believe google-maps-infobox is being used, not google-maps-infobox-module. Either way, it's the same core files which have had Apache v2.0 licenses in them for years. Apache is marginally more restrictive than MIT.

[2017-03-24 03:27] oshalygin commented on #410
@ZephD you ever get this resolved?

[2017-03-24 09:55] ZephD commented on #410
Nope.

[2017-03-24 16:22] oshalygin commented on #410
@ZephD I'm having the exact same issue, I tried it 5 different ways and even relaxed the timeout limit.   I can't get at the children of the component which Id really like to test because they contain `<Marker>`'s :(

I'll give it another whirl later in the day and let you know.

[2017-03-24 23:44] payaaam commented on #430
Any update on this? I am getting the same issue.

[2017-03-26 13:47] pebf opened #451 "Why Infobox In my code has error?"
React-google-maps is nice library for my app, but I have trouble with using 'InfoBox'.

[code]

It shows 'Uncaught Error: _registerComponent(...): Target container is not a DOM element' error. and when I remove InfoBox's child, like

[code]

It shows 'Uncaught Error: React.Children.only expected to receive a single React element child.', too. How can I solve this problem?

[2017-03-27 09:54] trag opened #452 "Infowindow - setting positions on top of marker (after clicking marker)"
Is there any possibility to set position of infowindow - in pure google map I can do this:

`infowindow.setPosition(marker.getPosition());`

and infowindow is pointing exact same point as marker - how I can do this in infoWindowComponent ? Thanks for info. Regards

[2017-03-27 18:20] jupiterkenji opened #453 "Passing props to withGoogleMap's defaultCenter"
Hi there, I'm just starting to use react. I can't seem to pass my component props's lat and lng to withGoogleMap's GoogleMap defaultCenter?
The map just show grey color.

[code]

any one experience such thing? or my understanding is not right?

[2017-03-29 07:26] Falconerd opened #454 "How do we access Polygon properties?"
I'm trying to get the paths from a polygon after moving it with the drawing manager. Perhaps I'm going about this the wrong way?

Example:

[code]

I'm going off these docs https://developers.google.com/maps/documentation/javascript/3.exp/reference#Polygon

I can see that there's a `latLng` property with `#lat()` and `#lng()` but that doesn't make sense to me as it's just one pair.

Update:

I've

[2017-03-29 09:05] thejsn commented on #386
You have to import it from the `lib` directory:

`import DrawingManager from 'react-google-maps/lib/drawing/DrawingManager'`

[2017-03-29 21:17] joshbroton commented on #188
I do believe there are good use cases for setZoom, etc. One glaring issue is once you call fitBounds, the map no longer responds to state/prop changes.

I've created a pull request exposing these methods: https://github.com/tomchentw/react-google-maps/pull/455

[2017-03-30 01:35] #454 closed

[2017-03-30 05:32] GayanSandaruwan commented on #144
Can some one give an example of how to add new Marker to the Map.

[2017-03-30 20:24] petertdinh commented on #410
You don't need done to be called with this component, so just get rid of that in beforeEach and it should work.

[2017-03-30 21:01] petertdinh commented on #453
mapLocation isn't a valid prop. Try  `position={location}`

[2017-03-30 21:02] petertdinh opened #456 "Preventing consecutive API calls on re-render."
So right now I have multiple tabs on a page and one of these tabs, Location, houses GoogleMapComponent:

[code]

The problem I'm running into is that GoogleMapComponent is making an API call every time I navigate back into it from another tab. Is there a way to cache the component the first time I navigate into the Location tab, and not have it do consecutive API calls when I go in and out of the

[2017-03-30 22:31] oshalygin commented on #410
@petertdinh care to share a snippet?  I couldn't get it working without the done call.  The script loads asynchronously, how is it that the done call isnt needed?  You mean return?  That does the same thing.

[2017-03-31 08:56] ZephD commented on #410
The done is the most important bit, as it gets called once the map is ready, allowing the tests to continue.
Looking back at this code, it may be possible to increase the timeout, but I doubt that's the issue.

[2017-03-31 16:01] oshalygin commented on #410
Increasing the timeout is a **very big** hack, we shouldn't be doing that, even if it works.  I've tried a few approaches to testing this and the best I can get is reading the props on the component(aka useless).

[2017-03-31 22:34] trag opened #457 "Infobox and enableEventPropagation"
Hello there. I have problem with click events on infobox. I have many markers on the map, when I open infobox it will cover rest of markers (works as expected), I have `enableEventPropagation` set to true - in infobox I have one html layer, with onClick event - when I click this layer and underneath of infobox is some covered markers, than - first I'm getting onclick event on marker, and then I'm

[2017-03-31 22:57] rafath commented on #457
Same goes with overlay infowindow, when there is a marker underneath of infowindow layer - this marker is clickable

[2017-04-01 17:49] stereobooster commented on #266
There are 4 options for React Google maps. I created gist to compare them https://gist.github.com/stereobooster/13a26188d4ad5382bc6da9ffe76ce3e1. None of them actively supported :/.

[2017-04-01 17:58] faviouz commented on #266
@stereobooster Yeah, because of that I ended up using react-leaftlet, which is well documented and fairly active.

[2017-04-02 19:47] barnc commented on #301
Does anyone have a working example of a clusterer with custom overlayviews for each marker? I'm struggling to find anything concrete on this.

[2017-04-03 15:44] Thebigbignooby opened #458 "How to add transit layer to map using react-google-maps ?"

[2017-04-03 17:59] aaronofleonard commented on #445
It is true that Redux does use `forceUpdate`, however it only forces and update on the HOC, the "outer component" that is wrapping the real component. Therefore, even if the outer component that's connected to the state forces an update, it doesn't mean that shouldComponentUpdate (not componentShouldUpdate) gets skipped. Using shouldComponentUpdate will still cause the base component to perform th

[2017-04-03 19:17] jm90m opened #459 "Adding a Legend"
Hello, I am trying to add a legend, I though about using the overlay view but I want something more like the example on here: https://developers.google.com/maps/documentation/javascript/adding-a-legend

Looks like that involves pushing to the current instance of map in`map.controls`? So is there any way to do this? Thanks

[2017-04-03 19:23] jm90m commented on #371
@kstratis Were you able to find a solution to this / workaround? I am trying to add a legend on the map

[2017-04-03 19:26] kstratis commented on #371
@jm90m None I'm afraid...

[2017-04-03 19:30] jm90m commented on #371
@kstratis Oh ok thanks for the reply

[2017-04-04 01:44] nelsonkhan commented on #305
Not sure if this is useful to anyone, but in case someone is looking for the same thing, I found a way to make the map 'fit' whatever container you put it in with a little Javascript hacking.

1.  Use your constructor method on your container to set the center of the map via state
2.  Set a ref on your map in the render method
3. Create a handleDrag() method and pass it to your component as a prop

[2017-04-04 11:32] manishchauhanquovantis opened #460 "How to customize InfoWindow and can we provide custom styling to it?"

[2017-04-07 10:37] feux07 commented on #457
I have also same problem

[2017-04-07 10:58] feux07 commented on #457
I solved this by adding options={{ optimized: false }} to markers props.

[2017-04-07 17:53] davidbarker opened #461 "OverlayViewHelper.js:44 Uncaught TypeError: Failed to execute 'appendChild' on 'Node': parameter 1 is not of type 'Node'"
I'm using OverlayViews instead of markers in order to make them completely custom. Everything was working as expected until I started using setState with a callback.

For example, I'm currently doing the following:

[code]

which leads to the error:

That appears to be referencing:

[code]

This only happens the first time I update the results. I'm using Google Places so I get 20 results initially

[2017-04-07 18:06] davidbarker commented on #461
It's not ideal, but I can avoid the errors if I do the following:

[code]

[2017-04-07 19:19] lauffenp commented on #192
Sorry @hdrdavies for the silence. I did resolve it by removing the zoom control on the googlemap tag. I'm starting a new project now so I will update this repo with additional issues.

[2017-04-07 21:29] lipenco opened #462 "Add button - open in google maps"
Enable to see places (markers) in google map app on web and mobile. Preferably on click on button "Open in Google Maps".

[2017-04-09 10:21] nat-n commented on #272
It seems to me that a good solution might be for withGoogleMap to provide the map object as a prop to its child?

[2017-04-10 09:23] stephen-last opened #463 "Prep for React v16 and removal for deprecation warnings (PropTypes & createClass)"
Are there any plans to prepare for React v16 as per this post: [React v15.5.0](https://facebook.github.io/react/blog/2017/04/07/react-v15.5.0.html) ..?

It means replacing all `React.PropTypes` and using the [prop-types](https://github.com/reactjs/prop-types) package, and repalcing all `React.createClass` using the [create-react-class](https://www.npmjs.com/package/create-react-class) package.

Do

[2017-04-11 15:24] joaocrq commented on #442
Is there any solution or workaround at the moment? Thanks

[2017-04-11 19:55] oshalygin commented on #442
@joaocrq you either include it in your `<head>` like you normally do or you pass
`googleMapURL={googleMapsUrl}`

[code]

[2017-04-12 16:49] joaocrq commented on #442
Thank you very much @oshalygin!

[2017-04-13 00:54] oshalygin commented on #442
@joaocrq anytime, let me know if you need more of a code snippet, sorry my code is very nested and I'd have to show you 3 components deep but I dont mind, lmk.

[2017-04-14 22:43] krypton97 opened #464 "HeatmapLayer throws getMap() error!"
I'm trying to render a HeatmapLayer with react-google-map@v5.0.1 module, but I get the following error:

Uncaught TypeError: Cannot read property 'getMap' of undefined

I added the visualization library, but still got the error. This is how my main.js file looks like..It renders the map, but doesn't add the heatmap-layer. Looking for a fix if somebody managed to get it working, thank you!

	import

[2017-04-15 01:18] Omarsh1 commented on #186
I had so much trouble getting the map to show and none of the answers above worked for me, so I'm posting this solution hoping it would solve y'all hours of playing around!

I think because I'm using a dialog and a map in that dialog I had to do some extra steps:

This is my dialog in HTML `<div id="modal-create" class="modal fade" role="dialog">`

in that I have the map `<div id="map"></div>`

fo

[2017-04-17 12:44] vorlov opened #465 "How to turn of zoom increase/decrease when scrolling over map"
<div />
<GoogleMap>
<div />

if I scroll from top to down and mouse pointer hits map zoom event is called.
how to turn of zooming and just continue scrolling over map

[2017-04-17 12:48] vorlov commented on #465
[code]
that hepled

[2017-04-17 12:48] #465 closed

[2017-04-18 12:59] stephen-last commented on #463
Sure... So long as `React.PropTypes` and `React.createClass` are removed.

It is quite annoying to have these red warnings in my console all the time while in dev:

Other than this issue, this package is really good!

[2017-04-19 08:45] alex-brain opened #466 "use getCenter function and others"
How can I use getCenter?
I try
<GoogleMap
    defaultZoom={14}
    center={{lat: props.mapCenter.lat, lng: props.mapCenter.lng}}
    onCenterChanged={getCenter()}

But I get message getCenter is undefined

[2017-04-19 10:33] ajits731 commented on #413
Its still not working!

[2017-04-19 13:19] matwii opened #467 "Failed to decode downloaded font"
After installing the npm package and creating a component of a Map I am getting this error:
`Failed to decode downloaded font: http://localhost:3000/fonts/roboto/Roboto-Regular.woff2
OTS parsing error: invalid version tag`

Someone know how to fix this?

[2017-04-19 14:17] #467 closed

[2017-04-20 04:18] Larry850806 opened #468 "Map not rendering properly"
There are two tabs in my page. I put google map in one of my tabs and it render properly.

![](http://i.imgur.com/ElSl8gM.png)

After I switch to another tab and switch back, the content inside map is disappeared. Is there any way to solve it?

![](http://i.imgur.com/okww4It.png)

[2017-04-20 06:24] tomchentw commented on #468
Please refer to [Getting Help](https://github.com/tomchentw/react-google-maps#getting-help) section in the README (or #469).

[2017-04-20 06:24] tomchentw commented on #466
Please refer to [Getting Help](https://github.com/tomchentw/react-google-maps#getting-help) section in the README (or #469).

[2017-04-20 06:25] tomchentw commented on #464
Please refer to [Getting Help](https://github.com/tomchentw/react-google-maps#getting-help) section in the README (or #469).

[2017-04-20 06:25] tomchentw commented on #462
Please refer to [Getting Help](https://github.com/tomchentw/react-google-maps#getting-help) section in the README (or #469). Close now

[2017-04-20 06:25] #462 closed

[2017-04-20 06:26] tomchentw commented on #463
Will do.

[2017-04-20 06:26] tomchentw commented on #461
Please refer to [Getting Help](https://github.com/tomchentw/react-google-maps#getting-help) section in the README (or #469).

[2017-04-20 06:26] #461 closed

[2017-04-20 06:26] tomchentw commented on #460
Please refer to [Getting Help](https://github.com/tomchentw/react-google-maps#getting-help) section in the README (or #469).

[2017-04-20 06:26] #460 closed

[2017-04-20 06:26] tomchentw commented on #459
Please refer to [Getting Help](https://github.com/tomchentw/react-google-maps#getting-help) section in the README (or #469).

[2017-04-20 06:26] #459 closed

[2017-04-20 06:27] tomchentw commented on #458
Please refer to [Getting Help](https://github.com/tomchentw/react-google-maps#getting-help) section in the README (or #469).

[2017-04-20 06:27] #458 closed

[2017-04-20 06:27] tomchentw commented on #457
Please refer to [Getting Help](https://github.com/tomchentw/react-google-maps#getting-help) section in the README (or #469).

[2017-04-20 06:27] #457 closed

[2017-04-20 06:29] tomchentw commented on #456
What you can do:

- Help check the implementation of `withScriptjs` and see if there's a bug there.
- Submit a minimal reproducible repository to demo the problem

Thanks

[2017-04-20 06:29] tomchentw commented on #456
Also refer to [Getting Help](https://github.com/tomchentw/react-google-maps#getting-help) section in the README (or #469).

[2017-04-20 06:29] #456 closed

[2017-04-20 06:29] tomchentw commented on #453
Please refer to [Getting Help](https://github.com/tomchentw/react-google-maps#getting-help) section in the README (or #469).

[2017-04-20 06:29] #453 closed

[2017-04-20 06:29] tomchentw commented on #452
Please refer to [Getting Help](https://github.com/tomchentw/react-google-maps#getting-help) section in the README (or #469).

[2017-04-20 06:29] #452 closed

[2017-04-20 06:29] tomchentw commented on #451
Please refer to [Getting Help](https://github.com/tomchentw/react-google-maps#getting-help) section in the README (or #469).

[2017-04-20 06:29] #451 closed

[2017-04-20 06:30] tomchentw commented on #448
Thanks!

[2017-04-20 06:30] #448 closed

[2017-04-20 06:30] tomchentw commented on #447
Please refer to [Getting Help](https://github.com/tomchentw/react-google-maps#getting-help) section in the README (or #469).

[2017-04-20 06:30] #447 closed

[2017-04-20 06:31] tomchentw commented on #445
Please refer to [Getting Help](https://github.com/tomchentw/react-google-maps#getting-help) section in the README (or #469).

[2017-04-20 06:31] #445 closed

[2017-04-20 06:31] tomchentw commented on #444
Please refer to [Getting Help](https://github.com/tomchentw/react-google-maps#getting-help) section in the README (or #469).

[2017-04-20 06:31] #444 closed

[2017-04-20 06:31] tomchentw commented on #442
Please refer to [Getting Help](https://github.com/tomchentw/react-google-maps#getting-help) section in the README (or #469).

[2017-04-20 06:31] #442 closed

[2017-04-20 06:32] tomchentw commented on #440
Please refer to [Getting Help](https://github.com/tomchentw/react-google-maps#getting-help) section in the README (or #469).

[2017-04-20 06:32] #440 closed

[2017-04-20 06:32] tomchentw commented on #439
Thank you!

[2017-04-20 06:33] tomchentw commented on #443
Please refer to [Getting Help](https://github.com/tomchentw/react-google-maps#getting-help) section in the README (or #469).

[2017-04-20 06:33] #443 closed

[2017-04-20 06:33] tomchentw commented on #435
Please refer to [Getting Help](https://github.com/tomchentw/react-google-maps#getting-help) section in the README (or #469).

[2017-04-20 06:33] #435 closed

[2017-04-20 06:33] tomchentw commented on #437
Please refer to [Getting Help](https://github.com/tomchentw/react-google-maps#getting-help) section in the README (or #469).

[2017-04-20 06:33] #437 closed

[2017-04-20 06:33] tomchentw commented on #434
Please refer to [Getting Help](https://github.com/tomchentw/react-google-maps#getting-help) section in the README (or #469).

[2017-04-20 06:33] #434 closed

[2017-04-20 06:33] tomchentw commented on #432
Please refer to [Getting Help](https://github.com/tomchentw/react-google-maps#getting-help) section in the README (or #469).

[2017-04-20 06:33] #432 closed

[2017-04-20 06:33] tomchentw commented on #430
Please refer to [Getting Help](https://github.com/tomchentw/react-google-maps#getting-help) section in the README (or #469).

[2017-04-20 06:33] #430 closed

[2017-04-20 06:34] tomchentw commented on #429
Will do.

[2017-04-20 06:35] tomchentw commented on #426
Are you talking about this one?
https://tomchentw.github.io/react-google-maps/basics/overlay-view

[2017-04-20 06:35] tomchentw commented on #425
Please refer to [Getting Help](https://github.com/tomchentw/react-google-maps#getting-help) section in the README (or #469).

[2017-04-20 06:35] #425 closed

[2017-04-20 06:36] tomchentw commented on #423
Please refer to [Getting Help](https://github.com/tomchentw/react-google-maps#getting-help) section in the README (or #469).

[2017-04-20 06:36] #423 closed

[2017-04-20 06:37] tomchentw commented on #418
This is `react-google-maps` not `google-maps-react`.

[2017-04-20 06:37] tomchentw commented on #418
Please refer to [Getting Help](https://github.com/tomchentw/react-google-maps#getting-help) section in the README (or #469).

[2017-04-20 06:37] #418 closed

[2017-04-20 06:38] tomchentw commented on #410
Don't do this. Use shallow rendering to test the inner component directly.

[2017-04-20 06:38] tomchentw commented on #410
Please refer to [Getting Help](https://github.com/tomchentw/react-google-maps#getting-help) section in the README (or #469).

[2017-04-20 06:38] #410 closed

[2017-04-20 06:38] tomchentw commented on #409
Please refer to [Getting Help](https://github.com/tomchentw/react-google-maps#getting-help) section in the README (or #469).

[2017-04-20 06:38] #409 closed

[2017-04-20 06:38] tomchentw commented on #408
Please refer to [Getting Help](https://github.com/tomchentw/react-google-maps#getting-help) section in the README (or #469).

[2017-04-20 06:38] #408 closed

[2017-04-20 06:39] tomchentw commented on #407
Please refer to [Getting Help](https://github.com/tomchentw/react-google-maps#getting-help) section in the README (or #469).

[2017-04-20 06:39] #407 closed

[2017-04-20 06:39] tomchentw commented on #406
Please refer to [Getting Help](https://github.com/tomchentw/react-google-maps#getting-help) section in the README (or #469).

[2017-04-20 06:39] #406 closed

[2017-04-20 06:40] tomchentw commented on #405
Please refer to [Getting Help](https://github.com/tomchentw/react-google-maps#getting-help) section in the README (or #469).

[2017-04-20 06:40] #405 closed

[2017-04-20 06:40] tomchentw commented on #404
Please refer to [Getting Help](https://github.com/tomchentw/react-google-maps#getting-help) section in the README (or #469).

[2017-04-20 06:40] #404 closed

[2017-04-20 06:40] tomchentw commented on #403
Please refer to [Getting Help](https://github.com/tomchentw/react-google-maps#getting-help) section in the README (or #469).

[2017-04-20 06:40] #403 closed

[2017-04-20 06:40] tomchentw commented on #401
Please refer to [Getting Help](https://github.com/tomchentw/react-google-maps#getting-help) section in the README (or #469).

[2017-04-20 06:40] #401 closed

[2017-04-20 06:40] tomchentw commented on #400
Please refer to [Getting Help](https://github.com/tomchentw/react-google-maps#getting-help) section in the README (or #469).

[2017-04-20 06:40] #400 closed

[2017-04-20 06:40] tomchentw commented on #398
Please refer to [Getting Help](https://github.com/tomchentw/react-google-maps#getting-help) section in the README (or #469).

[2017-04-20 06:40] #398 closed

[2017-04-20 06:41] tomchentw commented on #395
Please refer to [Getting Help](https://github.com/tomchentw/react-google-maps#getting-help) section in the README (or #469).

[2017-04-20 06:41] #395 closed

[2017-04-20 06:41] tomchentw commented on #394
Please refer to [Getting Help](https://github.com/tomchentw/react-google-maps#getting-help) section in the README (or #469).

[2017-04-20 06:41] #394 closed

[2017-04-20 06:41] tomchentw commented on #393
Please refer to [Getting Help](https://github.com/tomchentw/react-google-maps#getting-help) section in the README (or #469).

[2017-04-20 06:41] #393 closed

[2017-04-20 06:41] tomchentw commented on #392
Please refer to [Getting Help](https://github.com/tomchentw/react-google-maps#getting-help) section in the README (or #469).

[2017-04-20 06:41] #392 closed

[2017-04-20 06:41] tomchentw commented on #390
Please refer to [Getting Help](https://github.com/tomchentw/react-google-maps#getting-help) section in the README (or #469).

[2017-04-20 06:41] #390 closed

[2017-04-20 06:42] tomchentw commented on #388
Please refer to [Getting Help](https://github.com/tomchentw/react-google-maps#getting-help) section in the README (or #469).

[2017-04-20 06:42] #388 closed

[2017-04-20 06:42] tomchentw commented on #387
Please use your own branch & repository.

[2017-04-20 06:42] tomchentw commented on #387
Please refer to [Getting Help](https://github.com/tomchentw/react-google-maps#getting-help) section in the README (or #469).

[2017-04-20 06:42] #387 closed

[2017-04-20 06:42] tomchentw commented on #386
Please refer to [Getting Help](https://github.com/tomchentw/react-google-maps#getting-help) section in the README (or #469).

[2017-04-20 06:42] #386 closed

[2017-04-20 06:42] tomchentw commented on #385
Please refer to [Getting Help](https://github.com/tomchentw/react-google-maps#getting-help) section in the README (or #469).

[2017-04-20 06:42] #385 closed

[2017-04-20 06:43] tomchentw commented on #384
Please refer to [Getting Help](https://github.com/tomchentw/react-google-maps#getting-help) section in the README (or #469).

[2017-04-20 06:43] #384 closed

[2017-04-20 06:43] tomchentw commented on #383
Please refer to [Getting Help](https://github.com/tomchentw/react-google-maps#getting-help) section in the README (or #469).

[2017-04-20 06:43] #383 closed

[2017-04-20 06:43] tomchentw commented on #381
Please refer to [Getting Help](https://github.com/tomchentw/react-google-maps#getting-help) section in the README (or #469).

[2017-04-20 06:43] #381 closed

[2017-04-20 06:43] tomchentw commented on #377
Please refer to [Getting Help](https://github.com/tomchentw/react-google-maps#getting-help) section in the README (or #469).

[2017-04-20 06:43] #377 closed

[2017-04-20 06:44] tomchentw commented on #439
Dup of #375

[2017-04-20 06:44] #439 closed

[2017-04-20 06:44] tomchentw commented on #374
https://github.com/tomchentw/react-google-maps/blob/master/CHANGELOG.md#600-2016-10-04

[2017-04-20 06:44] tomchentw commented on #374
Please refer to [Getting Help](https://github.com/tomchentw/react-google-maps#getting-help) section in the README (or #469).

[2017-04-20 06:44] #374 closed

[2017-04-20 06:44] tomchentw commented on #373
Please refer to [Getting Help](https://github.com/tomchentw/react-google-maps#getting-help) section in the README (or #469).

[2017-04-20 06:44] #373 closed

[2017-04-20 06:44] tomchentw commented on #372
Please refer to [Getting Help](https://github.com/tomchentw/react-google-maps#getting-help) section in the README (or #469).

[2017-04-20 06:44] #372 closed

[2017-04-20 06:45] tomchentw commented on #371
Please refer to [Getting Help](https://github.com/tomchentw/react-google-maps#getting-help) section in the README (or #469).

[2017-04-20 06:45] #371 closed

[2017-04-20 06:45] tomchentw commented on #363
Anyone interested?

[2017-04-20 06:45] tomchentw commented on #356
Anyone interested?

[2017-04-20 06:46] tomchentw commented on #337
Please refer to [Getting Help](https://github.com/tomchentw/react-google-maps#getting-help) section in the README (or #469).

[2017-04-20 06:46] #337 closed

[2017-04-20 06:46] tomchentw commented on #316
Please refer to [Getting Help](https://github.com/tomchentw/react-google-maps#getting-help) section in the README (or #469).

[2017-04-20 06:46] #316 closed

[2017-04-20 06:46] tomchentw commented on #298
Please refer to [Getting Help](https://github.com/tomchentw/react-google-maps#getting-help) section in the README (or #469).

[2017-04-20 06:46] #298 closed

[2017-04-20 06:47] tomchentw commented on #296
Please refer to [Getting Help](https://github.com/tomchentw/react-google-maps#getting-help) section in the README (or #469).

[2017-04-20 06:47] #296 closed

[2017-04-20 06:47] tomchentw commented on #328
Please refer to [Getting Help](https://github.com/tomchentw/react-google-maps#getting-help) section in the README (or #469).

[2017-04-20 06:47] #328 closed

[2017-04-20 06:47] tomchentw commented on #282
Anyone interested?

[2017-04-20 06:47] tomchentw commented on #278
Please refer to [Getting Help](https://github.com/tomchentw/react-google-maps#getting-help) section in the README (or #469).

[2017-04-20 06:47] #278 closed

[2017-04-20 06:48] tomchentw commented on #273
Please refer to [Getting Help](https://github.com/tomchentw/react-google-maps#getting-help) section in the README (or #469).

[2017-04-20 06:48] #273 closed

[2017-04-20 06:48] tomchentw commented on #272
Please refer to [Getting Help](https://github.com/tomchentw/react-google-maps#getting-help) section in the README (or #469).

[2017-04-20 06:48] #272 closed

[2017-04-20 06:48] tomchentw commented on #467
Please refer to [Getting Help](https://github.com/tomchentw/react-google-maps#getting-help) section in the README (or #469).

[2017-04-20 06:48] tomchentw commented on #413
Please refer to [Getting Help](https://github.com/tomchentw/react-google-maps#getting-help) section in the README (or #469).

[2017-04-20 06:48] tomchentw commented on #465
Please refer to [Getting Help](https://github.com/tomchentw/react-google-maps#getting-help) section in the README (or #469).