[2017-11-11 20:48] GTOsss opened #698 "e.getMarkers() - how can i get markers with props?"
I have this code:

[code]

If i use e.getMarkers- i get array of objects with markers but they don't have props. How can i get array of markers with props? I want to know ids from  props of marker which contents cluster (when user click on cluster).

[2017-11-12 05:30] SCasarotto commented on #691
Is there any chance this release caused: https://stackoverflow.com/questions/47229253/target-container-is-not-a-dom-element-with-react-google-maps-with-markers-infowi

[2017-11-12 06:17] tomchentw commented on #691
This is weird. Probably

[2017-11-12 06:19] tomchentw commented on #652
You can add to docs with a pull request

[2017-11-12 06:20] tomchentw commented on #522
Not really. Do you define withHandlers?

[2017-11-12 06:20] tomchentw commented on #522
I mean, require

[2017-11-12 22:43] SCasarotto commented on #691
What would be helpful in trying to track this down? I am new to this repo but I could try to build the simplest case if that would be useful. However, if you have a hunch or know what is causing it I can just check back.

[2017-11-13 03:05] tomchentw commented on #691
@SCasarotto could you try one thing for me? For all `<InfoWindow>` used in `render`, could you add unique key to them? I'm wondering if React tries to re-use the instance that breaks.

[2017-11-13 04:08] SCasarotto commented on #691
Just tested and same result in my use case. I added the `keyForWindow` through the props of my  component:

[code]

[2017-11-13 18:54] wayspurrchen commented on #310
@jamesmfriedman Bless you. This was the only way I could get this working properly without interacting with the scary `ref.context.__SECRET_MAP_DO_NOT_USE_OR_YOU_WILL_BE_FIRED` value in `^9.2.2`. The only fix I needed for this version was to remove `src` from the `MAP` import.

[2017-11-14 00:14] CraigglesO opened #700 "How to access the map after creation"
No big deal if you guys are busy. I was wondering if there is a way to expose the `<GoogleMap />` object?

In another google react map module it allows me to access it like this:
[code]

Couldn't find any way in the docs so....

[2017-11-14 02:07] tomchentw commented on #700
Sorry, no. Only react ref:
https://tomchentw.github.io/react-google-maps/#!/SearchBox

[2017-11-14 02:07] #700 closed

[2017-11-14 02:09] tomchentw commented on #698
Yeah, only native `getMarkers()` (returns `google.maps.Marker`, not `react-google-maps/Marker`. Unfortunately.

Feel free to suggest a API change

[2017-11-14 02:09] #698 closed

[2017-11-14 02:10] tomchentw commented on #697
Sorry, please ask on StackOverflow instead. This is not related to this project.

[2017-11-14 02:10] #697 closed

[2017-11-14 07:54] winsandymyint commented on #53
@anusree-mmlab
[code]
Example [here](https://tomchentw.github.io/react-google-maps/#!/InfoBox)
Check fancy map styles [here](https://snazzymaps.com/)

[2017-11-14 13:20] jose56wonton commented on #53
Hey I am not sure if I actually ever got this working, because I know right
now I just have a greyscale filter. But Here is what my component
looks like[image:
Inline image 1]
where styles is [image: Inline image 2]
You can find/ create different mapstyle.json on Google map developer site.

Good luck!

On Tue, Nov 14, 2017 at 1:54 AM, Win Sandy Myint <notifications@github.com>
wrote:

[2017-11-15 07:50] guyiluz opened #701 "drawingControl:false doesn't work"
Im sestting the drawingControl:false  but can sill able to drow
am i missing someting ?

this is my code:
[code]

Thanks

[2017-11-15 11:06] 0x1bitcrack3r commented on #186
Try this out it may help
If you have signed up of an API key on the Google API Console, you need to embed the script as:
## Add the following script tag in index.html
[code]

[2017-11-16 18:45] SuryaAcube commented on #695
Currently,I am facing some issue like : When I open the infobox and at the same time if I receive new results(as props to this component) to update the markers in the google map.
I am getting the following error :
 Uncaught TypeError: Cannot read property 'x' of null
 at InfoBox.module.exports.InfoBox.draw (infobox-module.js?34279f1:491)
 at InfoBox.module.exports.InfoBox.setPosition (infobox-modu

[2017-11-16 18:46] SuryaAcube commented on #695
`import { withScriptjs, withGoogleMap, GoogleMap, Marker } from "react-google-maps"
import { MarkerWithLabel } from "react-google-maps/lib/components/addons/MarkerWithLabel"
import { InfoBox } from "react-google-maps/lib/components/addons/InfoBox"
import { compose, withStateHandlers, withProps, withState, withHandlers, lifecycle ,withPropsOnChange} from "recompose";

const image = {
  url: '../../

[2017-11-16 19:04] SuryaAcube commented on #695
Please find my code in the below pdf attached:
[infobox_issue.pdf](https://github.com/tomchentw/react-google-maps/files/1479840/infobox_issue.pdf)

[2017-11-16 21:36] caioaletroca opened #702 "Misspelling on Markers Props - onDragend instead of "onDragEnd""
I found a misspelling in the docs. In the Markers sessions, where it found the props and methods,
onDragEnd event doesn't work, instead you have to use onDragend. That could happen with other events too...
I know I could fix this by my self but I'm new on contributing on GitHub and I don't know how to do that.
Thanks for the library, it's awesome!!

[2017-11-17 01:06] #702 closed

[2017-11-17 05:09] duleep-noetic commented on #186
the issue is not related to the react-google-map. the container element of the map needs to have an height specified. it will not render anything if height is set to a percentage. so you could either set the containerElement a fix height or the better solution would be wrap the map component inside another div and give it a fix height.so your render looks something like this
`return (
      <div c

[2017-11-17 10:37] MrSaints commented on #696
I have a PR opened for this @tomchentw. If you can have a quick look, that'd be great.

[2017-11-18 07:59] tamal-appsbee commented on #504
How I can implement animation between points
Like this example : http://jsfiddle.net/rcravens/RFHKd/13/

[2017-11-18 11:18] dash1291 commented on #200
Did anyone work on this feature?

[2017-11-19 22:25] wayofthefuture opened #703 "Ability to center Marker Icon"
I've been all through the docs. The Marker component will place a custom icon using the bottom center as the anchor point. The ability to place the icon with the center/center as the anchor point would be nice. From what I've seen this isn't possible. Thanks.

[2017-11-20 07:21] CarlosLanderas commented on #696
I've tested  @MrSaints pull request and it seems to work fine. If you can integrate the PR would be great. Thanks!

[2017-11-21 08:29] tamal-appsbee opened #705 "Marker Moving Animation"
How I can implement animation between points
Like this example : http://jsfiddle.net/rcravens/RFHKd/13/

Thanks

[2017-11-22 01:45] liutongchen commented on #278
Hi @davidjbradshaw ! Thanks for your answer. I have a question with regards to the update of `props.path`.

**What I'm doing:**
I compare `this.props.path` with `nextProps.path` in `shouldComponentUpdate`: if the new path is different from the previous one, `shouldComponentUpdate` will return true, otherwise, it returns false. The following is a code snippet:

<img width="927" alt="screen shot 201

[2017-11-22 06:53] ahgan84 opened #707 "Fitbounds with ref error."
Hi there, how do we do a fitbounds of all the markers in google-map-react? Any example for that?

This is what I done but with error:

`const PGoogleMap = compose(
withProps({
googleMapURL: `https://maps.googleapis.com/maps/api/js?key=${GOOGLE_MAP_API_KEY}&v=3.exp&libraries=geometry,drawing,places`,
loadingElement: <div style={{ height: `100%` }} />,
containerElement: <div style={{ height: `400px`

[2017-11-22 20:08] liutongchen commented on #278
Hi @davidjbradshaw , I find the problem why ONLY the first time `set_at` is called. It's because of the way the `ref` works in react component and also because of the place `getPath()` is called.
React component's `ref` takes a callback function that's executed only after the component is mounted and unmounted, but not when the component is updated. So because `getPath()` is called in this callbac

[2017-11-23 07:54] bossbossk20 commented on #707
@ahgan84
you can use fitBounds()

this is my code it's working

[code]

[2017-11-23 09:05] jkettmann opened #708 "StandaloneSearchBox does not accept wrapped inputs"
[StandaloneSearchBox](https://github.com/tomchentw/react-google-maps/blob/master/src/macros/places/StandaloneSearchBox.jsx#L47) does not create the `google.maps.places.SearchBox` in the same way [SearchBox](https://github.com/tomchentw/react-google-maps/blob/master/src/components/places/SearchBox.jsx#L126) does. As far as I see it `StandaloneSearchBox` accpects the input to be a direct child, `Sea

[2017-11-23 15:06] 0x1bitcrack3r commented on #593
How to handle multiple searchboxes using react-google-maps?
Like FromLocation:Searchbox1
        ToLocation:Searchbox2.

[2017-11-23 23:47] tomachinz commented on #330
I just load it via hard-coding on the html template:
  <script async defer src="https://maps-api-ssl.google.com/maps/api/js?key=ENTERYOURAPIKEY&callback=initMap"></script>

Early on I struggled with content security policy until I used:

const domains = "YOURDOMAINHERE localhost https://*.gstatic.com https://*.googleapis.com https://*.google.com";

BrowserPolicy.content.allowFontOrigin("data:");
B

[2017-11-24 02:57] tomchentw commented on #705
Implement your own `transition` logic with React's state.

[2017-11-24 02:57] #705 closed

[2017-11-24 02:58] tomchentw commented on #708
@jkettmann a PR definitely works! Please open!

[2017-11-24 03:00] tomchentw commented on #703
I'm not sure about that either. Please consult official Google Maps JS API instead.

[2017-11-24 03:00] #703 closed

[2017-11-24 03:01] tomchentw commented on #707
Feel free to re-open.

[2017-11-24 03:01] #707 closed

[2017-11-24 03:08] #696 closed

[2017-11-24 03:11] tomchentw commented on #696
Released [v9.2.3](https://github.com/tomchentw/react-google-maps/releases/tag/v9.2.3)

[2017-11-24 03:15] #363 closed

[2017-11-24 03:29] tomchentw commented on #363
Released [v9.3.0](https://github.com/tomchentw/react-google-maps/releases/tag/v9.3.0)

[2017-11-25 07:02] #708 closed

[2017-11-25 08:06] ahgan84 commented on #707
When I try to declare the ref like the above example, this error occur:
error : Stateless function components cannot have refs

[2017-11-25 12:56] Talmaj commented on #567
I'm trying to do this as well, however it doesn't work. @mazing did it work for you?

[2017-11-25 21:22] tuccle22 opened #711 "InfoBox: TypeError GoogleMapsInfoBox is not a constructor"
Example of issue: https://tomchentw.github.io/react-google-maps/#infobox

Line of error: https://github.com/tomchentw/react-google-maps/blob/master/src/components/addons/InfoBox.jsx#L110

Thanks!

[2017-11-26 03:09] bossbossk20 commented on #707
@ahgan84 you can change stateless to class.

[2017-11-26 06:34] tomchentw commented on #711
Oh wow! This was due to #646 .

[2017-11-26 06:46] #711 closed

[2017-11-26 06:47] tomchentw commented on #711
Released [v9.4.1](https://github.com/tomchentw/react-google-maps/releases/tag/v9.4.1)

[2017-11-26 21:08] ahgan84 commented on #707
@bossbossk20  How? Where should I change?

[2017-11-26 21:21] ahgan84 commented on #707
@bossbossk20 To be precise, below is my code:

`const PGoogleMap = compose(
  withProps({
    googleMapURL: `https://maps.googleapis.com/maps/api/js?key=${GOOGLE_MAP_API_KEY}&v=3.exp&libraries=geometry,drawing,places`,
    loadingElement: <div style={{ height: `100%` }} />,
    containerElement: <div style={{ height: `400px` }} />,
    mapElement: <div style={{ height: `100%` }} />
  }),
  withSta

[2017-11-26 22:25] ahgan84 opened #713 "Fitbounds with lifecycle errors."
Hi guys, in relation to issue #707 , I have try another method which us using the lifecycle but still have errors. Below is my code:

[code]

Now the fitbounds function is working fine. The problem is, when I goes other pages, the map keep mounting on the bottom of the  other page which does not contain the map and giving error msg `refs.map is null`. Anyone knows what's wrong?

[2017-11-27 02:43] tomchentw commented on #707
It's because React:

https://reactjs.org/docs/refs-and-the-dom.html#adding-a-ref-to-a-dom-element

[2017-11-27 02:44] tomchentw commented on #713
It's because React:

https://reactjs.org/docs/refs-and-the-dom.html#adding-a-ref-to-a-dom-element

[2017-11-27 02:44] #713 closed

[2017-11-27 03:04] ahgan84 commented on #707
@tomchentw which is the better way to use ref? this way or the #713 way?

[2017-11-27 03:06] ahgan84 commented on #713
@tomchentw  Then how do we solve the problem? How do we prevent it to mount the map on the bottom of every page?

[2017-11-27 04:20] tomchentw commented on #713
[code]

[2017-11-27 17:22] SCasarotto commented on #691
Came back to say. I updated to  9.4.1 and everything seems to be working as expected. Huge thanks!!

[2017-11-28 01:32] tomchentw commented on #691
Seems to be fixed by #699?

[2017-11-28 01:35] SCasarotto commented on #691
Yep. By v9.2.3

[2017-11-28 01:37] tomchentw commented on #691
Awesome

[2017-11-28 03:23] antonioduarte commented on #186
Just to complement, I was having an issue with Safari not rendering the map (It was working fine in Chrome). I had a `min-height: 850px` in the outer div. I then changed it to `height: 850px` and worked.

Later on, I wanted to make it proportional to the screen size and changed to `height: 100%`, but it didn't work on Safari again (good on Chrome though).

Finally, I changed to `height: 100vh`, an

[2017-11-28 10:00] amangeot opened #716 "InfoWindow attached to marker automatically pans / centers the map by default"
Hello,
I don't think this is an issue but it took me a while to figure out where it came from so I'll share:

Make sure to use `defaultOptions={{ disableAutoPan: true }}` or something similar to prevent InfoWindow from moving the map's center.

Reference: https://developers.google.com/maps/documentation/javascript/3.exp/reference#InfoWindowOptions

[2017-11-28 12:22] honzajerabek commented on #716
Thanks for sharing, I've just started my research on this and this totally fixed it!

[2017-11-29 23:02] owap commented on #482
Taking @foloinfo's advice, I implemented the following class in my project that eliminates the errors. Hopefully this will help somebody else, too!

[code]

[2017-12-01 19:08] nileshgulia1 opened #717 "rendering search box throws error"
##### when rendering standalone search box throws this error:
<code>./src/components/SideBar.js
Module not found: Can't resolve 'react-google-maps/lib/components/places/StandaloneSearchBox' </code>

##### my code is as mentioned in the docs: Please help!!

[code]

[2017-12-02 08:40] ahgan84 opened #718 "Map is empty when I want to print."
Hi guys, I'm using react google maps to show the google maps in my website. When displaying website, the map will show up. But when I want to print on paper, the map won't show up. It is empty... When I use print preview, the map is empty also. Anybody can tell me what's wrong?

[2017-12-02 10:42] Ctaque opened #719 "MapWithAMarker fails to rerender when marker position changes"
I took the MapWithAMarker example :

[code]

and I use it like this:

[code]

I use React router in my application.

Observed behaviour :
When i render the page for the first time, the map renders correctly.
If i click on a link to rerender the page with a different marker position, the map fails to load and just renders a empty grey rectangle with only "press ctrl plus scroll to zoom" when i scro

[2017-12-02 12:17] Ctaque commented on #719
I solved this by changing the defaultCenter by center:
  <GoogleMap
        center={{ lat: props.lat, lng: props.lng }}>
        <Marker position={{ lat: props.lat, lng: props.lng }}/>
    </GoogleMap>

[2017-12-02 12:17] #719 closed

[2017-12-04 14:18] techboy-zero opened #721 "Property "optimized" is not working on Marker component"
Using **react-google-maps**  version 4.11.0.

I am trying get a specific marker rendered as image and also apply z-index on it. But somehow it is not happening.

- Property Object:
[code]

- Marker:
[code]

The marker is getting rendered on map without any error. But not as an individual image.

Please, let me know if it is possible and also the proper way to do it. Any kind of workaround is appre

[2017-12-04 22:07] quachsimon commented on #489
I'm on `v9.4.1` and am also receiving this error.
I'm doing something like so where I have a div inside the OverlayView
        <OverlayView
          key={index}
          mapPaneName={OverlayView.OVERLAY_MOUSE_TARGET}
          getPixelPositionOffset={getPixelPositionOffset}
          ...

          <div>
            Some content here
          </div>
        </OverlayView>

[2017-12-05 20:54] ping4tucker commented on #717
Does is help importing it without the curly braces?
import StandaloneSearchBox from "react-google-maps/lib/components/places/StandaloneSearchBox";

That's what it shows directly below the StandAloneSearchBox section here: https://tomchentw.github.io/react-google-maps/#standalonesearchbox

[2017-12-06 01:50] tomchentw commented on #717
@nileshgulia1 what's your version?

[2017-12-06 01:50] tomchentw commented on #718
Please search `Google Maps JavaScript API v3` for some related answers.

[2017-12-06 01:50] #718 closed

[2017-12-06 01:52] tomchentw commented on #721
Maybe you need an upgrade of `react-google-maps`. But the latest `Marker` doesn't have the property of `optimized` as well:
https://tomchentw.github.io/react-google-maps/#!/Marker

[2017-12-06 01:54] tomchentw commented on #701
It should be `defaultOptions. drawingControl = false`, not under `drawingControlOptions`.
https://tomchentw.github.io/react-google-maps/#!/DrawingManager
https://developers.google.com/maps/documentation/javascript/3.exp/reference#DrawingManagerOptions

[2017-12-06 01:54] #701 closed

[2017-12-06 01:54] tomchentw commented on #716
Thanks! Would you kindly add a PR that document this issue on the props?

[2017-12-06 03:26] techboy-zero commented on #721
Thanks for your response. But right now I cannot upgrade to latest version. Will have problem with current import paths used in project. Also, if ```Marker``` does not have that property, upgrading won't help me anyway. But can you tell me any workaround? I need to put a marker which will be rendered as image so that I can apply z-index and stop other elements to cover it.

[2017-12-06 03:55] tomchentw commented on #721
Sorry, I don't know if there's a workaround. Please ask about on Stack Overflow or Gitter.

[2017-12-06 11:12] marcofugaro opened #722 "Please publish the eslint fix"
I am having an issue with our eslint config, this package is preventing our repo from working.

It was fixed in commit bab1481e42e2d877cd17e949cff6a52691543ed8 but it wasn't published on npm.

Please publish it

[2017-12-06 11:24] tomchentw commented on #722
Released [v9.4.2](https://github.com/tomchentw/react-google-maps/releases/tag/v9.4.2)

[2017-12-06 11:24] #722 closed

[2017-12-06 13:13] nileshgulia1 commented on #717
thanks @ping4tucker  and @tomchentw  the issue have been solved after removing the ```{}``` from import statement

[2017-12-06 13:13] #717 closed

[2017-12-06 13:52] oluckyman commented on #310
If inside `<MapControl>` you use `<Link>` or i18n or theme or any other `context` based component it will not work. To fix it replace `render` to `unstable_renderSubtreeIntoContainer` in the snipped above (and add `this` as first argument):
[code]

[2017-12-06 22:21] daniellobrunello opened #723 "Marker: onPositionChanged does not provide event"
The onPositionChanged event does not provide the triggered event.
See [StackOverflow](https://stackoverflow.com/questions/47673588/onpositionchanged-handler-of-gmaps-marker-scope-issue)

[code]

[2017-12-07 02:19] tomchentw commented on #310
Could any one of you submit a PR? LOL

[2017-12-07 02:21] tomchentw commented on #723
Yes, no args from vanilla.

<img width="903" alt="screen shot 2017-12-07 at 10 20 58 am" src="https://user-images.githubusercontent.com/922234/33695438-59b2c950-db38-11e7-9c6c-d467074b383f.png">

https://developers.google.com/maps/documentation/javascript/3.exp/reference#Marker

You may use `ref` with public methods to get the location.

[2017-12-07 02:21] #723 closed

[2017-12-07 12:39] ashtonsix commented on #310
@tomchentw - have you considered creating a PR yourself?

[2017-12-07 17:11] quachsimon commented on #310
Is @jamesmfriedman way the go to way of adding custom controls at the moment? I tried to look for a custom controls but could not find it in the docs

[2017-12-07 17:40] jamesmfriedman commented on #310
@quachsimon you have to have google maps added via a script tag, or explicitly import it

[2017-12-07 18:16] quachsimon commented on #310
How would I explicitly import it in the file?

[2017-12-07 18:32] quachsimon opened #724 "Cannot add components to container element?"
I am attempting to add a custom button component inside the containerElement. However it is not rendered when I add it as a child.

[code]

I can add the component in the inspector and it seems to work fine:

![screenshot 2017-12-07 13 27 10](https://user-images.githubusercontent.com/20729321/33732035-0ec0eaa6-db53-11e7-8881-0bd2831dd5c7.png)

Am I doing this correctly or is there another way of a

[2017-12-07 19:08] jamesmfriedman commented on #310
@quachsimon http://bfy.tw/FRuX ;)

[2017-12-07 23:46] yougotashovel commented on #305
also looking for a way to do this, could there be an example added to the docs?

[2017-12-08 14:41] btoueg commented on #721
@techboy-zero here is how you should do it:

[code]

[2017-12-09 07:47] tomchentw commented on #721
Thanks!

[2017-12-09 07:47] #721 closed

[2017-12-09 17:28] vhuytdt commented on #719
i get postion from ref's marker but undified..and value too..

[2017-12-09 17:48] vhuytdt commented on #723
a use ref and call get Postion. but null value :(
![image](https://user-images.githubusercontent.com/18238875/33797996-c519fdf0-dd43-11e7-9046-81484d34dac0.png)

[2017-12-10 06:42] tomchentw commented on #723
It's a function. Call it `.lat()`

[2017-12-10 06:43] tomchentw commented on #719
It's a function. Call it `.lat()`

[2017-12-10 07:02] techboy-zero commented on #721
Thanks a lot! Now it works as expected.

[2017-12-11 19:14] Maushundb commented on #240
+1 here as well

[2017-12-11 20:04] Maushundb commented on #240
Ok folks, have a workaround here for anyone in need, and happens to be using Redux. Ideally one would submit a PR to actually fix this (+1 for maintainers), but a bandaid for now:

The issue here is that the marker / infowindow / whatever child component needs to rerender without triggering a render on the parent map component. In my case, I want to change the icon of a marker anytime a user hover

[2017-12-11 20:16] daniellobrunello commented on #723
For everybody whos looking for [a solution](https://stackoverflow.com/questions/47673588/onpositionchanged-handler-of-gmaps-marker-scope-issue/47673751#47673751).

[2017-12-12 03:01] tomchentw commented on #723
Thanks @daniellobrunello ! Would you mind open a PR containing the demo code for this feature?

[2017-12-13 11:26] Tayapanic opened #726 "can not add more elements to polyline"
I am trying to see a polyline for a moving marker/car. But only the first two locations are shown in the polyline. Here's the code
[code]
in array of locations all the locations are present,but Polyline is not updated after 2 locations.The rendering part is working properly as log shows me "array of locations" with updated array each time

[2017-12-13 23:07] vTrip commented on #641
I am getting `fitBounds is not a function` error. Any thoughts? Accessing via `this.refs.refsName.fitBounds()`

[2017-12-15 00:16] huwr commented on #687
Hate to have to ask this, but is there a workaround in the mean time? Suffering a similar issue.

[2017-12-15 01:05] tomchentw commented on #687
PRs welcomed. Help me please

[2017-12-15 06:24] zuntilZ opened #728 "Error: Unexpected character '​' when import marker clusterer"
close

[2017-12-15 08:04] #728 closed

[2017-12-15 09:29] chreble commented on #638
Needed it in one of my projects, the below works great for me.
https://github.com/tomchentw/react-google-maps/pull/725

[2017-12-15 11:43] graphee-gabriel opened #729 "Change center and zoom after calling fitBounds"
Hi

I'm trying to zoom in on the marker i select, and un-zoom on deselect.
After loading all the markers i use fitBounds on the map ref to show all the markers.
I use this.state.center and this.state.zoom to change the zoom.
After using fitBounds I can't change the zoom nor the center.
If I remove fitBounds zoom and center props works well.

Is there a way to get both working :-) ?

[2017-12-15 12:27] asonni opened #730 "Keep marker centered and move map around it"
How do I keep the marker centered of the map, while dragging the map around the marker? Like how **Uber** does it, when a user is trying to choose a location. Any ideas?

[2017-12-17 15:12] techboy-zero opened #731 "Show markers on top of marker clusterers"
I have a single marker which I want to get rendered on top of everything. Setting z-index did not help me as I learned marker clusterers and markers get rendered in different layers. This is the current situation:

![capture](https://user-images.githubusercontent.com/10588086/34080778-7823904e-e36d-11e7-8c9c-5df3c87cc0a5.PNG)

As you see the person marker is covered by the clusterers.
I found this

[2017-12-17 22:25] jtruzzi commented on #305
I did it this way, hope it helps.

[code]
and in componentDidUpdate
[code]

[2017-12-18 10:09] Wildhoney commented on #305
Thanks @jtruzzi &ndash; although I put it all in the `render` method.

[code]

[2017-12-18 11:30] Wildhoney commented on #698
You'll have to map the `google.maps.Marker` to `react-google-maps/Marker` manually.

[code]

Where `coordinates` is the full list of markers for the map, with some extra data that you need. You can then create the `filter` method which finds the `coordinates` based on what `getMarkers` yields:

[code]

Where `filtered` is now a filtered list of `coordinates` with the additional data that was used

[2017-12-18 12:13] Wildhoney commented on #172
I had this issue when using `fitBounds` using `refs` on the `<GoogleMap />` component. It's fine if I wrap `fitBounds` in Ramda's `once` so that we only fit to bounds once &mdash; which does it make sense. After that it's perfectly fine.

[code]

[2017-12-18 14:08] neilyoung opened #732 "Question: Can a marker be moved?"
Somehow like so?

[code]

[2017-12-18 17:09] neilyoung commented on #732
Disregard. Found it.

[2017-12-18 17:09] #732 closed

[2017-12-18 19:41] neilyoung opened #733 "Map not always centered"
I'm having a little issue with Chrome Version 63.0.3239.84 on Mac OSX High Sierra.

This code does not center the map at the specified position in 7 of 10 attempts:

[code]

Instead, the center point is on the right outer side of the map.

The problem is not existent in Firefox and Safari on the same machine

Furthermore I'm catching a couple of warnings, also just in Chrome:

[code]

[2017-12-18 19:49] neilyoung commented on #733
OK, I have experimented a bit with the `div` settings and the problem is gone

[code]

[2017-12-18 19:49] #733 closed

[2017-12-18 20:40] neilyoung commented on #730
@asonni You need to alter the `center` prop of your map whenever the position changes

[code]

[2017-12-19 00:45] DonnyVerduijn commented on #698
You should assign an id to a marker instance, by passing in an object to the options prop. These properties will be available through the marker instances when using **getMarkers()**. Note that while you can pass any key with any value you like, i would advise against doing this.

[code]

[2017-12-19 08:12] Wildhoney commented on #698
Thanks @DonnyVerduijn &ndash; that's useful.

[2017-12-19 09:53] udbhav3000 commented on #732
@neilyoung can you let us know how to do this?

[2017-12-19 13:59] neilyoung commented on #732
@udbhav3000 Sure. First I was trying to update the Marker component as shown above. That doesn't work. My current solution is to render the entire component on every update. Performance is OK, even I get several tens of updates per second

My component:

[code]
The rendered element:

[code]

[2017-12-19 23:15] neilyoung commented on #703
@wayofthefuture In case you haven't found it yet: This works:

[code]

[2017-12-20 05:22] udbhav3000 commented on #732
@neilyoung thanks

[2017-12-20 07:12] palakt4f commented on #693
hi @tomchentw
How can I use [getZoom()](https://stackoverflow.com/a/6385750/7762250) with defaultZoom. and set dynamic value place of a static number.

[2017-12-22 21:16] neilyoung opened #734 "Problems with dynamic rendering of Ground Overlay"
This is my map component:

[code]

It is rendered timer based like so:

[code]

Whereas **marker**, **center** and **zoom** are following the props on dynamic change, unfortunately the **Groundoverlay** does not. It is just drawn once with the very first props.

Here is a trace of the initial render props:

PositioningComponent:  {"zoom":2,"center":{"lat":0,"lng":0},"href":null,"north":0,"south":0

[2017-12-22 21:40] neilyoung commented on #734
Disregard. Solved by conditional rendering

[2017-12-25 20:40] asonni commented on #730
@neilyoung Thanks for the idea

I found this function in GoogleMap prop onBoundsChanged
`const onBoundsChanged = () => {
     this.setState({
        bounds: refs.map.getBounds(),
        center: refs.map.getCenter()
      });
   }`

And then I changed Marker position props
`<Marker
      position={this.state.center}
  />`

[2017-12-25 21:42] neilyoung commented on #730
@asonni Ah, ok. You come from the other side, you change bounds or pan the map and you want to keep you maker always centered. In that scenario your solution works better. In my case I'm moving the marker and keep the map centered around. However, I guess, both solutions could coexist.

[2017-12-26 13:41] FGCorp opened #735 "Rendering Google Maps link"
i want to show a location by sending the map direct link come from browser.
example link:https://www.google.com.tr/maps/place/Maimonides+Medical+Center/@40.6383801,-74.0084432,14z/data=!4m13!1m7!3m6!1s0x89c24fa5d33f083b:0xc80b8f06e177fe62!2sNew+York,+Birle%C5%9Fik+Devletler!3b1!8m2!3d40.7127753!4d-74.0059728!3m4!1s0x89c25accc457649b:0x319d12e89a244ab9!8m2!3d40.6391953!4d-73.9984131?hl=tr
but i don

[2017-12-28 22:54] CodyPatrick103 commented on #186
For the issue that @zkdzegede mentioned with the map not working unless the window was resized, adjusting the styling did not work for me. I was able to correct the issue by assigning the mapComponent in the componentDidMount() function instead of where I was originally assigning it. I guess the issue is that the map was loaded before the component was fully loaded. Hope this can help someone else

[2017-12-29 10:47] erikhuisman commented on #730
I just overlay the map with a div and and icon positioned at the center.

[2017-12-29 10:51] erikhuisman commented on #731
I have the same problem too, it is anoying the cluster icons don't wont respect the z-indexes giving to non cluster icons. I will report if i find a solution.

That link you found is not the solution you are looking for. It is an old solution for z-indexes in css. Google maps uese the same name for the same concept but is not the same thing.

[2017-12-30 08:06] siddushar opened #736 "Show users current location on map"
Is there way to indicate user current location using blue dot icon.

[2017-12-30 08:28] daybreaker commented on #604
markerwithlabel's labelAnchor for me has the label at point(0,0) going to the top left of the map. Not being bound relative to the marker.

[2018-01-01 08:05] Ayke commented on #726
I am going through the same thing. If you let Polyline start with 3 points, the Polyline in display will always stick with 3 points even if you add more points to the path. I don't know if I made this right, but I've searching through every single possible resources.

For anyone interested in reproducing it, try add "MarkerLayer" in a google map, and set the map center to (29.7604,-95.3698) (Houst

[2018-01-01 17:59] techboy-zero commented on #731
@erikhuisman Thanks for the response. Actually the technique in the given link worked for me. The process was:

- Assign a large value as z-index for the markers.
- Using css grab the element using that specific z-index.
- Make opacity to 1.0

However, I guess most may agree with me that this is not a neat process. Kind of a workaround. So if there is a way to do it using library or something that

[2018-01-02 00:09] nwaywood commented on #707
@ahgan84 the #713 way. This way is the deprecated way

[2018-01-02 15:41] GazzaHazza opened #737 "Typings peerDependencies"
More of a question about why the typings packages are a peer dependency?

Does this not bloat other peoples `package.json` if they dont use typings?

[2018-01-02 15:54] alexrussell commented on #736
Nothing built in that I know of, but I imagine you can very easily add it as a marker with a custom icon. But you would have to implement the stuff that tracks the user's location in order to update the location of the marker (see [MDN](https://developer.mozilla.org/en-US/docs/Web/API/Geolocation/watchPosition) for some docs on that).

[2018-01-03 01:27] chrfrasco opened #738 "[typescript] OverlayView doesn't have all props declared in type definition file"
Not sure if this is the correct way to specify the problem that I'm having, but I am getting several type errors with this code (copy pasted from the docs):

[code]

- `[ts] Property 'position' does not exist on type 'IntrinsicAttributes & IntrinsicClassAttributes<OverlayView> & Readonly<{ children?: ReactNode; }>...'.`
- `[ts] Property 'OVERLAY_MOUSE_TARGET' does not exist on type 'typeof Overlay

[2018-01-03 09:29] subharb opened #739 "Module build failed: provided an invalid property of "__wrapped__""
I've been following the instructions on how to get react-google-maps working and I always get this error after launching my webpack server:

If I shut the server and do a
`npm install --save react-google-maps`

And start it again, it works OK, If I stop the server and start it again I get the same error. Anyone else gettin this error?

Thanks.

[2018-01-04 14:25] tomchentw commented on #739
Please provide reproduce steps with a minimal working repository

[2018-01-04 14:26] tomchentw commented on #736
GitHub issue tracker is NOT designed for **how to** questions

[2018-01-04 14:26] #736 closed

[2018-01-04 14:29] tomchentw commented on #737
From @mxl in https://github.com/tomchentw/react-google-maps/pull/646

[2018-01-04 14:30] tomchentw commented on #735
GitHub issue tracker is NOT designed for **how to** questions

[2018-01-04 14:30] #735 closed

[2018-01-04 14:31] tomchentw commented on #738
Please just fix the definition files of TypeScript. PRs are welcomed.

[2018-01-04 14:33] tomchentw commented on #734
You need to use controlled props (ex. `<GroundOverlay url={url} />`) instead of default ones.

[2018-01-04 14:33] #734 closed

[2018-01-04 14:36] tomchentw commented on #731
Should be the underlying problem of `MarkerClustererPlus`. https://github.com/mikesaidani/marker-clusterer-plus

[2018-01-04 14:36] #731 closed

[2018-01-04 14:36] tomchentw commented on #730
GitHub issue tracker is NOT designed for **how to** questions

[2018-01-04 14:36] #730 closed

[2018-01-04 14:38] neilyoung commented on #734
Tried that. Didn't work. Somehow I got a trace or debug info, that GroundOverlay is immutable, once instantiated.

[2018-01-04 14:38] tomchentw commented on #729
Not sure, my best guess is you need to hook `onZoomChange` and `onCenterChange` to catch changes made by `fitBounds`.
Bad thing for imperative APIs.

[2018-01-04 14:38] #729 closed

[2018-01-04 14:40] tomchentw commented on #726
It's the way you using React state is wrong.
https://developers.google.com/maps/documentation/javascript/examples/polyline-simple

[2018-01-04 14:40] #726 closed

[2018-01-04 14:41] tomchentw commented on #724
Didn't work this way, sorry

[2018-01-04 14:41] #724 closed

[2018-01-04 14:44] GazzaHazza commented on #737
Thanks for reply. I think from JS developer perspective move the definitions to a separate package would be better, as then JS developers will get the bare minimum to work.

Just my two cents..

[2018-01-04 14:59] tomchentw commented on #695
@SuryaAcube your jsfiddle didn't work. Please make a runnable demo with this:
https://codesandbox.io/s/2xyw6n4o9y

[2018-01-04 15:11] tomchentw commented on #734
Yeah, recalled it now. Read the warning in #671

[2018-01-04 15:29] andreoman opened #741 "How to insert InfoWindow inside MarkerWithLabel for last react-google-maps version ?"
How to insert InfoWindow inside MarkerWithLabel for react-google-maps@9.4.3 ?
In previous versions I used next code and it worked perfect:
[code]
![default](https://user-images.githubusercontent.com/2317579/34570418-687fcca6-f174-11e7-8c6f-081dbc8af74b.png)

Should I use following ?
[code]
![default](https://user-images.githubusercontent.com/2317579/34570485-9a3f9ffa-f174-11e7-89e4-c6f1bc379556.pn

[2018-01-04 17:26] israellev commented on #363
If you has an error like - Cannot find namespace 'google' or  Cannot find name 'Calculator':
pay attention that in library in node_modules/react-google-maps/package.json it's a peerDependencies that you relay need:
`npm i --save @types/googlemaps`
`npm i --save @types/markerclustererplus`

and it's spouse to work.

[2018-01-04 21:31] Ripza commented on #739
Hello. I have the same error.

I just use yarn add react-google-maps and complete the Step 1 of the documentation.

I used parcel for app bundler.

The error is:

/node_modules/react-google-maps/lib/index.js: Plugin 0 specified in "/node_modules/react-google-maps/package.json" provided an invalid property of "__wrappe    at Plugin.init (/node_modules/babel-core/lib/transformation/plugin.js:131:13)

[2018-01-04 22:09] ejswenson15 commented on #628
Hey how did you pass origin and destination to the directions renderer?

[2018-01-04 22:21] mxl commented on #737
Replying to https://github.com/tomchentw/react-google-maps/pull/646#issuecomment-355295720:
@tomchentw The only disadvantage is that these definitions will be installed even if developer does not use TypeScript. I'm not sure that I understood the part about outdated dependencies.

With a current way of keeping definitions and library code in the same package I'm sure that soon we will have situati

[2018-01-05 01:19] #738 closed

[2018-01-05 01:23] tomchentw commented on #739
Hmm it seems parcel is trying to load babel to compile `react-google-maps`? Not a good idea…

[2018-01-05 01:25] tomchentw commented on #741
`MarkerWithLabel` !== `Marker`

[2018-01-05 01:25] #741 closed

[2018-01-05 01:26] tomchentw commented on #628
using props……

[2018-01-05 01:29] tomchentw commented on #738
Released [v9.4.5](https://github.com/tomchentw/react-google-maps/releases/tag/v9.4.5)

[2018-01-05 07:01] subharb commented on #739
Here's my complete log:

Module build failed: Error: Plugin 0 specified in "/Users/david/Sites/jantoDocker/phalcon/public/node_modules/react-google-maps/package.json" provided an invalid property of "__wrapped__"
    at Plugin.init (/Users/david/Sites/jantoDocker/phalcon/public/node_modules/babel-core/lib/transformation/plugin.js:131:13)
    at Function.normalisePlugin (/Users/david/Sites/jantoDoc

[2018-01-05 08:27] tomchentw commented on #739
Please provide a minimal working repository

[2018-01-05 10:05] subharb commented on #739
[Here you go](https://github.com/subharb/TestingReact-googlemaps)

[2018-01-05 10:20] subharb commented on #739
Also I realised that I first have to uninstall react-google-maps component, then install it and restart webpack. Only executing the install command is not enough.

[2018-01-05 12:59] tomchentw commented on #739
@subharb you need to add `exclude: /node_modules/` to your webpack config

[code]
Proof

<img width="1132" alt="screen shot 2018-01-05 at 8 59 38 pm" src="https://user-images.githubusercontent.com/922234/34610276-649366f6-f25b-11e7-9ae7-fdf4f4d10a4d.png">

[2018-01-05 13:00] #739 closed

[2018-01-05 20:12] zaruda opened #743 "Please, provide guide for map events"
https://monosnap.com/file/5FtXRPH28YIOZt6xbYZhtgjsCjHzdF
Stackoverflow full of such examples, but seems its doesnt work

[2018-01-06 19:03] ttson24 opened #744 "GoogleMapHolder.js:53 Uncaught TypeError: Cannot read property 'object' of undefined"
i use this code.
[code]
when i run project, i have to error:
`GoogleMapHolder.js:53 Uncaught TypeError: Cannot read property 'object' of undefined`

[2018-01-08 19:40] #743 closed, assigned to nobody

[2018-01-08 19:41] amandapouget opened #745 "Google is undefined"
When running the example shown here (copy/paste):

![image](https://user-images.githubusercontent.com/12855692/34688864-8b26efd6-f481-11e7-95fb-c523fbe48dda.png)

The following error is displayed:
![image](https://user-images.githubusercontent.com/12855692/34688881-946c05cc-f481-11e7-8292-3f6365e90f86.png)

It's unclear in the documentation how to make it... "wait to render???".... the DrawingMana

[2018-01-08 19:42] zaruda opened #746 "Bug with zoom on Firefox"
Right click on the map fires zoom out.

[2018-01-08 21:34] san85 opened #747 "Unknown plugin "transform-runtime" specified in react-google-maps/package.json"
Hi All,
I am getting this below error in my project. Can somebody help me to resolve this.

ERROR in ./~/react-google-maps/lib/components/addons/InfoBox.jsModule build failed: ReferenceError: Unknown plugin "transform-runtime" specified in "node_modules/react-google-maps/package.json"

Regards
Muthu

[2018-01-09 15:40] johnanisere commented on #434
`const google=window.google` solves this problem.You see this because reactjs use a linting rule that forbids unknown global variables.

[2018-01-10 02:23] tuccle22 commented on #745
I think the google object is attached to the window, so try using window.google.maps....

[2018-01-10 12:46] andreoman commented on #741
So, could you help how to display marker with label with capability to display  InfoWindow above marker icon ? Is it possible ?

[2018-01-10 13:06] andreoman opened #748 "How to display marker with label with capability to display InfoWindow above marker icon"
So, could you help how to display marker with label with capability to display InfoWindow above marker icon ? Is it possible ?
![image](https://user-images.githubusercontent.com/2317579/34774368-bea65e72-f617-11e7-8ff2-08895da24335.png)

[2018-01-10 17:26] afholderman commented on #363
Has anyone been able to get this to work that can share an example? Using examples from the documentation I'm still met with TS errors.

[2018-01-10 18:26] mxl commented on #363
@afholderman What errors do you have?

[2018-01-10 18:35] grbspltt commented on #748
The [documentation](https://tomchentw.github.io/react-google-maps/#infowindow) is a good place to start.  Also, use stackoverflow to ask 'how-to' questions, as explained in the [readme](https://github.com/tomchentw/react-google-maps#getting-help).

[2018-01-10 19:05] andreoman commented on #748
this question is related with question https://github.com/tomchentw/react-google-maps/issues/741, which shouhd not be marked  as closed in my opinion.

[2018-01-10 19:16] afholderman commented on #363
Given this component (imports left out to keep it shorter):

`export const MyGoogleMap = compose(
  withProps({
    googleMapURL: 'https://maps.googleapis.com/maps/api/js?key=[removed]&v=3.exp&libraries=geometry,drawing,places',
    loadingElement: <div style={{ height: `100%` }} />,
    containerElement: <div style={{ height: `400px` }} />,
    mapElement: <div style={{ height: `100%` }} />,
  })

[2018-01-10 19:20] afholderman commented on #363
@mxl

Given this component (imports left out to keep it shorter):

[code]

Typescript throwing the error: `TS2339: Property 'center' does not exist on type '{ children?: ReactNode; }'.`
Even though center is a documented prop on the GoogleMap component. I tested this same component in a non-Typescript create-react-app and it works as expected.

[2018-01-10 19:24] mxl commented on #363
@afholderman I think that this error is about `props` that you pass to closure that returns `GoogleMap` element, not about `GoogleMap` props.

[2018-01-11 10:39] sarovin opened #749 "Can i disable places in maps?"
Hi,
i have this component:

[code]
Maps Component:

[code]

And i have added this on my Head:
[code]

It's work fine but i don't want see the places in maps...how can i disable the places?
If i remove places libraries from the script, i have this error => `Invariant Violation: Did you include "libraries=places" in the URL?`

[2018-01-11 22:34] shanimal commented on #484
Setting the zoom property in `GoogleMap` component (as suggested by @MathieuCh) does not seem to change the zoom at all. I can see it calling render with the correct new zoom value, but the map doesn't change.

    "react-google-maps": "^9.4.5",

[2018-01-12 10:04] dineshsdm commented on #414
Excellent!

[2018-01-12 17:29] Hemant-yadav commented on #748
@andreoman would you please read the file.
https://github.com/tomchentw/react-google-maps/blob/ed764c6dec9cc50f1b524f9ba32933adb62839a8/src/macros/InfoWindow.jsx
Specially line no 134 and then tell why the issue shouldn't be closed.

[2018-01-14 15:28] schrockwell commented on #744
I have run into a similar issue – it raises when defining the prop types. For example, in `GoogleMaps.js`:

[code]

This is on React v16.0.0, where `prop-types` has been extracted to a separate library, so I assume that's why it's failing.

[2018-01-14 15:40] schrockwell commented on #744
@ttson24 Turns out I was running an old version (v6.0.3) of `react-google-maps`. Make sure you update to the latest version (v9.4.5 currently)

[2018-01-15 01:27] iamdavidmartin commented on #258
Has this issue cropped back up again with react router v4? All my Links work without causing a page reload except for the ones inside the InfoBox. For me replicating the issue is as simple as a Link inside an InfoBox, clicking it, and the link is followed like a traditional anchor tag.

Perhaps a Link will never work in the InfoBox due to the event propagation?

I created a stack-overflow about th

[2018-01-15 12:19] pladaria opened #750 "react-google-maps@9.4.5" has unmet peer dependency"
I'm getting warnings from yarn when using this library:
[code]
I guess those dependencies shouldn't be `peerDependencies` (they are already listed in `devDependencies`, which is fine)

I would suggest to remove `@types` deps from `peerDependencies` (or move to `optionalDependencies`).

[2018-01-15 14:10] pladaria commented on #750
I see there's already an open discussion in #737

[2018-01-15 14:11] #750 closed, assigned to nobody

[2018-01-15 14:14] pladaria commented on #737
Instead of peerDependencies, typings should be devDependencies, [optionalDependencies](https://docs.npmjs.com/files/package.json#optionaldependencies) (or simply removed)

[2018-01-15 21:54] bharney commented on #363
In addition to installing the type definitions for `@types/googlemaps @types/markerclustererplus` I also needed to add them to my configuration to resolve errors related to: 'Cannot find name 'Calculator'.  or 'Cannot find module 'google'.
I added the following to my `tsconfig.json`
[code]
And it works now!

[2018-01-16 13:58] Neha1490 opened #751 "Markers not displaying on cluster click in case of same latitude and longitude"
I am using Marker cluster inside the map. In case of same latitude and longitude, the cluster is formed but it is not breaking into markers on click or zoom in. In case of different locations (i.e. nearby locations with slightly different lat long) marker is displaying on cluster click or on zoom in.

My code is -
<GoogleMap
        ref={this.handleMapLoad}
        defaultZoom={zoom}
        defau

[2018-01-16 19:14] atrauzzi commented on #363
You shouldn't have to do that, the types should auto-discover once in the `node_modules` folder.  Any chance you can show the rest of your `tsconfig.json`?

[2018-01-16 23:58] rafaelgrilli92 commented on #500
Any workaround @tomchentw? That will be the answer "No"? It sounded very rude mate.

The library is amazing and I developed the whole thing with it, and now I just need to restrict the autocomplete to Australia and I can't. Not even a suggestion. What should I do? Get rid of everything?

[2018-01-17 00:04] rafaelgrilli92 commented on #500
Any workaround @tomchentw?

[2018-01-17 02:02] rafaelgrilli92 commented on #500
I kinda made it work. I added a normal input with an ID inside the Map component (but you can place it wherever you want), but I'm not using the SearchBox component anymore.

[code]

And the input component:

[code]

[2018-01-17 10:21] GitHug commented on #749
Hi Sarovin.

You can solve this by styling your map. What I do is that I create a mapStyles.json file that includes the style. If you would like to remove all labels and icons for example, then you could add this in the json file

[code]

To use the style you can import your json and add it to the map options
[code]

You can check more options for styling your map here https://developers.google.co

[2018-01-17 10:27] sarovin commented on #749
Thanks @GitHug

[2018-01-17 10:27] #749 closed, assigned to nobody

[2018-01-17 15:21] el27egs commented on #531
Hi.

I checked the code but the option gesturehandling is not working for me, I saw the page:

https://developers.google.com/maps/documentation/javascript/interaction#gesture-handling

and I made the test scrolling the page with two fingers on my laptop and I can see a message indicating the use of ctrl key to zoom the map when the pointer is over it, but and I can't see the same message with <Map

[2018-01-17 16:01] gabrielmicko commented on #531
If I push that change it will probably break other features that I don't use. Sorry.

[2018-01-18 17:14] johnanisere opened #752 "how to correctly load the google maps API using only the script tag instead of using withProps()/props"
How do i correctly load the google maps lib in react-google-maps using

`<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC4R6AN7SmujjPUIGKdyao2Kqitzr1kiRg&v=3.exp&libraries=geometry,drawing,places"></script>`

Instead of `withProps({googleMapURL: "google maps library"})` or passing googleMapURL: "google maps library" as props to the component.

I need this bec

[2018-01-18 18:43] johnanisere commented on #752
Removing `withScriptjs` and adding the script like so
`<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC4R6AN7SmujjPUIGKdyao2Kqitzr1kiRg&v=3.exp&libraries=geometry,drawing,places"></script> `
solved the problem for me

[2018-01-18 18:43] #752 closed, assigned to nobody

[2018-01-19 04:09] spaceforestchu opened #753 "React Google Map InfoWindow showing all the info when I click on a single Mark"
Hi all,

I am having an issue with making the InfoWindow shows up for the Mark I click on.
The expect behavior is when I click on the mark it will only shows information about that mark in the InfoWindow.

 However, What I am getting now is that when I click on a marker all the marker shows up. And when I tried to close it rerender the app.

Any Idea how to fix this?

      class VenuesMap extends

[2018-01-19 05:50] spaceforestchu commented on #547
Hey Tom,

Can you explain what do you mean render under to open it and render nothing to close it?

Thanks

[2018-01-20 19:26] spaceforestchu commented on #753
I fixed. I replaced with Marker and InfoWindow to its component.

import React, {Component} from 'react';
import { Marker, InfoWindow } from "react-google-maps";

class InfoWindowMap extends Component {

	constructor(props){
		super(props);

		this.state = {
			isOpen: false
		}

	}

	handleToggleOpen = () => {

		this.setState({
			isOpen: true
		});
	}

	handleToggleClose = () => {
		this.setSta

[2018-01-20 19:26] #753 closed, assigned to nobody

[2018-01-21 06:36] shrimpy opened #754 "Missing typing for "Calculator", "ClusterIconStyle" and "Cluster""
See below screenshot for the latest package from NPM, seems like we are missing some typing interface. The compiler complains cannot find those type.

If anyone can point me to the description of those data type. I can submit a PR to fix the error.

![image](https://user-images.githubusercontent.com/79823/35191528-14580ed4-fe32-11e7-9fe8-16f72e0f44a1.png)

[2018-01-22 04:30] tuccle22 commented on #751
The problem that you're having isn't particular to this library, as I've seen it in a project not using react-google-maps.  One possible solution is to increase the `minimumClusterSize` prop's value to greater than two.  Of course, this could be a problem if you have 3 markers on the exact same (or very similar) coordinates, but this isn't an issue with this library.

[2018-01-22 09:50] GazzaHazza commented on #737
Anny news on this at all?

[2018-01-22 10:02] Neha1490 commented on #751
@tuccle22
Thanks for your reply.
I have solved this problem.I was not using the maxZoom property,that's why I was facing the problem.

[2018-01-22 10:02] #751 closed, assigned to nobody

[2018-01-22 15:54] StefanoPastore commented on #687
@tomchentw can i make a PR with your solution:
[code]

[2018-01-22 19:29] erfoon commented on #278
Hi,
I don't know if this exact problem was answered or not but I also have problem with updating Polygon while user clicks on map.
I add the location to an array which is passed to Polygon. Like this:

`<Map
onClick={(event) => {this.props.updatePaths({ lat: event.latLng.lat(), lng: event.latLng.lng() }); }}>
<Polygon path={this.props.paths}/>
</Map>`

The props updates properly but Polygon doesn'

[2018-01-23 11:15] erfoon commented on #703
@wayofthefuture Perfect! Through all docs I searched your help was survivor <3

[2018-01-23 14:03] VinceBT commented on #636
For anyone reading this in the future, please NEVER put functions in the state like @JarLowrey did, this is not a good practice. The state is for keeping internal data relative to the rendering of your component and nothing else

PS: As shown in the code, the ref can be ```null``` at the ```componentDidMount``` phase but it's because that the ```<GoogleMapsWrapper />``` loses the hand over the lif

[2018-01-24 10:00] AntoniusGolly commented on #324
Would you mind giving a short hint how to use it in the react lifecycle callbacks? I'm struggling with the basics here, I think, and would highly appreciate help. Thanks for the good work!

[2018-01-24 10:50] slivniy commented on #324
@AntoniusGolly You can find Geocode object in `window.google.maps`
so for getting results from Geocode you need something like this:
[code]

[2018-01-24 11:49] AntoniusGolly commented on #324
@slivniy Thanks for the reply.

This works (supposingly) only if I had the google maps library sourced manually with `<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY></script>`. But  I would like to avoid putting a script tag in my document.

Alternatively, if use a stateless functional component (SFC) I can actually use `new google.maps.Geocoder()` within withScriptJs(withGoogle

[2018-01-24 12:20] slivniy commented on #324
@AntoniusGolly why use SFC?

How about that example:

[code]

[2018-01-24 12:26] AntoniusGolly commented on #324
Thanks for clarification. I use your suggestion. You helped a lot!

[2018-01-24 16:53] AntoniusGolly commented on #324
Hmm, still doesn't work without sourcing google maps api manually. The error remains "Cannot read property 'maps' of undefined. Do you suggest to put the `<script>` tag in the document?

[2018-01-24 18:29] TAQ2 commented on #622
@ControlAdad were you able to find a solution to this? I am having the same issue :)

[2018-01-24 19:48] slivniy commented on #324
@AntoniusGolly
Sorry, didn't checked before comment... Really, in the moment of `ComponentDidMount` Google library isn't loaded.

I'm using Geocoder not right after component mounted, but on user click on some input - and in that time usually `window.google` already exist.

If you need it really in `componentDidMount` code can be next:

[code]

That's checked :)
Don't forget to change `API_KEY` an

[2018-01-25 09:13] AntoniusGolly commented on #324
Thank you, @slivniy !

[2018-01-25 11:46] liuchamp opened #756 "GoogleMap can not give out the events.Take, for instance,onClick,onMouseMove."
En,I use GoogleMap, but onClick and onMouseMove of props can not work.
![image](https://user-images.githubusercontent.com/25866957/35386735-11a48544-0208-11e8-907c-5dd7058655b5.png)
![image](https://user-images.githubusercontent.com/25866957/35386788-3f6dbc5c-0208-11e8-8e40-31eb95014a97.png)
this is nothing sent.

[2018-01-25 14:04] israellev commented on #301
I seem that if this link don't work:
`import { default as MarkerClusterer } from "react-google-maps/lib/addons/MarkerClusterer";`

better you try this:
`import { default as MarkerClusterer } from "react-google-maps/lib/components/addons/MarkerClusterer";`

[2018-01-25 17:00] JarLowrey commented on #636
@VinceBT I [copy/pasted from the code in the documentation](https://tomchentw.github.io/react-google-maps/). If this is poor design, which I can understand, perhaps the react-google-maps docs should be updated?

[2018-01-25 18:39] VinceBT commented on #636
Always take some steps back with React since it is a growing framework, there are some ideologies that have grown around it, some are good, some are bad, it's your job to not spread bad practices. Every time I see your code I notice a new one and I update my post to include it.

Could you indicate the precises blocks with the bad practices I mentionned that you copied ? If there are, it would be a

[2018-01-25 19:51] hrashid commented on #753
Hi @spaceforestchu - is this the complete code for the fix?  I tried to replicate your fix but couldn't seem to do it.  Is there a separate component for GoogleMap?  If so, can you post your entire fix?

Thanks for posting the solution!

[2018-01-25 21:33] JarLowrey commented on #636
Map with a SearchBox, Standalone SearchBox has a function in the state that sets state.

Map with a MarkerClusterer calls setState in componentWillMount.

Standalone SearchBox and Map with a SearchBox use refs in componentWillMount.

[2018-01-25 22:11] VinceBT commented on #636
Well that's a pretty bad doc then.
I wouldn't believe any piece of code/documentation that's written by the same guy that makes a library that need ```recompose``` for obscure reasons, my two cents. Take the good practices from the React documentation and nowhere else.

[2018-01-26 03:01] #756 closed, assigned to nobody

[2018-01-26 04:44] DaddyWarbucks commented on #748
I think I can answer this more directly and then the issue can be closed. Perhaps this is an issue with the documentation, as explained in a moment.

You can render an `InfoWindow` as a child of a `Marker`, because a `Marker` accepts `InfoWindow` as a child type. The `InfoWindow` then has its `position` prop "implicitly" set, making for a nice component structure where we just wrap the `InfoWindow

[2018-01-26 06:18] alex-min commented on #754
You need to install ```@types/markerclustererplus``` to fix that issue, maybe it should be added as a dependency to this package?

[2018-01-26 14:34] lako90 commented on #254
Someone resolved the infoBox over other markers issue?

[2018-01-26 18:08] xinhash opened #757 "Cluster and Marker disappears when markers are very close to each other"
I stumbled upon this issue and then I tried implementing the code described [here](https://github.com/googlemaps/js-marker-clusterer/issues/86). Moreover I am facing this issue only in satellite mode.
I tried following things but wasn't able to resolve
``if (markerClusterer.getMap().getZoom() === markerClusterer.getMap().maxZoom) { return; }`` and
[code]
I went through the [library](https://github

[2018-01-27 04:02] a-v-ebrahimi commented on #622
No, I didn't

[2018-01-30 13:21] MINZHE-XU commented on #490
<GoogleMap
    defaultExtraMapTypes={[
      ['custom_style', new google.maps.StyledMapType([
            {
              elementType: 'labels',
              stylers: [{visibility: 'off'}]
            }
          ], {
            name: 'Custom Style'
        })]
    ]}
    defaultMapTypeId={'custom_style'}

</GoogleMap>

[2018-01-30 13:39] ZephD opened #760 "Google is being included twice with only one instance of withScriptjs"
withScriptjs is loading the google script **twice**, despite only including it in my script **once**.
The URL for both is _exactly the same_, which withScriptjs should avoid anyway.

Using v9.4.5

[2018-01-30 16:17] ZephD commented on #760
My bad.
Included both `<script src="bundle.js" />` and a render to a `<div id="root" />`, effectively rendering my whole app twice.
So sorry.

[2018-01-30 16:17] #760 closed, assigned to nobody

[2018-01-31 03:20] liuchamp opened #761 "Polygon's paths can not change"
this is my code :
 <Polygon
            ref={(c) => { this.polygonForAddArea = c; }}
            key="polygon-add-area"
            editable={this.computeDisplayForPolygon()}
            paths={this.state.pointOfPolygon}
            onClick={this.handlePolygonClick}
          />)
but when  this.state.pointOfPolygon  changed ,Polygon's  paths not changed.this.state.pointOfPolygon.length =5 ,but thi

[2018-02-01 08:19] laukaichung commented on #363
Anyone using Webstorm? I'm getting a warning about `Cannot find parent 'tsconfig.json'` from /.../node_modules/@ types/googlemaps/index.d.ts

[2018-02-01 08:26] AAllport commented on #363
I'm on Webstorm, what steps did you take to reproduce

On 1 Feb 2018 08:20, "stonecold123" <notifications@github.com> wrote:

[2018-02-01 08:39] laukaichung commented on #363
@AAllport
I installed the type file with `npm i --save @types/googlemaps`
I think the problem comes from the `exclude` settings in tsconfig.json
[code]
The warning disappears after "node_modules" is removed.

[2018-02-01 09:48] adarshks commented on #298
@tbtommyb can you please tell me how you managed to call the fitbounds only once after markers were created?? I used the fitbounds method in the onTilesLoaded so it will be calling all the time when i try to zoom.

[2018-02-01 11:03] AAllport commented on #363
are you using webpack or any bundler?

On 1 February 2018 at 08:39, stonecold123 <notifications@github.com> wrote:

[2018-02-01 16:52] sarovin opened #762 "Add a submit button to StandaloneSearchBox"
Hi,
can i add a button to StandaloneSearchBox?

Like this:
[code]

![schermata 2018-02-01 alle 17 51 45](https://user-images.githubusercontent.com/5980398/35691384-a540989a-0778-11e8-9108-d8c37b1dcd3a.png)

[2018-02-02 00:32] techsolutionlab commented on #151
Hello, onOverlaycomplete is not working.

[2018-02-02 00:33] techsolutionlab commented on #151
Could you please let me know about it?

[2018-02-02 20:15] lczhao opened #763 "feature request: withGoogleMap should use children's defaultProps"
Hey,

So when I was integrating with this repo, I found it sometime very annoying to have to specify `containerElement` and `mapElement` each time.
For example, I have this:

[code]
Then when later if I have to use `MyFancyMap`, every time I have to specify container element and map element.
There is one way of fixing it though, using this
[code]

However, I found this syntax very annoying... Sinc

[2018-02-03 12:14] rodolfopeixoto commented on #705
Tomchentw, Can you help me? I would like to know, how can I get the <Marker component and a setPosition () in the component. Getting from setPosition I believe I can implement the transition, just like the example above.

[2018-02-05 21:12] Talmaj opened #764 "backgroundColor in GoogleMap options not working"
backgroundColor set in options or defaultOptions in GoogleMap does not work as described [here](https://developers.google.com/maps/documentation/javascript/reference#MapOptions).

The following snippet is not working correctly:
[code]
One solution I found is if the defaultOptions are initialized in `handleComponentMount` method in `withGoogleMap.jsx`, directly when initializing `new google.maps.Ma

[2018-02-06 23:37] reggieofarrell commented on #186
I was having this problem and after much frustration, I figured out that the coordinates I was testing it with had the lat and lng flipped.  Guess I was sending it unmappable coordinates.  Just another possible solution to throw into the mix here.  You can see what was rendering for me below with the bad coordinates...

<img width="567" alt="screen shot 2018-02-06 at 5 09 39 pm" src="https://user-

[2018-02-07 09:41] alex-brain opened #767 "How to remove label from cluster"
How can I remove label from cluster? I don't want to show number of internal markers

[2018-02-08 02:46] spaceforestchu commented on #753
@hrashid sorry I just saw this.
I made an info window component.
    <Marker key={this.props.index} position={{
	          lat: this.props.lat,
	          lng: this.props.lng
	        }} label={this.props.index.toString()}
					onClick={() => this.handleClicks(this.props.venueID)}

	        {
	          this.state.isOpen &&

						<InfoWindow onCloseClick={() => this.setState({isOpen: false})}>

[2018-02-10 13:16] mj-sam opened #769 "Location picker"
Hi
I want know how to get geo-location (latitude , longtitude ) by clicking on map component ? so I put markers in that location after that
thank you so much

[2018-02-12 06:14] dlape opened #770 "SearchBox dropdown not showing up."
I just follow all the instruction stated in the SearchBox example, yeah it works fine but the dropdown didn't show up.
      And I can't figure out where did I go wrong.

[2018-02-14 05:55] rakesh-tr opened #771 "Multiple Marker at the same place shown as cluster and not able to view the marker details.There can be some option like info window for marker cluster also"
## Getting Help

**Before doing this, did you**:

1. Read the [documentation](https://tomchentw.github.io/react-google-maps)
2. Read the [source code](https://github.com/tomchentw/react-google-maps)

_You can get someone's help in three ways_:

1. Ask on StackOverflow [with a google-maps tag](https://stackoverflow.com/questions/tagged/google-maps?sort=votes&pageSize=50) or [use react-google-maps a

[2018-02-14 10:31] erfoon opened #772 "Check Polygons intersect"
I'm using Polygons in my project and it works really fine. But now I need to check whether two polygons have any area in common (overlapping) or not. Do you have any idea for that?

Thanks

[2018-02-14 10:37] vgrem commented on #305
The example demonstrates how to center viewport for the given markers:

[code]

[**Demo**](https://stackblitz.com/edit/react-tu3kz7)

[2018-02-14 21:48] danactive commented on #737
I agree with @pladaria the type peer dependencies are bloating the app and slowing down CI builds

[2018-02-14 21:53] danactive commented on #737
My workaround is to pin this modules to version 9.2.1, before the peerDependency included typings and after React 16!

[2018-02-14 23:28] mobitinker commented on #349
I think it's not clear to me (and others?) where to put this line, with my api key.

      <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=MY_API_KEY&callback=initMap">
      </script>

[2018-02-15 09:21] ryosuke-kubota opened #773 "don't use OverlayView"
There was no problem until a while ago, but recent errors like this have come up.

`app.js:1 TypeError: Cannot read property 'parentNode' of undefined`

Is there a solution?

[2018-02-15 11:20] arunrajnov3 commented on #414
I am getting the error google is not defined for following code:

[code]

[2018-02-15 13:03] ZephD commented on #414
your `labelAnchor={new google.maps.Point(0, 0)}` is causing the issue. At this point, google may not be defined.
use a point literal `labelAnchor={{x:0,y:0}}`
https://developers.google.com/maps/documentation/javascript/reference#Point

[2018-02-15 14:43] appako opened #774 "MarkerWithLabel do not work, cannot read property 'removeChild' of null"
A few days ago [MarkerWithLabel](https://tomchentw.github.io/react-google-maps/#markerwithlabel) stopped working
Before that everything worked fine
In the browser, I noticed an error ...

[code]

[2018-02-15 20:44] ScriptArtist opened #775 "Update MarkerWithLabel extension to 1.1.10"
Right now you are using MarkerWithLabel 1.1.9 version which has performance issues and works extremely slow with big count of labels.

Google has 1.1.10 with solved performance issues:
https://github.com/googlemaps/v3-utility-library/blob/master/markerwithlabel/src/markerwithlabel.js

[2018-02-15 23:20] topgiter opened #776 "Circle component stopped working"
A few days ago `Circle` stopped working, before that everything worked fine.

![image](https://user-images.githubusercontent.com/14260820/36286090-044728a8-12a6-11e8-8987-ab2a31006c17.png)
![image](https://user-images.githubusercontent.com/14260820/36286145-4d305634-12a6-11e8-935b-d84957e56280.png)

[2018-02-16 06:11] 0x1bitcrack3r opened #777 "lag - google maps no smooth dragging"
## Dragging map is not smooth

I have been developing the application using react-google-maps from past 3 months. I didn't face this type of issue before i.e in the month of January.
**Issue:** There is a lag while dragging the map and it's too hard to drag the map when compare to google maps. FYI there are only 2 markers on the map.
Here is my code:

`
import React from 'react'
import { Actions }

[2018-02-16 09:06] mntnv commented on #773
Same issue

[2018-02-16 09:20] mntnv commented on #773
@ryosuke-kubota Solved by changing version from "v=3.exp" to "v=3.26" in googleMapURL.

[2018-02-16 09:39] ryosuke-kubota commented on #773
@muntyanv
Thanks!!
I'll give it a try.

[2018-02-16 10:15] 0x1bitcrack3r commented on #777
Resolved the issue:
with lodash.debounce

 onBoundsChanged: debounce(
          () => {
            this.setState({
              bounds: refs.map.getBounds(),
              center: refs.map.getCenter()
            })
            let { onBoundsChange } = this.props
            if (onBoundsChange) {
              onBoundsChange(refs.map)
            }
          },
          100,
          { maxWait

[2018-02-16 16:40] ivandevp commented on #200
Is there any solution to this use case?

[2018-02-16 17:03] NonMint commented on #774
I've also seen this behavior as well, I managed to trace down the issue to MarkerClusterer I think. This code works:

`{markers!.map((marker: MapTypes.MapMarker, index: number) => (
    <MapMarker history={history} marker={marker} key={index} />
))}`

But this code doesn't work:

`{markers && (
    <MarkerClusterer averageCenter={true} enableRetinaIcons={true} gridSize={60}>
        {markers.map((

[2018-02-17 10:26] 0x1bitcrack3r commented on #777
implementation of debounce effecting the setState() in production.

[2018-02-17 16:07] p opened #778 "Documentation site does not render on Pale Moon"
Pale Moon 27.7.1

https://tomchentw.github.io/react-google-maps/#introduction renders a blank page with the following text in the console:

SyntaxError: class is a reserved identifier

Maybe using ES6 syntax should be avoided for documentation site.

[2018-02-18 09:51] kelfy commented on #774
Same here. Definitely something to do with MarkerClusterer

[2018-02-20 15:00] ivgrin opened #781 "Unable to get google's map object"
Here is my component:

[code]

In onDragEnd function I want to get google's map object.
Here I found an example how to do that: https://github.com/tomchentw/react-google-maps/issues/161
(I mean using context)
But `_this.context[MAP]` is always undefined for me.

Please provide any workable example or just tell me what is wrong with mine.

- "react": "^15.4.0"
- "react-google-maps": "^9.4.5"

[2018-02-21 04:36] sri-gowda opened #782 "infowindows position as draggable markers position"
this is the code i copied from MapWithASearchBox  example of react-google-maps, here i want to set the draggable markers position as formatted address of markers position, i am getting the formatted address on drag of marker now what i need is to show it in the markers infowindow.
can anyone please help me. i wasted one complete day but still not get it how to do it.

[code]

[2018-02-21 07:23] kamil-mrzyglod opened #783 "Uncaught ReferenceError: google is not defined"
Hi!

PROBLEM: `react-google-maps` throws an exception when initialized with no internet access.
SYMPTOMS: When I don't have access to internet, following exception is being thrown when trying to access page, which uses `react-google-maps`:

[code]
The exception is thrown here:
[code]

REPRO:

Component used:
[code]

Calling the component:
[code]

Please note, that I'm able to reproduce this error

[2018-02-21 07:37] sairarif commented on #500
@rafaelgrilli92  can you send me github link of your code

[2018-02-21 07:42] rafaelgrilli92 commented on #500
@sairarif it's a company project, so it's private. What do you want to know exactly? I can try to help you.

[2018-02-21 10:14] sairarif commented on #500
I want to apply filter on google map on my data

like i want to filter region wise resellers and agents using filters

________________________________
From: Rafael Grilli <notifications@github.com>
Sent: Wednesday, February 21, 2018 12:42 PM
To: tomchentw/react-google-maps
Cc: sairarif; Mention
Subject: Re: [tomchentw/react-google-maps] SearchBox: filter countries (#500)

@sairarif<https://github

[2018-02-21 11:08] dipunm opened #784 "OverlayView (possibly other objects) need to have null checks in the onRemove method."
see: https://jsfiddle.net/71z1uqao/ with the console window open for context.

After upgrading to React 16, error handling became very aggressive, now errors in OverlayView causes the map to disappear. (this is not shown in the above fiddle)

We discovered that if you call this.setMap(map), the execution of onAdd will be queued, but if you call this.setMap(null), onRemove will be called immediatel

[2018-02-21 13:02] sairarif commented on #500
@rafaelgrilli92 if (this.map) { is not recongize in my .js file .Also my map should focus on specific address

[2018-02-21 23:25] rafaelgrilli92 commented on #500
@sairarif do you have your code in any public repo? Can I have a look at it?

By the way, "this.map" is just a reference to the actual GoogleMaps component. Add this as a prop:
[code]

[2018-02-22 03:13] sairarif commented on #500
thank you

________________________________
From: Rafael Grilli <notifications@github.com>
Sent: Thursday, February 22, 2018 4:25 AM
To: tomchentw/react-google-maps
Cc: sairarif; Mention
Subject: Re: [tomchentw/react-google-maps] SearchBox: filter countries (#500)

@sairarif<https://github.com/sairarif> do you have your code in any public repo? Can I have a look at it?

By the way, "this.map" is j

[2018-02-22 03:49] liuchamp opened #786 "how to reset DrawingManager."
When I DrawingManager, onXXXComplete events emit，I want to reset DrawingManager.But can not find method to do.

[2018-02-22 03:57] sairarif commented on #500
no i dont have a code in public repo.

import React from "react";
import {
  GoogleMap,
  Marker,
  withGoogleMap,
  withScriptjs,
  InfoWindow
} from "react-google-maps";
import MyMarker from './MyMarker';
//const exampleMapStyles = require(`./fancyMapStyles.json`);

 class MapComponent extends React.Component {
  mapStyles = [];

 constructor(props) {

  super(props);
 }

  mapCenter = {
  lat:

[2018-02-22 04:01] sairarif commented on #500
@rafaelgrilli92  above is my map class in reactjs. Currently filter text box only shows map place with autocomplete and does not filter according to my markers this.props.markers.
I want to filtered markers according to my input on searchtextbox. Like if i want to find speicific region Reseller marker or Agent Marker. How can i achieve this functionality. Hopefully you got my points. please sugges

[2018-02-22 09:36] egormiron commented on #776
I have the same problem, could someone explain where is a problem?

[2018-02-23 04:54] marwan38 commented on #781
[code]

I've been trying to figure out how to update the _current_ center coords, this is what worked for me.

[2018-02-23 06:34] ivgrin commented on #781
Yes, this works for me too, big thanks!!)

[2018-02-23 06:34] #781 closed, assigned to nobody

[2018-02-24 05:38] tuccle22 commented on #777
the onBoundsChanged prop is called too often is likely the problem.  You should be using the onIdle prop, which gets called when the map is settled.  With onIdle you shouldn't need any debouncing function.

[2018-02-24 10:04] jojo-tutor commented on #445
@aaronofleonard , This does not resolve the issue. What if I have list of Map Markers that are dependent on the global state/redux ? I want to update my Map but re-rendering the Map has this 'flicker' side-effect. How to solve this issue ?

[2018-02-24 14:34] GuillaumeJasmin commented on #776
There are some issues since few days with Google map API. Try to change the API version to `v=3.26` .

See also this: https://github.com/tomchentw/react-google-maps/issues/773

[2018-02-24 14:42] GuillaumeJasmin commented on #773
It seem that there are different issues with Google Map API, and `v=3.26` fixed many problems. Thanks @muntyanv

[2018-02-24 21:30] born-curious commented on #786
[code]

[2018-02-26 05:18] felquis commented on #783
What would be the desirable behaviour when the client isn't connected to the internet?

[2018-02-26 07:04] ArtyomResh opened #787 "Center value changes on its own on different zoom value"
Hi! :)

I ran into strange behavior with center and zoom props (I also tried defaultZoom and defaultCenter props). Here is the code of render function of my component:

[code]

I pass `profileGeoCoordinates` from store and when `zoom` value < 2 it's rendering with correct center:
![zoom < 2](http://s.csssr.ru/U31J879TR/20180226010138_.png)

but when `zoom` value > 2 `center` value changes on it's

[2018-02-26 07:06] joont92 commented on #753
I have same problem and I solved like following..

[code]

(this code is not exact. cause I quickly typed it in this editor)
this way is <InfoWindow>isn't in <Marker>.

It works good. I recommend this way.

[2018-02-26 10:03] kamil-mrzyglod commented on #783
@felquis I don't think, that breaking the whole app because you couldn't download Google Maps is the right thing to do. I'd rather emit a warning and fail silently.

Personally I find it a minor flaw, but still a bit surprising one, especially that it prevents me from developing an app locally when no internet connection is available.

[2018-02-26 15:14] KerenChandran opened #788 "Standalone Search Box pre-populate location"
Is there a way to pre-populate the standalone search box with a location? Currently trying to use the component in a form and I don't see a clear way to pre-populate the location. Was the component not designed to handle an initial value?

[2018-02-26 20:35] erango commented on #787
We're facing the same issue here! Turns out it's by design, and you can turn it off. I scanned through past issues and found this -- resolved the issue for us: #716

[2018-02-27 00:45] joont92 opened #789 "optimize marking with react-google-maps"
I'm currently develop GoogleMap page with ``react-google-maps``.
My code like following

    class GoogleMapBox extends React.Component{
    	state = {
    		center : this.props.center,
    		places : []
    	}

    	mapMounted = ((ref) => {
    	    this.map = ref;
    	})

    	getPlaces = (() => {
    	    const center = this.map.getCenter();

    		if(this.map.getZoom() >= 15){
    			const bo

[2018-02-27 14:46] #789 closed, assigned to nobody

[2018-03-01 05:01] andychongyz opened #790 "Dragging problem on the map with SearchBox"
Hi guys,
I'm facing the problem where dragging is not working properly. Basically, when I try to drag the map, it moves a little, then it stops. I'm not sure what is happening. And I found out that the search box example is having the same problem, [https://tomchentw.github.io/react-google-maps/#searchbox](url)

The website I work on: [https://postco.com.my/](url)

[2018-03-01 05:13] andychongyz commented on #790
Solution found here: https://github.com/tomchentw/react-google-maps/issues/777

[2018-03-01 05:13] andychong1996 commented on #790
#777

[2018-03-01 05:13] #790 closed, assigned to nobody

[2018-03-01 09:07] fawwaz opened #791 "The Autocomplete list in search box is not showing"
Dear tom, it seems that the Autocomplete list in SearchBox Component not showing. Am I the only one who is affected by this issue ? It is reproducible in your official docs.

Here is the screen recording :
![not showing](https://user-images.githubusercontent.com/1295143/36835996-93323c50-1d6a-11e8-9180-9a5961f64341.gif)

I am pretty sure that this is not caused by API search limit since I am using

[2018-03-01 09:11] adelpuva commented on #791
Also for me with Chrome and Safari on macOS Sierra, from this morning.

I'm using the library in one of my projects and it's not going anymore!

[2018-03-01 09:16] cborboni commented on #791
I have the same problem, tested on different browsers (Chrome, Firefox and Safari) on macOS.

[2018-03-01 09:22] ghost opened #792 "Autocomplete in searchbox"
Hi,
in searchbox Autocompletion Service does't work.

Respons from script:
/**/_xdc_._wvyn9i && _xdc_._wvyn9i( [4] )

[2018-03-01 09:24] #792 closed, assigned to nobody

[2018-03-01 09:25] ghost commented on #791
the same here
response from autocomplete service:
/**/_xdc_._wvyn9i && _xdc_._wvyn9i( [4] )

[2018-03-01 10:17] baqui commented on #791
the same here, since today google.maps.places.SearchBox doesn't seem to be working. But if I change this to google.maps.places.Autocomplete is showing autocomplete dropdown.

[2018-03-01 10:54] fawwaz commented on #791
@baqui would you like to give a more specific details on how to fix the issue ? It seems that I couldn't find Autocomplete.js in this repo.
FYI, I'm using the latest version of react-google-maps (9.4.5)

[2018-03-01 13:20] romannep commented on #791
@fawwaz You can use autocomplete from another repo. For example - https://github.com/ErrorPro/react-google-autocomplete or https://github.com/kenny-hibino/react-places-autocomplete

[2018-03-01 13:47] Hemant-yadav commented on #791
I think this one is caused by a conflict in google's latest experimental version 3.32.
You can resolve it by passing the version as 3.31 or add v=3.31 or v=3.

[2018-03-02 01:09] fawwaz commented on #791
Thanks it works !

[2018-03-02 01:09] #791 closed, assigned to nobody

[2018-03-02 02:59] lipenco commented on #770
I have also noticed the autocomplete is not working all of the sudden (also in the demo). Is it connected to Google API version?

[2018-03-02 03:59] akado117 opened #793 "Search box no longer displaying results"
https://tomchentw.github.io/react-google-maps/#searchbox

Tried on several devices/browsers and both my implementations and the search box implementation within react-google-maps docs seems to be down.

This was working a few days ago, and seems to still work on googles site (Google's docs as well). Is anyone else having this issue? Entering a location and pressing enter still gives locations with

[2018-03-02 04:18] Hemant-yadav commented on #793
Please check #791

[2018-03-02 04:21] Hemant-yadav commented on #770
Please check #791

[2018-03-02 11:12] adelpuva opened #794 "Initial grey map"
From a few days the autocomplete of Google SearchBox (**3.exp** version) does not seem to work.
As indicated by @Hemant-yadav  I removed the _3.exp_ version from the code putting the **3**.

The autocomplete works correctly, but the map when opening the page is gray and has no effect **panTo**.

Come Back to **3.exp** (without changing my code) the autocomplete does not work, and the map is visibl

[2018-03-02 12:16] yuracherkasov commented on #445
I saved location data in the local State. In my case, this problem was solved.

[2018-03-02 13:02] Hemant-yadav commented on #794
trigger it inside handleMapMounted should resolve this error.

[2018-03-02 13:26] jojo-tutor commented on #445
@yuracherkasov , i'm aware of that but my situation is different, i must listen to socket for changes in the list of markers.

[2018-03-02 13:29] adelpuva commented on #794
How to use this handle?
My actual code is:

**SearchingAddress**:
[code]

**GoogleMapContainer**:
[code]

I use _google.maps.event.trigger_ inside **onBoundsChanged** of **SearchingAddress**, one time. In this point I think that map is mounted, because it's called after onMapMounted, and my actual code works fine with _3.exp_ Google API version.

[2018-03-02 13:34] yoavgecht commented on #414
does anyone was able to solve this? i'm getting

Cannot read property 'maps' of undefined
var map = new google.maps.Map(node)

withGoogleMap. js line 149

I tried to change this line to

var map = new window.google.maps.Map(node)
didn't help
const DestinationsMapComponent = compose(
  withProps({
    googleMapURL: "https://maps.googleapis.com/maps/api/js key='MYKEY'&libraries=places",
    loadingE

[2018-03-02 13:48] Hemant-yadav commented on #794
Change your onMapMounted function as
[code]

[2018-03-02 14:05] adelpuva commented on #794
No works! Maps is always gray... Until I resize the browser window.

Meantime... Google team have fixed the issue and are working to push the changes live:
https://issuetracker.google.com/issues/74048143

With 3.32 version there are no problems of rendering.

[2018-03-02 14:10] kbardi commented on #788
Hey, I need the same. Have you found a solution for this? @KerenChandran

[2018-03-02 14:33] ZephD commented on #414
You solve it by not calling `google.maps.*` unless `google` and `google.maps` exists.
Or, do not load google maps asynchronously (i.e. do not use withScriptJs, but instead use a <script> tag in the html)

[2018-03-02 14:40] yoavgecht commented on #414
ok I think I solved it.
call the maps api on the head of index.js

then on the map component just use it like this:

const yourComponent = withGoogleMap(props => (
  <GoogleMap
    defaultCenter={props.center}
    defaultZoom={props.zoom}
   .....
   .....
/>
));

It solves the refresh google is not defined problem. app will no more crash on refresh

[2018-03-02 14:41] ZephD commented on #414
You mean your error occurs here?
https://github.com/tomchentw/react-google-maps/blob/master/src/withGoogleMap.jsx#L59
If so, you should have got a warning.

Great you solved it, but the compose version should have done the same thing.

[2018-03-02 14:45] yoavgecht commented on #414
With compose google was undefined on withGoogleMap.js file, because I didn't reference maps api on index head. Once I reference the maps api on the head it complained I called the maps api multipile times. and also was crahing every 2nd refresh. bad cycle.

[2018-03-02 14:51] ZephD commented on #414
That's because you continued to use "withScriptjs". Either use the head script, or withScripjs.
It's still strange that the error occurred on that line with withScriptjs alone, though.

[2018-03-02 14:55] yoavgecht commented on #414
I don't know I did exactly like step 5 in the documentation and still google was undefined. sorry it was not defined

[2018-03-02 16:08] kelvinlouis commented on #774
Are there any workarounds? My client keeps crashing because of it.

[2018-03-02 16:15] ArtyomResh commented on #787
Thank you! :D

[2018-03-02 16:15] #787 closed, assigned to nobody

[2018-03-02 16:19] NonMint commented on #774
There is a [solution posted](https://github.com/jesstelford/node-MarkerWithLabel/issues/16) in the MarkerWithLabel repo, but I haven't tested it locally yet (we just commented out the clusterer). YMMV.

[2018-03-02 19:19] conradob commented on #335
To be more specific he is talking about this.
https://developers.google.com/maps/documentation/static-maps/intro

Should we use the `googleMapURL` prop for it?

[2018-03-03 14:00] RFlintstone commented on #222
Had the same problem on my subdomain. I turned UBlock Origin off (this will exclude that (sub)domain from (ad)blocking certain content) and now it works again!

So for developers: Maybe search for an API or create some code that detects these errors and tell the user/admin that they need to disable an adblocker to use the (sub)domain / script effectively.

[2018-03-04 04:22] SandroBCIT opened #795 "onClick Map to get Coordinates"
I was wondering how I can retrieve the **coordinates** of the GoogleMap **onClick** event? I can only find something called "**oe**" and it only returns **X** and **Y** that don't equal to Lat and Long values.

What am I missing here?

[2018-03-04 05:45] #795 closed, assigned to nobody

[2018-03-04 19:49] AhmadMayo commented on #745
if you're using create react app, use window.google
[https://github.com/facebook/create-react-app/blob/master/packages/react-scripts/template/README.md#using-global-variables](https://github.com/facebook/create-react-app/blob/master/packages/react-scripts/template/README.md#using-global-variables)

[2018-03-04 20:02] AhmadMayo opened #796 "changing controlled drawing mode completes current shape but doesn't call onXXXComplete handler"
I have this component (unrelated code was removed)

[code]

I use a custom button to toggle draw mode, and escape key to exit the drawing mode, but if I start drawing, then I press the escape key or the button, the points are connected to form a polygon, but none of the handlers is called - which means that I don't have a reference of the newly drawn polygon

[2018-03-04 20:10] AhmadMayo commented on #772
the only way I have found to this is by using [WKT](https://en.wikipedia.org/wiki/Well-known_text) format with [jsts](https://github.com/bjornharrtell/jsts) library. here's an example (The example works on coordinates directly in the format [[lat, lng], [lat, lng]], feel free to change it according to your use case
[code]

[2018-03-06 14:00] AhmadMayo commented on #278
if you add a ref to the polygon, you can call .Path() and .Paths from, the ref.
now if a user moves a vertex on the polygon, the handler of mouse up will be called and at that exact moment `polygon.getPath()` will return the old value. The problem is that the event is called before applying the new coordinates , so if you write the event handler like this
[code]
newPath will be the new coordinates

[2018-03-06 16:25] adrienharnay opened #797 "Can't find variable: google"
## Getting Help

**Before doing this, did you**:

1. Read the [documentation](https://tomchentw.github.io/react-google-maps) yup
2. Read the [source code](https://github.com/tomchentw/react-google-maps) yup

Hey,

I have Sentry reports about an error coming from [this line](https://github.com/tomchentw/react-google-maps/blob/33c24fa09edac310052e59bd134f8ec0aca20207/src/withGoogleMap.jsx#L59).

Sni

[2018-03-06 18:04] pdarvas commented on #774
I solved it by changing the version of the google api from the experimental version to v3.31

before:

`export const GOOGLE_API = 'https://maps.googleapis.com/maps/api/js?key=AIzaSyDk-SZbgOovJvTafj7feDjxUIXUrW0L9vY&v=3.exp&libraries=geometry,drawing,places'
`

after:
`export const GOOGLE_API = 'https://maps.googleapis.com/maps/api/js?key=AIzaSyDk-SZbgOovJvTafj7feDjxUIXUrW0L9vY&v=3.31&libraries=geo

[2018-03-07 21:29] bxing2000 commented on #608
Any update on this?

[2018-03-08 08:21] norbertdurcansk opened #798 "Reclustering is not called on maxZoom level"
Transition to minZoom level of the map does not call reclustering immediately, but after another action with the map.

https://tomchentw.github.io/react-google-maps/#!/MarkerClusterer/1

Actions:
* Zoom to minZoom Level
![map1](https://user-images.githubusercontent.com/8441949/37140298-896d4970-22b1-11e8-843b-32037b512756.PNG)
* Zoom in
![map2](https://user-images.githubusercontent.com/8441949/371

[2018-03-08 15:28] CodingToBeWithHer commented on #414
what worked for me:
instead of just google, I have used window.google, hopefull it'll work for you

[2018-03-08 15:37] jmars commented on #654
For anyone else that ended up here, setting collections: true in lodash-webpack-plugin will get it working again without pulling in all of lodash.

[code]

[2018-03-08 21:13] yoavgecht commented on #414
It's still happening on every other page load
ReferenceError: google is not defined
    at n.value (withGoogleMap.js:149)
althought I'm using withGoogleMap(props => (

http://ec2-18-196-246-145.eu-central-1.compute.amazonaws.com/

Something wrong with this library

[2018-03-08 21:56] kelfy commented on #774
wow.. That's works. That's awesome.

On Wed, Mar 7, 2018 at 7:04 AM, pdarvas <notifications@github.com> wrote:

[2018-03-09 09:02] julienvincent commented on #654
Thats good to know! Thanks

[2018-03-09 10:30] ZephD commented on #414
you need withScriptjs(withGoogleMap( ... ))

[2018-03-09 11:46] dylmye commented on #414
@oshalygin is this issue ok to lock as it's been solved?

[2018-03-11 07:00] yoavgecht commented on #414
Looks like the issue is resolved when adding withScriptjs(withGoogleMap( ... ))

[2018-03-12 14:48] Return-1 opened #800 "options property doesnt seem to work on GoogleMap"

[2018-03-12 15:26] #800 closed, assigned to nobody

[2018-03-12 15:31] volkersmit opened #801 "Uncaught TypeError: Super expression must either be null or a function"
get an error when I'm trying to import something from react-google-maps:

"Uncaught TypeError: Super expression must either be null or a function, not undefined"
bundle.js:27438

my code:

import React, { Component } from 'react';
import { GoogleMap } from "react-google-maps"

class Map extends Component {
    render() {
        return (
            <p>test</p>
        )
    }
}
export default Map

[2018-03-12 21:01] volkersmit commented on #801
react wasn't up to date.. problem solved

[2018-03-12 21:01] #801 closed, assigned to nobody

[2018-03-13 08:29] sureshreddyputta commented on #713
@tomchentw How to prevent onZoomChanged event after using fitBounds in onMapMount function?

[2018-03-13 09:36] nguyenvanphuc2203 commented on #753
my solution below
try this:
[code]
and then :
[code]

[2018-03-13 09:51] nguyenvanphuc2203 commented on #585
it work for me!
[code]

[2018-03-13 09:53] nguyenvanphuc2203 commented on #333
Try use onClick inside html code , it work for me :dancer:
[code]

[2018-03-13 15:50] jridenbaugh opened #802 "InfoBox not fully closing"
I am running into an issue where an InfoBox isn't being fully removed or hidden when closed. It only seems to happen to the first InfoBox on a map. Below is a modified version of the InfoBox example from the documentation (https://tomchentw.github.io/react-google-maps/#infobox). I removed the static InfoBox and gave the one within the Marker a close icon. If you open and close the InfoBox a couple

[2018-03-13 17:17] patelrohan commented on #275
Could you still use `<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY" type="text/javascript"></script>` if you are using `withGoogleMap` and supplying prop `googleMapURL`? Just wondering fig readme could be updated to reflect the correct API_KEY usage., it would save a lot of developers' time.

[2018-03-14 01:04] Northshoot commented on #663
This is half year later, any update?

[2018-03-14 17:01] Eplumecocq commented on #802
@jridenbaugh  I have encountered this problem few days ago and couldn't find a proper way to fix this. The only "work around" I found was stop using InfoBox component and using OverlayView component instead.

Let met know if you find a solution to fix this, but OverlayView component is doing the job well !

[2018-03-14 17:23] jridenbaugh commented on #802
@Eplumecocq That's probably better than my temporary solution, which is to just add a static, hidden, dummy InfoBox before any of my real InfoBoxes load.

[2018-03-16 08:24] kentaromiura commented on #774
In case it could help others, I wrote this monkey-patch last week: https://gist.github.com/kentaromiura/6bb9d0061c92087792f289dfde4989cd
I only found this issue today, thanks for suggesting changing the url from experimental to a fixed version, that fixed another issue I was having.

[2018-03-16 13:45] ShintaroNippon opened #803 "Blank Page google maps"
I reaad the documentation and applied the source code in sand box

i have this code:

[code]

and in other file the call

[code]

i hav eno error in console or webpack
but an empty balck page on place of gogole maps appears....

can you help me on this

many thanks
Carlos Vieira

[2018-03-17 20:39] ejswenson15 commented on #519
is anyone getting InvalidValueError: setMap: not an instance of Map?

[2018-03-18 15:41] olee2002 opened #804 "Embedded Map Scroll/Arrow Key issues"
https://www.youtube.com/watch?v=5FJRBSY16xs&feature=youtu.be
Please take a look at the youtube clip that I recorded for this issue. The map itself works really well. However, I don't seem to click out of the map. I tested this with the react-google-maps demo version. I would love to see what would be the solution for this. I have been doing some research but none of the solutions posted here seems

[2018-03-19 01:30] olee2002 commented on #804
It turned out adding this option to the Google Map component ,
defaultOptions={{
        keyboardShortcuts: false,
      }}

[2018-03-19 01:30] #804 closed, assigned to nobody

[2018-03-19 09:54] arximughal opened #805 "google maps pin stuck in wrong place"
I have a react-google-maps instance in my application which draws multiple location icons on google map. When there are more than one icons, sometimes, one icon, which have different location, gets stuck on another icon. The new icon is not clickable and gets removed automatically after giving a little nudge to the map (see image below)
IMO, the issue is with the google map's drawing multiple loca

[2018-03-19 10:57] ShintaroNippon commented on #803
alread solved the issue

[2018-03-19 10:59] ShintaroNippon opened #806 "How can i center map to again the default position lat and lng dynamcaly"
I have this code
[code]

after i have change the lat and lng props the element map stays on first position
how to center it to the marker ?

Many thanks
Carlos Vieira

[2018-03-19 14:20] ShintaroNippon commented on #806
Solution found...

center={new google.maps.LatLng(props.lat,  props.lng)}

thanks
Carlos Vieira

[2018-03-19 14:41] AustrisC commented on #578
The issue still occurs in version 8.5.0.
OverlayView children are missing context when using isomorphic-style-loader.

[2018-03-20 10:46] quangduybk95 opened #807 "Map drag problem"
Please help.
I can't click to map to drag view in map view, only can use navigation button(left right top down button) to change map view.
example:
When i use mouse to drag view => so hard
http://www.giphy.com/gifs/4N7vl2Qxa4C6v2xU6x
When i use navigation button to drag view => easy
http://www.giphy.com/gifs/SGmSOWq7J5rhOqOEw9

[2018-03-21 08:24] vertic4l opened #808 "MarkerManager support"
Can i use MarkerManager somehow with this?

[2018-03-21 09:43] #807 closed, assigned to nobody

[2018-03-22 01:34] xuanhong95 commented on #807
yeah i have same issue, do you know how to fix it?

[2018-03-22 01:41] quangduybk95 commented on #807
Change google map api version to 3
&v=3
Can't use the lastest version

[2018-03-22 01:48] xuanhong95 commented on #807
I don't understand your anwser. You mean we should use version 3 or other version?
Now my URL is
googleMapURL: "https://maps.googleapis.com/maps/api/js?key=AIzaSyApdwo01qTps76VpMvQzML4jZIUi7VEatI&v=3.exp&libraries=geometry,drawing,places",

What should i do if i want to fix this problem? Please help me

[2018-03-22 01:53] quangduybk95 commented on #807
https://maps.googleapis.com/maps/api/js?key=AIzaSyApdwo01qTps76VpMvQzML4jZIUi7VEatI&v=3&libraries=geometry,drawing,places
Try it out
Vào 08:48, T.5, 22 Th3, 2018 xuanhong95 <notifications@github.com> đã viết:

[2018-03-22 01:56] xuanhong95 commented on #807
thank you so much. You save my day

[2018-03-22 04:12] srvrahul opened #809 "how-can-i-convert-stateless-map-component-into-react-component"
https://stackoverflow.com/questions/49404263/how-can-i-convert-stateless-map-component-into-react-component
I am new to react and how can I solve this Problem, As I want to use map function for dynamic binding of marker points but the Google map component is a stateless component. How can I convert To react component

[2018-03-22 04:46] #809 closed, assigned to nobody

[2018-03-22 06:06] bognix commented on #806
But with this solution don't you need to change the center every time user drags a map? I tried this approach (with setting center instead of defaultCenter) but I wasn't satisfied with the solution because it wasn't working well with drag event. Even though I updated the center on every dragend event

[2018-03-22 06:42] afzydev opened #810 "Change Cluster Icons ?"
Hello @tomchentw  @felipemfp
Thanks for the awesome work you people are doing.

Please help me out to change cluster icons as I am not able to find the best solution.

[code]

Thanks

[2018-03-22 16:57] willfre commented on #795
You need to access the event:
`onClick={(e) => handleClick(e)}`
then
`function handleClick(event) {var lat = event.latLng.lat(), lng = event.latLng.lng()}`

[2018-03-23 00:06] jwm0 commented on #414
Make sure you run the script without "async defer" flag, otherwise it might not load in the correct order.

[2018-03-23 01:32] zomars opened #812 "[BUG] You have included the Google Maps API multiple times on this page. This may cause unexpected errors."
I'm using a basic example and the script is added each time, I don't know if this is the intended behaviour or am I missing something.

This is my component:

[code]

[2018-03-23 03:48] motocombotag commented on #729
`onZoomChange` is not fired at all.

[2018-03-23 09:33] #805 closed, assigned to nobody

[2018-03-23 14:22] ihor commented on #729
I'm having the same problem. Any solutions?

[2018-03-23 21:04] arunaveeram commented on #650
Hi can you please tell how to use initial center and two markers at a time on the map

[2018-03-24 18:56] gondar00 commented on #696
Hello, with version `9.4.5` this is breaking -

component code -
`      <Marker position={location} onClick={this.toggleInfoWindow}>
          <InfoWindow onCloseClick={this.toggleInfoWindow}>
            Hello
          </InfoWindow>
        </Marker>
`

![screen shot 2018-03-25 at 12 24 01 am](https://user-images.githubusercontent.com/12490590/37867786-0aa5dd72-2fc3-11e8-9dd2-3b6a85dda1f3.png)

[2018-03-24 23:24] Ky6uk opened #813 "lodash-webpack-plugin breaks this library"
This bug related to #654. I just spent so much time for finding the issue. I don't know why related issue was closed there. Accepting collections by adding `collections: true` is the fix.
[code]

If this is not a bug then I think it should be added to the documentation (maybe as known issues).

[2018-03-26 14:22] jannakha opened #814 "Error while running tests"
Running jest tests fails, requires babel plugin lodash - but it's not installed in my project
should it be either peer dependency?

Test suite failed to run:
Plugin 0 specified in "/fez-frontend/node_modules/react-google-maps/package.json" provided an invalid property of "__wrapped__"

[2018-03-26 19:30] TimNZ commented on #384
For anyone else stumbling across this, add this to the &lt;input&gt;

[code]

https://stackoverflow.com/questions/11388251/google-autocomplete-enter-to-select/28373354

[2018-03-27 11:48] nickeday opened #815 "Map scrolling issue in SearchBox docs example"
In the example at https://tomchentw.github.io/react-google-maps/#searchbox, it looks like there's a problem with scrolling the map that isn't present in any of the other examples.  Scrolling will stop abruptly after a short distance at each attempt.

[2018-03-28 14:47] ping4tucker commented on #812
I was getting this error when I was also adding the google maps library in the head of my html.

[2018-03-28 15:06] #814 closed, assigned to nobody

[2018-03-28 15:07] jannakha commented on #814
non-issue

[2018-03-29 09:48] bordi commented on #373
@jacobo360 I was struggling with same issue. Properties `imagePath` and `defaultImagePath` doesn't worked for me.
So I've just pass property `style` to `MarkerClusterer`. See example:

`
<MarkerClusterer
				averageCenter
				enableRetinaIcons
				styles={[{
          textColor: 'white',
          height: 53,
          url: "images/m1.png",
          width: 53
        },
        {
          textCo

[2018-03-29 13:03] flaviouk commented on #803
@ShintaroNippon What was the issue?

[2018-03-29 18:30] cooltoast commented on #729
I don't think `center` and `zoom` are reliable when using `fitBounds` (which is async)

My workaround was to modify my `markers` array and call `fitBounds` on `componentWillReceiveProps`
- When a marker is clicked I change my `markers` array to only contain that marker, and `fitBounds` is called and will center and zoom on the single marker.
- When the deselect button is clicked I restore all the

[2018-03-30 11:05] danielkcz commented on #810
@afzydev It would help if you can actually explain what you don't like about that. Asking for a "best solution" while not giving any hint what's "best" for you cannot yield any constructive result.

[2018-04-02 21:24] ping4tucker commented on #815
I think it's because the onBoundsChanged is setting the bounds and center state of the map, so after setState is called in the onBoundsChange event, the map adjusts to its new center/bounds and you lose dragging (onBoundsChange gets called very quickly after the bounds change).  If you switch it out for the onIdle event, it'll be smooth, because it waits for user dragging to finish and then sets t

[2018-04-04 11:22] KerenChandran commented on #788
@kbardi Sorry for the delayed response. I ended up using [react-places-autocomplete](https://github.com/kenny-hibino/react-places-autocomplete) package and it worked like a charm! I was also able to customize the list and footer.

[2018-04-04 20:17] SyedSaifAli opened #816 "While trying to use InfoWindow getting error 'React.Children.only expected to receive a single React element child'"
Hello, I am trying to use the InfoWindow with Marker as mentioned in the documentation but still getting the error. using 9.0.2 version currently?

Can you please tell me what is the problem here? And how do I solve it?

[code]
![screen shot 2018-04-05 at 1 44 02 am](https://user-images.githubusercontent.com/26343961/38332232-1a5d94a4-3873-11e8-9a3a-e41b7bd4374b.png)

[2018-04-05 02:00] ejswenson15 commented on #303
@tomchentw  thank you so much for creating react google maps you are literally a god amongst men

[2018-04-05 10:55] kettanaito commented on #812
I'm experiencing the same issue, but I don't include Google Map anywhere except of the component. The layout is the same as the author of issue.

[2018-04-05 11:56] pranabunni commented on #324
I am trying to change the state value inside the componentDidMount().But it only accepts props values

[2018-04-05 13:28] ping4tucker commented on #812
If the error is real and not a bug, you could try removing the withScriptjs higher order component and see if the map still shows up.

[2018-04-05 15:48] axhamre commented on #551
For those wondering how to set options:

      <GoogleMap
        defaultZoom={...}
        defaultCenter={...}
        options={{streetViewControl: false, mapTypeControl: false}}

[2018-04-05 16:47] kettanaito commented on #812
@ping4tucker when I remove `withScripts` it throws an error saying "you must include withScripts" high-order component...

[2018-04-05 18:00] SyedSaifAli commented on #816
Anything ?? @tomchentw

[2018-04-05 19:22] #816 closed, assigned to nobody

[2018-04-05 19:22] SyedSaifAli commented on #816
I've done showing InfoWindow outside the marker component and it worked. thanks

[2018-04-05 23:34] tuccle22 commented on #812
I tried to recreate this error with create-react-app, but wasn't able to reproduce the issue.
https://github.com/tuccle22/google-maps-example/blob/master/src/App.js

Anyone have a repo that shows the issue?

[2018-04-06 16:41] zolero opened #817 "Bad practice in OverlayView"
Really bad practice in the OverlayView component for performance reasons. Why?

In the draw method every map movement it will re-append the this.containerElement and re-render the react component.

The appendChild() function should be in onAdd() and the unstable_renderSubtreeIntoContainer() function should be in render() method of the React Component.

This resulted in a huge performance different

[2018-04-07 07:13] wzc5840 commented on #739
I have the same error and
package.json
{
  "name": "Ichigun",
  "version": "0.0.1",
  "private": true,
  "scripts": {
    "start": "node node_modules/react-native/local-cli/cli.js start",
    "test": "jest"
  },
  "dependencies": {
    "lodash": "^4.17.5",
    "react": "^16.3.0-alpha.1",
    "react-google-maps": "^9.4.5",
    "react-native": "0.54.3",
    "react-native-code-push": "^5.3.2",
    "r

[2018-04-07 23:28] dave4jr commented on #813
I had this issue as well. Thanks for the comment.

[2018-04-07 23:39] dave4jr commented on #812
@zomars Can you add the part of your code where you are calling the component? I was getting this issue when I was adding the library separately with a script tag with async and callback init funciton. As soon as I removed that, it went away.

[2018-04-08 20:34] zomars commented on #812
This is how I'm calling the Map component:
[code]
And this is my Map component:
[code]

[2018-04-08 20:34] zomars commented on #812
This happens on every component remount

[2018-04-09 07:51] kettanaito commented on #812
@zomars I think in your case you need to provide `googleMapURL` as the option to `withGoogleMap` high-order component. So that the URL is the same for all instances of your maps.

[2018-04-09 22:50] jimjy98 commented on #349
@mobitinker you should put this line in the index.html file found in the folder "public" in your react project

[2018-04-10 07:48] kettanaito commented on #812
This is how I've encountered the same issue: https://github.com/kettanaito/react-advanced-form/blob/ca6be457cdd42b05cfc05595ce9d2409dab4a853/examples/third-party/react-google-maps/Map.jsx

It's a general Map component which I later reuse anywhere I want. Using it at one place only resulted into "duplicate API key" and sometimes into "inactive API".

[2018-04-10 13:03] SyedSaifAli opened #818 "How to add Custom Controls?"
Hi, I am using react-google maps, its great. I am showing multiple markers in the map Now I want a custom control i.e a drop down inside the map, in which If I can select a particular marker and it will only show that marker.

The only problem I am facing is I am unable to show that drop down on the map.

Is there any way to show it on the map?

Any help will be appreciated.

[2018-04-10 18:01] nickpolet commented on #817
I've noticed the OverlayView having particularly bad performance as well. Works fine with the native google maps, but the same number of OverlayViews in this component results in drastically poor performance.

[2018-04-11 05:22] SyedSaifAli commented on #818
@tomchentw Is there anything which can be done for this?
Can we create our own custom control just like `SearchBox` component?

[2018-04-11 06:22] RamYadlapalli commented on #818
@SyedSaifAli We can create custom controls to render on the map,
1. First we need to create a div and add it into Google Maps Controls, something like below

  `    this.map.controls[google.maps.ControlPosition.BOTTOM_RIGHT].push(
        showhideControlDiv //div container
      );`

2. Now you can render any component into that Div, with
`ReactDom.render(<ComponentName/>, document.getElementById(

[2018-04-11 08:16] SyedSaifAli commented on #818
@RamYadlapalli  Can you provide an example of how to implement it?

[2018-04-11 10:29] Cheprer opened #819 "setBatchSize is not a function"
Hi there,

Setting a batchSize for MarkerClusterer:

[code]

Throws:

[code]

`setBatchSize` function is no longer in `marker-clusterer-plus` please also update docs. I'm having a problem with rerendering but hopefully latest version will solve. For now using older react due to other dependencies. (react-google-maps v8.5.0) I've checked the code in master and it still has this problem.

https://gi

[2018-04-11 15:47] abbasyadollahi opened #820 "Empty Grey Box When Conditionally Rendering GMaps"
Before mounting the google map, I'm waiting for some requests to finish so I'm trying to put another element in the meantime. The problem is that an empty grey div stays even though I'm not rendering the google map and as a result pushes my loading screen all the way to the bottom.

![image](https://user-images.githubusercontent.com/16931654/38627753-b959f1ba-3d7d-11e8-8066-891b6d8e1de9.png)

Here

[2018-04-12 05:41] shanimal commented on #482
I was getting an error when removing overlays (see below) so I also had to override `onRemove` in @owap 's solution. — Super Hack

[code]

The error was
[code]

[2018-04-12 06:21] SyedSaifAli commented on #820
@theGirrafish Center requires an object with lat, lng. From your above snippet it seems like you are passing an Array as center in `defaultCenter`.

try passing an object like `{lat: latitude, lng: longitude}` in defaultCenter or center property of map.

[2018-04-12 06:44] abbasyadollahi commented on #820
@SyedSaifAli  I'm sending an object `{lat: latitude, lng: longitude}` for the defaultCenter property and the map renders fine when it is loaded. The problem I have is that a grey div that would normally render the map persists even if I'm not rendering a `<GoogleMap>` element. I believe it might have something to do with the `withProps` but not sure

[2018-04-12 06:52] SyedSaifAli commented on #820
Yes, you might have to use it like this
[code]

to get it loaded. Try it and also tell what's the error you are getting in your console.

[2018-04-12 07:12] abbasyadollahi commented on #820
@SyedSaifAli Hmm I just tried that, but when the map hasn't loaded, the grey div is still there and once the map does load, it renders both the map AND the loading screen all the way at the bottom (like in the screenshot but with map instead of the grey box). Also there's no errors in the console.
Here's a snippet of my compose:

[code]

[2018-04-16 05:52] guitar9 opened #823 "GroundOverlay right click function"
Is it possible to call a right click function when clicking on GroundOverlay?

[2018-04-17 12:40] amangeot commented on #482
Hello,
how did you trigger this error @shanimal ?

I get the same error logged from some users in production but can't reproduce it to know where it comes from. I'm running react-google-maps v9.4.5.

Thank you,

[2018-04-17 21:33] bidva commented on #404
@r2dev Can you provide more information how set this GoogleSearchBox to GoogleMap component?

[2018-04-18 01:47] r2dev commented on #404
@bidva
`const GMapApp = withScriptJs(props => (<Fragment><Geosuggest /><GoogleMap /></Fragment>))`

[2018-04-18 03:57] shanimal commented on #482
Sorry, I haven't had the time to figure it out.

We use redux with several stores that each have an `Immutable.List()` of markers. When the user changes to a different section of our site we provide the map with data from the store corresponding to the given section of the site. Each Section of markers updates via callback that dispatches updates from a socket connection. Updates seem to be fine,

[2018-04-18 11:31] asonni commented on #82
@Michael-Brooks you can try add this JSX code

`<SearchBox controlPosition={window.google.maps.ControlPosition.BOTTOM_LEFT}>
       <div>
          <input
            type="hidden"
            className="input-search-map"
            placeholder="Search..."
          />
         <Your button component here... />
      </div>
</SearchBox>`

[2018-04-19 14:49] neocotic commented on #310
Is this still not possible? I'll admit that I'm still learning React and this library, but I've created the following based on the code for existing components:

[code]

It seems like overkill to me, but it works.

[2018-04-19 15:08] jgimbel commented on #818
I hope this helps.
https://gist.github.com/jgimbel/6a36d60e28aaf453d0093ddc47f36533

[2018-04-19 17:53] tschams opened #824 "getting a handle on the map without using recompose"
How can this be done? I am trying to fetch using places API and I am unable to get a handle on the map to get the bounds

[2018-04-20 06:24] kamil-mrzyglod commented on #783
Hi Guys, what's the status of this? Is going to be fixed or maybe you'd like to propose a solution with a PR? :)

[2018-04-20 06:28] bmihelac commented on #783
One way around this is using React 16 [error boundaries](https://reactjs.org/blog/2017/07/26/error-handling-in-react-16.html#introducing-error-boundaries).

[2018-04-20 06:54] kamil-mrzyglod commented on #783
@bmihelac Yeah, I've had to use it for now, but personally I don't think that self-defending against a library is a way to go, if it can be fixed easily.

[2018-04-20 06:56] bmihelac commented on #783
sure, I just gave example for workaround.

[2018-04-22 22:28] andersensm opened #825 "Using 'withState' within the recompose Structure"
Hello,
Looking to be able to put the routePredictions within the 'withState' that is generated through my API call from the handlers but access into my (props) section of the recompose structure.

withState(  **_Not sure how to fill this  section out_**  ),
withHandlers(() => {
  const refs = {
    map: undefined,
  }

  return {
    onMapMounted: () => ref => {
        refs.map = ref
    },
    o

[2018-04-23 02:32] github0013 commented on #818
This is not totally related to this post, but I am having issues where I need to remove a custom control from google map object.

did a repo for this.
https://github.com/github0013/react-google-maps-custom-control-removal

@jgimbel
https://gist.github.com/jgimbel/6a36d60e28aaf453d0093ddc47f36533#file-mapcontrol-js-L15
This line tries to remove the pushed element, and I am assuming this index is fr

[2018-04-23 02:55] github0013 commented on #818
## fixed
https://github.com/github0013/react-google-maps-custom-control-removal/commit/1c5467e1667254dd69285b52d1533cf73992951a

I guess the `this.divIndex` can be obtained like this.
https://github.com/github0013/react-google-maps-custom-control-removal/commit/1c5467e1667254dd69285b52d1533cf73992951a#diff-1728495de7abffb586b4d385b72e588fR20

and for the exception, I wrapped the `MapControl`  comp

[2018-04-23 02:57] jgimbel commented on #818
So...
I am not unmounting my custom controls, so I wrote it initially without the removeAt. Then I remembered that when I wrote custom controls for leaflet I was informed that the controls were not getting removed on unmount. So I added unmounting to the gist and I forgot to set divIndex like you mentioned. Long story short, now that react 16 has portals unmounting is less necessary than it was ba

[2018-04-23 10:02] tomraithel commented on #737
Please remove the peerDependencies for typings. Typings are not required to exist for any consumers of this package. They are only required for building react-google-maps, therefore they should only be listed in the devDependencies.

peerDependencies are dependencies that are strictly required for a package in order to be executed. In the case of type-definitions this is not the case and is not a

[2018-04-23 10:25] mxl commented on #737
@tomraithel @pladaria devDependencies will remove it from npm package. Definitions are required for TypeScript developers. @tomchentw could you create separate react-google-maps-types repository? I will make PR there.

[2018-04-23 10:34] xiankai commented on #824
recompose is just a convenient wrapper for the decorator syntax. See Step 4 of https://tomchentw.github.io/react-google-maps/#usage--configuration for an example comparison of code without recompose.

https://github.com/tomchentw/react-google-maps/issues/636#issuecomment-332704595 may also be relevant.

[2018-04-23 10:36] xiankai commented on #825
[You should be looking at the docs for recompose instead.](https://github.com/acdlite/recompose/blob/master/docs/API.md#withstate)

[2018-04-23 12:25] arximughal commented on #802
Anyone found a proper solution to this? I am facing the same issue.

[2018-04-23 13:54] nykula commented on #737
Any type-checked JS or TS app dependent on react-google-maps fails to build unless you install the typings or declare a dummy module. [Publishing docs](https://www.typescriptlang.org/docs/handbook/declaration-files/publishing.html) say:

Consider adding a section to installation instructions, for TypeScript users, with a note what to do and why it is needed, or an "error TS2304: Cannot find name '

[2018-04-23 17:34] tschams commented on #824
Thank you for responding! I saw all that. I am trying to access the map from the MyMapComponent, like the problems it seems everyone else had. The following is my code:
/*global google*/
import React from 'react';
import { withScriptjs, withGoogleMap, GoogleMap, Marker } from "react-google-maps";

const MyMapComponent = withScriptjs(withGoogleMap(props =>
    return <GoogleMap
        defaultZoom=

[2018-04-24 01:04] xiankai commented on #824
Your code looks fine to me barring 2 syntax errors - an opening bracket `{`and a closing JSX tag `/>` for `MyMapComponent`.

[2018-04-24 07:19] waynelei commented on #789
Hi, did you find solution for this? thanks

[2018-04-24 18:13] tschams commented on #824
Thank you for responding! That was not the issue. Currently after changing my code I am referencing the map, however my current issue is that I am not getting a new center after dragging the map. Here is my code:
/*global google*/
import React from "react";
import { withScriptjs, withGoogleMap, GoogleMap } from "react-google-maps";

export default class MapComponent extends React.Component {
    c

[2018-04-24 18:49] tadeolinco opened #826 "Zoom cannot be controlled"
It seems that the `GoogleMap` component doesn't respect the `zoom` prop given to it. `onZoomChanged` is fired naturally when zooming in and out, and `this.ref.getZoom()` seems to also get updated.

Is this intentional? If so, how do you suppose to update zoom programmatically?

[2018-04-25 05:45] tadeolinco commented on #826
For the mean time, what I'm using is:
[code]
and calling it as:
[code]

[2018-04-25 06:02] xiankai commented on #826
You may also need to handle `onZoomChange` yourself.

Taken from https://github.com/tomchentw/react-google-maps/issues/630

[2018-04-25 10:20] devin-yuan commented on #161
@michaltakac find a better way?

[2018-04-25 12:10] frosato-dev commented on #210
I'm using version "9.4.5" and I'm still facing this performance issue.
I got a MarkerCluster with ~1000 Markers inside.
When updating the number of Markers from ~1000 to x (after a filter action on my locations) the repaint takes ages and even leads to my browser window to crash.
I know the issue is old and closed but am I missing something?
Moreover, I would like to use Marker and MarkerCluser cu

[2018-04-27 19:34] hlthi commented on #454
Thanks @Falconerd .

Sample usage after access polygon

[code]

[2018-04-28 07:56] Alfreddatui commented on #414
If you already follow every comment in this page, you can try this solutions (IF you are using create-react-app)

Stackoverflow : https://stackoverflow.com/questions/43714895/google-is-not-defined-in-react-app-using-create-react-app?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa

[2018-04-28 10:04] devin-yuan commented on #816
right：
<InfoWindow>
    <div>blabla</div>
</InfoWindow>
--------------------------------
error:
<InfoWindow>
    blabla
</InfoWindow>

[2018-04-28 10:06] devin-yuan commented on #816
right:
[code]
---------------------------------
error:
[code]

[2018-04-28 17:38] topgiter commented on #776
👍

[2018-04-28 17:38] #776 closed, assigned to nobody

[2018-04-28 20:42] tuccle22 commented on #826
I created a simple repo that works with programmatic zooming: https://github.com/tuccle22/google-maps-example/.  It seems to work.

[2018-05-03 10:07] Chetabahana commented on #222
If you are running multiple extensions that perform ad or script blocking you will need to individually update [_each one to your whitelist_](https://stackoverflow.com/a/50151073/4058484).

[2018-05-03 16:28] alaboudi opened #827 "Marker labels can only show strings not numbers"
Using a marker with a label prop with a numeric value fails. The example in the documentation does not work.

[code]

[2018-05-04 06:29] AhmedHassan07 commented on #705
@rodolfopeixoto i also need help on this, have you done it?

[2018-05-05 04:09] LukasZvikas opened #828 "How to access markers in directionsRenderer"
Hello, I'm trying to connect each marker with with other specific component outside the map that if I click of the marker, then only specific component's font style will change. I'm using directionsRenderer, but have no luck of accessing markers, so I can't set onClick events. Maybe someone would be able to help me? Here is what I have. Would really appreciate any advice. I'm new with google maps

[2018-05-06 05:45] joont92 commented on #789
@waynelei Unfortunately, I decided to come back native google maps..
Cause I watched some post, they talked that `react-google-maps` is not good at drawing many markers.
Here is link <https://github.com/tomchentw/react-google-maps/issues/495>

[2018-05-06 14:46] umair-khanzada commented on #25
what about the Marker, can we pass jsx element against marker's icon props ?

[2018-05-07 19:20] ghost opened #829 "Creating InfoWindow for markers"
im  trying to put an info window for each marker i do but i keep failing since im doing my component with the examples provided and it uses recompose and cant seem to pass data to my handler, this is my code:

[code]

but i get Uncaught TypeError: Cannot read property 'apply' of undefined when i try to pass the index, how can i solve this and keep using recompose?

[2018-05-08 21:54] intelcoder opened #831 "Uncaught TypeError: Cannot read property 'mapPane' of undefine"
I added one condition to draw function and it seems good fix for me. Is there any reason why we did not add that condition ?

[code]

[2018-05-10 14:47] Anees-Raja commented on #363
Do I need webpack or a bundler to use this component? I keep getting the following error:

`./src/app/components/CustomMap/CustomMap.js
Module parse failed:
\src\app\components\CustomMap\CustomMap.js Unexpected token (6:4)
You may need an appropriate loader to handle this file type.
|
| const CustomMap = withScriptjs(withGoogleMap((props) =>
|     <GoogleMap
|     defaultZoom={8}
|     defaultCent

[2018-05-11 03:38] datctbk commented on #45
@tomchentw
it works! thanks

[2018-05-11 10:44] johnkueh commented on #796
Did you manage to solve this ?

[2018-05-11 10:57] AhmadMayo commented on #796
passing `drawingControl: false` to the drawing manager, and implementing my own button that switches the mode. here's the code (the mode is set in the state and passed as a prop to the drawing manager)

[code]

[2018-05-12 04:44] LukasZvikas opened #833 "Directions Renderer Question"
Hey guys,
I have a question. Is it possible to add on click events to directionsRenderer? I want to trigger another component outside the map when the marker is clicked, but can't find a way to do it yet. Any help would be appreciated. Thanks.

[2018-05-12 07:22] pumpkin-codes commented on #705
+1

[2018-05-12 07:22] pumpkin-codes commented on #705
@rodolfopeixoto @tomchentw  +1 if someone done this then please give the example

[2018-05-14 10:38] HannahCarney opened #834 "OverlayViewHelper.js:122 Uncaught TypeError: Cannot read property ‘parentNode’ of undefined"
Receiving this error on production rollbar with no ability to replicate. Problem is coming from this code base, and reportedly causes a white screen which resolves on refresh.

OverlayViewHelper.js:122 Uncaught TypeError: Cannot read property ‘parentNode’ of undefined
   at Object.h [as unmountAndDestroyContainerElement] (OverlayViewHelper.js:122)
   at Object.onRemove (OverlayView.js:137)
   at q

[2018-05-16 07:34] gson88 commented on #834
@HannahCarney
I have the same problem. Google updated their maps API tonight ( https://groups.google.com/forum/#!topic/google-maps-js-api-v3-notify/JKGnj4hTiFA , https://developers.google.com/maps/documentation/javascript/new-renderer )
If you have this problem you can temporarily use the older version of the google maps API by adding v=3.31 in the url, i.e. https://maps.googleapis.com/maps/api/js

[2018-05-16 08:00] iSanchezDev commented on #829
Hello nycoh, I was in the same situation, so here my solution!

You need to understand what you do with `isOpen`. Because in this way, what you're doing is handling all markers in the same time. So I suggest this; each marker should be separate from others marker's behavior like this:

[code]

To see through withStateHandlers function:
[Recompose lib for react](https://github.com/acdlite/recompose

[2018-05-16 14:26] GazzaHazza commented on #737
Any update on this?

[2018-05-16 15:19] ping4tucker commented on #834
@gson88 v=3.30 was the previous frozen version.  That one has now gone away.  v=3.31 is the new frozen version and doesn't use the new map/renderer.

[2018-05-17 14:18] intelcoder commented on #834
I made pull request for the issue. [pull request](https://github.com/tomchentw/react-google-maps/pull/832)
It fixes the issue for me.

[2018-05-17 16:53] erickvica commented on #782
Did you solve it?
How did you get the last position?

[2018-05-17 18:17] erickvica commented on #83
May I send an extra argument to the function without lossing the event?

      onDragEnd={()=>props.onMarkerPositionChanged(props.reloadsitios)}

[2018-05-17 20:36] ghost commented on #53
@winsandymyint you did it! love you ❤️

[2018-05-19 16:32] GrolaElmahdi commented on #485
You can try this after imports :

`const google = window.google`

[2018-05-20 17:37] evilandfox commented on #791
Hi! I had this problem too, version changings didn't help. My google map renders in bootstrap modal. The reason was that map has `z-index: 1000` and modal has `z-index: 1050`. So, adding
[code]
somewhere in css fixes problem.

[2018-05-21 05:16] elongl commented on #833
https://developers.google.com/maps/documentation/javascript/reference/3.exp/marker#Marker.click
As you can see in the documentation, the Marker has a click event.
_"This event is fired when the marker icon was clicked."_

[2018-05-21 09:14] gson88 commented on #834
@ping4tucker Yes sorry, updated my response

[2018-05-21 16:01] amangeot commented on #414
Our users have been receiving this error inconsistently in production.

We use withScriptJs and withGoogleMap hoc, though for unknown reasons, following links will break the code here: https://github.com/tomchentw/react-google-maps/blob/master/src/withGoogleMap.jsx#L59
while loading or reloading the page works just fine.

Any suggestion will be greatly appreciated!

[2018-05-22 13:52] mschipperheyn commented on #210
I'm facing the same problem. There is a `NoRedraw` boolean option the Marker tag, I find that it insufficiently resolves the issue. Possible solution directions:

- fork this component and use React.Fragment instead of div to render the marker. I have a hunch that that might help
- fork this component and use the react-marker-clusterer api to create your cluster
- Make your database smarter so you

[2018-05-23 06:04] kstulgys opened #835 "Can I set "satellite" view as default?"
I get that 'map' view but can I change it to be 'satellite' as default? I see I can change it manually in the UI but couldn't find that prop so it's always default

[2018-05-23 12:26] mschipperheyn opened #836 "Fundamental performance problems with MarkerClusterer"
I have tried and failed to resolve performance problems with having many markers using the MarkerClusterer. I now believe that the performance issue is an architectural limitation caused by the fact that for each Marker a `<div></div>` is rendered and performance decreases lineairly with increasing numbers of markers.

The MarkerClusterer is intended to deal with many markers and it's not working

[2018-05-23 19:45] felipeucd commented on #561
Hello. Does anyone have an example of heat map using react and ES6?
Thanks.

[2018-05-23 20:40] TifaJ11 commented on #490
@MINZHE-XU Thanks for the example!

[2018-05-24 08:13] pttse commented on #638
Instead of the pull request as #725, I have referenced the code in #454  and below is a working solution for [addGeoJson in the Google API](https://developers.google.com/maps/documentation/javascript/reference/3.exp/data) :

[code]

[code]

[code]

The onMapWillMount method is called inside the GoogleMap tag
[code]
To retrieve the google map component, call props.currentMap

[2018-05-24 21:27] tleunen opened #837 "Infobox behind the overlay "command + scroll to zoom"?"
The overlay is often behind some of the elements like `InfoBox`. How is it possible to have the overlay on top of everything?
![screen shot 2018-05-24 at 5 26 30 pm](https://user-images.githubusercontent.com/1972567/40514596-af2d7ae2-5f77-11e8-976b-15f4fc0fecf9.jpg)
![screen shot 2018-05-24 at 5 26 00 pm](https://user-images.githubusercontent.com/1972567/40514597-af39808a-5f77-11e8-8553-8e376bd397

[2018-05-25 09:06] tritoanst commented on #598
@tomchentw
This issue appear in docs site.
https://tomchentw.github.io/react-google-maps/
Console debug with **verbose level**.
Google's map site is the same: https://www.google.com/maps/
:)

[2018-05-25 09:55] HannahCarney commented on #834
I can confirm that @gson88 and @ping4tucker solution solved the problem. Haven't seen this error in production since updated :)

[2018-05-26 17:53] rafaelmarques7 opened #839 "Polyline not showing"
Hi,

I am trying to render a route using the Polyline function, but I am having trouble with it.
Below is the code that renders the map and the route. Note that I have a variable,
called some_coords, which i used to test the code. using this variable, the polyline renders fine.
Unfortunetly, when I try to render "real" coordinates, that is, values which are not predefined,
and are created at runni

[2018-05-26 18:39] baughmann commented on #363
Why is this closed?

[2018-05-26 18:50] baughmann commented on #754
I'm still getting this error, even with both `@types/googlemaps` and `@types/markerclustererplus` added as dependencies. Any ideas?

[2018-05-26 18:57] baughmann commented on #737
I'm going through this whole `TS2304: Cannot find name 'Calculator'.` fiasco as we speak. Would definitely like a FAQ for this. I've installed:

[code]

And still get `Cannot find name 'Calculator'.`, `TS2304: Cannot find name 'ClusterIconStyle'.`, and a plethora of other TS2304s.

[2018-05-28 09:36] Mahmood004 opened #840 "Unable to Reset Zoom and Center to default Zoom and default Center using setZoom and setCenter methods"
I want to set map zoom and center to default zoom and default center by using methods like setZoom and setCenter when someone zoom in or changed the center.

But these two methods are not available in react-google-maps package. How can i solve this issue ??

[2018-05-30 09:39] digital-nomad17 commented on #363
@mxl
Has your type definitions for react-google-maps been merged? I can't find on npm.

[2018-05-30 09:44] mxl commented on #363
@digital-nomad17 Yes, they are installed with this module. Also you need definitions for googlemaps and markerclustererplus modules:

[code]

[2018-05-30 10:06] digital-nomad17 commented on #363
@mxl
Thank you!

Can we add notes to the github page for the typedefiniton file so people can find them?

[2018-05-30 10:08] mxl commented on #363
@digital-nomad17 Actually it's better to move definitions to separate module and make it depend on `@types/googlemaps` and `@types/marlerclustererplus` or add them to dependencies for this module. @tomchentw what is your decision?

[2018-05-30 12:09] digital-nomad17 opened #841 "Typescript error: `Property 'directions' does not exist on type '{ children?: ReactNode; }'.`"
## Getting Help

Hi,

I am using the typescript definitions and I am running into this error:

[code]

I copied the code(except the import statements) from the [DirectionsRenderer
](https://tomchentw.github.io/react-google-maps/#directionsrenderer) example to test it out. Here is the code:
[code]
[gitter-url]: https://gitter.im/tomchentw/react-google-maps?utm_source=badge&utm_medium=badge&utm_camp

[2018-05-30 14:38] tetar998 commented on #753
@nguyenvanphuc2203  where did you put your ShowInfo ?

[2018-05-30 16:34] baughmann commented on #363
@mxl running `npm i --save react-google-maps @types/googlemaps @types/markerclustererplus` and then importing `import {GoogleMap, withGoogleMap, withScriptjs} from 'react-google-maps'` results in a bunch of `TS2503: Cannot find namespace 'google'.`. Is this the expected result? Is there more work to do on my end?

[2018-05-31 04:13] nguyenvanphuc2203 commented on #753
![image](https://user-images.githubusercontent.com/33291479/40760984-98b55c84-64c3-11e8-972f-01f3673ccc23.png)

[2018-05-31 18:48] jordanpapaleo commented on #161
@j-quelly that is the constant used to represent the ominous name of the map instance.  You can use it to access the map instance and control is as needed.  For example you can disable and enable map controsl like this:

[code]

[2018-05-31 23:12] joelmenezes commented on #636
@VinceBT  I used your PoC code and just copy pasted it onto a new file and imported the MapPage component in my index.js. I see the markers being imported and the console logs for the refs, but the app screen is blank. Is there something I am missing?

My React and react-dom versions are 16.4.0 each.

[2018-06-01 05:00] noraliucode commented on #186
I also encountered a similar issue. But it's all gray, there is no google logo or any other stuff. No errors. It turned out I use the map in two different component, one of them passing "zoom" property from parent but the other doesn't. Once I fixed this and it worked. Help this could help.

[2018-06-01 18:07] digital-nomad17 commented on #363
@nickdb93
You have to declare `/*global googlemap*/` in the first line of the file. It's defined in the google-maps package but can't resolve it.

[2018-06-01 19:07] devon-pl opened #842 "OverlayView getProjection is always undefined"
I'm trying to build some logic to avoid overlapping overlays with prices, but getProjection is returning always undefined.

Test code
[code]

[2018-06-01 21:09] #842 closed, assigned to nobody

[2018-06-01 21:10] devon-pl commented on #842
Looks like you need to wait till map is loaded (onIdle) then works fine.

[2018-06-03 17:18] ermik commented on #812
This can be solved by separating the `compose()` call that creates the `render` environment and the layout functional component like so:
[code]

[2018-06-04 00:29] EbrahimMajdey opened #843 "Support for react-16.4.0"
Unmet dependency when trying to update react to 16.4.0

[2018-06-04 00:52] #843 closed, assigned to nobody

[2018-06-04 23:48] AonanLi commented on #828
I didn't find a way of doing it with DirectionsRenderer, so I just made a customized DirectionsRenderer using Marker and Polyline, where you could set your onClick functions.

[2018-06-05 00:08] AonanLi commented on #835
you can set "mapTypeId" in GoogleMap

[2018-06-05 00:13] AonanLi commented on #840
Not sure if I get what you mean, but If you dont want to change map zoom and center, you could just set zoom and center (not defaultZoom and defaultCenter) in GoogleMaps.

[2018-06-06 00:55] devantic commented on #588
Similar question but want to render multiple routes when the 23 waypoint limit for a single route is exceeded. I've managed to do this in plain html/js before using multiple directionsRenderers with setMap to the same map object but can't do it in react, at least not by using multiple DirectionsRenderer components. Has anyone done this? help greatly appreaciated.

[2018-06-06 01:51] itelo commented on #828
I followed the idea of @AonanLi  and [this post in medium](https://medium.com/@ali_oguzhan/react-native-maps-with-google-directions-api-bc716ed7a366), see my code below:

[code]

[code]

[2018-06-06 12:02] gergely-ujvari opened #844 "yarn build:src fails"
if trying to run `yarn build:src`, it fails, with the following error message:
[code]

After a little debugging I realized, that what is happenning inside `ClassDefinition.js` that it downloads  the html page from `https://developers.google.com/maps/documentation/javascript/3.exp/reference` and tries to parse it and fails.

This is most probable due to the fact that google changed the structure of

[2018-06-06 12:10] chris-pinuts opened #845 "(monkey)patch for panTo() instead of setCenter()??"
Hi There,

what i try to achive is that when the center prop of the map component is changed, a 'panTo()' event is fired intead of 'setCenter()'.

It is working when i change the following line in GoogleMap.js updaterMap:

  center: function center(instance, _center) {
    instance.setCenter(_center)
  },

to
  center: function center(instance, _center) {
    instance.panTo(_center)
  }

How would

[2018-06-06 12:36] chris-pinuts commented on #845
ok, i made a fork as described here: https://coderwall.com/p/q_gh-w/fork-and-patch-npm-moduels-hosted-on-github

[2018-06-06 12:36] chris-pinuts commented on #845
afaik its better if the map will transition smootly to the new center, maybe you wanna patch this into a new release.

[2018-06-06 12:47] gergely-ujvari opened #846 "Markerclusterer: setting the iconPath property has no effect"
Setting the `iconPath` property for the [MarkerClusterer Component](https://github.com/tomchentw/react-google-maps/blob/master/src/components/addons/MarkerClusterer.jsx) has no effect. Markerclustererplus still gets the icons from the default url.

This is because how the underlying library works:
- The `setupStyles_()` uses the property to set the icon urls: https://github.com/googlemaps/v3-utili

[2018-06-06 12:49] gergely-ujvari commented on #836
:+1:

I was also forced to write my own component for dealing with multiple markers.

[2018-06-06 16:16] secretagency commented on #186
We had this issue too, but the same exact map loads perfectly on other pages.  Setting parent height and other fixes here did not work.  For some reason cloning the exact page where it was working, then reloading all of our content into that page worked perfectly.  No clue what the difference is between the cloned page and a new page- ALL the settings are exactly the same as far as I can tell.

Lo

[2018-06-07 03:08] oahehc opened #847 "MarkerWithLabel labelStyle can't overwrite default style"
Currently after apply labelStyle, it will call this.setMandatoryStyles() to load the default styles.
But I hope to overwrite default styles.
Is there anyway to achieve that?
Or open for a PR to adjust the order for "setMandatoryStyles" and "apply labelStyle"?

[code]

[2018-06-07 07:01] AdrianTudC commented on #835
Namely this way:
`<GoogleMapReact
    bootstrapURLKeys={{ key: =<<YOUR_API_KEY>>}}
    defaultCenter={this.props.center}
    defaultZoom={this.props.zoom}
    options={function (maps) {
        return {
            mapTypeId: "satellite"
        }
    }}

</GoogleMapReact>`

[2018-06-10 08:39] oimos opened #849 "Update Component with Geolocation values"
I'm trying to show Google Map with centering the map based on latitude and longitude which are returned by Geolocation. However, the map shows as the default value and not get rendered by Geolocation values. I set latitude and longitude in component state and trying to re-render the component after the state is updated. But it does not work. Below is my code.

_MapView.js_
[code]
---

_MapComponen

[2018-06-10 16:50] CodingToBeWithHer commented on #586
I have tried but without success to rotate Marker, this is my marker:
[code]

how can I rotate it, say, by 90 degrees?

Any help greatly appreciated. Really good library.

[2018-06-10 17:21] CodingToBeWithHer opened #850 "Rotation of the marker - should update when component updates state"
I have a marker:
[code]

I have tried at least 20 different possible ways to rotate it - without success

I am aware of the issue:
https://github.com/tomchentw/react-google-maps/issues/586
but it's not clear whether that solves the problem and I could not make it work.

also I am aware of the answer here:
https://stackoverflow.com/questions/38670309/rotating-marker-in-google-maps-javascript-api-v3

[2018-06-10 17:26] CodingToBeWithHer commented on #849
the fix is very simple:
instead of `defaultCenter` user  `center`
Boom fixed

[2018-06-10 17:29] CodingToBeWithHer commented on #826
I would try instead of `defaultZoom` try just `zoom` at least that was the was I fixed the center of the map. I have used `center` instead of `defaultCenter`. If that works for you please let us know.

[2018-06-10 23:15] oimos commented on #849
The solution did not work for me. But thank you for taking look at it.
I needed to update the state with prevState and merge with current state. Now it's working :)

[2018-06-10 23:15] #849 closed, assigned to nobody

[2018-06-11 10:32] oahehc commented on #818
This is how I did, a little adjust base on @jgimbel 's [example](https://gist.github.com/jgimbel/6a36d60e28aaf453d0093ddc47f36533).

Map.js
[code]
CustomControl.js
[code]

[2018-06-11 13:15] sky-tiagoalves commented on #586
Unfortunately Maps API doesn't support this for web (you have that feature on Android for example)
In order to do the rotation I created a sprite image with all the angles I needed and just changed the icon of the marker accordingly @CodingToBeWithHer

[2018-06-11 14:02] CodingToBeWithHer commented on #586
@sky-tiagoalves thank you for a quick answer - really appreciate it.

Ok. I understand, doing sprite would work although in my case I may have any integer between 1 and 360 degrees so I would need to approximate somehow as I would rather avoid having sprite with 360 images in it...

According to this:
https://stackoverflow.com/questions/18951711/how-to-rotate-a-marker-in-google-maps
in the answer

[2018-06-11 14:25] CodingToBeWithHer commented on #586
here is also discussion and some solution to rotate marker in v3 Google Maps:
https://stackoverflow.com/questions/6800613/rotating-image-marker-image-on-google-map-v3

but anyways, if someone would figure out some easy way to rotate the marker in react-google-maps I guess this would be the place to post it as it's the first result Google returns when searching for it on the search engine.

[2018-06-11 16:59] o-aloqaily commented on #323
I managed to solve this problem by doing the following

`const mapHeight = window.innerHeight`
then in the style object of the map I have set the height to height: `${mapHeight}px`

[2018-06-11 18:20] AonanLi commented on #850
It you only need several certain directions of your marker, you could create several marker images by yourself.
![markers](https://user-images.githubusercontent.com/29387978/41249594-5dd185bc-6d69-11e8-8ffa-e3117275871b.png)

[2018-06-11 19:21] CodingToBeWithHer commented on #850
@AonanLi thank you for the answer, yes it would be a good solution for some cases, however in my case I can have rotation by any integer between 1 and 360 degrees...

[2018-06-11 20:36] Sailias commented on #762
@sarovin You can add a button outside of the searchbox

[code]

[code]

I found that if I used `google.maps.event.trigger('focus')`, it broke, contrary to what StackOverflow suggests.

[2018-06-12 06:39] addingama commented on #586
Hi, I've managed to rotate marker using this code

[code]

[2018-06-12 07:29] CodingToBeWithHer commented on #586
right... this is working but only when I also use:
[code]
but I have a custom image as my marker so I would need to have something like:

[code]

where carIconAppSilver is my image
in that case the image just ignores the rotation unfortunately

[2018-06-13 14:10] joeynimu commented on #486
Hey @MathieuCh ,

I know you gave the answer above on how to scale the images/icons but you didn't specify the value type of the `scaledSize` and `size`

Google documentation states that you use `new google.maps.size(45,56)` I have tried the same on react-google-maps but I get `google is not defined` yet I have used it with `withScripts`. What do I pass? Is it a `string`, `Object` or other.

[2018-06-13 15:02] #762 closed, assigned to nobody

[2018-06-16 20:31] vgrem commented on #841
To eliminate this error, try to explicitly specify map component properties.

For that matter the following type could be introduced:

[code]

then a map component defined like this:

[code]

and

[code]

[2018-06-18 12:11] joeynimu commented on #306
@zainer26 does this work for you `scaledSize: new google.maps.Size(31, 43)` ? I get `google is not defined` on the console.

[2018-06-18 20:27] evonsdesigns commented on #840
@Mahmood004 Take a look at this solution https://github.com/tomchentw/react-google-maps/issues/188#issuecomment-172691548.

There was a [PR](https://github.com/tomchentw/react-google-maps/pull/455) to expose these API functions but it looks like the module owner does not want it added.

[2018-06-19 09:33] Darkham42 commented on #306
@joeynimu just add this line in the top of your file
`/*global google*/`
It'll disable ESLint and it'll work for you :)

[2018-06-19 11:01] akankshagore opened #852 "Multiple marker at same coordinate in clusteed marker doesnt get displayed individually."
![screenshot 6](https://user-images.githubusercontent.com/25167501/41593744-aebf7206-73de-11e8-9729-c5ce8eabc332.png)

Above is code. Please help me rectify it. Output is also attached. After clicking on retinal marker unable to view individual markers.
![screenshot 5](https://user-images.githubusercontent.com/25167501/41593584-32c91f6c-73de-11e8-9514-6c660b1e96ea.png)

[2018-06-19 15:43] joeynimu commented on #306
@Darkham42 thanks man. isn't this something that can help if it was on the docs? Or is it that it isn't obvious just to me?

[2018-06-19 20:44] williamsb commented on #363
Just an FYI for anyone having trouble importing snazzymaps styles (on typescript), make sure you are using the correct type for "stylers"
**snazzymaps default:**

`
           "stylers": [
               {
                   "saturation": "13"
               },
               {
                   "lightness": "4"
               }
           ]
`

**should be:**

`
           "stylers": [

[2018-06-20 04:38] hungdt-ibl commented on #636
where can i get "google" ?
[code]
My component:
[code]

[2018-06-20 12:38] Jiia commented on #637
@tomchentw Why did you close this? It's an open bug.

[2018-06-20 12:46] gabma commented on #637
@Jiia

Here’s how me managed it. Check the Google doc as well, since some configurations are not linked to react-google-maps implementation.

[code]

[2018-06-20 22:08] kedwin commented on #741
i think he gives a f*** :rofl:

[2018-06-21 13:22] Jiia opened #853 "MarkerWithLabel missing in TypeScript declaration"
MarkerWithLabel is missing TypeScript declaration in index.d.ts so it cannot be used in TS applications without suppressing TypeScript.

[2018-06-21 23:35] sambokai commented on #764
Could you provide a code example of your mentioned solution?

[2018-06-22 04:23] ghost opened #854 "Map Marker generate error on load"
I'm using map with marker few weeks already
but it generate error these two days

My code:
`import React from 'react'
import { GoogleMap, Marker } from 'react-google-maps'

type Props = {
  onMapMounted: ?Object => void,
  onCenterChanged: ?Object => void,
  onZoomChanged: () => void,
  zoom: number,
  lat: number,
  lng: number,
  centerLat: number,
  centerLng: number,
  onMouseUp: ?Object => vo

[2018-06-22 04:25] ghost commented on #854
sometime it works for a while by disable the marker and reenable it

[2018-06-22 04:57] #854 closed, assigned to nobody

[2018-06-22 06:15] yuchentseng commented on #810
@afzydev
 I guess #373 is for you

[2018-06-23 21:05] mryczkowski commented on #840
@evonsdesigns is right, and that decision is silly to me.
The suggested solution is to manage zoom in state and pass the `zoom` prop to your `GoogleMap` component, but for me it seems to only work the first time. So if like for me, it doesn't work for you, then it seems you gotta also listen for when zoom changed and update the props with that value as well. Something like this:
[code]

[2018-06-25 05:58] prashant-andani commented on #373
How can we have a conditional styling...
Say size of the icon based on the cluster size...

[2018-06-25 14:49] digital-nomad17 opened #856 "Feature request:TransitLayer"
delete

[2018-06-25 16:54] rockia commented on #835
Both @AonanLi and @Edeph are correct. I would want to add a comment on top of Edeph's solution. It's better to use `google.maps.MapTypeId.SATELLITE` instead of the string "satellite" just to avoid typo.

[2018-06-25 17:51] #856 closed, assigned to nobody

[2018-06-25 18:03] congruentsquare opened #858 "Exposing the places search api"
It would be great if there was a way to use the [places api](https://developers.google.com/places/web-service/intro) from react-google-maps. Is anyone currently working on this?

[gitter-url]: https://gitter.im/tomchentw/react-google-maps?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge

[2018-06-25 18:26] ajay-bsoft opened #859 "Worngly opened. Sorry"
worngly opened but unable to delete this

[2018-06-25 18:36] ajay-bsoft commented on #859
Hi, I am using a symbol as marker icon and it rotates correctly the first time but after updating its value by props doesn't rotate it further. Below is my code for custom marker component,

[code]
On developer console It shows, as below, that rotation value of the symbol icon changes correctly as per props.

![screen shot 2018-06-25 at 7 31 37 pm](https://user-images.githubusercontent.com/3932557

[2018-06-25 18:48] #859 closed, assigned to nobody

[2018-06-25 18:49] rockia opened #860 "Custom Zoom Control UI"
Hello, this is the first time I am opening issue in this project. I have a question regarding adding custom control.
Here is my environment:

- **"react-google-maps": "^9.4.5"**
- **"react": "^16.3.2"**
- **"react-dom": "^16.3.2"**

Upon some googling and stackoverflow searching. I have found some good references:
For example:
- https://jsfiddle.net/maunovaha/jptLfhc8/
- https://developers.google.

[2018-06-25 18:54] ajay-bsoft commented on #850
I am also looking for the same but unable to so

I am using a symbol as marker icon and it rotates correctly the first time but after updating its value by props doesn't rotate it further. Below is my code for custom marker component,

[code]
While looking in developer console I found the rotation value is updated correctly in the icon parameters as below but the marker doesn't update rotation

![

[2018-06-26 23:09] CodingToBeWithHer commented on #240
for the specific case of center you can use defaultCenter instead of just center - it'll not recenter on infowindow click. Similarly should work for zoom

[2018-06-26 23:10] CodingToBeWithHer commented on #240
but I agree problem is I need sometimes recenter the map so I can't use defaultCenter so it is indeed a problem in some cases

[2018-06-27 14:18] yuritoledo opened #861 "Inject a adrress and show it on maps [help]"
Hello!

How can I inject a address (from a form) on map, and show the address on it, thru the mark?

I've make a search, and sadly found nothing.

[2018-06-29 10:36] nancy0507 commented on #445
@jojo-tutor I am facing the same issue, anybody found solution for above. I have a websocket connection from where i am continuously getting lat lng, I am not even updating the center but it is updating the center as soon as any event is received and causing flickering issues

[2018-06-29 19:09] AonanLi commented on #860
I was adding a customized button to the map a couple months ago. Basically I used a component based on your first link. Here's the CustomControl component:

[code]

Then you should add this CustomControl in your MapComponent, pass the map ref, and wrap your zoom control component as a child of CustomControl:

[code]

[2018-06-30 23:23] CodingToBeWithHer commented on #184
Anybody found solution?

I have this behaviour:
open InfoWindow for markerA --> zoom out so markerA is part of cluster --> open infoWindow for markerB somewhere else on the map --> zoom in so markerA is not in cluster --> the empty infoWindow is above markerA for some reason...

[2018-07-02 02:52] ViktorZhurbin commented on #636
@hungdt-ibl
Grab it from `window` (`window.google`)
Hope [this](https://stackoverflow.com/a/43718073/4819463) helps

[2018-07-02 05:34] xaw-roz commented on #186
Add these
<style>
#map {
    overflow: hidden !important;
    position: relative;
    width: 100%;
    height: 500px;
    margin-bottom: 5%;
}

</style>

[2018-07-03 00:32] CodingToBeWithHer commented on #486
@joeynimu use window.google.maps ... works for me

[2018-07-03 03:17] louisdvs commented on #636
@VinceBT thanks for the code snippet above, huge help! Was struggling with this for a while.

[2018-07-03 08:36] nojaf commented on #338
I'm also getting the `RangeError`:
[code]

The props log is an empty object. Gmaps script is added in the `<head>` of my page. What am I missing here?

[2018-07-03 09:56] fabriceyopa commented on #486
This is how i fixe that
[code]

[2018-07-03 23:34] rockia commented on #860
Thanks @AonanLi for your reply. I tried it but still couldn't get it working. I see same error that I can't read property 'context' of null.

<img width="1046" alt="screen shot 2018-07-03 at 4 31 03 pm" src="https://user-images.githubusercontent.com/1174101/42249178-b08c32e4-7ede-11e8-8ade-1d961912dbf3.png">

Here is how I call this custom control. It should be aligned with what you provided.

[co

[2018-07-03 23:50] AonanLi commented on #860
I think it's possibly because your "mapComponentRef" wasn't created yet when you call "addToMap".

I didn't use "React.createRef()" in my code to get the map ref, so for my case the ref is already there.

You could try this to see if it could work:
[code]

If it doesn't work, try to get your map ref before rendering your map component. For my case I got the map ref in "onMapMounted" and stored it

[2018-07-04 12:47] Return-1 opened #862 "Testing loadingElements"
Is there any way to visually test the loadingElement property?
Mostly things load too fast even when i throttle the network and i cant seem to find a way to see the loadingElement and wether it looks good enough.

[2018-07-04 14:23] ckshameer opened #863 "Get latitude longitude of a place on map click"
## Getting Help

**Before doing this, did you**:

1. Read the [documentation](https://tomchentw.github.io/react-google-maps)
2. Read the [source code](https://github.com/tomchentw/react-google-maps)

_You can get someone's help in three ways_:

1. Ask on StackOverflow [with a google-maps tag](https://stackoverflow.com/questions/tagged/google-maps?sort=votes&pageSize=50) or [use react-google-maps a

[2018-07-04 14:25] ckshameer commented on #863
How to get latitude and longitude of a place on click in map

[2018-07-04 15:34] i1u5 commented on #222
An easy fix is to [whitelist your site on the ad blocker](https://www.wikihow.com/Whitelist-wikiHow-on-an-Ad-Blocker#Using_uBlock_Origin_sub). After all, it's just _your_ website.

[2018-07-04 17:05] joshualimpj opened #864 "How do I remove point of interest from the map component?"
Is it possible to remove all point of interest from the map?

[2018-07-04 20:55] johnantoni opened #865 "get path of newly plotted polygon"
Hi I've been building a Google Map Editor with the Drawing Manager, god it was difficult.

I think the hardest was just working out the flow within the React eco-system.

One last bit, probably easy but please forgive me, I'm trying to get the path of the new plotted polygon.

I've added a listener to the DrawingManager,

      <DrawingManager
        options={{
          drawingControl: props.dra

[2018-07-04 23:22] #861 closed, assigned to nobody

[2018-07-05 06:55] pttse commented on #753
@nguyenvanphuc2203  Thanks for your code. However, after opening an info window and closing it once. The info window will not be able to show up again.

So below is the quick fix, I just added an additional condition for showing the info window (ie . **props.isOpen**).
[code]

If there is another better fix, please let me know!

[2018-07-05 07:17] nguyenvanphuc2203 commented on #753
nice man :D

[2018-07-05 22:59] rdbll opened #866 "Cannot find namespace 'google', 'Calculator', 'ClusterIconStyle' and 'Cluster' even with corresponding types installed"
Hi, I get compilation errors about missing type namespaces in the `react-google-maps/types/index.d.ts` file, but the corresponding types are correctly installed. If I manually add theses lines at the top of the `index.d.ts` file

[code]
everything works fine and I can actually see and use the map component provided as an example in the documention.

Unfortunately this is not really a solution. Doe

[2018-07-06 04:39] ajay-bsoft commented on #491
I also stuck on this issue. finally resolved. putting a code for others info if faced with the same issue,

in place of the code,
[code]
do following,

[code]

[2018-07-06 04:42] ajay-bsoft commented on #726
for code solution please check [#491](https://github.com/tomchentw/react-google-maps/issues/491)

[2018-07-06 18:27] rdbll commented on #866
My bad for some reason there were two tsconfig.js files in my project and I was modifying the wrong one. Adding "googlemaps", "markerclustererplus" to the types in the right tsconfig.js file fixed the issue.

[2018-07-06 18:27] #866 closed, assigned to nobody

[2018-07-07 07:50] kachkaev commented on #866
`yarn add -D @types/googlemaps @types/markerclustererplus` solved this issue for me

[2018-07-09 20:24] teksrc commented on #290
@ashishchoudhary12 and even over a year later that answer has yet to be answered. lol

[2018-07-09 20:41] teksrc commented on #446
@mjvalade Another way to handle the InfoWindow inside Marker is to have an onMouseOver and onMouseOut event handler that invokes a function or class method handler for toggling. The onMouseOver and onMouseOut would be set on both the Marker and the InfoWindow using function currying and lodash's debounce with a set time. By this you can persist that InfoWindow if the user hovers over it and or unt

[2018-07-10 01:15] pruhstal commented on #290
@Frankcarvajal `InfoBox` is probably the way to go. Way more customizable.

[2018-07-10 02:12] teksrc commented on #290
@pruhstal The only issue is there aren't any great examples of it being used via React and not using the 'composable' package used in the examples.

[2018-07-10 03:50] pruhstal commented on #290
@Frankcarvajal here's an example of how I'm using it within one of my custom components (`WrappedCard`)

[code]
To be honest, I've found using the `compose` package nicely encapsulates props into the component itself.

[2018-07-10 08:16] devantic commented on #288
Have/had same issue. Removing this from the icon definition worked although I had to edit the svg setting height and width to 32 to compensate.
scaledSize: new google.maps.Size(32,32)

[2018-07-10 22:00] veysiyildiz commented on #860
you just need to add current to ref
`          <CustomControl
              mapHolderRef={this.mapComponentRef.current}
              controlPosition={window.google.maps.ControlPosition.TOP_LEFT}

            <div onClick={() => this.mapComponentRef.current.map.setZoom(8)}>testing component</div>
          </CustomControl>`

[2018-07-12 00:35] strarsis commented on #812
I get the same error and I want to use `google-map-react` and `react-streetview` at the same time.
Currently only one component loads correctly when both are used at the same time.

[2018-07-12 11:11] asmmahmud commented on #53
It is possible using the following way:

[code]

[2018-07-16 16:17] gaelicgod commented on #864
Yea, I had the same issue, i did this: (The options -> styles part)
`<GoogleMap
      ref={(map) => map && map.fitBounds(bounds)}
      defaultZoom={defaultZoom}
      defaultCenter={new google.maps.LatLng(
        props.mapCenter.lat,
        props.mapCenter.lng,
      )}
      options={{
        styles: [{
          elementType: "labels",
          featureType: "poi.business",
          stylers:

[2018-07-17 13:16] Piemontez commented on #414
The withGoogleMap function doesn't prevent "google is not loaded" error.

I proposed a solution to this in
https://github.com/Piemontez/react-google-maps/blob/patch-1/src/withGoogleMap.jsx : 59.

In my case, my system operates offline too and this crash is right.

[2018-07-18 03:33] theZulqarnain opened #868 "search hint based on center position on StandaloneSearchBox"
like in **SearchBox** when we set center of map then we get first places from that center so how can i implement same logic where my place show on center basis,i used `bound` but it's not functioning.i'm using map and `StandaloneSearchBox` in different component

[2018-07-18 13:57] ascii-husky commented on #567
This does not work.
Maybe because the options are set via setOptions and backgroundColor can only be set initially?
https://developers.google.com/maps/documentation/javascript/reference/3/map#MapOptions

[2018-07-18 15:19] Talmaj commented on #567
I created a pull request #765 that resolved this issue and #764 for me.

[2018-07-19 12:27] theZulqarnain commented on #306
@Darkham42   after defining  `/*global google*/` also it showing me **google is not defined**

[2018-07-19 12:55] Darkham42 commented on #306
@theZulqarnain like that I can't do anything for you...
Have you put it at the right place ?

[2018-07-19 13:08] theZulqarnain commented on #306
yeah, i added on top of the file

[2018-07-19 13:53] Darkham42 commented on #306
I can't see your code. There is something else I think, but it's not with these indications I could do something for you... sorry...

[2018-07-20 04:40] vominhtam opened #869 "DirectionsRenderer Error when run example"
Hi,

I have a issues when use DirectionsRender. I run example and it display error

Please help me thank all so much

[2018-07-20 11:58] joeynimu commented on #306
@Darkham42 if you could share your code I could be able to help. You could also try doing something like `const google = window.google` and see if it'll work.

[2018-07-21 23:10] ermik commented on #812
@strarsis try moving the script loader into a separate environment and override both modules so that only your code injects the script.

[2018-07-21 23:14] ermik opened #870 "Please consider archiving this repository if it's not maintained"
Dear `react-google-maps` authors, I have noticed there is an always growing number of open issues in this repo. And while this is a blight of any popular OSS community, what has raised my present concern was the multitude of PRs that have not been merged or otherwise cleared.

*Please consider archiving this repository or providing a clear notice of maintenance status.* While we make our bets with

[2018-07-22 05:11] daphnedeng opened #871 "Unable to open infowindow"
Hi, I'm new to react and learning how to create a google map shows multiple markers with info-window.
I am able to render the map with markers, however when I add the `onToggle` for info-window, and click on a marker, the whole interface disappear and I got many errors. If anyone can help me with this issues that'll be great. Thank you very much.
[code]
![mapok](https://user-images.githubuserconte

[2018-07-22 06:02] strarsis commented on #812
@ermik: Could you give me an example.

[2018-07-23 09:54] swetha2 commented on #628
Hey how can i change styles of path line in DirectionsRenderer component?

[2018-07-23 13:28] bellomusodiq opened #872 "Center property on Google map component is not changing when props was received"
Center property on Google map component is not changing when props was received.

Please I need help its urgent

[2018-07-24 11:54] GonZOO82 opened #874 "Params in ReactGoogleMapsLoader"
Hi!

Please extend the Params in ReactGoogleMapsLoader class or remove the interface.
I try used the language and region params but not accepted.

(bow)

[2018-07-25 12:30] ermik commented on #871
This code:
[code]
— has an error. Look closely and you'll see that one of `InfoWindow` props became a string (it should be before the closing `>` bracket). Compare to `Marker` props to find it faster.

[2018-07-25 12:31] ermik commented on #872
It will only change if you change it. Please show the code that you are using.

[2018-07-25 15:50] Ratioraji commented on #186
I had similar issue , all did was add this

`agm-map{
  height: 800px;
  width: 100% ;
}`
 in the style and it worked

[2018-07-25 20:54] felixb101 commented on #795
I have the same issue. I tried willfre suggested code but the handleClick(event) method still does not have the event passed through. The argument "event" is not the click event at all. Any idea why?

[2018-07-26 07:29] Sorcer23 commented on #812
Just use same api links with same params

[2018-07-26 10:30] s9eenk commented on #574
Yes. DrawingManager is not working at all with react-google-maps^9.4.5.

[2018-07-26 10:35] dnagy14 commented on #753
@nguyenvanphuc2203 @pttse
IMO, the easiest and the right way is to reset `infoIndex` in the state.
You can even use the same function for opening and closing `InfoWindow`.
My code looks like this:
[code]
[code]

[2018-07-26 12:03] dnagy14 commented on #753
@nguyenvanphuc2203 @pttse
IMO, the easiest and the right way is to 'reset' `showInfo` prop on close.
BTW, you could use only one function that handles opening and closing `InfoWindow`.
My code looks like this:
[code]
[code]

[2018-07-26 12:39] s9eenk commented on #386
DrawingManager not working at all....

![image](https://user-images.githubusercontent.com/23517231/43262803-03c70182-90ff-11e8-94ea-5940185a8e74.png)
![image](https://user-images.githubusercontent.com/23517231/43262990-98a3590e-90ff-11e8-9fc1-0931bee64106.png)

[2018-07-26 12:45] s9eenk opened #875 "DrawingManager . Not working in react-google-maps^9.4.5"
DrawingManager not working at all....

![image](https://user-images.githubusercontent.com/23517231/43262803-03c70182-90ff-11e8-94ea-5940185a8e74.png)
![image](https://user-images.githubusercontent.com/23517231/43262990-98a3590e-90ff-11e8-9fc1-0931bee64106.png)

[2018-07-26 15:57] davidgtu opened #876 "lat and lng position is incorrect despite confirming"
I'm passing in `lat` and `lng` into my markers and they seem to be off by a bit for some reason. i'm tried looking up the exact of where I need it to be but it never seems to be placed on the spot.

my coordinates: `{ lat: 40.7433682, lng: -73.99427500000002 }` and `{ lat: 40.744801, lng: -73.992755 }`

gives me
<img width="306" alt="screen shot 2018-07-26 at 11 55 35 am" src="https://user-images.

[2018-07-27 17:55] jmaroa commented on #828
I'm trying to do same, I did try to create onClick event but I was not able to do it.

Does anyone know how to load a custom <Marker> into <DirectionsRenderer> component?

[2018-07-27 19:11] jamesmosier opened #877 "Update CONTRIBUTING.md"
I'm having a little trouble getting started with the codebase for a contribution I wanted to make. I believe the [CONTRIBUTING.MD](https://github.com/tomchentw/react-google-maps/blob/master/CONTRIBUTING.md) it out of date with the current state of the codebase. Would it be possible to get a very high level description of the repo layout and how to start developing (locally) to contribute?

Thanks

[2018-07-27 19:19] jamesmosier commented on #93
I know this issue is super old, but could you provide some more insight into what the proposed solution is for removing the unneeded `div` so that something like `z-index` could be applied to an OverlayView @thetiby ?

I understand that you probably haven't thought about this since the day the issue opened, but I'd love to contribute to fix this but want to make sure I head down the right path.

[2018-07-27 20:05] jamesmosier commented on #844
Did you find a way to fix this (even just temporarily) @gergely-ujvari ?

[2018-07-28 10:11] thetiby commented on #93
@jamez14 you might be able to apply the z-index to the child div that you have control over; if not, check the `InfoBoxInstance.div_`, if it still exits

[2018-07-28 15:41] thunderbird3 commented on #836
@mschipperheyn I am also about to use MarkerClusterer with google-map-react. If you happen to have your component as a snippet somewhere, it would be very helpful!

[2018-07-28 16:48] ermik commented on #812
@strarsis I will get back to my code soon and post something here. Sorry for not being able to help quicker.

[2018-07-29 00:53] mschipperheyn commented on #836
[code]

[2018-07-30 12:45] jamesmosier commented on #93
I should've just tried to apply it to the child `div` from the start 🤦‍♂️  that did it. Thanks @thetiby !

[2018-07-30 21:37] AonanLi commented on #876
did you set proper anchor point for your customized marker?

[2018-07-30 21:41] AonanLi commented on #875
so.. did you?

[2018-07-31 07:28] kapilideal opened #878 "Google map get refresh when click on marker to open infowindo"
I have an issue with react-google-maps.
When i click on a marker so infowindo opens but the google map get
refresh, it  reset its default zoom. but i want if any user make zoom
map and then click marker so map should not reset with its default zoom
, it should stay zoom which user make to see marker. Simply i want that
map should not refresh after click on marker

here is code
class Map extends Co

[2018-07-31 10:56] stenrdj commented on #870
@ermik you're absolutely right , please @tomchentw would you keep in view the status of maintainability of this repo !

[2018-07-31 12:41] ryan-ds commented on #806
@bognix Can you please provide an example of how you updated the center on every dragend event?

[2018-07-31 14:40] bossbossk20 commented on #863
@shameersam  You can get lat, lng by add onClick to props in GoogleMap

[code]

I hope it useful.

[2018-07-31 21:17] AonanLi commented on #878
could you format your code so we could read

[2018-08-01 13:21] ummahusla opened #879 "<Circle /> is not really a circle?!"
I'm playing around with `<Circle />` component and I've noticed that circle's shape is slightly weird. Any ideas how to fix it?

<img width="409" alt="screen shot 2018-08-01 at 14 19 04" src="https://user-images.githubusercontent.com/2536096/43524024-0db53a9c-9596-11e8-8205-f7e9d806deb5.png">

[2018-08-01 13:22] ninjasun commented on #687
is there a working example of how to use it?

[2018-08-02 09:32] s9eenk commented on #786
Write a toggle function by setting up state  to a property (drawingMode)

this.state={
     getDrawingMode:''
}

Toggle State:

this.setState({
getDrawingMode:'polygon'
})

........
<DrawingManager
        drawingMode={this.state.getDrawingMode}

[2018-08-02 10:43] madrussa opened #880 "GroundOverlay - Doesn't update position on props change"
GroundOverlay component doesn't redraw position on map when defaultBounds prop changes. My workaround currently is to hide the GroundOverlay when moving position and add it back in when drawn, essentially unmounting and mounting the component.

[code]

[2018-08-02 13:28] tomhalley commented on #84
[This seems to be a bug inherent in google maps.](https://issuetracker.google.com/issues/35819207)

[One guy said he found a fix](https://shades-of-orange.com/post/Stop-Propagation-of-Google-Maps-Marker-Click-Event-a-Solution!), but that didn't work for me...

And the hover solution suggested by @ksavenkov and another guy in [this stackoverflow thread](https://stackoverflow.com/questions/43807586/

[2018-08-02 17:17] tchaton opened #882 "Not working with new google API and valid key ..."
Bug

[2018-08-03 20:12] thomvilla opened #883 "The examples in the docs doesnt work"
I cant see any map in the docs and my map doesnt work, when u can update an fix it ??

[2018-08-04 18:46] ufon commented on #84
up please

[2018-08-05 05:02] oshalygin commented on #883
What specific issue are you having?  If you're stuck on how to use the library beyond the README and the examples, please post a question on stack overflow.

[2018-08-05 05:03] #883 closed, assigned to nobody

[2018-08-05 05:03] oshalygin commented on #882
I'll take a look

[2018-08-05 13:52] tchaton commented on #882
Hey,

I am meaning even on the website.
The maps doesn t seem to load or is it me ?

Best,
Thomas

2018-08-05 5:03 GMT+00:00 Oleg Shalygin <notifications@github.com>:

[2018-08-05 19:50] oshalygin commented on #882
Not sure yet but I'm about to test it right now, the latest version of the google maps api may have broken a few things internally but I doubt it, they're very good about semver.

I'll let you know within the hour

[2018-08-05 19:51] oshalygin commented on #882
FYI for reference:
https://developers.google.com/maps/documentation/javascript/versions

[2018-08-05 19:55] oshalygin commented on #882
Everything is working fine with v3.33 of GoogleMaps:
https://developers.google.com/maps/documentation/javascript/releases

Take a look at the README and the getting started.  If you see any issues please comment back in this Issue and I will reopen it.

Thanks!

![image](https://user-images.githubusercontent.com/7675942/43689398-d8e4f232-98ae-11e8-9d7f-24acb9879c5c.png)

[2018-08-05 19:55] #882 closed, assigned to nobody

[2018-08-05 20:07] tchaton commented on #882
Hey,

I have this error on both my website, yours and the documentation

2018-08-05 20:55 GMT+01:00 Oleg Shalygin <notifications@github.com>:

[2018-08-05 20:10] kylepierce commented on #865
https://github.com/tomchentw/react-google-maps/issues/454#issuecomment-385072288

[2018-08-05 20:35] sakhisheikh commented on #818
@jgimbel  @SyedSaifAli  I was getting the same TypeError while unmounting the the map controls.
this is how I fixed it :
https://gist.github.com/sakhisheikh/87dd587ec126189e95396c380d49298f

@jgimbel I have updated the gist.  You do a PR now.

[2018-08-06 07:11] muwednesday commented on #161
@sjovall Could you please give an example? I have started to learn React recnetly, and can not see what you mean.

[2018-08-06 07:22] muwednesday commented on #161
@jordanpapaleo I tried your code, but got "Cannot read property 'context' of undefined" error.

[2018-08-06 07:51] muwednesday commented on #161
@sjovall Here is an example.
[code]
I learned from [How to handle React context in a reliable way](https://medium.com/react-ecosystem/how-to-handle-react-context-a7592dfdcbc). Thanks

[2018-08-06 11:18] tab commented on #210
Update to latest package (9.4.5) version and use option `noRedraw={true}` solved all problems

[2018-08-06 13:44] vincentjames501 commented on #853
+1

[2018-08-07 07:33] wildansupernova opened #884 "error on Documentation"
![image](https://user-images.githubusercontent.com/32335742/43761213-a860688e-9a4e-11e8-8d75-869cf6c4335f.png)

on console, the error is Google Maps JavaScript API error: ApiProjectMapError

can you fix the issue?

[2018-08-07 09:53] Eilt commented on #190
AppComponent.html:1 ERROR TypeError: Cannot read property 'ControlPosition' of undefined
    at MapmainComponent.push../src/app/mapmain/mapmain.component.ts.

![image](https://user-images.githubusercontent.com/39511541/43768766-5b5ea664-9a4d-11e8-8310-f2988be8fce9.png)

import { Component, OnInit, NgZone, ViewChild, ElementRef  } from '@angular/core';
import { MapsAPILoader } from '@agm/core/servi

[2018-08-07 09:56] Eilt commented on #190
ERROR TypeError: Cannot read property 'ControlPosition' of undefined
    at MapmainComponent.push../src/app/mapmain/mapmain.component.ts.MapmainComponent.ngOnInit

![image](https://user-images.githubusercontent.com/39511541/43768901-ababb346-9a4d-11e8-9f61-36c610951fc0.png)

main map.ts

import { Component, OnInit, NgZone, ViewChild, ElementRef  } from '@angular/core';
import { MapsAPILoader } fro

[2018-08-07 15:33] nabeel-akram commented on #258
i'm facing same issue. i've a menu inside the InfoBox. And each menu item has a Link. Clicking on a menu item is causing a reload.
Also onClick event is not working inside InfoBox. I've set enableEventPropagation: true, but still can't trigger onClick from children components of InfoBox.

[2018-08-07 15:44] #863 closed, assigned to nobody

[2018-08-08 10:02] RZsam opened #885 "polygons color changing with zoomIn and zoomOut"
I have two type of polygons in map and I can add another polygon to map.each of them have different fill color.
when map is loaded , if you keep zooming out polygon   changing to red but with zoomIn it fixes.

![image](https://user-images.githubusercontent.com/26380519/43830064-bc912a06-9b15-11e8-97d5-fa1ad291501e.png)

after zoomIn

![image](https://user-images.githubusercontent.com/26380519/4383

[2018-08-08 11:00] madrussa commented on #84
I've found a solution that seems to work nicely using the static preventMapHitsFrom and preventMapHitsAndGesturesFrom methods from https://developers.google.com/maps/documentation/javascript/reference/overlay-view#OverlayView.preventMapHitsFrom

In your component or HTML Element within your OverlayView you can call preventMapHitsFrom on your element that you don't want your mouse or touch events f

[2018-08-08 13:45] tomhalley commented on #84
Wow... is that new @madrussa? That's worked perfectly.

I spent over a year looking for a fix for that...

![Damn...](https://i.kym-cdn.com/photos/images/newsfeed/001/373/328/b16.jpg)

[2018-08-08 14:53] madrussa commented on #84
Yeah it looks new. I can see it in 3.33 but not 3.32. My only concern is that it's a black hole and it could lead to memory leaks... as you feed it references, but what happens when they remove?

[2018-08-08 22:42] AntiFish03 commented on #884
That is likely due to the pricing changes that Google has made for using the maps API, and how they calculate usage etc. See https://cloud.google.com/maps-platform/user-guide/ essentially whenever `new google.maps.Map` is called it counts towards usage.

[2018-08-09 18:00] davidgtu commented on #876
That was the problem. Thank you.

[2018-08-09 18:00] #876 closed, assigned to nobody

[2018-08-09 21:38] mom3d commented on #878
when calling setState() your component will re render and you are wrapping GoogleMap component so it will rerender too so you it will use the default center again

[2018-08-10 10:42] birozso opened #886 "i got the google is not defined, error message. The solution is : labelAnchor={new window.google.maps.Point(0, 0)} regards,"
## Getting Help

**Before doing this, did you**:

1. Read the [documentation](https://tomchentw.github.io/react-google-maps)
2. Read the [source code](https://github.com/tomchentw/react-google-maps)

_You can get someone's help in three ways_:

1. Ask on StackOverflow [with a google-maps tag](https://stackoverflow.com/questions/tagged/google-maps?sort=votes&pageSize=50) or [use react-google-maps a

[2018-08-10 12:01] JulienCorb commented on #273
Hey I am also looking for a solution for this; I am building an airbnb-like app where you have a bunch of cards on the left and a map on the right. When the user hovers on a card, it should highlight the marker on the map.

As everyone in this issue, I managed to do this but the map re-renders every time a new card is hovered on.

That very annoying and considering the new pricing of google map, I

[2018-08-13 13:26] vitalybe commented on #754
@nickdb93 Make sure to add it to your tsconfig.json like so:

[code]

[2018-08-13 16:28] rockia commented on #82
@Michael-Brooks and anyone who is looking into this issue, so sorry I forgot to mention my solution. Basically the code posted works, however you will need to make sure the reference is ready. So here is what I do

[code]

I hope this helps.

[2018-08-13 16:31] rockia commented on #860
For anyone who is looking into this issue. I have posted my solution in https://github.com/tomchentw/react-google-maps/issues/82#issuecomment-412579391 .

I will close this PR now. Thanks so much for the help.

[2018-08-13 16:31] #860 closed, assigned to nobody

[2018-08-13 19:49] sinevitch opened #887 "Cannot update during an existing state transition (such as within `render` or another component's constructor)"
![image](https://user-images.githubusercontent.com/35930695/44054226-b45cb218-9f4a-11e8-86f8-80df06e1b20d.png)
![image](https://user-images.githubusercontent.com/35930695/44054486-63c64d9a-9f4b-11e8-96dd-a23898facd40.png)

I use StandaloneSearchBox
When I try to get the coordinates and write them in state
I'm getting a warning

![image](https://user-images.githubusercontent.com/35930695/44054362-1

[2018-08-14 08:11] urikphytech commented on #834
I'm getting this error too, and google have now retired version 3.30 and 3.31. Is this library planning to support the new renderer? @tomchentw anything I can help with?
Thanks

[2018-08-14 09:47] devantic opened #888 "Corrupt polyline"
Has anyone else encountered this - polyline is corrupt, i.e. there are segments missing. This is happens sporadically for me - it usually renders properly. I've tried the  old google maps directions renderer (v3.3.1) too - didn't help.

![image](https://user-images.githubusercontent.com/32611040/44084492-360e8778-9ffa-11e8-97cd-2047e2463ce2.png)

[2018-08-14 11:03] mlautin commented on #774
The solution with 3.31 does not work anymore.
"Versions 3.0 to 3.31 have been deleted."

https://developers.google.com/maps/documentation/javascript/versions#choosing-a-version-number

[2018-08-15 07:52] shashkovdanil opened #889 "[SearchBox] TypeError: Cannot read property 'type' of undefined"
**Env:**

[code]

**Steps:**

1. Add SearchBox
[code]
2. Open page in browser

3. See error:

[code]

<img width="616" alt="screen shot 2018-08-15 at 12 50 16" src="https://user-images.githubusercontent.com/19692986/44137418-d1db54b2-a089-11e8-8316-bb29f2db3592.png">

<img width="471" alt="screen shot 2018-08-15 at 12 51 39" src="https://user-images.githubusercontent.com/19692986/44137464-feb9822e

[2018-08-15 09:53] Avivhdr commented on #774
I'm receiving this error since yesterday.
I've been using version 3.31 of google maps.
I've updated the Google Maps version to 3.32 (and tried also at 3.33 & 3.34) and the error still occurs.

The solution mention above (changing the markerLabel's on remove method) fixes the problem but only locally. I need a fix that does not include changing the node modules.

Does any one else started experienc

[2018-08-15 15:46] lironbar commented on #774
Same here, since yesterday
I'm receiving this error every time the UI renders the markers with **clustering**

The issue is not only for the react google maps library, it is also in the angular google maps library

Any solution for that?

[2018-08-15 20:21] nick-barth commented on #869
Yep, Also having this issue.

[2018-08-15 21:14] ksafranski commented on #774
@kentaromiura's monkey patch worked great for me - not ideal obviously, but just created a js file, included a `<script>` tag with it right under my Google API script load and the problem stopped.

[2018-08-15 22:15] bloudermilk commented on #883
I believe I observed this issue. Steps to reproduce:

1. Visit [official demo](https://tomchentw.github.io/#/demos/react-google-maps) linked from [README](https://github.com/tomchentw/react-google-maps/blob/master/README.md#demo-app)
2. Observe map load as expected
3. Shortly after loading, map disappears and an error message is displayed:

4. Console has one error: `Google Maps JavaScript API err

[2018-08-16 05:30] talmog opened #890 "API key not valid on demo site https://tomchentw.github.io/react-google-maps/"
All you maps are missing from the demo site.

[2018-08-16 11:07] Phillipip commented on #774
Where can i find this patch?

[2018-08-16 12:30] Avivhdr commented on #889
Same issue as @shashkovdanil

`TypeError: Cannot read property '0' of undefined`

[2018-08-16 12:38] Avivhdr opened #891 "Documentation is broken"
<img width="606" alt="capture1" src="https://user-images.githubusercontent.com/23265867/44208775-196d5100-a16a-11e8-9762-835b41b048a5.PNG">
<img width="685" alt="capture3" src="https://user-images.githubusercontent.com/23265867/44208844-546f8480-a16a-11e8-9426-d40cb4103b1c.PNG">

[2018-08-16 12:47] ksafranski commented on #774
[this comment](https://github.com/tomchentw/react-google-maps/issues/774#issuecomment-373638739) has it. Weird thing is this morning, though no one on engineering can replicate, we still are seeing errors reported on production, so may not be a silver bullet.

[2018-08-16 13:07] ksafranski commented on #774
Ok, so we're still trying to iron this out, but may have found something that _seems_ to fix this:

[code]

I noticed this problem is very easy to replicate locally (without the monkey-patch above) by running HMR, so I assumed it must be something with lifecycle. Explicitly setting our markers to an empty array as shown above seems to stop the error, but will update if I find more information.

**

[2018-08-16 15:02] Phillipip commented on #774
thanks, this patch works really well!

[2018-08-16 15:24] globeubiquitous commented on #774
How to use this patch(https://gist.github.com/kentaromiura/6bb9d0061c92087792f289dfde4989cd) for react-google map? @Phillipip

[2018-08-16 15:31] Phillipip commented on #774
I don't know. I just included it after the clusterscript.

[2018-08-16 16:00] thomvilla commented on #630
@brybeecher hi i have a problem with this. i copy my code and the error

class Component extends React.PureComponent {
    constructor(props) {
        super(props)
        this.state = {
            zoom: props.zoom,
            mapRef: ""
          }
      }
      onMapMounted(mapRef) {
        console.log(mapRef)
        if(mapRef.refs !== ""){
            this.setState({ mapRef: mapRef })

[2018-08-16 16:04] thomvilla commented on #630
`class Component extends React.PureComponent {
    constructor(props) {
        super(props)
        this.state = {
            zoom: props.zoom,
            mapRef: ""
            }
    }
    onMapMounted(mapRef) {
        console.log(mapRef)
        if(mapRef.refs !== ""){
            this.setState({ mapRef: mapRef })
        }
    }
    onZoomChanged(){
        this.setState({ zoom: this.state.

[2018-08-16 16:04] thomvilla commented on #630
constructor(props) {
        super(props)
        this.state = {
            zoom: props.zoom,
            mapRef: ""
            }
    }
    onMapMounted(mapRef) {
        console.log(mapRef)
        if(mapRef.refs !== ""){
            this.setState({ mapRef: mapRef })
        }
    }
    onZoomChanged(){
        this.setState({ zoom: this.state.mapRef.getZoom() });
    }
    render() {
      con

[2018-08-16 16:05] thomvilla commented on #630
`class Component extends React.PureComponent {
    constructor(props) {
        super(props)
        this.state = {
            zoom: props.zoom,
            mapRef: ""
            }
    }
    onMapMounted(mapRef) {
        console.log(mapRef)
        if(mapRef.refs !== ""){
            this.setState({ mapRef: mapRef })
        }
    }
    onZoomChanged(){
        this.setState({ zoom: this.state.

[2018-08-16 16:11] thomvilla commented on #630
well i cant put code correctly, stupid back ticks :(
i shared my link
https://gist.github.com/thomvilla/05eed32f39b002b2b480835fc563d2a0

[2018-08-17 06:41] Avivhdr commented on #774
The problem was not in this library, but in [jesstelford/node-MarkerWithLabel ](https://github.com/jesstelford/node-MarkerWithLabel) library, which is in `react-google-maps `dependencies.

I have made a [PR](https://github.com/jesstelford/node-MarkerWithLabel/blob/master/index.js#L323) to jesstelford/node-MarkerWithLabel that was approved a few hours ago with the proper fix.

I have also made a [P

[2018-08-17 07:21] mlautin commented on #774
Cannot make it work with just 'npm install markerwithlabel'. Seems like PR to react-google-maps still required.

[2018-08-17 15:02] websmith commented on #834
Seeing this error as well with version 3.30 and 3.31. It only happens for me on the second time an OverlayView is rendered.

[2018-08-17 15:20] ping4tucker commented on #834
@websmith I believe if you are requesting 3.30 or 3.31, you aren't being served that version.  You are getting one of the current versions: 3.32, 3.33, or 3.34; I'm not sure which one.

https://developers.google.com/maps/documentation/javascript/versions

[2018-08-17 15:27] websmith commented on #834
@ping4tucker Thank you for the quick reply.

If I'm explicitly requesting v3.30, why would google serve a different version?

Here's what I am requesting:
[code]

I verified this is the script being loaded in my document. Additionally, I'm also seeing Google's retired version message in the console:

[code]

Am I misunderstanding?

[2018-08-17 15:45] ping4tucker commented on #834
@websmith You can subscribe to this google group that will notify you about upcoming api version changes: https://groups.google.com/forum/#!topic/google-maps-js-api-v3-notify/UmUZ3Kh0eTY

In addition to that, the version documentation I linked above says that you can only specify versions 3.32, 3.33, 3.34.  It also mentions at the very bottom that they deleted the documentation for 3.30 and 3.31.

[2018-08-17 16:25] websmith commented on #834
thanks @ping4tucker If I can come up with a solution here for the new renderer I will submit a PR

[2018-08-17 17:21] websmith commented on #834
If anyone else is experiencing this issue, I was able to resolve by removing the key={Math.random()} prop from the <OverlayView> component declaration.

[code]

[2018-08-17 18:56] Avivhdr commented on #774
@mlautin,
add the _--save_
like so:
`npm install --save markerwithlabel`

[2018-08-18 23:37] dwatts3624 commented on #220
@NickBrooks I was *just* about to pull the plug on this component but I knew I must be doing something wrong since it's so popular.  I never would have guessed to pull the definition out of the component!  Thank you!

[2018-08-19 07:26] lironbar commented on #774
@Avivhdr Do you have any solution for the angular-google-maps library?

[2018-08-19 08:39] Avivhdr commented on #774
@mlautin, I've cancelled the pull request. it is not needed.
In react-google-maps, `markerwithlabal` is listed as a dependency with the following version:
`"markerwithlabel": "^2.0.1"`
the `^` sign means that whenever the package is being installed,  it will be installed it in the latest patch version.
Which means the every new version of `markerwithlabel` smaller then 2.1.0 will be automatically

[2018-08-19 08:40] Avivhdr commented on #774
@lironbar
No, sorry.

[2018-08-19 13:00] sakhisheikh commented on #891
I made a pull request for this issue. It is fixed now.
https://github.com/tomchentw/react-google-maps/pull/893

@tomchentw @Simek Kindly review the above PR. As it is currently making hindrance for people.

[2018-08-19 13:22] sakhisheikh commented on #890
I made a pull request for this issue. It is fixed now.
#893
Let's wait for the reviewers approval.

[2018-08-20 09:56] andreiho commented on #834
@websmith @ping4tucker I'm experiencing the same issue. Requesting 3.34 version, output of `window.google.maps.version` is `3.34.1a`. Removing the `key` parameter doesn't solve the issue. Just to understand, this is an issue with the Maps API or with `react-google-maps`?

[2018-08-20 10:46] sangnguyenplus commented on #853
+1

[2018-08-20 10:50] andreiho commented on #834
A workaround is wrapping the `OverlayView` component in a custom component and overwriting the `onRemove` method to suppress the error.

[code]

[2018-08-20 13:47] amirbr opened #896 "How can I change the language map in run"
Hello,

I need to change googleMaps language on the run, to do this I need to re-fetch google maps script with the right locale.
But when the HOC `withScriptjs` receive a new value for `googleMapURL` prop, the new URL is not fetched. Actually, `withScriptjs` file does not implement this behavior.

Did I miss something? Maybe @tomchentw  you know why?

Can I contribute to solving this?

Thanks

[2018-08-20 17:45] AonanLi commented on #890
Feel like currently there is no maintainer for this repo.
#FeelsBadMan

[2018-08-20 18:26] urikphytech commented on #896
You could probably implement this behavior pretty easily.
I would imagine something like:
1. Add the componentDidUpdate method
2. Check if googleMapUrl has changed

If so, set ```loadingState``` to ```LOADING_STATE_BEGIN``` and then run the following lines from ```componentDidMount```:
[code]
(Should probably be extracted to a function)

[2018-08-21 10:16] LucaBlackDragon commented on #884
@AntiFish03 the actual reason is an [api-project-map-error](https://developers.google.com/maps/documentation/javascript/error-messages#api-project-map-error), check the error message logged in the console window when the documentation page loads.

@tomchentw could you check if the API Key used in the documentation examples is still valid?

[2018-08-21 19:29] vpalaciopbcs commented on #774
@lironbar did you find a solution for angular-google-maps?

[2018-08-21 19:45] josalvmo commented on #824
try this:

import React from "react";
import { withScriptjs, withGoogleMap, GoogleMap } from "react-google-maps";

export default class GoogleMapBox extends React.Component {

    state = {
        map: undefined
    };

    mapLoaded(ref) {
        this.state.map = ref;
    }

    mapMoved() {
        console.log('mapMoved: ' + JSON.stringify(this.state.map.getCenter()))
    }

    zoomChanged()

[2018-08-21 20:03] tim-phillips opened #897 "You may not need this library, so use Google Maps directly"
If you're simply trying to use Google Maps in React, you may not need this library. Especially if you're just placing a Google Maps marker like so.

<img width="371" alt="screen shot 2018-08-21 at 1 02 16 pm" src="https://user-images.githubusercontent.com/3578574/44426042-77bb7a80-a542-11e8-86b2-724e033fab11.png">

Here's how you do it:

[code]

Make sure you have the address before you render:
[c

[2018-08-21 20:03] #897 closed, assigned to nobody

[2018-08-22 13:11] chead2344 commented on #724
Try:

[code]

[2018-08-22 21:39] hamaron commented on #812
@Sorcer23 was correct in my case. I had 2 components that included the same link, but actually one of them had an extra space at the end of the link although the links looked identical, which caused the issue.

[2018-08-24 13:28] varaprasadh opened #898 "demo app not working..seems api key is corrupted"
fix that

[2018-08-24 22:23] sakhisheikh commented on #898
I have already fixed it in #893 but it needs reviewers approval.

[2018-08-25 07:52] s-chand commented on #898
Let's hope we get it in ASAP

[2018-08-26 04:02] ericxinzhang commented on #528
Personally I think the two properties `defaultCenter` and `center` just cause confusion.

[2018-08-26 14:09] krvajal commented on #826
@tadeolinco I have the same impression. The expectation I had for the behaviour of the `zoom` property is that of a controlled property. And it is not doing behaving that way. It behaves exactly the same as `defaultZoom`, which is an uncontrolled property.

[2018-08-27 02:47] milieu commented on #885
I've been drawing Polygons lately and noticed that I also experienced darker colors -- approaching grey -- when the data I was rendering resulted in duplicate Polygons.

Without knowing more about your state handling I would:

1. Suspect multiple Polygons are being drawn and investigate the React DOM state.
2. Play around with zIndex to determine which of the duplicate Polygons you want on top, as