[2014-11-18 20:45] sdemjanenko opened #11 "Create a pool of google maps objects to get around memory leak"
Cool library.  I suggest an enhancement to get around a know google maps memory leak (http://stackoverflow.com/questions/21142483/google-maps-js-v3-detached-dom-tree-memory-leak).

I think the best fix would be to see if there are any available google maps objects for reuse.  If not, create one.  On unmount return the google map object to the pool after the call to ```_set_map(null)```.

[2014-11-19 13:45] lo1tuma opened #12 "npm installation fails without global bower"
As bower is not a dependency of `react-google-maps` the installation fails if you don’t have bower installed globally.

I think the best solution would be to remove `bower install` from the `postinstall` hook and publish only the built bundle to the npm registry.

[2014-11-19 17:33] #12 closed, assigned to nobody

[2014-11-21 10:26] tomchentw opened #13 "Using Google Maps JavaScript API in full page rendered with React"
From [disqus thread](http://dailyjs.com/2014/11/18/react-google-maps-oscar/#comment-1701498512) in [dailyjs sharing](http://dailyjs.com/2014/11/18/react-google-maps-oscar):

Patrik Stutz:
[code]

[2014-11-29 02:03] tomchentw opened #14 "Media reports"
## Blog Posts

http://react.rocks/?q=tomchentw

http://dailyjs.com/2014/11/18/react-google-maps-oscar/

http://panda.node.ws/?p=647

http://facebook.github.io/react/blog/2014/11/25/community-roundup-24.html#community-components

http://webscripts.softpedia.com/script/Development-Scripts-js/API-Handlers/React-Google-Maps-84038.html

## Tweets

https://twitter.com/React_Rocks/status/5330757757682524

[2014-12-18 10:00] arthuryeti opened #16 "Some issue when I setup this component"
Hi there,

I have tried to use your component like you used on your examples.

It seems that context.getMap() throw an error.

Do you have some idea of the process to install your component ?

[2014-12-18 17:47] kellyrmilligan opened #17 "zoom in on bounds of markers"
thanks for this component, saving me time for sure!  one thing i'm trying to do at the moment is zoom in on the bounds of the markers I have loaded into the map.

[code]

I have a ref on the <Map> component, and it's calling the method in componentDidMount, but it's not zooming in to fit the bounds.

is there something else I have to do to get the map to react to what i'm doing?

I have this same

[2014-12-18 18:22] #17 closed, assigned to nobody

[2014-12-19 12:01] #16 closed, assigned to nobody

[2015-01-08 18:38] kellyrmilligan opened #19 "set methods on marker?"
I have a use case where on mouseover I want to change the icon of the marker. maybe i'm not 'thinking in react' but I don't see a way to do this with this library presently, as when I grab the ref to the marker, the setIcon method is not there. any ideas?

[2015-01-11 20:53] kellyrmilligan commented on #19
sorry to bother you, any ideas on how to dynamically update existing markers?  the only solution i've found, but causes the markers to flicker is to set an active marker on the state, and when building the markers change that one that was clicked/hovered. this is not ideal for user experience of course. i'm investigating just rolling my own if this is not possible with this component.

[2015-01-26 19:02] razum2um opened #20 "compare to pieterv/react-googlemaps"
Is there any substantial disadvantages in https://github.com/pieterv/react-googlemaps which was started in September'14.

What are the advantages of your version?

[2015-01-27 21:48] rektide opened #21 "Multiple maps hard to use. Impl relies heavily on React context."
This code makes excessive use of an undocumented, unsupported feature in React: the context. It stores, for example, the reference to the Google Maps objects in the context.

This makes using multiple maps on the page extremely hard/impossible. If you have a Marker, which Map does the Marker get added to? Well, that's going to depend on which map is in the React context right now.

React context i

[2015-01-28 07:31] tomchentw commented on #21
Just use two different root component to wrap the code:
[code]

I agree context wouldn't be a good solution, just depending on how React goes in the future :)

[2015-03-11 03:37] tomchentw commented on #20
I found that repo after I've finished this project, lol. And after carefully looking into their codes,
Pros of `react-google-maps`:
* Abstraction: using context to pass internal google map instance
* DSL Components: writing your Google Map component in declarative way

Pros of `react-googlemaps`:
* Clean interface and definition for props and events: the definite it explicitly

[2015-03-11 03:39] tomchentw commented on #19
Thinking in React:
* when hover, call setState() to change it
* in render function, use `this.state` to determine which icon to use for the marker, and pass to it:
`<Marker icon={icon} />`

[2015-03-11 03:39] tomchentw commented on #19
That's why I don't expose any `set` related methods out to the component.

[2015-03-11 04:34] razum2um commented on #20
thanks for response, see also https://github.com/pieterv/react-googlemaps/issues/14

[2015-03-11 04:34] #20 closed

[2015-03-13 07:53] grav opened #23 "'Warning: owner-based and parent-based contexts differ'"
Using React 0.13, I get several warnings about `owner-based and parent-based contexts differ`.

I haven't been using the Context-feature of React myself, but it seems that components using owner-based context (which react-google-maps apparently is), won't be compatible with the next release of React, which is why React 0.13 is issuing warnings. There's more info here: http://facebook.github.io/rea

[2015-03-13 11:19] grav commented on #23
Hmm, currently I cannot even get react-google-maps to work with React 0.13. I get the error `Uncaught TypeError: Can't add property context, object is not extensible`

[2015-03-31 06:29] sslash opened #25 "Allow React component as InfoWindow content"
It seems that the content in the InfoWindow has to be a String.
However it would be nice to allow more complex UI's here, like a React component as the content.

[2015-04-06 16:32] elct9620 opened #26 "React > 0.13 cannot work correctly"
I using babel and React 0.13.1 to build my webapp.
But when I try to add react-google-maps, it break.
I switch back to React 0.12.2 it works, I use `console.log` to track reason, it seems the react-google-maps generate some different code with React 0.13.

Note: material-ui seems to use `react >= 0.12` not `react ^0.12` to let it work with 0.13.

[2015-04-07 12:32] tomchentw commented on #26
Thanks for your report! I believe this is a know issue related to  #21.

[2015-04-07 12:34] tomchentw commented on #25
Kind of interesting. What's your expected API ?

[2015-04-08 20:03] idolizesc opened #27 "Move away from mixins and to wrapper components"
React is moving to ES6 classes and away from `React.createClass()`, [but mixins do not work with ES6 classes and are being deprecated](https://facebook.github.io/react/blog/2015/01/27/react-v0.13.0-beta-1.html#mixins).

**The solution? [Move to wrapper components](https://medium.com/@dan_abramov/mixins-are-dead-long-live-higher-order-components-94a0d2f9e750)**.

[2015-04-21 19:57] idolizesc opened #28 "Drawing API support"
@tomchentw
Is there any support for the [Google Maps drawing API](https://developers.google.com/maps/documentation/javascript/drawinglayer) via this project?

This is **crucial** for me, so if it's not built in, is there a way I can get a reference to the underlying Google Maps `map` object so I can point a `DrawingManager` I instantiate at it?

[2015-04-23 09:05] wuct commented on #26
+1

[2015-04-24 07:24] wuct opened #30 "Map is a global object in ES6"
Since Map is a global object in ES6, redefining it to a React class may have some side effects.

[2015-04-25 00:05] frodosamoa commented on #30
When you initially get the component from the module, you can do something as follows:

    var {GoogleMapsMixin, Map: GoogleMap} = require("react-google-maps");

So that from now on the component's name has been renamed to `GoogleMap` as opposed to `Map`. And then JSHint won't complain about a redeclaration of Map, or other side effects.

[2015-04-25 04:57] wuct commented on #30
@frodosamoa Thanks, I know I can rename it when I use it. But as long as I want to modify or contribute to this repo, I do not believe use the word "Map" is a good solution.

[2015-04-26 06:32] tomchentw commented on #30
Thanks @wuct and @frodosamoa. I would appreciate a better naming for `Map`, maybe, `MapContainer`?

[2015-04-26 06:33] tomchentw commented on #27
Agreed.

[2015-04-26 06:40] tomchentw opened #31 "Revamp: New API for React 0.13 and ES2015"
# Why

1. React 0.13 changes context from owner-based to parent-based.
2. Context is an undocumented feature, and
3. May require mixins to make clean API

# Proposed new API

One can declare a Google Maps component with the following syntax:

[code]

## Multiple Map Instances

[code]

[2015-04-27 02:08] frodosamoa commented on #30
I personally like `GoogleMap`. `MapContainer` isn't bad either!

[2015-04-28 02:36] harshabhat86 opened #33 "Getting the below issue on sudo npm run dev_install"
[code]

[2015-04-28 03:05] tomchentw commented on #33
Sorry for the confusing, this is due to the changes I made in #32 . Will release new version soon.

[2015-04-28 12:25] #31 closed

[2015-04-28 12:31] tomchentw commented on #30
Released [v1.0.0](https://github.com/tomchentw/react-google-maps/releases/tag/v1.0.0) and closed this now.

[2015-04-28 12:31] #30 closed

[2015-04-28 12:33] tomchentw commented on #27
Released [v1.0.0](https://github.com/tomchentw/react-google-maps/releases/tag/v1.0.0) and closed this now.

[2015-04-28 12:33] #27 closed

[2015-04-28 12:33] tomchentw commented on #26
Released [v1.0.0](https://github.com/tomchentw/react-google-maps/releases/tag/v1.0.0) and closed this now.

[2015-04-28 12:33] #26 closed

[2015-04-28 12:33] tomchentw commented on #23
Released [v1.0.0](https://github.com/tomchentw/react-google-maps/releases/tag/v1.0.0) and closed this now.

[2015-04-28 12:33] #23 closed

[2015-04-28 12:34] tomchentw commented on #21
Released [v1.0.0](https://github.com/tomchentw/react-google-maps/releases/tag/v1.0.0) and closed this now.

[2015-04-28 12:34] #21 closed

[2015-04-28 12:44] tomchentw commented on #33
Released [v1.0.0](https://github.com/tomchentw/react-google-maps/releases/tag/v1.0.0) and closed this now.

[2015-04-28 12:44] #33 closed

[2015-04-28 14:17] tomchentw commented on #25
Since #32 is landed, currently the `InfoWindow` API would look like this:
`<InfoWindow title="Blabla" onClick={this.handleClick} />`

Combined with marker:
[code]

## Proposed API for `InfoWindow` with React component:
[code]
Is this what you want?

[2015-04-29 06:23] harshabhat86 commented on #33
Thanks @tomchentw

[2015-04-29 13:09] tomchentw commented on #33
No problem! @harshabhat86

[2015-05-06 06:30] wuct opened #44 "Instances should call setOptions() only if googleMapsConfig is changed"
Currently, every components call `instance.setOptions(googleMapsConfig)` when componentDidUpdate method is fired, whether googleMapsConfig is changed or not. This will result in an unexpected behaviour.

[2015-05-06 10:07] tomchentw commented on #44
Did you mean `<GoogleMaps>` component or `<Marker>` or both?

[2015-05-06 10:14] tomchentw commented on #44
Would you like to be more elaborate on what *unexpected behaviour* would like?

[2015-05-06 14:32] wuct commented on #44
In my case, it's <GoogleMap>. For example, I have a component of the following class:

[code]

The count in the prop will be updated every second. Accordingly, the `setOptions` method of the map instance will be invoked every second, so the map will pan to the default center `{lat:42, lng:42}` and zoom to `6` every second, regardless of that the map has been scrolled to other place by an user.

[2015-05-07 02:30] wuct commented on #44
Maybe `<GoogleMap>` should call the `setOptions` method in the background only when an instance is created, like we usually do with native Google Maps api `const map = new google.maps.Map(DOMNode, mapOptions)`. After that, we should control a map by calling `setOption` or other methods explicitly instead of changing `props`.

[2015-05-07 04:44] tomchentw commented on #44
Well, as I design the API, one thing I'd like to address is **data-driven programming**. So as a result, the input of a component (**props**) should ALWAYS reflect its current drawings. We can just change the UI by giving it new props and it will update accordingly. It's Reactive way of doing UI and that's why React.js is awesome.

For your question here, a solution is to treat `<GoogleMaps>` a st

[2015-05-07 09:33] tomchentw commented on #13
Close this issue now since in every ways this is a bad idea.
Ref: https://medium.com/@dan_abramov/two-weird-tricks-that-fix-react-7cf9bbdef375

Note for myself:
I use React as a template engine (that is, use React.renderToStaticMarkup) in server side, so that is basically what I want for this issue.
https://github.com/tomchentw/react-google-maps/blob/33cf50c0ec37e90823d26af69640cfe3a20a344b/exampl

[2015-05-07 09:33] #13 closed

[2015-05-07 09:33] tomchentw commented on #19
#44

[2015-05-07 13:27] lapint opened #45 "Examples npm run dev failing"
I've been having troubles running "npm run build" from examples/gh-pages

npm-debug.log outputs the following:

[code]

In addition, I found this in the output of the run:

[code]

Can you provide any insight into why this might be failing?

Thanks

[2015-05-07 14:37] tomchentw commented on #45
I believe you didn't type `npm i` in the root of the repo, right?

Never mind, I fixed the `webpack.config.js` to resolve it [here](https://github.com/tomchentw/react-google-maps/commit/7fb44f96523416301bef1b45c18c84865204f5e9) so you just need to type `npm i` and `npm run dev` inside `examples/gh-pages`.

Please let me know if it works, thanks!

[2015-05-07 15:10] lapint commented on #45
Here's a gist using - "npm i" then "npm run dev" from the root directory.

https://gist.github.com/lapint/f6c953fc9a26b4b0b572

Similar message with your suggested change and run from examples/gh-pages

[2015-05-07 16:34] lapint commented on #45
Thanks for the fast reply, unfortunately it's still not working.

The webpack compiles until if fails with this error:

[code]

So it seems to be something not compiling right. I'm running on Mac OSX 10.10.1 but wouldn't think that should matter.

I actually tried cloning installing and running on 2 Macs and they fail at the same spot.

[2015-05-07 16:56] wuct commented on #44
I got your point and I believe you are right! We should never expose set methods outside the box. Thanks for your explanation. I will check it later to see whether we could call `setOption` as  frequently as centerChanged events are triggered without losing performance significantly, and then I will close this issue.

[2015-05-07 18:48] lapint commented on #45
Here's a gist of what's happening:

https://gist.github.com/lapint/3ed3ea184bfdf0def81a

[2015-05-07 20:37] lapint commented on #45
I was able to find a working version here:
[code]

[2015-05-07 20:44] idolize commented on #45
Likewise seeing this error when building the example pages.

[code]

(This is on a fresh clone/install)

[2015-05-07 21:04] lapint commented on #45
I'm wondering if this is an issue with what version of node is being used server side.

Running this version:
git checkout 931aaab792520df6f4e119e304e926a43d4f4078

Causes "npm run dev" to fail and it is when the app was converted to an isometric one.

Looks like it's coming from eval.createScript() not being able to parse the content being passed into it maybe.

[2015-05-07 21:39] idolize commented on #45
I don't know much about Webpack (I use Browserify)... Is there even a server involved when running just `webpack -p` (not `webpack-dev-server`)? Because that fails for me as well.

[2015-05-07 22:06] lapint commented on #45
webpack-dev-server still uses webpack, it just starts up a dev server for it as well.

The problem is that IsomorphicReactPluginFactory.js compiles all the required js into a component and then uses React.renderToString(ServerComponent) to render the client side from the server component.

I think eval could be the culprit, but not exactly sure how to fix it at this point.

[2015-05-07 22:19] lapint commented on #45
I was able to fix the issue on master, I changed line 56 of `IsomorphicReactPluginFactory.js`
from: `return evaluate(source, includeGlobals);`
to: `return eval(source, includeGlobals);`

It's not the best since it uses javascript eval but it allows the server to start.

[2015-05-08 06:25] idolizesc opened #47 "Wrapper component lifecycle issue"
The `GoogleMaps` wrapper component breaks the React lifecycle because it does not re-render the VirtualContainer until [after it is done updating everything](https://github.com/tomchentw/react-google-maps/blob/master/src/GoogleMaps.js#L79).

This means trying to get an updated value from a newly-changed `Marker`, for example, is not possible in any parent component's `componentDidUpdate` method, b

[2015-05-11 02:22] tomchentw commented on #47
I see. Could you show me the reason why you'd like to read properties from a newly-changed `Marker`? Since if everything is rendered with given props, you already know the value from your data, right?

[2015-05-11 03:01] idolize commented on #47
Well, my use case actually involves reading shape data from a component that renders `Circle` items. I need to access Google Maps API features, like `circle.getBounds()`, after some event was triggered.

I suppose I could create a `new google.maps.Circle` every time from the original input props, but that is annoying and less performant. Also I just feel like it's a reasonable exception for the co

[2015-05-11 09:30] tomchentw commented on #45
Sorry I missed the thread, I'm considering this issue might be related to versioning issues of `node` and `npm`. I'm running on `node: v0.10.38` and `npm 2.7.5`

[2015-05-11 09:31] tomchentw commented on #47
#36

[2015-05-11 10:15] tomchentw commented on #47
Just tried with your use case with [react-google-maps/#basics/geolocation](https://tomchentw.github.io/react-google-maps/#basics/geolocation), yes, changing callback to `componentWillUpdate` of `GoogleMaps` will fix this issue.

However, I'm thinking that the same use case may apply for `componentDidMount` since we do `_render_virtual_container_` in `GoogleMaps#componentDidMount` as well. As a res

[2015-05-11 10:25] tomchentw commented on #47
The `VirtualContainer` technique prevents the leak of two wrapper `div`s around the `google.maps.Map` instance and react components. If we only use one wrapper `div`, then initialise  `google.maps.Map` instance on it as well as rendering children components inside it. When next update ticks, React will clean out everything created by `google.maps.Map` instance. Thus only `<noscript>` tags left ins

[2015-05-11 18:45] idolize commented on #47
Interesting. React definitely needs some kind of first-class "fragment" element that does not render anything to the DOM. I know [they are working on it](https://groups.google.com/forum/#!topic/reactjs/pHNJe8trFOg).

In the mean time, have you looked at [react-outlet](https://github.com/carlsverre/react-outlet)? It could possibly be of interest here.

Another interesting approach is [the way Marty

[2015-05-12 10:30] wuct commented on #44
It turns out that Google Map runs smoothly.

[2015-05-12 10:30] #44 closed

[2015-05-13 00:38] tomchentw commented on #44
Cool man! Glad it works. Feel free to reopen the issue in the future.

[2015-05-14 10:58] af7 opened #48 "Use it on a Windows machine"
Is it possible that you show us the changes that need to be made (or if it is just one file upload it) so that we can compile the solution in a Windows machine? (that has npm and node of course).

Thank you.

[2015-05-14 13:36] tomchentw commented on #45
Got the same error today at `node@0.12`
[code]

[2015-05-14 13:42] tomchentw commented on #45
Thanks @lapint for spotting `eval` might be the issue. I guess it's due to old API used for `eval@0.1.0` but it's incompatible with `node@0.12`.
Switch to a new module called [eval-as-module](https://www.npmjs.com/package/eval-as-module) solve this problem.

[2015-05-14 14:34] tomchentw opened #50 "InfoBox support by @wuct"
Great work by @wuct! Go ahead and create a PR!!

https://gist.github.com/wuct/af94d388ea8b8c3fa2d6

[2015-05-14 16:43] urban commented on #45
I'd like to contribute to this project with however I'm running into the following error even in  `node@0.10` when running `npm run dev`.

[code]

Any quick solutions to fix this or remove the dependency?

[2015-05-14 23:33] tomchentw commented on #45
@urban hmm in latest `master` branch, `jQuery` is included as `devDependencies`. Could you check your `node_modules` if it exists?
https://github.com/tomchentw/react-google-maps/blob/a5d4e2590adb369bda693ada07529f7c68971129/examples/gh-pages/package.json#L20

[2015-05-15 07:04] urban commented on #45
@tomchentw Yes, you are right. When I wrote my earlier post, I didn't realize I was in your `chore-node-012-compatibility` branch, which is a WIP and not the `master` branch. Sorry for the inconvenience.

[2015-05-15 07:13] tomchentw commented on #45
No worries @urban ! Glad it works now.

[2015-05-15 07:15] #28 closed

[2015-05-15 13:00] af7 opened #51 "Npm install fails on a VVV (vagrant) installation"
Hello,

I am trying to install on a VVV (vagrant) installation (with no alterations, as is from the VVV github master) and it fails. Is there something that I am missing? Thanks!

This is the command:

vagrant@vvv:/vagrant/www/projects/react-google-maps$   **npm install**

This is what I get:

npm WARN optional dep failed, continuing fsevents@0.3.6
npm ERR! Linux 3.13.0-52-generic
npm ERR! argv "n

[2015-05-15 13:44] af7 commented on #51
I believe that I found the problem and you have also created a solution (as a patch for now):

https://github.com/mitchellh/vagrant/pull/5495

Please let me know if this is not the case. Thx.

[2015-05-15 15:22] tomchentw commented on #48
Not sure. Does anyone face same issue?
I'll try to setup a Windows VM and test on it.

[2015-05-15 20:15] af7 commented on #48
First, let me say that ``npm run build`` **does** work.

But the other (more important ones) fail (``npm run dev`` for example).

If you have a Windows VM you can try this and you will see what I mean.

You may want to read this at the section about Windows:
http://blog.keithcirkel.co.uk/how-to-use-npm-as-a-build-tool/

"If you really need to have Windows support, it does not support rm - luckily

[2015-05-15 20:23] af7 commented on #48
Just the 1st error that I get. Also see the npm-debug.log here: https://gist.github.com/af7/95689af32f86d23c8086

{ file: 'E:/Repositories of Code/react-google-maps/examples/gh-pages/node_modules/bootstrap-sass/assets
/stylesheets/bootstrap\\mixins\\_grid.scss' }
TypeError: tmp/server.js
--------------------------------------------------------------------------------options must be an obje
ct

[2015-05-16 01:26] tomchentw commented on #48
@af7 Did you try it with node `0.10` or `0.12`? I believe current `master` having some issue with `0.12`. See #49

[2015-05-16 02:07] #45 closed

[2015-05-16 07:39] zth opened #53 "Applying custom map styles?"
Hi! I just found this repo and am implementing it in a project I'm working on. Runs very smooth, thanks for this!

However, I want to apply my own map style to the map, and I fail to see how/where I can do that. Any ideas on how/if that can be done?

Also, where do I put other props for the map/markers, like icon for marker, assigning an info window to it and opening it on click etc? I noticed the

[2015-05-17 13:10] tomchentw commented on #50
Close for #54

[2015-05-17 13:11] tomchentw opened #55 "Refactor `SimpleChildComponent#_createOrUpdateInstance`"
I'd prefer to split out logics to two functions:
`SimpleChildComponent#_createInstance`
`SimpleChildComponent#_updateInstance`
So that subclasses are free and clear to modify

[2015-05-17 13:13] tomchentw commented on #53
@zth do you refer to stuff like this?

### Custom map style:
http://git.io/vTkmW

### Marker and InfoWindow
https://tomchentw.github.io/react-google-maps/#events/event-closure

[2015-05-17 16:23] wuct commented on #55
It will be nice when we need to use [google-maps-utilities](http://code.google.com/p/google-maps-utility-library-v3/wiki/Libraries), since the constructors of those utilities are not in global `google`.

[2015-05-17 19:07] af7 commented on #48
I am using node v0.12.3 and I can report this for Windows:

I run the following commands sequentially:

`npm run build` : works fine :+1:

`npm run build_client`: works fine, with many warnings *from UglifyJs* (I assume these are just normal? or not?)

`npm run dev`: works fine, no errors (and no warnings from UglifyJS), but I get the following result on `E:\Repositories of Code\react-google-maps\

[2015-05-18 01:15] tomchentw commented on #48
Could you just try visiting `localhost:8080`?

[2015-05-18 01:16] tomchentw commented on #55
Got it. Seems appealing to use `google-maps-utilities` too!

[2015-05-18 10:05] af7 commented on #48
Hi, I get similar results:

![image](https://cloud.githubusercontent.com/assets/7850073/7678636/6f56889c-fd5e-11e4-873d-dcb70906d245.png)

![image](https://cloud.githubusercontent.com/assets/7850073/7678639/72920996-fd5e-11e4-8f0c-0e8c70a0ba09.png)

[2015-05-18 14:49] af7 opened #56 "Touch events?"
Hi, I see these event_names:

const BASIC_EVENT_NAMES = (
  "click dblclick drag dragend dragstart mousedown mousemove mouseout mouseover mouseup rightclick"
);

How about tablet support with touch events? Are they supported somehow?

[2015-05-19 15:57] wuct commented on #56
Hi @af7,
What kinds of touch events do you need? Because this library uses Google Maps API V3, events like `touchstart` or `touchstop` are not supported.

[2015-05-19 16:02] wuct commented on #53
@zth You can apply all `google.map` [options](https://developers.google.com/maps/documentation/javascript/reference#MapOptions) as `props` to a `<GoogleMap />`. For example:

[code]

[2015-05-19 16:11] wuct commented on #25
:+1: This API is exactly what I want. But a content of `InfoWindow` is not in a react shadow DOMs tree, how will you implement this?

[2015-05-20 09:49] tomchentw commented on #47
https://github.com/facebook/react/issues/2191

[2015-05-20 23:25] af7 commented on #56
Hi, does this mean that if someone uses the map on a tablet browser and then pans it, then this will not behave correctly?

[2015-05-21 02:17] tomchentw commented on #56
I've tried on my iPad for the demo site, I can use two fingers to pan the map and click to add markers for no issue. However, as mentioned by @wuct , `touch` events are not natively supported by Google Maps API v3.

[2015-05-21 02:17] tomchentw commented on #19
Close this. Feel free to reopen.

[2015-05-21 02:17] #19 closed

[2015-05-21 02:18] #50 closed

[2015-05-27 01:26] idolize commented on #47
Can we just ditch the extra `div` [being created to house the container](https://github.com/tomchentw/react-google-maps/blob/master/src/GoogleMaps.js#L79) and instead render the children as either children or siblings of the Google Maps div itself?

This would solve this issue as well as the issue where we can't render any DOM elements as children of the `GoogleMaps` component.

Also, looking more

[2015-05-27 03:57] tomchentw commented on #47
@idolize , could you please provide an example of `we can't render any DOM elements as children of the GoogleMaps component`. Cause I cannot understand why you'd like to do it this way. A simple gist would be enough.

Thanks!

[2015-05-27 07:13] MetalMatze commented on #25
This would be exactly what I need. It's crucial for my application!

[2015-05-27 12:48] tomchentw commented on #25
This can be implement by the following:

1. Create a detached DOM using `document.createElement`
2. Render the passed in child using `React.render(React.Children.only(props.children), detachedDOM)`
3. Pass the `detachedDOM` into InfoWindow({content: detachedDOM})

What do you guys think?

[2015-05-27 17:51] idolize commented on #47
Yeah, my use case is I want to use my own DOM to replace some Google Maps controls. The Google Maps API allows you to do this for almost any control (such as the zoom indicator, panning buttons, drawing controls, etc.)

Here is an example of how I could overwrite the drawing controls (which worked in the pre-wrapper component versions):

[code]

But this doesn't work with the current implementatio

[2015-05-27 20:22] idolize commented on #45
Still having issues building the docs on the latest version and on multiple computers.

[code]

[2015-05-28 20:38] mikefowler opened #62 "How to use fitBounds, panTo, etc"
Could you provide some more documentation on how to use these `<GoogleMaps />` helper methods?

[2015-05-29 04:07] wuct commented on #25
After passing the `detachDOM` to a `InfoWindow`,  a `InfoWindow` will can [setOptions](https://github.com/tomchentw/react-google-maps/blob/master/src%2Finternals%2FSimpleChildComponent.js#L35) to set the content internally. So the content of `InfoWindow` will remount into GoogleMaps DOM tree every time when the `InfoWindow` is update and won't utilize React diff right?

[2015-06-01 10:47] tomchentw commented on #25
No. As long as the `detachedDOM` is the same instance, React will recognize it.

[2015-06-01 13:31] tomchentw opened #65 "Roadmap"
# Examples

## Component Playground
* Add support for `component-playground`
* http://projects.formidablelabs.com/component-playground/

# Test

## Integration Tests

On `examples/gh-pages`

* https://github.com/kriasoft/react-starter-kit
* https://github.com/vvo/selenium-standalone
* https://github.com/webdriverio/webdriverio/blob/master/examples/webdriverio.with.mocha.and.chai.js
* https://githu

[2015-06-02 18:46] idolize opened #66 "Support Places API"
Support for the [Google Maps Places Autocomplete and SearchBox widgets](https://developers.google.com/maps/documentation/javascript/places-autocomplete) would be great, as it would provide an easy way to search for locations on the map (a common use case).

----

In order to make it work, I think we would have to do the following:

- Wrap the `google.maps.places.SearchBox` and `google.maps.places.

[2015-06-03 02:21] tomchentw commented on #66
Very reasonable. Maybe put them under `/src/places` folder and require them like `require('react-google-maps/places/AutoComplete')

[2015-06-03 18:18] idolize commented on #66
Personally I'm not a big fan of `require`ing files in subdirectories, because then you can't use ES6 import destructuring very well (plus it's less obvious without documentation that these files aren't internal and can be `required` directly).

[2015-06-05 06:59] tomchentw commented on #65
https://docs.npmjs.com/files/package.json#files

[2015-06-05 08:52] dmitry commented on #62
You can access them directly through `refs`, as it's shown here: https://github.com/tomchentw/react-google-maps/issues/17

[2015-06-09 17:10] MetalMatze commented on #25
I know it's impolite to ask if anyone has implemented this feature, but I want to do it anyway since I would need this feature. Is there any progress? I'm just building my first app with react and I'm not quite sure if I could implement this feature myself. Sorry.

[2015-06-15 20:45] tybro0103 opened #68 "Modifying children causes zoom level to reset"
This can be seen in the demo page. Zoom in, then click to add a marker. It will zoom back out. Same thing for removing markers.

[2015-06-19 03:27] tomchentw commented on #68
Since this issue has been mentioned over and over again, I was thinking if we should make `<GoogleMaps>` a component like `<input>`. IE, they can have a **controlled** state and **uncontrolled** state. For most usage, **uncontrolled** `<GoogleMaps>` is enough. But that requires us to put the config into `props.defaultConfig` or something ...

[2015-06-19 12:02] tomchentw commented on #48
Please try #73, thanks!

[2015-06-19 12:02] #48 closed

[2015-06-19 12:02] tomchentw commented on #51
Please try #73, thanks!

[2015-06-19 12:02] #51 closed

[2015-06-25 07:26] ryanannatuvasquez commented on #68
:+1: @tomchentw  Is there any snippet can you provide or example?

[2015-06-25 09:53] stanonyime opened #76 "Simple usage instructions in the doc"
It will be nice to have a simple example usage in the docs for the Map and Marker. One should not have to dig through the example codes to figure out the basics. In my case I need a draggable marker

[2015-06-26 15:50] gcrossfield commented on #76
I just figured this out..

Set draggable: true in the _handle_map_click function, like so:

[code]
...and in the <Marker/> component like this...

[code]

[2015-06-26 23:31] khoerling commented on #68
+2

[2015-06-27 06:14] stanonyime commented on #76
Ok. Thanks

[2015-06-27 06:14] #76 closed

[2015-06-27 08:38] knapeto opened #77 "Instance of Map"
Hello,

How can I get instance of google map in react?

I need work with triggers

Thanks.

[2015-06-27 08:53] knapeto commented on #77
Ahh..

I got it!
[code]

When I have map in accordion, is it known problem with google blank page..
IT SOLVED!

[2015-06-27 08:53] #77 closed

[2015-06-28 04:21] tgoldenberg opened #78 "compatibility with rails-assets.org"
When I tried to make this a gem on rails-assets.org, I got this error message. Can it be fixed? Thanks.

This component doesn't define main assets in bower.json.
Please open new pull request in component's repository:
https://github.com/tomchentw/react-google-maps

[2015-06-28 07:36] wuct commented on #68
:+1:
@ryanannatuvasquez It has not been implemented, yet. According to [React doc](https://facebook.github.io/react/docs/forms.html), I believe it will be something like below:
[code]

[2015-06-30 03:02] tomchentw commented on #68
Thanks @wuct ! This is exactly what I'd expect. Please leave any feedback here.
@ryanannatuvasquez @khoerling @tybro0103

[2015-06-30 03:03] tomchentw commented on #78
Sorry I'm not a big fan of committing bundled file into repo ATM. Please consider using browserify/webpack in your rails environment (which I believe worth it).

[2015-06-30 03:03] #78 closed

[2015-06-30 03:04] tomchentw commented on #77
Looks great! Mind to add this info into `README.md` and send a PR?

[2015-06-30 03:16] ryanannatuvasquez commented on #68
@tomchentw I came up with temporary solution, having `zoomLevel` and `location` state, the `zoomLevel` updates in onZoomChanged` event and `onDragend` event for `location`.

[2015-07-01 01:52] tomchentw commented on #68
@ryanannatuvasquez That's the standard ("React") way to handle internal state of a component. Good job!

[2015-07-03 23:56] alistairjcbrown opened #79 "No Rectangle shape available"
There is no `Rectangle` shape available (just `Circle`, `Polygon`, and `Polyline`)

It should be fairly simple to add a new wrapping component in the same vein as `Polygon` to allow for `<Rectangle />` to be created.

I'll try and get a PR up for this tomorrow, but happy for someone to beat me to it :grin:

[2015-07-07 11:12] mauriyouth commented on #56
Hi, what's the name of the handler for hover event on a marker, thanks :)

[2015-07-07 15:13] wuct commented on #56
@mauriyouth There is no `hover` or `onhover` event in plain javascript, so as to Google Map API. Though, you can use `mouseout` and `mouseover` event to simulate something equal.

[2015-07-08 09:35] mauriyouth commented on #56
@wuct thanks, but how do i set them up on the marker, <Marker onMouseover={this.handler1} onMouseout={this.handler2} > ?

[2015-07-16 15:32] JanKantyPawelski commented on #53
Not `mapStyles` but `styles`.

[2015-07-26 19:07] knapeto opened #82 "Custom button to map"
Hi,

how to create custom button like control button ?
Thanks for any advice.

[2015-07-30 08:10] lethanhquang opened #83 "Marker - addListener events"
Hello guys,
Really great components, but I want to listen event  `dragend` on Marker, I tried like this:
[code]
But, it not work. So, how can I addListener events on Marker component?

Thanks.

[2015-07-30 09:42] EPecherkin opened #84 "How to stop propagation of events from OverlayView to Map?"
I have some overlay views with react content on map. Content have onClick handlers.
Also I have onClick handler on map.
When I click on overlay view content map receive click too.
As I noticed, map receive click event first. And second is overlay view.
And is is the problem.

[2015-08-02 09:13] brownpixel opened #85 "one time event listener?"
Great library! quick question, is there a way to add listeners only once as is available with the google maps api?

for example:
[code]

[2015-08-03 07:19] ksavenkov opened #86 "Setting map options leads to flicker"
This is actually a question. I want to highlight polylines on hover event.
I am doing that in in the following fashion:
* keep an index of polyline to highlight in the map's state
* use it to set proper stroke color (highlighted or not)
* pass functions that modify state as onMousover and onMouseout handlers of the polyline.

That works, but leads to blinking of the map controls - apparently, they

[2015-08-04 13:28] pedroseac opened #87 "Standalone Library"
Hey!

How can i use this project as a standalone library in my project? I tried importing the js files from /lib but it didn't work.

Thanks!

[2015-08-04 13:48] ksavenkov commented on #86
Meanwhile I figured our the source of my problem. I define custom position of the map controls and pass the map options as props:
[code]
By some reason, React things the props has changed (while they aren't) and redraws the map controls.

[2015-08-04 14:16] ksavenkov commented on #86
More exactly, any customisation of the map controls in props leads to controls flickering when the children are updated. E.g.
[code]

[2015-08-04 14:25] ksavenkov commented on #86
Reading sources made me think that I should do something
[code]

However, that doesn's seem to work (options aren't applied to map) and I haven't found any example on how to use it properly.

[2015-08-04 23:50] tomchentw commented on #82
According to the [docs], I believe you need something like this

[code]

However, this might not be supported at the moment. Will look into this in our roadmap.

[docs]: https://developers.google.com/maps/documentation/javascript/examples/control-custom

[2015-08-05 09:19] tomchentw commented on #87
Currently I only support build tools like webpack or browserify as specified in [README.md]

[README.md]: https://github.com/tomchentw/react-google-maps/blob/9a733413c3f41e3f749cd8710955c71ba25a1b50/README.md#usage

[2015-08-05 09:19] #87 closed

[2015-08-05 09:21] tomchentw commented on #85
Good point. However this is not how React works in general so I don't think support once API would be a good idea.

[2015-08-05 09:22] tomchentw commented on #83
Try `onDragEnd`?

[2015-08-05 09:24] lethanhquang commented on #83
Yeah, I did, It's worked perfectly, thank @tomchentw

[2015-08-05 09:24] #83 closed

[2015-08-05 15:10] tomchentw commented on #83
Cool!

[2015-08-05 23:13] alistairjcbrown commented on #79
Hi @tomchentw, just thought I'd give a bump on this.
There's a PR up to fix this which just follows the same code for circle to add in the rectangle support - it should be an easy win. Give me a shout if there's anything else which needs updated.

[2015-08-06 03:05] tomchentw commented on #65
## Script loader

https://tomchentw.github.io/xrossref/#ZGVkL3NjcmlwdC5qcywgc3lzdGVtanMvc3lzdGVtanMsIFNsZXhBeHRvbi95ZXBub3BlLmpzLCBnZXRpZnkvTEFCanMsIHdlc3NtYW4vZGVmZXIuanM=

[2015-08-06 14:32] tomchentw commented on #68
Please move discussions to #88, thanks. Close this now.

[2015-08-06 14:32] #68 closed

[2015-08-06 14:33] tomchentw commented on #86
Hi @ksavenkov , I took a day to rewrite the module from scratch on #88 . Not sure if it will help but it will be great if you could take a look at it. Thanks!

[2015-08-06 14:34] tomchentw commented on #79
Close this for #80

[2015-08-06 14:34] #79 closed

[2015-08-06 14:35] tomchentw commented on #66
Proper documentations would be needed. `require`ing in subdirectories will overall reduce the bundle size and I think it's a good fit for a medium-sized library.

[2015-08-06 14:36] tomchentw commented on #66
I took a day to rewrite the module from scratch on #88 . It will be great if you could take a look at it. Thanks!

[2015-08-06 14:37] tomchentw commented on #62
I took a day to rewrite the module from scratch on #88 . However, I remove these method from the component APIs. Do you guys think it's a good idea to remove it or keep it?

[2015-08-06 14:38] tomchentw commented on #55
Closed for #88 .

[2015-08-06 14:38] #55 closed

[2015-08-06 14:38] tomchentw commented on #53
Close this due to inactivity. Thanks @JanKantyPawelski  to point that out.

[2015-08-06 14:38] #53 closed

[2015-08-06 14:39] tomchentw commented on #47
I believe this was fixed in #61. And I certainly believe that I use a elegant way for component lifecycle in the rewrite of #88. Please take a look at it and comments are welcome, thanks!

[2015-08-06 14:39] #47 closed

[2015-08-06 14:47] tomchentw commented on #56
I'm not sure how to add `mouseOver` and `mouseOut` event when using vanilla GoogleMaps JavaScript APIs v3. Maybe `events.addDomListener` will do the trick? If that's the case, we currently don't support event binding over `events.addDomListener`.

[2015-08-06 14:50] mauriyouth commented on #56
it did work with <Marker onMouseover=""> and <Marker onMouseout="">, thanks for your help :)

[2015-08-06 14:58] tomchentw commented on #56
Okay, naming matters LOL.

[2015-08-06 14:58] #56 closed

[2015-08-06 15:11] LarryEitel commented on #62
I have a use case for using fitBounds. Do you expose the google map object so that it would be possible to act directly on it? Or is that philosophically improper?

[2015-08-06 15:29] tomchentw commented on #62
It's not a easy design decision and I certainly believe exposing it is philosophically improper. But I cannot come up with a better way other than exposing getter though ...

[2015-08-06 15:53] LarryEitel commented on #62
I would be in favor of exposing it recognizing that even though it may be improper it may be the only way to achieve something that would otherwise require scrapping the use of the project altogether. :)

[2015-08-07 12:40] #62 closed

[2015-08-07 15:51] cateland opened #89 "DirectionsRenderer Perfs"
Hello,

Im using the DirectionRenderer component, and i noticed that the rendering performance of it drop really fast depending on the number of waypoint returned by the gmaps direction api.

Ex: with 219 path points the webpage freeze for several seconds. When using vanilla gmap api it draw in a matter of milliseconds.

Ex:
start location 43.124161, 5.9281405000000404
end location : 47.2294142, -

[2015-08-07 21:02] nevir opened #91 "2.0.0 build is broken"
https://github.com/tomchentw/react-google-maps/blob/master/src/Rectangle.js#L11 `_RectangleCreator` no longer exists

[2015-08-08 01:59] tomchentw commented on #91
Thanks! Will fix it soon.
https://twitter.com/ishwr/status/629726314631532545

[2015-08-08 02:00] tomchentw commented on #91
Closed for #91

[2015-08-08 02:00] #91 closed

[2015-08-08 02:01] tomchentw commented on #89
Which version did you use? v1.x.x or v.2.x.x?

[2015-08-08 02:08] tomchentw commented on #68
Released [v2.0.0] and [v2.0.1].

[v2.0.0]: https://github.com/tomchentw/react-google-maps/releases/tag/v2.0.0
[v2.0.1]: https://github.com/tomchentw/react-google-maps/releases/tag/v2.0.1

[2015-08-08 02:08] tomchentw commented on #62
Released [v2.0.0] and [v2.0.1].

[v2.0.0]: https://github.com/tomchentw/react-google-maps/releases/tag/v2.0.0
[v2.0.1]: https://github.com/tomchentw/react-google-maps/releases/tag/v2.0.1

[2015-08-08 02:08] tomchentw commented on #55
Released [v2.0.0] and [v2.0.1].

[v2.0.0]: https://github.com/tomchentw/react-google-maps/releases/tag/v2.0.0
[v2.0.1]: https://github.com/tomchentw/react-google-maps/releases/tag/v2.0.1

[2015-08-08 02:08] tomchentw commented on #47
Released [v2.0.0] and [v2.0.1].

[v2.0.0]: https://github.com/tomchentw/react-google-maps/releases/tag/v2.0.0
[v2.0.1]: https://github.com/tomchentw/react-google-maps/releases/tag/v2.0.1

[2015-08-08 02:09] tomchentw commented on #25
Released [v2.0.0] and [v2.0.1].

[v2.0.0]: https://github.com/tomchentw/react-google-maps/releases/tag/v2.0.0
[v2.0.1]: https://github.com/tomchentw/react-google-maps/releases/tag/v2.0.1

[2015-08-08 02:09] #25 closed

[2015-08-08 02:15] tomchentw commented on #91
Released [v2.0.0] and [v2.0.1].

[v2.0.0]: https://github.com/tomchentw/react-google-maps/releases/tag/v2.0.0
[v2.0.1]: https://github.com/tomchentw/react-google-maps/releases/tag/v2.0.1

[2015-08-08 02:29] tomchentw opened #92 "Pick up a script loader and provide as a optional Compoent"
## Why

Inspired by #81 , I think it would be great if we could provide a `<Component>` that will load this module.

## Candidates

https://tomchentw.github.io/xrossref/#ZG96b2lzY2gvcmVhY3QtYXN5bmMtc2NyaXB0LCBzeXN0ZW1qcy9zeXN0ZW1qcywgZGVkL3NjcmlwdC5qcywgU2xleEF4dG9uL3llcG5vcGUuanMsIGdldGlmeS9MQUJqcywgd2Vzc21hbi9kZWZlci5qcw==

## Thoughts

Since `System.js` seems to be the best, future proof librar

[2015-08-08 15:21] thetiby opened #93 "Mount InfoBox content and OverlayView content directly to their respective DOM"
Right now, an empty, otherwise useless, div is used to account for the fact that React needs to render to a DOM element. There's actually access to the underlying InfoBox/OverlayView div under `instance.div_` which will eliminate the need for that React "crutch".

[2015-08-08 18:31] ksavenkov commented on #86
@tomchentw, great improvement! Yes, now the problem resolved. However, it's a bit tedious to write "default" prefix for all 10+ map options - is that possible to make defaultOptions={...} prop work for GoogleMap component much like it works for markers etc. ?

[2015-08-08 18:47] nickhs opened #94 "mapHolderRef only gets attached to direct child"
Great library! Just one hiccup I've noticed so far:

When including a child in `<GoogleMap>` that could include an object (such as a `Marker`) the magic `mapHolderRef` property doesn't get attached to the underlying `Marker` object.

For example creating a structure something like:

[code]

Will result in none of the `<Markers />` having the necessary property set. The current workaround is to add

[2015-08-08 21:53] cateland commented on #89
Happen on both 1.X.X and 2.X.X

[2015-08-09 03:14] tomchentw commented on #94
Something like `<MyMarketHolder>` is not currently supported. And I think you're right, right now in `MyMarkerHolder#render` you have to manually pass down `mapHolderRef` to children (Marker).

[2015-08-09 03:15] tomchentw commented on #86
`defaultOptions` and `options` are supported for markers as well. It's the same semantic for stock Google Maps JavaScript API v3

[2015-08-09 03:16] tomchentw commented on #93
Thanks for the great discussion and open an issue for me! Will try to add a PR soon :)

[2015-08-09 04:41] pjnovas commented on #66
oh :hankey: ! what an awesome work guys!, +1 to the Places API :+1:

[2015-08-09 04:42] tomchentw commented on #66
Does anyone interest in working on this?

[2015-08-09 04:43] tomchentw opened #95 "Add Component Playground"
* Add support for `component-playground`
* http://projects.formidablelabs.com/component-playground/

[2015-08-09 04:43] tomchentw opened #96 "Test"
## Integration Tests

On `examples/gh-pages`

* https://github.com/kriasoft/react-starter-kit
* https://github.com/vvo/selenium-standalone
* https://github.com/webdriverio/webdriverio/blob/master/examples/webdriverio.with.mocha.and.chai.js
* https://github.com/tatablack/karma-webdriverjs-launcher

[2015-08-09 04:43] tomchentw commented on #65
Closed by #95 and #96

[2015-08-09 04:43] #65 closed

[2015-08-09 11:45] ksavenkov commented on #86
I mean, it seems they aren't supported for GoogleMap component.

[2015-08-09 13:47] tomchentw commented on #86
I saw there's a `setOptions` on [Marker] class in v3.21

[Marker]: https://developers.google.com/maps/documentation/javascript/3.exp/reference#Marker

[2015-08-10 11:01] ksavenkov commented on #86
My bad - I wrapped props for GoogleMap in ```options={...}``` and forgot to remove default- prefixes. Now everything works just fine - I create custom controls and they aren't rerendered.

[2015-08-10 11:01] #86 closed

[2015-08-10 11:32] samuelsantia opened #97 "Not defaults options not working in GoogleMap"
Hi there! I just started to implement your library in a personal project. Its look great.

I'm trying to initialize a map with custom styles, but I've detected that when you use differents options that there are defined in optionNameList when calling to composeOptions in the _createdMap method they are ignored.

My GoogleMap initializer:

[code]

Thanks in advance :)

[2015-08-10 11:37] tomchentw commented on #97
Put them into `containerProps`?

[2015-08-10 11:47] samuelsantia commented on #97
Sorry I refer to styles to change the map styles (https://developers.google.com/maps/documentation/javascript/styling#styling_the_default_map)

The same issue occurs if I use google.maps.MapOption draggable that its not applying to map initializer.

I think that it would fix updating options list in
[code]
Or changing the composeOptions method to returns all props that are not defined in defaults.

[2015-08-10 11:58] tomchentw commented on #97
Got it. So in v2.x the API has changed to exclude collect options from `this.props`. If you like to set something that belongs to `options`, you should use `options/defaultOptions` property:

[code]

The rule to expose them as `optionNameList` is only when those properties has exposed getter/setter on the API document. Since we don't have a `google.maps.Map#setStyle` method, you should change styl

[2015-08-10 12:08] samuelsantia commented on #97
Its working!!
Thanks a lot, and congrats for you library :)

I think when you have time you should update the styledMap example to work well

PS: sorry if my english is bad :(

[2015-08-10 12:19] tomchentw commented on #97
Glad it works! No problem @samuelsantia !

Sorry to confuse you with the outdated example :( Fix it soon...

[2015-08-10 12:24] #97 closed

[2015-08-10 14:00] cateland commented on #89
Closing this issue another part of the application was responsible for the bad performences.

My apologies.

[2015-08-10 14:00] #89 closed

[2015-08-10 14:01] tomchentw commented on #89
Thanks! Please feel free to reopen this if anything go wrongs here!

[2015-08-10 23:55] pjnovas commented on #66
hey there, I'm just starting with React so I'm not confident to code in your library yet but after some research I have found the Autocomplete implementation as a react component which I'm pretty sure could be to just required inside this library: https://github.com/ubilabs/react-geosuggest.

Hope it helps! :dancers:

[2015-08-11 00:33] idolize commented on #66
@pjnovas Yep, I found that too and was too lazy to implement this PR myself as a result (sorry @tomchentw) :laughing:

[2015-08-11 01:02] tomchentw commented on #66
Thanks! That's pretty awesome. Consider adding this section to the docs ...

[2015-08-15 01:05] davidlashlee opened #98 "Access LatLong Info"
Hey,

If I'm using drawing manager, and make a polygon, how would I go around getting the polygon points?

[2015-08-17 14:21] VonD opened #100 "Error on GoogleMap component mount"
Hi, I'm having the following error : `Uncaught TypeError: Cannot read property 'firstChild' of undefined`.

The error is triggered by this line in the `componentDidMount` hook of `GoogleMap` :

`const domEl = findDOMNode(this);` [source](https://github.com/tomchentw/react-google-maps/blob/master/src/GoogleMap.js#L79)

Could this be caused by the fact i'm using react 0.14.0-beta1 ? Or do you have a

[2015-08-18 01:57] tomchentw commented on #98
Listen to the `*complete` events:
https://github.com/tomchentw/react-google-maps/blob/081d03f10a7200952c65f7994e896fb3d96d3bc5/src/eventLists/DrawingManagerEventList.js
https://developers.google.com/maps/documentation/javascript/3.exp/reference#DrawingManager

[2015-08-18 01:57] #98 closed

[2015-08-18 02:05] tomchentw commented on #100
I just tried `react 0.14.0-beta1` and it seems to work correctly. Would you like to take a closer look?

<img width="1276" alt="screen shot 2015-08-18 at 10 04 55 am" src="https://cloud.githubusercontent.com/assets/922234/9320798/a49fdfe2-4590-11e5-8cc6-f2c5457d6023.png">

[2015-08-18 10:31] TomCaserta opened #101 "onMouseOver and onMouseOut events on markers appear to be named lowercase causing the event handler not to be attached."
Not sure if this applies to more than markers. Just thinking it might be wise to change it so it allows any case (or at least allows the React style capitalization of events). Alternatively making a note of it somewhere prominent would be great.

Currently you have to use `onMouseover` and `onMouseout` which is inconsistent to Reacts event system that uses `onMouseOver` and `onMouseOut`.

[2015-08-18 10:53] tomchentw commented on #101
Yes, because the event isn't really handled by React Event System. They're provided by Google Maps JavaScript API v3
http://git.io/vsJon

[2015-08-18 10:53] #101 closed

[2015-08-18 12:12] TomCaserta commented on #101
Yeah I understand that, but its just a little confusing that its not explicitly mentioned anywhere. I mean the code already transforms the first character to be uppercase. I mean its obvious when you realise whats going on but genuinely earlier I was wondering for about 20-30 minutes as to why my events wasnt firing as I just assumed you had converted the event names to be "react style" event name

[2015-08-18 12:21] VonD commented on #100
@tomchentw yes thanks for your answer.

The error came from the fact that `react-google-maps` as react 0.13 specified as peer dependency, so my bundle was using two different versions of react.

[2015-08-18 12:21] #100 closed

[2015-08-18 13:36] tomchentw commented on #100
Gosh. Maybe I should remove peerDependencies since npm3 is there. What do you think?

[2015-08-18 13:37] tomchentw commented on #101
Sorry about that. We really need a better documentation ...

[2015-08-18 13:43] tomchentw commented on #101
Hmm I think I did convert it in some cases like `cursor_changed` will be `onCursorChanged`. `mouseover` event is a bit tricky though

[2015-08-18 14:39] VonD commented on #100
peerDependencies should only be annoying for people using react beta, but why not. Or maybe add a little warning on the Readme. As you wish. I can submit a little PR if you want

[2015-08-18 17:31] TomCaserta commented on #101
yeah I saw the event list and way you are converting. Unsure if you can do this efficiently, but would it just be possible to make it case insensitive? I mean its not a major issue, just something that would save people time in the future.

Dont want to sound like I am annoyed by this at all simply because the library has saved me a lot of time (so thanks!).

[2015-08-19 01:30] tomchentw commented on #101
If we had a way to:
1. get a list of React predefined event names
2. compare them in lowercase with google event names in lowercase
If there's a match but case isn't match, show the warning to the user. What do you think?

[2015-08-21 10:22] Qrysto commented on #92
+1. I've been using react-async-script for loading googlemaps API and it worked fine before updating to v2. I'm against adding a script tag to load googlemaps API, it's against reactjs's modular structure, so I think react-google-maps itself should provide a way to load googlemaps API or at least play well with 3rd party async script loaders.

[2015-08-22 03:25] tomchentw commented on #92
Thanks for the info of [`react-async-script`](https://github.com/dozoisch/react-async-script). I believe it's suitable for our usage. I will look at it soon.

[2015-08-23 12:00] boosh opened #102 "Support react 0.14.0-beta3"
I'd do this myself but I'm a react noob... I'm getting errors about the import of `findDOMNode` after upgrading the dependency to react 0.14.0-beta3, and more errors after fixing that import...

[2015-08-24 02:00] tomchentw commented on #102
I think it just a warning? #26

[2015-08-24 02:01] tomchentw commented on #102
#100 I think you could still using it.

[2015-08-24 10:10] boosh commented on #102
Perhaps removing the dependency from package.json might be enough. When I tried upgrading the dependency in a fork I had these errors though, and it didn't work.

Have you tried with beta3 instead of just beta1?

[2015-08-24 16:06] VonD commented on #102
@boosh I'm using this fork for the moment without any errors : https://github.com/VonD/react-google-maps/tree/no-peer-dependency

[2015-08-24 21:02] echenley opened #103 "Custom marker icons cause lag"
Hey, first off this is a fantastic project! Thanks!

I'm building an application which supports potentially thousands of markers at a time, each sharing a custom icon instead of the default. This is quite possible using the vanilla maps API.

This library handles the default icon perfectly fine (at least with 200 markers). However, once I add a custom icon, there is a noticeable lag on renders. I

[2015-08-25 01:20] tomchentw commented on #103
Which version are you currently using? v1 or v2?
If you are using v2, try `defaultIcon={ marker.icon }` instead?

[2015-08-25 05:31] farrrr opened #104 "Does it work with js-marker-clusterer"
I try to use js-marker-clusterer in react-google-maps, but it seems not work.
Does it work with js-marker-clusterer?

[2015-08-25 06:52] tomchentw commented on #104
Not sure. You could try to create a Component for that
https://github.com/googlemaps/js-marker-clusterer
Someone wants to help?

[2015-08-25 08:39] farrrr commented on #104
okay, maybe I can try to create one later.
thx.

[2015-08-25 22:30] echenley commented on #103
Changing it to `defaultIcon` does help! What exactly is the difference between the two? I couldn't find a distinction in the google API. I am using v2.

[2015-08-26 05:38] radnor commented on #48
Here's how I got the example to compile and run on Windows. You may need to install `webpack` and/or `webpack-dev-server` via `npm install -g` to get the commands to run properly.

[code]

[2015-08-26 17:04] tomchentw commented on #48
@radnor so `npm run dev` or `npm start` won't work on windows?

[2015-08-26 17:05] tomchentw commented on #103
The concept is very similar to [Controlled Component](https://facebook.github.io/react/docs/forms.html#controlled-components). Setting some props to `default`-prefixed will make them set just once.

[2015-08-26 17:06] tomchentw commented on #103
But the down side is that you could not change the value anymore (by setting it to new value via props). Instead, it's fully controlled by the Google Maps JavaScript API v3.

[2015-08-26 17:06] #103 closed

[2015-08-26 17:07] tomchentw commented on #102
@VonD you're awesome!

[2015-08-26 17:36] radnor commented on #48
Correct, as `rm -rf` does not work in windows. Implementing the `npm clean` task with [rimraf](https://github.com/isaacs/rimraf) should solve this issue.

[2015-08-27 00:32] tomchentw commented on #48
@radnor thanks to look into this. I didn't notice that even `rm` would be an issue though LOL. Would you mind to open PR for this?

[2015-08-27 02:00] tomchentw opened #105 "Helper Tools"
decamelize@1.0.0, camelcase@1.2.1

[2015-08-27 19:32] boosh commented on #102
Hmm I get an error when I copy and paste the simple map example into my project with that branch:
[code]
When I installed it, it complained about needing react 0.13 but it not being installed...

In 0.14 they've split the DOM stuff out of core, so perhaps this is the problem?

[2015-08-28 08:05] tomchentw commented on #102
@boosh Did you use the fork from @VonD ?

[2015-08-28 15:34] outdooricon commented on #62
Now with the rewrite, I'm pretty confused on what the correct way to use these is... especially fitBounds. I assume that panBounds is useless to set since I assume a new map is created every time state changes (is that right?). But setting fitBounds doesn't seem to actually work. Could you give us an example of how we should be setting the bounds? Thanks for this great project!

[2015-08-28 15:44] tomchentw commented on #62
State changes will only be applied when you have controlled properties. Try calling fitBounds in your cDU?

[2015-08-29 08:34] boosh commented on #102
Yeah. I still had problems with it for some reason.

[2015-08-29 11:39] VonD commented on #102
@boosh is by any chance react installed in the node_modules directory of the react-google-maps package ?

[2015-08-29 15:57] outdooricon commented on #62
isn't fitbounds a controlled property?

[2015-08-30 02:25] tomchentw commented on #62
@outdooricon it's public APIs from the `ref`: http://git.io/vGc4H

[2015-08-30 09:11] tomchentw commented on #102
@VonD @boosh which version of `npm` are you using ?

[2015-08-30 14:38] outdooricon commented on #62
Ok, I think i understand. I'm really curious what the use case of even exposing the these other properties that @LarryEitel has. It's pretty confusing to expose these if they don't really work.

[2015-08-30 16:18] VonD commented on #102
2.5.1

[2015-08-30 16:46] boosh commented on #102
I was using 3.0.0 but I've downgraded. I'll test it when I get chance.

[2015-08-31 00:41] tomchentw commented on #102
If you use 3.0.0. npm will flatten your dependencies into the top most `node_modules`.

[2015-08-31 07:46] flash1293 opened #108 "MarkerWithLabel-Support"
It would be very nice if this lib would support the markerwithlabel-addon (http://google-maps-utility-library-v3.googlecode.com/svn/tags/markerwithlabel/1.1.8/docs/examples.html).

Right now there are two problems:
* Hardcoded Marker-Classname in the MarkerCreator
* Hardcoded Property-List in the MarkerCreator.

For the record, I made it work by monkey-patching the _createMarker-Method like this:

[2015-08-31 11:25] ksavenkov commented on #108
JFYI, I made an addon exactly for that in my fork, but I use not markerwithlabel, but https://github.com/scottdejonge/Map-Icons.

[2015-08-31 11:32] flash1293 commented on #108
I think for the future the best way is to make such things configurable to make it possible to create wrapper-components built on react-google-maps. Does it make sense to create a Pull-Request for this?

[2015-09-01 14:32] tomchentw commented on #108
I would appreciate a proposal for the APIs.

[2015-09-07 02:04] frodosamoa commented on #104
I've implemented the clusterer in a previous version of `react-google-maps`, it was a while ago though, the version was v0.2.5.

[2015-09-07 03:09] tomchentw commented on #104
Mind to put the code here so that someone could implement it in v2? Thanks @frodosamoa  :)

[2015-09-07 16:45] Bazze commented on #92
Hey! Any progress on this?

[2015-09-08 01:59] tomchentw commented on #66
`SearchBox` has been done in #110 .

[2015-09-08 20:45] frodosamoa commented on #104
I actually wouldn't mind tackling it myself! I'll get a PR open in the near future :relaxed:

[2015-09-11 18:02] Californian opened #111 "google.maps.LatLng call should not be necessary for geometric objects"
I think it would be preferable if points did not have to be manually composed with a google.maps.LatLng call for each point in a polygon's or polyline's path, or for any other geometric objects. This should be handled behind-the-scenes, as there is no other option for writing paths.

[2015-09-11 18:03] Californian commented on #111
I'm going to be working on this over the weekend, and I'll submit a PR when complete.

[2015-09-11 23:36] tomchentw commented on #111
I'm not sure whether this feature should be done in regardless of the level of abstraction of this library.

[2015-09-14 14:31] Californian commented on #111
If you don't think it would be an improvement, feel free to close the issue.

[2015-09-14 14:36] Californian opened #113 "Development Environment -- docker-compose Fails"
When running `docker-compose` in the checked-out repository (with no modifications), it returns the following error.

[code]

[2015-09-14 14:40] Californian opened #114 "HeatmapLayer Component"
Support for the [HeatmapLayer] (https://developers.google.com/maps/documentation/javascript/3.exp/reference#HeatmapLayer) class would be useful.

[2015-09-15 19:43] brainkim commented on #113
Also getting this problem. Any luck?

[2015-09-15 21:16] Californian commented on #113
Well it looks like `examples/gh-pages/Client.webpackConfig.js` is what is supposed to be using this variable, and it just changes HOST from `localhost` to `0.0.0.0`. I removed the `--docker` from the command definition in `examples/gh-pages/package.json` and it seems to build correctly; maybe it's worth defaulting to `0.0.0.0` since I assume windows development is less common than docker. Regardle

[2015-09-16 00:20] brainkim commented on #113
Here's a commit showing the differences you wrote if anyone else is having this problem. This is probably the nicest open-source repository for anything that I've ever seen.

https://github.com/brainkim/react-google-maps/commit/ae54edb7c2a13ec40275e4f0b7ebae5d0798e029

[2015-09-20 23:49] asaf commented on #104
@frodosamoa +1

[2015-09-21 16:28] ilionic opened #116 "Warning: owner-based and parent-based contexts differ"
Getting this warning while trying to insert another React component into `<InfoWindow>`, in my case React-router Link

[code]

[2015-09-22 01:31] tomchentw commented on #116
Internally `InfoWindow` will render your content in another `React.render` call. Not sure how to deal with that...

[2015-09-22 02:24] #113 closed

[2015-09-22 11:44] ilionic commented on #116
As alternative to `InfoWindow` I am trying to play around with `InfoBox` to see if it gives warning.
Though having issue with importing `InfoBox` component from /addons

I am using Webpack and loading components this way:
`import {GoogleMap, Marker, InfoWindow} from 'react-google-maps';`  - works fine.

```import {InfoBox} from 'react-google-maps/addons/';``` - module not found
Relative path to np

[2015-09-22 11:48] tomchentw commented on #116
`import InfoBox from 'react-google-maps/lib/addons/InfoBox';`

[2015-09-22 12:37] ilionic commented on #116
Thank you! Unfortunately warning is still present.
Checked around and apparently this is context issue and should be resolved in React 0.14

[2015-09-22 16:17] ilionic opened #117 "Uncaught TypeError: this._unregisterEvents is not a function"
Getting this error while using `InfoBox`.
Basically as soon as `InfoBox` is initialised and map receives new props, this error occurs.

[code]

[2015-09-22 20:16] brainkim commented on #117
Why was this closed? Also see this sometimes.

[2015-09-24 02:55] Qrysto commented on #92
How is this progressing?

[2015-09-28 22:18] ReyesTimes opened #118 "Add tabindex in map"
I can't add tabindex

[2015-09-28 22:44] idolize commented on #104
Oh wow this looks very cool!

[2015-09-30 02:54] tomchentw commented on #108
Anyone interested?

[2015-09-30 02:55] tomchentw commented on #116
Ref #109

[2015-09-30 02:55] tomchentw commented on #118
Try add it to `containerProps`?

[2015-10-01 19:10] brainkim opened #122 "refs in OverlayView not defined in parent component's componentDidMount"
If you have a component like so:
[code]
the ref to the redSquare div, which is a child of the `OverlayView` will be undefined in `componentDidMount`. Is there a way to mitigate this problem, or is it a consequence of the techniques you use to render the children of the OverlayView?

[2015-10-01 22:47] captDaylight opened #123 "Is there a way to disable Satellite view button from appearing?"
How I would do this in a non react situation would be to set mapTypeControl to false. How would I go about setting that value with this library?

[2015-10-03 07:59] ksavenkov commented on #123
`<GoogleMap
                    defaultOptions={{mapTypeControl: false}}
...
/>`

[2015-10-05 03:56] farrrr commented on #104
I try to implement MarkerClusterPlus to react-google-maps,
And create a pull request https://github.com/tomchentw/react-google-maps/pull/124
I want to make a example, but I npm start gh-pages, it throw error...
-----
webpack: bundle is now VALID.
[TypeError: Cannot read property 'rawAsset' of undefined]
-----
so I can't build a example in gh-pages.

so if you want use this feature you need include

[2015-10-05 06:42] tomchentw commented on #104
@farrrr it's a bug in `reacthtmlpack` just try to start it again.

I'll take a look at the PR soon. Thanks!

[2015-10-06 10:00] jerefrer commented on #103
@echenley Thanks for pasting your code in here, it helped me greatly to understand how to use `InfoWindow`.

I'm very new to React and I find it insanely difficult to make every step towards every goal using this library. I think the main cause is lack of documentation, mainly around `InfoWindow`.

I can see you have some working implementation of `InfoWindow` that one can open/close, would you be

[2015-10-06 20:22] hugotox opened #126 "Question: how to get the current zoom level?"
I need it to calculate the radius of an overlayview component I have in the map.
Any ideas how to get it?
Thanks a lot for this project!!

[2015-10-07 00:51] tomchentw commented on #126
Using `getZoom` function using refs?

https://github.com/tomchentw/react-google-maps/blob/master/src/GoogleMap.js#L48

[2015-10-07 00:52] tomchentw commented on #122
Unfortunately yes. Currently I don't see a possible solution out there.

[2015-10-07 02:10] hugotox commented on #126
Awesome. Thanks!

[2015-10-07 02:10] #126 closed

[2015-10-07 13:59] jerefrer commented on #16
@tomchentw I've been struggling with this component for about everyting I wanted to do and I have found no other solution than to dive into more or less all the Issues and the source code to find little bits of explanations. I admit I'm pretty new to React as well so it hasn't helped.
So yes I absolutely agree : a Getting Started guide would have been deeply appreciated :relieved:

[2015-10-07 14:01] jerefrer commented on #103
Okay I finally got those InfoWindow to work, I try to find some time and add an example with my solution.

[2015-10-07 23:53] DanielHeath opened #127 "React 0.14.0 is out"
Can we get a release to update the peerDependency?

[2015-10-08 03:27] tomchentw commented on #127
Stuck on something else and I'll try to release it soon.

[2015-10-08 15:48] #127 closed

[2015-10-08 15:49] tomchentw commented on #102
Closed by 443a5fd332774b6b8528e7f784dde0e3b4f4def2 and released [v4.0.0](https://github.com/tomchentw/react-google-maps/releases/tag/v4.0.0)

[2015-10-08 15:49] #102 closed

[2015-10-08 15:49] tomchentw commented on #127
Released [v4.0.0](https://github.com/tomchentw/react-google-maps/releases/tag/v4.0.0)

[2015-10-09 04:52] TonyFrancis commented on #122
Reason for this is that render happens on``` Parent``` first and then``` children```. So issue is that when Parent finishes render it calls ```componentDidMount``` fn() but at that Child ```Overlay``` is finished rendering so ```ref ```is not set with ```parent```.

Work around for this is set timedelay so child renders  and ref is available at Parent
[code]

React must need a ```componentDidDispl

[2015-10-09 19:34] ksavenkov commented on #84
Second that. As I understand, this is not the intended behavior of Google Maps. It breaks the use case when OverlayView is used to display a menu, which is closed by clicking on the map.

[2015-10-09 20:07] ksavenkov commented on #84
Actually, I've found a workaround: added overlayHovered flag to the state and check it in handleMapClick function.

[2015-10-10 23:03] echenley opened #128 "Comprehensive API Documentation"
While it is possible to figure out how to use this library by reading the examples and other available code samples, anything beyond basic usage becomes a struggle due to lack of documentation. For instance, the fact that `<InfoWindow />` can be nested inside `<Marker />` is undocumented except for [this unrelated example](http://tomchentw.github.io/react-google-maps/#events/event-closure).

A lis

[2015-10-10 23:05] echenley commented on #103
@jerefrer Glad it was helpful! I agree that a thorough API documentation in addition to the examples is needed, especially for features where there isn't an obvious one-to-one relationship to the maps API. I've created [another issue](128) to address this.

[2015-10-11 06:58] tomchentw commented on #122
@TonyFrancis I think the reason here is we had a different React.render cycle for components like `OverlayView`, `InfoWindow` and `InfoBox`.

[2015-10-11 06:58] tomchentw commented on #103
Thanks @echenley !

[2015-10-11 06:59] tomchentw commented on #128
Certainly agree with this. Do you have any idea on good documentation tools?

[2015-10-11 07:32] tomchentw opened #129 "React 0.14 issues thread"
* [x] `FIXME` stuff for `React.findDOMNode -> ReactDOM` #132
* [x] `FIXME` stuff for `React.render -> ReactDOM`

[2015-10-11 07:32] tomchentw commented on #116
Close this for #129

[2015-10-11 07:32] #116 closed

[2015-10-11 07:33] tomchentw commented on #111
Welcome to implement this under the namespace of `addons` folder :)

[2015-10-11 07:33] #111 closed

[2015-10-11 14:02] tomchentw commented on #118
@ReyesTimes does it help?

[2015-10-11 14:04] tomchentw commented on #104
Closed for #124

[2015-10-11 14:04] #104 closed

[2015-10-11 14:04] tomchentw commented on #85
Close for now

[2015-10-11 14:04] #85 closed

[2015-10-11 14:18] tomchentw commented on #84
I've noticed the same behavior in the [#basics/overlay-view](https://tomchentw.github.io/react-google-maps/#basics/overlay-view) example.

[2015-10-11 22:49] mauriyouth commented on #129
findDOMNode is depecrated,https://github.com/tomchentw/react-google-maps/blob/5d9cd84aa197342cded582ea1da3e10fb01e26fe/src/GoogleMap.js#L5,
now its in react-dom

[2015-10-12 02:41] tomchentw commented on #92
Okay. Right now I could add another `async.html.js` endpoint to `examples/gh-pages` to demonstrate async loaded scripts. Here's the current result:

## Branch

http://git.io/vCWHm

## Screenshot

<img width="1194" alt="screen shot 2015-10-12 at 10 36 56 am" src="https://cloud.githubusercontent.com/assets/922234/10420764/80de5292-70cd-11e5-9c4e-09a636b02239.png">

The error in the web console shows

[2015-10-12 03:45] TonyFrancis commented on #122
@tomchentw  yes that's the issue. React group try to propose a new lifecycle for this .
[ComponentDidDisplay](https://github.com/facebook/react/issues/5053)

[2015-10-12 05:53] tomchentw commented on #122
@TonyFrancis wow it's so new. Thanks for the reference!

[2015-10-14 21:33] dyyylan commented on #62
@tomchentw could you explain how to use `fitBounds` now? In the last link you posted, it is only for getters (which don't seem to work at all for me, they are missing `this` context).

There does not appear to be a fitBounds method exposed anywhere that I can see.

[2015-10-14 22:07] dyyylan opened #133 "GoogleMap public api - no methods work"
I'm having an issue accessing any of the methods that should be exposed on the GoogleMap component.

In any of these methods, `this.state` is undefined: https://github.com/tomchentw/react-google-maps/blob/0e417015e3444e35c1c7cf4c5f325bfeabcdb584/src/GoogleMap.js#L32-L65

[2015-10-15 02:00] tomchentw opened #134 "Drop the dependency of fbjs"
From https://github.com/tomchentw/react-google-maps/commit/91d57909bf1de15f8f41e89d71a21da823cca0ab#commitcomment-13781930

[2015-10-15 02:27] tomchentw commented on #133
I think it works on the `<GoogleMap>` component in the example. Could you double confirm?

Code: https://github.com/tomchentw/react-google-maps/blob/67895ab6527e59354c7b6a414fc5651adec97483/examples/gh-pages/scripts/components/GeojsonToComponents.js#L74-L101
Demo: https://tomchentw.github.io/react-google-maps/#geojson

[2015-10-15 02:43] #134 closed

[2015-10-15 02:44] tomchentw commented on #134
Released [v4.2.0](https://github.com/tomchentw/react-google-maps/releases/tag/v4.2.0)

[2015-10-15 03:01] dyyylan commented on #133
`this.refs.map.getZoom()` doesn't work either for me. Any of the methods off of `this.refs.map` give me an error in the GoogleMap component, `this.state` is undefined.

Here's the code I'm using:
https://gist.github.com/dyyylan/849d073d7ab16e9a3860

I tried cloning the repo to set up the gh-pages and see if it worked locally, but none of the pages will load.

[2015-10-15 03:30] tomchentw commented on #133
So you can't load `examples/gh-pages` locally? Weird. What's your `node`, `npm` version?

The gist looks okay though. However, in componentDidUpdate, could you try to call `this.refs.map.fitBounds()` directly? I'm not sure if that's the case.

[2015-10-15 03:34] dyyylan commented on #133
Same error. The line highlighted is this here:

[code]

I'm running node 4.1.2 and npm 2.14.4

[2015-10-15 03:45] tomchentw commented on #133
Did you load google.mas script before React?

[code]

[2015-10-15 04:03] dyyylan commented on #133
Yes. I should mention the rest of the map stuff is working great, it's just these couple exposed methods that don't work.

[2015-10-15 05:20] tomchentw commented on #133
It's really weird. I updated the `GeojsonToComponents` module to include `componentDidUpdate` and it works great.

[2015-10-15 16:05] dyyylan commented on #133
Ok I did some more testing and I was able to reproduce what is causing the problem.

In your examples, the map is loaded as soon as the component is mounted.

If something prevents the component from mounting immediately (i.e. I load data and show a spinner gif before the map is shown on the page), something in the GoogleMap state is not bound

I created a repo so you can see how this happens:
htt

[2015-10-15 18:47] hovatterz opened #135 "Performance issues when changing a marker icon with lots of markers"
I have a dataset of about 119 items (other maps will have more), and each item is a marker on the Google map. It seems that when I change the icon for one marker (on hover) it removes and adds every single marker. This leads to some slowness and slight flickering.

Is there some way I can avoid this? Sorry if I'm missing something obvious.

[code]

[2015-10-16 01:28] tomchentw commented on #133
I tried to update the `Map` component to:

[code]

But it doesn't work. Still the error of `Uncaught TypeError: Cannot read property 'getZoom' of undefined` due to `this.state.map` is `undefined`.

[2015-10-16 01:34] tomchentw commented on #133
@dyyylan I had a workaround here: https://github.com/dyyylan/map-error/compare/master...tomchentw:master

[2015-10-16 01:44] tomchentw commented on #135
Could you provide me a gist that contains the mock marker data so that I could test it out? Thanks!

[2015-10-16 01:45] tomchentw commented on #135
At first glance, I didn't see any problem in your code. You have `key` properly setup and it should work fine during render cycles ... weird.

[2015-10-17 19:57] hovatterz commented on #135
https://gist.github.com/hovatterz/be265738f8a297bad4df

You can just set the center point to any one of those lat/lon points. I fixed the markers zIndex seeming to change on hover by specifying a zIndex for each one. I think it would still be preferable for them to not re-render though.

[2015-10-19 01:50] echenley commented on #128
The overview is looking good! :+1:

Not super experienced with documentation myself, but this looks like an interesting project: https://github.com/reactjs/react-docgen. I ran it over the `src/` directory but it doesn't understand that prop types are imported from another file. Am going to open an issue with them when I get the chance.

[2015-10-19 23:30] echenley commented on #128
Will see what they say: https://github.com/reactjs/react-docgen/issues/33

[2015-10-20 11:30] jerefrer commented on #128
:+1: Nice to see some docs, thanks !

[2015-10-23 00:06] replaid commented on #94
I hit this too. Would you consider documenting this decision?

[2015-10-23 02:11] tomchentw commented on #135
@hovatterz I just setup a branch in the example repo here: http://git.io/vWllh. As I ran it on my computer, I didn't experience any lags nor delays. Could you take a look and modify on the branch as your wish?

[2015-11-02 01:41] akatreyt opened #138 "DrawingManager markercomplete example"
I'm trying to get the gps of a marker when added to the map, I understand I'm supposed to use the Device Manager and markercomplete but I can't get it to work. Wondering if anyone had an example they could share? I was going to post this on stackoverflow but I didn't see a react-google-maps tag.

Thanks

[2015-11-04 07:57] PanJ commented on #133
@tomchentw I'm having exact same problem but I cannot view your workaround you posted.

[2015-11-04 09:55] sijovijayan commented on #133
@dyyylan @tomchentw , Can you change the value of 'ref' attribute in the component render block ?
Use something like the following

         ref="glmap"

Please let me know the result.

[2015-11-04 16:16] dyyylan commented on #133
Sorry, I cleaned up some repositories I wasn't using and deleted my fork of this project. @PanJ, the workaround was to just create a wrapper component for the map. Whichever component the map is in, it must render when the component mounts, or you won't get the api exposed. That was the cause of my issue

[2015-11-06 22:15] stevus opened #141 "Fix for eslint error "Do not use setState in componentDidMount react/no-did-mount-set-state""
In [L81 (and other map/components})](https://github.com/tomchentw/react-google-maps/blob/master/src/GoogleMap.js#L81):

should be instead:
[code]

otherwise will fail ES2015 eslinting

[code]

[2015-11-09 04:21] mychaelgo opened #142 "google is not defined"
this my code for render google map

[code]

but i got error
[code]

did i missed something?

[2015-11-09 05:59] #142 closed

[2015-11-10 13:40] tomchentw commented on #141
We really want it to happen in `cDM` because we need DOM node for google maps instance. Any ideas?

[2015-11-16 04:22] tomchentw commented on #92
Guys, I've added a new component using `scriptjs` to load google maps API v3. The example can be seen on `gh-pages`:
https://tomchentw.github.io/react-google-maps/async/

Please check it out and let me know any issues, thanks! You can use the version of [4.3.1](https://github.com/tomchentw/react-google-maps/releases/tag/v4.3.1)

[2015-11-17 12:05] andersaloof opened #143 "ScriptjsGoogleMap.componentWillReceiveProps throws warnings on all re-renders"
I've copied your async example, but my console is filled with warnings that props "query" and "loadingElement" have changed, even though they have not.

If I set loadingElement to false as a prop to <ScriptjsGoogleMap>, it's only reporting that query have changed, and even if I set query to an empty object, it thinks it has changed.

Seems to me that the issue is because theese props are objects,

[2015-11-17 14:49] #143 closed

[2015-11-17 14:49] tomchentw commented on #143
Thanks. Releases [v4.3.2](https://github.com/tomchentw/react-google-maps/releases/tag/v4.3.2)

[2015-11-17 15:19] beeant commented on #133
I'm having this problem too after upgrading to newer version.

`Uncaught TypeError: Cannot read property 'fitBounds' of undefined`

[2015-11-17 15:42] jgoux opened #144 "Custom Marker component"
Hi,
I'd like to make a custom `Marker` for handling the state of showing/hiding its `InfoWindow`, I prefer to do it on single component instead of an array of markers as showed in the examples.
The problem is that `GoogleMap` component can't call `getMap` from my custom `Marker` as the method isn't exposed and `Marker` is required to be a direct child of `GoogleMap`.
Is there a solution to expose

[2015-11-18 10:38] sergiu-paraschiv opened #147 "OverlayView is completely rebuilt even if props don't change"
I think I found the bug that causes this.
[This is line 149](https://github.com/sergiu-paraschiv/react-google-maps/blob/master/src/creators/OverlayViewCreator.js#L149) in `OverlayViewCreator.js`:
`this.getOverlayView()._redraw(this.props.mapPaneName !== prevProps);`

Pretty clear what the bug is. The condition is always going to be true.

[2015-11-18 11:00] sergiu-paraschiv commented on #147
Made a PR for this: https://github.com/tomchentw/react-google-maps/pull/148

[2015-11-18 11:54] ksavenkov commented on #144
I made quite a similar thing using marker with labels from https://github.com/ksavenkov/Map-Icons and implemented it as an addon https://github.com/ksavenkov/react-google-maps/tree/master/src/addons

[2015-11-18 12:15] tomchentw commented on #147
Kind of stupid, thanks for the fix and PR!

[2015-11-18 12:18] sergiu-paraschiv commented on #147
Glad to be of service :)

[2015-11-18 12:18] #147 closed

[2015-11-18 13:17] tomchentw commented on #147
Released [v4.3.3](https://github.com/tomchentw/react-google-maps/releases/tag/v4.3.3)

[2015-11-19 01:57] tomchentw commented on #92
@tstavinoha consider using the `callback` query parameter in the `query` props? This is the standard way by Google Maps JavaScript API v3 to handle the "loaded" event. Notice that it has to be a global variable.

[2015-11-19 02:09] captDaylight opened #149 "Icon resolution"
The Icon that I'm setting for my marker is coming in pixelated on my computer. I'm trying to figure out how to deal with 2x, 3x etc, how would I go about doing this?

[2015-11-19 02:13] #129 closed

[2015-11-19 02:13] tomchentw commented on #144
Related to #94. I'm willing to see an elegant solution for this as well (without `context`)

[2015-11-19 03:25] tomchentw commented on #141
@stevus How about using callback style ref? I've opened up a branch for this: https://github.com/tomchentw/react-google-maps/compare/fix-141?expand=1

[2015-11-19 03:33] tomchentw commented on #123
Thanks @ksavenkov !

[2015-11-19 03:33] #123 closed

[2015-11-19 03:33] tomchentw commented on #133
A reproducible jsfiddle would be appreciated! @beeant

[2015-11-19 03:34] tomchentw commented on #118
Close for now. Feel free to reopen it.

[2015-11-19 03:34] #118 closed

[2015-11-19 03:37] tomchentw commented on #149
Try looking at the official Google Maps JavaScript API v3 document? My initial thought is set the url for the icon dynamically to get different icons for different screens.

[2015-11-19 08:18] beeant commented on #133
@tomchentw sorry, it works after I moved options to `options` props

[2015-11-19 09:36] mychaelgo commented on #98
@tomchentw  can you give me a simple example how to implement that?

[2015-11-19 09:41] tomchentw commented on #122
@brainkim @TonyFrancis Try callback style ref instead? At that time, you could always get up to date DOM. https://facebook.github.io/react/docs/more-about-refs.html#the-ref-callback-attribute

[2015-11-19 10:38] mychaelgo opened #151 "Binding new event after using DrawingManager"
For example : i use DrawingManager to draw a polygon, and i can get coordinates from polygon i have drawn, but how i can bind the drag event for example to my polygon?

[2015-11-19 11:23] tomchentw commented on #151
The `DrawingManager` is a component with state. So the polygon created by it is not controlled by `react-google-maps`. If you wish to control that, you'll have to:

1. setup a listener for `DrawingManager`
2. whenever a polygon is created, read out the data from the polygon from the event argument and save it to your `this.state`
3. render a `Polygon` component with that state
4. clear the state o

[2015-11-19 16:13] 11th opened #153 "Markers not being removed from MarkerClusterer"
Consider this example:

The Sydney marker should just stay in place, but after every even click, the cluster number increments.
I suspect that removing is not handled properly...

[code]

[2015-11-19 16:24] 11th commented on #153
Why there are no tests for simple cases as this? @tomchentw

[2015-11-19 16:39] tomchentw commented on #153
@11th welcome for some test cases!

[2015-11-19 16:39] #153 closed

[2015-11-19 16:39] tomchentw commented on #153
Released [v4.4.1](https://github.com/tomchentw/react-google-maps/releases/tag/v4.4.1)

[2015-11-19 16:41] tomchentw commented on #153
Ref #146

[2015-11-21 20:25] choiway opened #155 "Unexpected token when running webpack"
I'm running the code in the geolocation example in my own app without loading all packages. When I run webpack I get this error and I can't figure out which package I'm missing. Any help would be appreciated. Thanks!

[code]

[2015-11-22 01:58] tomchentw commented on #155
`var state = {` is not a valid property initializer. Just use `state = {` and make sure you've configured babel correctly

[2015-11-22 04:12] tomchentw commented on #141
Use callback style ref in the new refactoring branch #157 .

[2015-11-22 04:13] tomchentw commented on #133
Separating `google.maps` instance creation with React component mounting completely solves this problem. See #157

[2015-11-22 04:20] #133 closed

[2015-11-22 04:20] #141 closed

[2015-11-22 04:21] tomchentw commented on #141
Released [v4.6.0](https://github.com/tomchentw/react-google-maps/releases/tag/v4.6.0)

[2015-11-22 04:21] tomchentw commented on #133
Released [v4.6.0](https://github.com/tomchentw/react-google-maps/releases/tag/v4.6.0)

[2015-11-22 06:10] choiway commented on #155
Thanks, Tom. I think I'm missing something in the Babel configuration. I'll look at it again.

[2015-11-22 06:10] #155 closed

[2015-11-23 12:14] Bogdaan opened #158 "Question: it posible work with react 0.14.2?"

[2015-11-23 12:31] wi1d5ky opened #159 "I want to make DirectionsRenderer draggable, but it doesn't work."
Hi, Tom Chen, I want to do [this](https://developers.google.com/maps/documentation/javascript/examples/directions-draggable), but my direction just stuck. Here is what I did:

[code]
Do you know where is the problem?

thanks :)

[2015-11-23 14:45] tomchentw commented on #158
We have `peerDependencies` in `package.json`:

[code]

Why would you think it's not possible?

[2015-11-23 14:49] tomchentw commented on #159
First, you don't need to set `map={this.refs.map}` when using `react-google-maps`.

Second, the `draggable` is in `setOptions`, so you'll have to specify it:
https://developers.google.com/maps/documentation/javascript/reference#DirectionsRendererOptions

[code]

See `README.md` Rule 4: https://github.com/tomchentw/react-google-maps#rule-4

[2015-11-23 15:07] tomchentw commented on #108
Just checked @ksavenkov's work on `Map-Icons` and I found the demo of `Map-Icons` is really astonishing! What a beautiful icons on map! http://map-icons.com

I would love it to integrated into the `addons` component. @flash1293 suggests that we could make Marker configureable but I'm worried about the problem it generates. Instead, I would like it to be another wrapper components inside `addons` f

[2015-11-23 15:12] wi1d5ky commented on #159
It works!! I couldn't understand Rule 4 before, but now I realize it!
Thank you for your detailed instant reply. :D

[2015-11-23 15:16] tomchentw commented on #159
LOL sorry about the poor documentation :( #128

[2015-11-23 15:16] #159 closed

[2015-11-23 15:22] wi1d5ky commented on #159
Nope, it's my bad.
I am new to react & My english isn't very good.
Don't beat yourself up. ;)

[2015-11-23 15:34] tomchentw commented on #159
Thanks @wi1d5ky ! Let's keep moving.

[2015-11-23 15:54] Bogdaan commented on #158
sory, it's my fault (corrupted node_modules)
works fine with 0.14.xx

[2015-11-23 17:00] wi1d5ky commented on #159
Hi, Tom, it's me again :p
I found that there is an event `directions_changed`, so I use `directionsChanged` as event-trigger but I get nothing... Here is my code:

[code]

I have tried `directionsChanged={console.log("yo")}`, but there is nothing neither...

[2015-11-24 02:46] tomchentw commented on #158
Cool!

[2015-11-24 02:46] #158 closed

[2015-11-24 05:02] Ghostavio commented on #19
I'm having the same problem

[2015-11-24 05:50] tomchentw commented on #19
@Ghostavio could you use `props` to change the `<Marker>` component?

[2015-11-24 17:34] stevus commented on #141
Awesome work, and quick response. I will try it out.

[2015-11-29 17:38] bieber opened #160 "Center/Zoom Change Events Lack Arguments"
The `onCenterChanged` and `onZoomChanged` callbacks don't come with the new center/zoom level of the map, which makes it difficult to use the map in controlled mode (if you're controlling it, you'll have to get the component from a `ref` and manually call `getCenter()` or `getZoom`.  I know the args aren't there in the original Google API, but would you be open to adding them to the `GoogleMap` co

[2015-11-30 02:14] tomchentw commented on #160
Good question. I'm worried about adding more complexity by adding event to arguments. That means we have to manually maintain the binding between Google Maps JavaScript API v3 and `react-google-maps`.
I think the `ref.getCenter` will do the trick, right? You just feel it's better and closer to React by adding event to arguments.

[2015-11-30 02:56] bieber commented on #160
Yep, that's right, and that's a good point: I assume right now you're doing some kind of fairly automated pass-through of events, right?  If you don't feel comfortable moving it into react-google-maps proper, I'll just use a wrapper component that fits my use case a little better

[2015-11-30 05:44] #160 closed

[2015-11-30 05:51] bieber opened #161 "Accessing google.maps.Map Object"
I'm running into a little bit of a snag right now, because I'm changing the size of a map's container which means I need to call `google.maps.event.trigger(map, 'resize')`, where `map` is the google.maps.Map instance associated with the map, to get Google's JS to recognize the newly resized container.  What I'm doing now is using `refToMyGoogleMapInstance.props.map`, which is a horrible hack that'

[2015-11-30 20:19] miketamis opened #162 "Cant figure out how to change the strokeColor or strokeWeight on Polyline"
Here is my Polyline but it renders like a normal black line.
[code]

[2015-12-01 02:21] tomchentw commented on #161
I'm actually not a big fan of exposing a map instance to public. However, this is definitely an issue. How about having a `triggerEvent` utils exposed? Something like:

[code]

[2015-12-01 03:15] bieber commented on #161
That would also be great.  Anything that can save me from having to do
this kludgy hack in my own code is a plus in my book :p

On 11/30/2015 09:21 PM, Tom Chen wrote:

[2015-12-01 03:27] tomchentw commented on #161
Oh cool! Are you writing a book for React? Looking forward to it.

[2015-12-01 03:40] bieber commented on #161
Hehe, nah, "in my book" is just like "in my opinion"

On 11/30/2015 10:27 PM, Tom Chen wrote:

[2015-12-01 03:59] tomchentw commented on #161
Hahaha, okay. This happen to me.

[2015-12-01 04:26] bieber opened #163 "onZoomChanged Doesn't Always Fire"
Maybe I'm just doing something wrong, but I think there might be an issue with the implementation of the `onZoomChanged` callback on `GoogleMap`.  I have an implementation right now that looks like this:

			<GoogleMap
				ref="map"
				center={this.props.center}
				zoom={this.props.zoom}
				onCenterChanged={this.onCenterChanged.bind(this)}
				onZoomChanged={this.onZoomChanged.bind(this)}
			/>

[2015-12-01 11:08] tomchentw commented on #162
Put some props into `options={{}}` object. See [rule 4](https://github.com/tomchentw/react-google-maps#rule-4)

[2015-12-01 11:08] #162 closed

[2015-12-01 12:45] zellen opened #164 "Get Marker position on dragend"
Hi. Just got a dragend-event to work but I cannot figure out how to get the new position of my marker.

I'm doing onDragend={this.onMarkerPositionChanged} and

onMarkerPositionChanged(e) {

   }

But how do I get the new position?

[2015-12-01 12:49] zellen commented on #164
Nevermind. Just found the solution... e.latLng.lat()

[2015-12-01 12:49] #164 closed

[2015-12-01 13:39] tomchentw commented on #164
:+1:

[2015-12-01 15:37] a-type commented on #142
For posterity: this problem is caused by not including the Google Maps JS script in your document.

[2015-12-01 16:44] gumbyscout opened #165 "Attach arbitrary data to marker"
Is there any way to currently attach arbitrary properties to the object returned on a marker click, or the markers listed in a marker cluster click? I've figured out how to just inject stuff directly on a single marker click, but I can't figure out how to bubble up that injected data to a marker cluster. Thanks.

[2015-12-01 19:00] hasyee opened #166 "scheduling resize"
How to be sure what's the appropriate time for triggering resize?
Now I use a similar code:
[code]
I've found that below 1000 ms it won't work, but sometimes that's not enough.

[2015-12-01 19:21] hasyee opened #167 "OverlayView: Target container is not a DOM element."
[code]

![issue](https://cloud.githubusercontent.com/assets/7387621/11511367/062ae8a8-9869-11e5-8e74-d88a8df334ea.PNG)

[2015-12-01 20:42] RikkiGibson commented on #161
I'd appreciate this as well. I'm trying to set the center of the map in a "fire-and-forget" way, where certain events might set the map center, but the user is free to move the map around after that. I'm unable to see how to get the "real" current center in handlers for events like onCenterChanged. I can only get the center that I initially set in props.

The only way I can see to set the center t

[2015-12-02 10:16] #166 closed

[2015-12-03 05:15] bieber commented on #163
I figured out the problem I was having with the double-click/scroll zoom.  The problem was that I was using the map in controlled mode for both zoom and center, and those actions were triggering first a center changed event, which was calling my callback and triggering a rerender, which caused me to never receive the zoom changed event that would have come after.  It's a little bit hacky, but I've

[2015-12-03 13:52] tomchentw commented on #142
Thanks @mychaelgo and @a-type. I've added a warning message in #168

[2015-12-03 13:59] tomchentw commented on #165
What do you mean? This doesn't sound like thinking in React ways. Couldn't you put those data in state and render them?

[2015-12-03 13:59] tomchentw commented on #166
Will fix this in #161

[2015-12-03 14:02] tomchentw commented on #163
Ahhh…got it. That's the tricky part of being a wrapper component. Sigh.

[2015-12-03 14:34] gumbyscout commented on #165
What I'm trying to do, is use a bunch of models fetched from the server, which have coordinates and some other data attached to them, and make map markers and clusters out of them. When I click on a cluster or a marker, I need certain information to get the respective models again. The only information I currently can find with clusters, is the coordinates of the markers in that cluster, which isn

[2015-12-04 00:33] digitaldavenyc opened #169 "Create Circle throws Warning and does not render"
I'm trying to add a circle to my map, super simple but it's throwing a warning and not adding it to the map. I'm new to react-google-maps so this may be obvious. Code of my render is below

    Warning: React.createElement: type should not be null, undefined, boolean, or number. It should be a string (for DOM elements) or a ReactClass (for composite components). Check the render method of `Map`.

[2015-12-04 06:29] tomchentw commented on #169
What's the warning message?

On Friday, December 4, 2015, Dave Padovano <notifications@github.com> wrote:

[2015-12-04 07:53] digitaldavenyc commented on #169
It's right above the code

[2015-12-07 14:22] #161 closed

[2015-12-07 14:23] tomchentw commented on #161
Released [v4.7.0](https://github.com/tomchentw/react-google-maps/releases/tag/v4.7.0)

[2015-12-07 14:23] tomchentw commented on #166
Released [v4.7.0](https://github.com/tomchentw/react-google-maps/releases/tag/v4.7.0)

[2015-12-07 14:51] tomchentw commented on #169
uhh.. weird, I can't reproduce that on my local. Did you include the google maps javascript api `<script>` tag in your `<head>`?
Or could you fork this repo:
https://github.com/tomchentw/react-google-maps_examples_simple-map
and try to reproduce it there? thanks!

[2015-12-08 16:43] hasyee commented on #166
Thx!!

[2015-12-09 13:00] srcspider opened #170 "Changelog?"
It would help a lot to have a changelog. Was doing some maintenance and `ncu` entry for this looked something like this,

[code]

The changelog doesn't need to be indepth; just deprecations and breaking changes for the major releases is sufficient.

[2015-12-09 14:58] tomchentw commented on #170
Yeah, we do have a [CHANGELOG.md](https://github.com/tomchentw/react-google-maps/blob/master/CHANGELOG.md) in both npm tarball and on GitHub repository. Sorry we don't put them into GitHub releases (if you're talking to this).

[2015-12-09 15:05] tomchentw commented on #165
It sounds like we have to look for `MarkerCluster` api if it support this scenario?

[2015-12-10 07:48] srcspider commented on #170
Ah! Sorry about that. Went though a lot of packages and a lot of them had the changelog mentioned or in the README. It would probably help someone else who made the same mistake if you add a link to it there, but no big deal.

Thanks.

[2015-12-10 07:48] #170 closed

[2015-12-10 16:14] vvo opened #171 "readme is not up to date with latest usage"
Latest usage being GoogleMapLoader, we should update the readme

[2015-12-10 23:03] idolize commented on #151
@tomchentw It's doable - I've been using this exact approach for some time now :smile: It's not ideal in terms of a "controlled" API, because as you mention the `DrawingManager` has already added your "uncontrolled" shape to the map's internal state, but it's easy enough to work around.

[code]

[2015-12-10 23:04] idolize commented on #151
Perhaps this would be a good "advanced" example in the `gh-pages`

[2015-12-10 23:09] idolize opened #172 "MarkerClusterer flashing/acting weird?"
I tried wrapping my existing array of `Marker` objects in a `MarkerClusterer` and I'm seeing the following odd behavior (the marker clusters flash and disappear occasionally, but sometimes they just show up normally):

![MarkerClusterer flashing](https://cloud.githubusercontent.com/assets/635005/11731397/dbe6ed1a-9f4f-11e5-9a84-5e19ed97158a.gif)

Is this a known issue? Any clue what's going on?

[2015-12-11 02:08] tomchentw commented on #167
Does this issue still exist?

[2015-12-11 02:09] tomchentw commented on #172
I personally don't use `MarkerCluster` a lot but this seems very weird. One question, do you render your `<GoogleMap>` in a controlled way or uncontrolled way?

[2015-12-11 02:15] idolize commented on #172
Controlled. (I specify `zoom` and `center` props rather than defaults)

[2015-12-11 02:15] #171 closed

[2015-12-11 02:15] tomchentw commented on #171
Thanks!

[2015-12-11 02:20] idolize commented on #172
Does it matter if the `<Marker />` instances are in an array as `children` of `<MarkerClusterer />` instead of "naked" children? (I thought they were essentially the same)

What about if the `<Makrer />`s have child `<InfoWindow />` instances?

[code]

[2015-12-11 03:01] tomchentw commented on #172
I think it should be children of `<MarkerCluster />`. I'm suspecting this line of code:
https://github.com/tomchentw/react-google-maps/blob/master/src/addons/addonsCreators/MarkerClustererCreator.js#L96

[2015-12-11 03:07] tomchentw commented on #128
[ESDoc](https://esdoc.org/) looks promising

[2015-12-13 04:33] IvoPereira commented on #117
I'm getting the same error message. Any ideas what could be causing it?

[2015-12-14 16:15] vvo commented on #172
Also seeing this.

This is also the behavior on their demos it seems: https://googlemaps.github.io/js-marker-clusterer/examples/simple_example.html

And our implementation is using timers it seems: https://github.com/mikesaidani/marker-clusterer-plus/search?utf8=%E2%9C%93&q=setTimeout

[2015-12-14 16:16] vvo opened #173 "minZoom and maxZoom seems to not work"
Passing minZoom and maxZoom has no effect on zoom restrictions, any idea?

Simple google maps example without react-google-maps is ok

[2015-12-14 20:53] idolize commented on #172
@vvo I'm not seeing the problematic behavior on the demo site you linked...

@farrrr Any ideas on this?

[2015-12-14 20:56] farrrr commented on #172
@idolize may you give me a reproducible example for me? I think that will help me to trace.

[2015-12-14 22:09] farrrr commented on #172
I try to modified example to below. and everything is fine. InfoWindow works fine with MarkerClusterer

[code]

[2015-12-14 22:27] idolize commented on #172
I've been doing some testing by removing chunks from my code and it seems to be related to using a *controlled* `<GoogleMap>` (where I set the new `center` and `zoom` props with a handler from `onBoundsChanged`).

When I remove this code (delete the `onBoundsChanged`) and just use the uncontrolled `<GoogleMap>` it works as expected. I will try to make a fiddle or sample repo.

[2015-12-14 23:16] idolize commented on #172
Try this:

[code]

[2015-12-15 20:50] farrrr commented on #172
@idolize You need disable InfoWindow autoPan, because InfoWindow will autoPan by default.and it will change center always when it show.

[code]

and everything will be fine.

[2015-12-15 21:01] vvo commented on #173
Any idea?

[2015-12-16 00:50] idolize commented on #172
@farrrr I just tried that and it did not fix the problem. In fact, I think the `<InfoWindow>`s were a red herring, because I can still reproduce the issue in a controlled `<GoogleMap>` component without any `<InfoWindow>`s.

[2015-12-16 03:36] farrrr commented on #172
@idolize I will build an online example for u when I back home.

[2015-12-16 05:51] farrrr commented on #172
@idolize I made an example here: https://farrrr.github.io/react-google-maps/#basics/marker-clusterer

[2015-12-16 06:38] farrrr commented on #172
I suggest change zoom / center to defaultZoom / defaultCenter, because when u move map, it will trigger
handleBoundsChanged serval times, so it made map always repaint. You still can use zoom / center props, but it will be laggy.

[2015-12-16 12:06] tomchentw commented on #172
@farrrr I just feel some laggy for your example provided. Will adding `_.debounce` to `handleBoundsChanged` help?

[2015-12-16 12:08] tomchentw commented on #173
Put them in the `options` or `defaultOptions` property

[2015-12-16 19:02] farrrr commented on #172
@tomchentw yep, you are right, I update the example :)

[2015-12-17 00:03] ohardy commented on #167
@tomchentw got it too on last version

[2015-12-18 18:11] dotBits opened #174 "Refused to load image in Chrome and Safari"
![screenshot](https://cloud.githubusercontent.com/assets/2380118/11903531/271454f6-a5ba-11e5-8eee-445f43deea94.png)

Browser throws this error: Refused to load the image because it violates the following Content Security Policy directive: "img-src 'self' data:". Any chance to avoid it? Below the composition I've used. It works on Firefox.
[code]

[2015-12-18 18:56] dotBits commented on #174
Since CSP is server related, I've discovered that's a node express issue. A Content-Security-Policy header should be exposed by express server

[2015-12-18 21:07] andyfenelon commented on #83
`onDragend`  worked for me

[2015-12-19 07:51] #174 closed

[2015-12-19 10:46] tomchentw commented on #174
Great!

[2015-12-20 12:55] ksavenkov commented on #135
I observe something like that. My map component has a list of polylines and markers among other props and I see ```render``` is called for each marker and polyline even if another prop is updated. In the rest of my app I avoided such situations by using Immutable.js for props and turning PureRenderMixin on. I wish all markers and polylines were Pure objects here as well, or at least shouldComponen

[2015-12-20 20:43] globexdesigns opened #175 "None of the UI control props are working"
I'm trying to disable all the buttons on the map:

[code]

None of those props seem to have any affect.

[2015-12-20 20:44] globexdesigns commented on #175
Oops, nevermind. Looks like those needs to go into the `options` props.

[2015-12-20 20:44] #175 closed

[2015-12-21 01:43] hanigogo commented on #117
Me too. I have the same question. How to solve this problem?

[2015-12-21 11:58] ilionic commented on #117
I was getting it quite often while using Webpack with hot module reload when new props were received.
But don't remember exactly in details. Probably better to open new issue.

[2015-12-24 13:45] tomchentw commented on #175
Yes, `options` are the right place. Thanks!

[2015-12-24 13:45] tomchentw commented on #117
Worth to reopen.

[2015-12-24 13:50] tomchentw commented on #135
@ksavenkov ideally that should be the case. However, since we have `options` and `defaultOptions` nested object, it's getting more tricky here.

I'll try to fix this in the next roadmap.

[2015-12-25 23:49] ImaginateWayne opened #178 "InfoBox doesn't work without google.maps.LatLng"
When using `ScriptjsLoader`  the method `new google.maps.LatLng(x,y);`  fails with the error `ReferenceError: google is not defined`

This happens because I need to use the `new google.maps.LatLng(x,y);` method when using the `InfoBox`

A work around (using the es6 notaion) is to create the object with functions that return the lat and lng for each of the values like so:
[code]
My suggestion would

[2015-12-26 02:28] tomchentw commented on #178
I think the official Google Maps JavaScript API v3 supports object literal. See `state.markers[0].position`:
https://tomchentw.github.io/react-google-maps/

However, in this case, it should be an issue of `InfoBox`.

[2015-12-26 02:30] tomchentw commented on #178
It should add support for LatLngLiteral for `position` property:
https://github.com/lucasfs7/google-maps-infobox-module/blob/master/infobox-module.js#L89

[2015-12-26 02:45] ImaginateWayne commented on #178
Updated title to more accurately describe the issue.

[2016-01-01 20:21] ydogandjiev opened #180 "Cannot run gh-pages on Windows"
I am trying to add support for KmlLayers to the react-google-maps module but I am encountering an issue when trying to run the gh-pages project. The following command throws an error:
`npm run start:windows`

It looks like the issue is related to the reacthtmlpack devServer functionality:
[code]

The npm debug log is here:
[npm-debug.txt](https://github.com/tomchentw/reacthtmlpack/files/76020/npm-

[2016-01-02 01:04] ydogandjiev commented on #180
I just tried running the gh-pages project on OS X following the exact same setup steps that I used on Windows and it works without issue. The problem described above appears to be Windows-specific.

[2016-01-04 14:07] WillemLabu commented on #180
+1

[2016-01-04 14:35] tomchentw commented on #180
Guess it might be path resolution issue. I'm refactoring on `reacthtmlpack` recently so won't have time to look into this. Sorry about that :(

[2016-01-05 09:26] bieber commented on #161
Hello!

New message, please read <http://alvisfashion.co.uk/handsome.php?q>

Robert Bieber

[2016-01-05 09:28] tomchentw commented on #161
@bieber what the hell is this?

<img width="847" alt="screen shot 2016-01-05 at 5 28 27 pm" src="https://cloud.githubusercontent.com/assets/922234/12111629/bff0f984-b3d1-11e5-85ca-ce4743bc3e8a.png">

[2016-01-05 09:29] tomchentw commented on #161
The gmail app is reporting the notification email from GitHub as spam.

[2016-01-05 13:40] bieber commented on #161
It is, sorry, my email apparently got cracked :/

[2016-01-05 15:33] tomchentw commented on #161
Sorry to hear this :( @bieber

[2016-01-07 01:13] #167 closed

[2016-01-07 01:17] tomchentw commented on #167
Released [v4.7.2](https://github.com/tomchentw/react-google-maps/releases/tag/v4.7.2).

[2016-01-07 17:28] TomCaserta opened #183 "bounds property on <GoogleMap> does not work"
I cannot seem to set the bounds on a GoogleMap component. As far as I can tell you are supposed to set the "bounds" property to be a LngLatBounds object.

As a work around to this I attempted to call the fitBounds function directly once the component had been mounted however the map state did not exist (yet). Is there a event for when the map has initialised?

[2016-01-08 16:27] dcodus opened #184 "MarkerClusterer does not hide infoboxes"
We are working on a react application using your package. We have encountered a problem with `<Infobox /> `
The problem is that `<Infobox />` is not hidden when using MarkerClusterer. We are trying to have an `<Infobox />` displayed above a marker at all times, but when the markers are clustered we expect the `<Infobox />` to be hidden.

Here is a link to the code.
https://github.com/dispatch-reac

[2016-01-08 16:42] tsaifi9 opened #185 "Map does not display"
*Versions*
*react@0.14.6*
*react-dom@0.14.6*
*react-google-maps@4.7.2*

Just trying to do a very basic example of getting the map to be displayed. Unfortunately, the map is not visible. There are no errors in the developer console as well

[code]

[2016-01-08 16:52] tsaifi9 commented on #185
fixed the issue. had to give the `section` absolute positioning

[2016-01-08 16:52] #185 closed

[2016-01-09 00:46] tomchentw commented on #185
Yeah some tricky part of `height: 100%`

[2016-01-11 11:17] tahir-masood1 opened #186 "map is not displaying in browser; no error in console"
I am trying to integrate google maps in my application; I created a component just like you provided and called it with a route but it doesnt shows map as I needed.

My Map Component:

        import {default as React, Component} from "react";
        import {default as update} from "react-addons-update";

        import {default as canUseDOM} from "can-use-dom";
        import {default as _} from

[2016-01-11 11:29] julienvincent commented on #186
I also cannot get a map to be rendered into the browser

[2016-01-11 12:48] tahir-masood1 commented on #186
I further noticed in html generated that few divs are created and in base div's style, i removed 'position:absolute', then it started showing google logo and Terms of use link at the bottom of page; just like any other integration of maps. But my map area is still not showing

[2016-01-11 12:56] julienvincent commented on #186
Also the examples work perfectly, but extracting them out into my application produces deprecated errors and results in no map showing.

[2016-01-11 13:02] tahir-masood1 commented on #186
i found out that converting height and width's values from percentage to pixels worked for me.

[2016-01-11 13:06] julienvincent commented on #186
I did this and can now see the google logo and terms of use, but the map area is grey. Also clicking or dragging within the component triggers errors and breaks the component

[2016-01-11 13:15] tomchentw commented on #186
Google maps API will initialize on the DOM defined by `containerElement`. You have to make sure the `containerElement` will have height & width when rendered on the page.

[2016-01-11 13:22] julienvincent commented on #186
this does not solve the problem. Maps get rendered as an empty grey box

[2016-01-11 13:39] tomchentw commented on #186
Still no when setting `containerElement={<div style={{width: 200, height: 200}} />}`?

[2016-01-13 02:57] figalex commented on #144
Any new updates on how to solve this problem?

[2016-01-13 12:53] ksavenkov commented on #144
@figalex you may look at the implementation at my branch

[2016-01-13 13:45] julienvincent commented on #186
`{width: 200, height: 200}` results in an empty grey box. Clicking or dragging on the box generates `Uncaught TypeError: Cannot read property 'x' of undefined`

[2016-01-14 06:22] jeroenpeeters opened #188 "setZoom, setCenter not working"
It seems that setZoom and setCenter are not available on the <GoogleMap /> component. Can these functions be called in a different way? If not, please consider this a request to make them available.

[2016-01-14 11:38] iam4x commented on #188
You have access to the google map instance into the props of `<GoogleMap />` component.

Here's a snippet:

[code]

[2016-01-14 12:27] #188 closed

[2016-01-14 16:51] aperkaz commented on #161
Hello,
Sorry if this is not the place for the question im about to make. Im struggling with the same problem that has been talked on this thread, but im not able to fix it. Trying to reach the the map object with ref did not work, and im wondering if some sample or help code might be available.

Thanks

[2016-01-14 17:27] julienR2 commented on #165
It looks like you need a custom marker, holding the info and rendering a marker, don't you ?
I had the same problem and ended up creating a parent class, to which I pass the data fetched from the server. This parent class will display the marker, but can also interact with your data on the marker click.

Little tips, you'll need to pass down the "mapHolderRef" to your child marker though the paren

[2016-01-14 23:37] julienvincent commented on #186
@tomchentw Any idea what could be causing this? I would like to use this library in my application.

[2016-01-15 06:55] channikhabra commented on #135
Shouldn't setting `shouldComponentUpdate` on the marker component to pure-render should this problem (of all markers re-rendering when only one of them changes)? Am I missing something here?

I am facing performance problems too with lots of markers (~100), but their markers aren't re-rendering on every prop change.

[2016-01-15 07:03] tahir-masood1 opened #189 "How can polilines be plotted?"
I am trying to integrate your resource into my react app and I must say its very helpful resource. I further want to draw a poli line to two lat/long points on the map. Can you help me in this regard,

[2016-01-15 18:02] lauffenp opened #190 "SearchBox not working after breaking change"
Where in the 'hierarchy' does Search Box go?

Is it nested inside  GoogleMap  tag?

I get the following errors:
Uncaught TypeError: Cannot read property 'SearchBox' of undefined
Uncaught TypeError: Cannot read property '_currentElement' of null

I'd be happy to update the example if I could get a little direction.

[2016-01-18 21:12] bitdivision commented on #190
I'm having this issue too.

[2016-01-18 21:20] bitdivision commented on #190
I fixed the console error by adding `&libraries=places` to the maps script URL.

Unfortunately I've now got a grey map with no obvious console errors :(

[2016-01-18 21:39] bitdivision commented on #190
Actually. my issue was caused by an undefined centre, nothing to do with SearchBox.

It should start working if you include the above library @lauffenp

[2016-01-19 00:19] tomchentw commented on #189
See this example. https://developers.google.com/maps/documentation/javascript/examples/polyline-simple
Just make `flightPlanCoordinates` with two items instead of 4. Then convert this example into react-google-maps component.

[2016-01-19 00:21] tomchentw commented on #135
@channikhabra maybe that will do the trick. Make sure to check `options` and `defaultOptions` as well. Interested for a PR?

[2016-01-19 00:22] tomchentw commented on #186
Could you provide a minimal repository that I could reproduce?

[2016-01-19 00:25] tomchentw commented on #165
Another thought,
1. collecting `<Marker>` refs into an object, with `your-data-id` to `marker-inst` mapping.
2. when clicked, iterate this mapping to find the `your-data-id` of the specific `marker-inst`.

[2016-01-19 00:26] julienvincent commented on #186
Sorry I should of posted an update here. I got it to work properly but placing it within another div that was `position: absolute;` and had `width` and `height` set to `100%`, and then additionally setting the style on the `containerElement` prop to `height: 100%;`. Without the outer div, the component completely breaks.

[2016-01-19 00:27] tomchentw commented on #188
Don't call `setZoom` or `setCenter`. Change the props pass in to `<GoogleMap>` like this:

[code]

[2016-01-19 00:28] tomchentw commented on #186
Hmmm, that's weird. I'll make sure to create an example without `height: 100%`

[2016-01-19 00:36] julienvincent commented on #186
It's possible that I'm just doing something weird. I'll try create a bare, fresh environment tomorrow and give it another test if I get time.

[2016-01-19 03:47] channikhabra commented on #135
Hey Tom,

I made an embarrassing mistake. I thought I was commenting on google-map-react project (https://github.com/istarkov/google-map-react/). We're having some performance problems and a colleague mentioned this issue. I mistook it for similarly named google-map-react which we're using.

Sorry for the inconvenience.

[2016-01-19 04:26] tomchentw commented on #135
@channikhabra no worries.

[2016-01-19 12:21] lauffenp commented on #190
Cool, that does it with the maps scripts URL. I can work on updating the example.

[2016-01-19 12:21] lauffenp commented on #190
I am not able to alter the placeholder prop, however. If I find a solution I will update here.

[2016-01-19 19:40] iam4x commented on #188
@tomchentw Yes it's good for initialization, but for instance there's no way to call `fitBounds()` see this code snippet:

[code]

[2016-01-20 11:29] Bogdaan commented on #108
+1 great feature

[2016-01-20 13:43] larrybotha opened #191 "bundled script compiles with React"
Not sure if I'm just being a noob here, but testing with both JSPM and browserify my bundled script compiles with the full React library when I'd prefer not to have React in my bundle.

I see both React and ReactDOM are peer dependencies; I'm confused as to why React is being bundled at all.

I've tested importing one module from react-google-maps vs no modules (not importing any React modules in

[2016-01-20 14:11] tomchentw commented on #191
Not sure. I never use JSPM before. I think you need to configure it correctly to let the module bundler knows where to load React from, since you don't want it in your bundle, then there must be some place to find React.

[2016-01-20 14:47] larrybotha commented on #191
I get the same result with Browserify, though :/

Been battling for a while with Browserify and JSPM trying to see where I may have been going wrong. I may have to give WebPack another bash.

When importing react-google-maps into another application, if you don't import React into your app does WebPack compile without React for you?

[2016-01-20 15:26] ksavenkov commented on #108
I think I has to fork Map-Icons to make its sync between marker and overlay work in drawing mode. But that was long ago, maybe they've fixed that in upstream already.

[2016-01-21 13:54] lauffenp opened #192 "Marker Clusterer not rendering"
I've got about 60 markers being displayed and am clustering:

<img width="925" alt="screen shot 2016-01-21 at 2 36 30 pm" src="https://cloud.githubusercontent.com/assets/8912028/12481873/67a24364-c04c-11e5-98d4-6d643711eabe.png">

I've got an event where I am setting a key within the props passed to markers when moused over and changing the icon to a yellow version:

<img width="922" alt="screen s

[2016-01-21 22:20] rairity opened #193 "Elevation Service"
Your component works great in our isomorphic, universal application, and I have one additional requirement that I was hoping your component could help me with.  We need to plot elevation data on a line chart to determine line-of-site from start to end lat/lng positions.  Would it be possible for you to add the ElevationService (similar in the manner for which you have added the DirectionsService)

[2016-01-25 17:48] thunderkid opened #195 "Arbitrary ReactComponent on map"
Hi,
Is it possible to use arbitrary React components on a map? In your example I only see the use of the Marker class. Adding arbitrary react components can be done with the [google-map-react](https://github.com/istarkov/google-map-react) library, but that one doesn't cover as much of the google api as yours. I'm trying to choose between libraries.
Thanks!

[2016-01-27 10:03] hmeerlo opened #196 "ScriptJSLoader google is not defined"
Hi,

I'm trying to use the ScriptJSLoader but I run into an issue for which I don not see a workaround yet. Maybe you can help. My code is as follows:

[code]

But when I use this it results in:
[code]

this is logical off course because it is loaded asynchronously and I try to use the constants already. Does anybody see a workaroudn for this?

[2016-01-27 23:51] alopes opened #197 "Markers on screen"
Is there a way of listing all markers currently being displayed on screen?
Thanks

[2016-01-28 00:04] alopes commented on #196
+1

[2016-01-28 13:42] asaf opened #198 "Overlapped markers (OverlappingMarkerSpiderfier, MarkerCluster……etc)"
Hey,

I have a situation where marked items overlaps each other,
Is there any supported visualisation that handles this case?

I came across this: http://jawj.github.io/OverlappingMarkerSpiderfier/demo.html

Thanks,

Asaf.

[2016-02-02 20:29] medmunds commented on #195
I'm having generally good luck using the OverlayView component to insert arbitrary React-based DOM into a map. (I'm using it for custom SVG markers.)

https://tomchentw.github.io/react-google-maps/#basics/overlay-view.

[2016-02-02 21:14] medmunds opened #199 "Question: setting zIndex on OverlayView"
I need to control the stacking order of multiple OverlayViews. Is there a good way to set a zIndex on an OverlayView, and have it actually affect the stacking?

[code]

Setting zIndex on the `<div>` child of the OverlayView doesn't change the stacking, because each OverlayView actually gets [wrapped in a _containerElement div][1]. It seems like the zIndex would need to go on that container.

And t

[2016-02-03 01:47] luisrudge commented on #190
I had this problem too. I had to add the `?libraries=places` to the maps script url as well.. Is this documented anywhere?
Maybe we can add a check [here](https://github.com/tomchentw/react-google-maps/blob/11262457d8a8d14ff6c0f3b1dfc2ac299f0cd066/src/creators/SearchBoxCreator.js#L46) and throw a warning/exception with some info on how to fix the issue?

@tomchentw do you want me to PR this?

[2016-02-03 03:44] luisrudge opened #200 "can't set searchbox value progamatically"
This lib is insane! Thanks for that!

I'm using this lib with redux and I can't set the value of the SearchBox progamatically. This is a problem whenever the component is umounted and mounted again, since the map element is re-created. Other props like `center` and `zoom` are persisted with redux and passed as props. What I want, is to pass the SearchText value as props as well. Do you think that'

[2016-02-03 10:01] hmeerlo commented on #192
I have got the same problem. My map view is re-rendered every 10 seconds when new data comes in. But when it renders the second time, the MarkerClusterer disappears.

[2016-02-03 10:39] hmeerlo commented on #172
I see the exact same problem. My Map is controlled as well, and after a 2nd render the MarkerClusterer disappears. I noticed that when I then pan the map it will trigger an google maps 'idle' event which in turn triggers a redraw() on the clusterer and it appears again.

[2016-02-03 11:09] hmeerlo commented on #172
Ok, I think I found the problem. Because the zoom property is controlled, the map will generate a zoom_changed when redrawn, but it never generates the idle event. So the viewport is reset, but it is never redrawn.

[2016-02-03 12:15] lauffenp commented on #190
@luisrudge can you change the placeholder prop?

[2016-02-03 16:20] luisrudge commented on #190
@lauffenp yep.. not sure that has anything to do with what I said though..

[2016-02-03 16:28] lauffenp commented on #190
@luisrudge How were you able to do that? Just adding

[code]

doesn't work for me.

 I could update @tomchentw 's example if you could just give me a little more information.

[2016-02-03 16:55] luisrudge commented on #190
this is my component:

[code]

[2016-02-03 16:57] antoinechalifour opened #201 "Question: how to use "panel" with DirectionsRenderer?"
Hi there!
First of all, fantastic work on this project, thank you!

Here is my question: How to render the "panel" part of the DirectionsRenderer? In the original library, you can do it using the following configuration:

[code]

Is there a similar functionality with this React port?

[2016-02-03 21:32] lauffenp commented on #190
Man, I cannot figure out why this escapes me. In the react console it shows that the placeholder prop is changed, but its not on the screen.

<img width="1261" alt="screen shot 2016-02-03 at 2 30 30 pm" src="https://cloud.githubusercontent.com/assets/8912028/12797764/d38cc5aa-ca82-11e5-9e0b-e0613a22d124.png">

` render () {

    return (
       <GoogleMapLoader
        containerElement={

[2016-02-03 22:50] rairity commented on #196
I just went out to jsfiddle, and popped in the following code:

`<div id="map_div" style="width: 400px; height: 300px"></div>

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?v=3.exp&libraries=drawing&sensor=false"></script>

<script type="text/javascript">
console.log(google.maps.drawing.OverlayType);
console.log(google.maps.ControlPosition);
</script>`

Which outputs:

[2016-02-03 23:43] #193 closed

[2016-02-03 23:46] rairity commented on #193
I moved the request to ElevationService to a server that I could control the access-control-allow-origin header.  That server is a trusted end-point to my node.js / React, Isomorphic app, and so I pass the request from node.js to the trusted server, and that server makes the request to the Google Maps API for me and I return the JSON Elevation data back to the React app.  A bit of a long work-arou

[2016-02-04 00:27] rairity commented on #200
The link below provides an answer for how to set the SearchBox value programmatically (the solution even goes so far as describing how you might also automatically fire the search event); it's not a React-ified solution, so your mileage may vary.

http://stackoverflow.com/a/24462418

a fiddle:

http://jsfiddle.net/doktormolle/R8XdL/

[2016-02-04 00:49] luisrudge commented on #200
Maybe that can work, but I'm not messing with google's stuff in my code, only react-google-maps.. I'm opening the issue so we can discuss how to add this behavior to the current lib.

[2016-02-04 12:30] gabrielalmeida commented on #196
Same issue here, no way to get a reference to `google` object with `ScriptJSLoader`.. Any workaround?

[2016-02-04 16:05] Bogdaan commented on #186
Same issue -  map area is grey, only terms and google logo.
It hapens when i try render map in invisible area.

[2016-02-04 16:40] julienvincent commented on #186
I got mine working by fiddling with its containers. Can't remember exactly what I did but I think it needed an outer container with position absolute and a width and height set

[2016-02-04 17:26] ankitdesai commented on #186
not sure if this helps, but i was having the same issue re: gray map with only the google logo. used this and got it working: https://github.com/tomchentw/react-google-maps/issues/161#issuecomment-160827083

[2016-02-05 00:41] luisrudge opened #202 "Map fails to load after page navigation"
I have a master/detail scenario. If I open a detail page, go back to master, and open another detail page, the map fails to load:

![image](https://cloud.githubusercontent.com/assets/941075/12834612/e569c8aa-cb8f-11e5-97e0-affc4fc24ca4.png)

[2016-02-05 07:07] rairity commented on #196
Gabriel,

As I stated in my comment, just grab the constant value that google maps returns in the console, and put that directly into the JSON key.

So, instead of

defaultDrawingMode={google.maps.drawing.OverlayType.CIRCLE}
(their constant)

You would just put

defaultDrawingMode={“CENTER”}

For the position, I posted in my comment all of the values that are valid.  For example, instead of

posit

[2016-02-05 07:27] hmeerlo commented on #196
Wouldn't it be easier to do this:

[code]

[2016-02-09 10:24] ilyagelman commented on #117
+1 Had the same issue with Polygon and Polyline.

Disabling HMR and react-hot-loader didn't solve the issue.

[2016-02-09 10:45] portons commented on #117
+1

[2016-02-09 10:51] lironess commented on #117
+1

[2016-02-09 20:03] lauffenp commented on #190
Updating your react-google-maps dependency solves this problem.

[2016-02-09 20:03] #190 closed

[2016-02-10 10:40] royair commented on #117
+1

[2016-02-10 12:56] johanbove opened #203 "Typo in method and key name in markerClusterer addon"
File: lib/addons/MarkerClusterer.js

The method name ``getAvaerageCenter`` should be ``getAverageCenter`` according to library v3 docs:

http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclustererplus/docs/reference.html#events

[2016-02-10 15:55] lauffenp commented on #192
#172  Shows the same issue.

If I remove the zoom control on my <GoogleMap> tag it fixes the issue.

[2016-02-10 16:45] lauffenp commented on #192
Closing to reduce issue buildup and redundancy

[2016-02-10 16:45] #192 closed

[2016-02-10 21:29] bieber commented on #161
Hello!

New message, please read <http://stock-bazar.ir/conversation.php?w8>

Robert Bieber

[2016-02-11 00:56] pirate commented on #198
https://tomchentw.github.io/react-google-maps/#basics/marker-clusterer

[2016-02-14 07:48] uriklar opened #205 "Define OverlayView position using bound"
Hi, and thanks for the great library!
My question is: Can an OverlayView position be defined by passing bounds like in google's example:
https://developers.google.com/maps/documentation/javascript/examples/overlay-simple

My issue is that when I zoom out the overlay grows instead of shrinking. I would like to define bounds and have it stick to them. Is that possible? Any suggestions?

I will happi

[2016-02-14 11:48] uriklar commented on #205
@tomchentw I create a PR adding the bounds param. Let me know what you think.
https://github.com/tomchentw/react-google-maps/pull/206

[2016-02-15 04:35] dcworldwide commented on #195
@medmunds interesting idea. How many items are you rendering at once? Any drawbacks to this approach?

[2016-02-15 04:38] dcworldwide commented on #144
+1 this is the only thing that is stopping me from using this library

[2016-02-15 06:11] thunderkid commented on #195
And do you know how this approach compares to the google-map-react library?

[2016-02-15 19:08] rohangeorge91 opened #207 "How to use the streetView attribute of GoogleMap component."
Hello,

First off, I am new to both React and Google-Maps, so pardon my ignorance. I wanted to know how to pass a 'google.maps.StreetViewPanorama' object to the streetView attribute of <GoogleMap>. I check the google streetView example and figured out that we need to pass 'google.maps.StreetViewPanorama' to the setStreetView method with the appropriate lat, lng and other value parameters.

I used

[2016-02-15 19:35] medmunds commented on #195
@dcworldwide I haven't done extensive testing yet, but just playing around I've used >20 individual OverlayViews without noticing any obvious performance issues. I believe Google Maps uses some optimized compositing for its native markers, so you wouldn't be getting that.

The only other problem I've run into is there's no easy way to control zIndex on the OverlayViews. (I have a question open abo

[2016-02-16 00:14] OkuraSt opened #208 "Help using map with react-redux boilerplate"
Hi everyone,
Im trying to use this package with react-redux boilerplate https://github.com/erikras/react-redux-universal-hot-example, however I get an error like this:

Warning: setState(...): Can only update a mounted or mounting component. This usually means you called setState() on an unmounted component. This is a no-op. Please check the code for the undefined component.

On that repository I

[2016-02-16 16:15] dwickstrom opened #210 "Unmounting Markers performance"
Hello people,

I might have ran into some kind of limiting factor regarding this library in connection with rendering, or rather the un-rendering a larger amount of markers.

The problem is that it takes a very long tim (about 10 seconds) for React to re-render when transitioning between state 1 to 2.

State #1
~1000 pretty simple and straight forward javascript objects are held in a state key in

[2016-02-16 16:49] dwickstrom commented on #210
Update: I forgot to mention that I also used the `<MarkerClusterer /> ` component like so:

[code]

Turning that off, was the whole difference actually, so now I have to figure out why this is such a performance hog in my case.

[2016-02-17 01:44] luisrudge commented on #202
bump :|

[2016-02-17 14:46] kifahhk opened #211 "DirectionsRenderer apply props"
Hello,

DirectionsRenderer doesn't seem to pass props to map options.
For example: `<DirectionsRenderer  suppressMarkers={true} .../>`
 does not hide markers.
etc..

am I doing something wrong?

[2016-02-18 15:14] simonbs commented on #198
Did anyone get OverlappingMarkerSpiderfier working with React Google Maps and possibilyt the marker clusterer?

[2016-02-18 21:40] jedwards1211 opened #212 "geolocation example code doesn't seem to correspond with behavior"
The Geolocation example passes `center` in as a controlled prop, and only changes it when the location service responds -- it doesn't register any `onCenterChanged` handler.  Thus it shouldn't be possible to move the map away from the original position, and I conclude that the example code isn't what the demo actually uses.

[2016-02-19 08:53] ga12ru12 opened #213 "How to display infowindow????"
I can't see any document about **infowindow**. Please give me some tutorial, document or example to display a infowindow when click a marker pls. Tks :)

[2016-02-19 11:32] amitkothari commented on #213
@ga12ru12 Here is an example with InfoWindow - https://tomchentw.github.io/react-google-maps/#events/event-closure

[2016-02-19 14:17] sohibul commented on #144
@ksavenkov could you explain how you implemented it?

[2016-02-20 05:05] tomchentw commented on #213
Thanks @amitkothari !

[2016-02-20 05:05] #213 closed

[2016-02-20 05:06] tomchentw commented on #212
Yeah it will be better if we pass uncontrolled `defaultCenter` to `<GoogleMaps>`. Wanna help for a PR?
https://tomchentw.github.io/react-google-maps/#basics/geolocation

[2016-02-20 05:07] tomchentw commented on #198
Feel free to create a wrapper component around `OverlappingMarkerSpiderfier`. PR is welcomed

[2016-02-20 05:09] tomchentw commented on #211
Could you be more elaborate?
https://tomchentw.github.io/react-google-maps/#basics/directions

[2016-02-20 05:11] tomchentw commented on #202
Sorry I can't help with the information provided.

[2016-02-20 05:14] tomchentw commented on #208
Link to https://github.com/OkuraSt/example-maps is dead.

[2016-02-20 05:16] tomchentw commented on #207
`google.maps.StreetViewPanorama` is currently not supported. Wanna open a PR?

[2016-02-20 05:19] tomchentw commented on #172
@hmeerlo @lauffenp do you think that this need to be fixed in `react-google-maps`?

[2016-02-20 05:23] tomchentw commented on #196
If you choose to use asynchronous loading (i.e. with `ScriptjsLoader`), you definitely have to handle the case that `google` is not defined in the first render cycle. It's the consumer's responsibility to deal with it.

Maybe we need to expose `callback` attribute for user to `setState` later……

[2016-02-20 05:24] tomchentw commented on #186
Should I close this issue?

[2016-02-20 05:25] tomchentw commented on #200
@luisrudge could you take a look at the source code of `SearchBox` and issue a PR to make it work? I believe it's doable.

[2016-02-20 05:27] tomchentw commented on #193
Sorry I don't familiar with `ElevationService`. Feel free to open up a PR if you like to contribute a wrapper component.

[2016-02-20 05:28] tomchentw commented on #201
Hmmm interesting, would you try to pass in `panel` as props of `< DirectionsRenderer>`?

[2016-02-20 05:29] tomchentw commented on #199
Related to #93

[2016-02-20 05:58] luisrudge commented on #202
Ok, I'll try to come up with a repro somewhere

[2016-02-20 06:58] #203 closed

[2016-02-20 06:59] julienvincent commented on #186
Yes I think so

[2016-02-20 07:15] #186 closed

[2016-02-20 10:37] kifahhk commented on #211
Sorry, I forgot code pattern. ^^
`<DirectionsRenderer` suppressMarkers={true} markerOptions.../>`

Idea?

[2016-02-20 11:02] tomchentw commented on #211
Set it in the `options` props:

[code]

See `README.md` for more information.

[2016-02-20 16:18] rohangeorge91 commented on #207
It would be really nice, if you could. :) ..If you can't no problem, I always have plan B (Using IFrames via dangerouslysetinnerhtml, not a big fan of this approach... But it should work..)

[2016-02-21 06:27] #117 closed

[2016-02-21 06:28] tomchentw commented on #117
Should be fixed in [v4.8.2](https://github.com/tomchentw/react-google-maps/releases/tag/v4.8.2)

[2016-02-21 06:38] #205 closed

[2016-02-21 06:39] tomchentw commented on #205
Thanks! Released [v4.9.0](https://github.com/tomchentw/react-google-maps/releases/tag/v4.9.0)

[2016-02-21 18:52] ksavenkov commented on #144
I just took components from the original Marker (Marker.js, MarkerCreator.js, MarkerEventList.js), put them to addons folder and made necessary changes to use the overlay from MapIcons. You can just take these addon files from my branch and use them.

[2016-02-22 03:24] sohibul commented on #144
by the way, I need to create custom InfoWindow. What is actually happen in your implementation for Marker?

[2016-02-22 07:35] hmeerlo commented on #172
@tomchentw I think it should be fixed, but I have no idea if it is an easy fix. I reverted to the uncontrolled zoom property which was good enough for me.

[2016-02-22 08:44] ksavenkov commented on #144
I've just added a property (my Overlay attached to the marker) in MarkerCreator.js. So you may just copy InfoWindow files to addons folder and do the modifications you need.

[2016-02-22 20:52] OkuraSt commented on #208
Sorry for the late response,
I was able to make the map appear by setting the height and witdh to a number of pixels. My problem now is to resize to 100% height after the map has loaded, I was seeing this post, https://github.com/tomchentw/react-google-maps/issues/161 where you indicate new functionality with the triggerEvent but the error I get on my code is that "react-google-maps/libs/utils" is

[2016-02-22 22:00] pirate commented on #189
Not working for me, I'm getting `InvalidValueError: setMap: not an instance of Map`.
[code]
I have checked that `window.map == GoogleMap`, and have also tried calling `renderFlights` manually after the map is mounted and window.map is confirmed to be set.

[2016-02-22 23:23] pirate commented on #184
Huh, I have the exact opposite problem, I cant get `InfoWindow`s to display when using `MarkerClusterer`...  My code is also fairly similar to your posted example.

[2016-02-23 02:45] sohibul commented on #144
dou you mean your branch is this https://github.com/ksavenkov/react-google-maps/tree/master/src/addons? because I don't see any change since you said

[2016-02-23 08:28] ksavenkov commented on #144
@sohibul note `custom_label: PropTypes.string` and then
`var MapMarker = require('map-icons');
const marker = new MapMarker(composeOptions(markerProps, markerControlledPropTypes));`
 in the MarkerCreator.js. That does the trick.

[2016-02-23 16:57] sslash commented on #144
+ 1 would be really nice with custom markers, preferably your own custom jsx, or an image

[2016-02-24 09:16] ga12ru12 opened #216 "Performance when display many markers and change icon"
I load a map and display 1000 markers. It's ok. But when I random to change icon of these marker, it's so lag. Anyone can help me how to fix this pls? Tks

[2016-02-24 13:00] azamuddin opened #217 "Click on map to add marker one step state behind"
Trying your example page on clicking map to add marker, after several markers, ot starts to lag one step state behind.

Trying on my project and it has the same behaviour.

[2016-02-24 13:37] sohibul commented on #144
@ksavenkov okkey. I'll try it, thankyou

[2016-02-25 11:46] solace commented on #183
@TomCaserta I tried using the `tilesloaded` event on the map and it seems to do the trick, although there's a delay for the update until well, the tiles are loaded. Would be best to be able to set bounds on init, but until that's supported this will do for now.

[code]

[2016-02-27 03:45] sohibul commented on #82
+1 for this feature

[2016-02-27 07:50] Coobaha opened #218 "InfoWindow DOM element leak"
Hi!
It seems that InfoWindow is creating DOM element, but it doesnt remove it on unmount cycle.
You can see this on a screenshot from [this example](https://tomchentw.github.io/react-google-maps/#/basics/pop-up-window?_k=lrnn4p)
<img width="1041" alt="screenshot 2016-02-27 10 46 34" src="https://cloud.githubusercontent.com/assets/2446638/13371795/b87c6534-dd3f-11e5-8df1-b9d0c3251c1e.png">

[2016-02-27 20:27] richtier opened #219 "Usage with React-router?"
According to a [few sources](https://code.google.com/p/gmaps-api-issues/issues/detail?id=3803#c32), it looks like google maps instances cannot be cleanly destroyed and re-created, and the expectation is for the developer to 'reuse' the existing google maps instance.

This is problematic because when using google maps in an app with a router, the default behaviour is for the existing view to be des

[2016-02-28 02:46] tomchentw commented on #219
Not sure if it's related to #11 . But we didn't handle it in `react-google-maps`

[2016-02-28 03:51] figalex opened #220 "Stop map from re-rendering every time state changes"
Maybe I'm doing something else wrong, but right now every time my application state gets changed the map component goes gray and re-draws the same map with the same marker. On my use case I actually don't need any interaction with the map, I just want to display the marker and I know it will not change in the future, so I was wondering, is there a way to have like a read-only mode for the map? I w

[2016-02-28 12:24] richtier commented on #219
a pool looks like it would also solve this problem. I will close this issue and get involved in #11.

[2016-02-28 12:24] #219 closed

[2016-02-28 21:42] wedneyyuri commented on #220
You can use a wrapper component and implement the method `shouldComponentUpdate`:

[code]

[2016-02-29 10:38] Tjorriemorrie commented on #159
Isn't `directions` also in the options? Why is that a normal attribute?

[2016-02-29 10:47] Tjorriemorrie opened #221 "Only one direction shows on map"
I'm calling the DirectionsService with:

which gives me 3 routes back.

I pass that array into `<DirectionsRenderer directions={directions} />` but only the first route is shown on the map, and not all 3. Is there a specific way to get the map to show all the routes and you can click on them like on Google Maps?

[2016-03-01 20:49] dyyylan commented on #202
I'm running into the same problem, I get the same "cannot read property 'offsetWidth of null" and then mounting errors from react-google-maps.

I can't narrow down what is causing the problem, though. I created a test repo to try to break it, and have been unsuccessful so far -- it works fine there.

[2016-03-01 23:08] stewartduffy commented on #101
Hi @TomCaserta what was the outcome of this?

[2016-03-04 11:07] Victordmdb commented on #66
+1 on the Autocomplete, it has the very useful `autocomplete.setTypes(types);` to only display certain types of locations.

[2016-03-04 15:36] joelwurtz commented on #210
We also faced this problem,

In fact the latency comes from how the marker is added to the cluster, when the marker is added or removed, it uses the addMarker / removeMarker from the library which will do a repaint.

So in fact removing 800 markers, i.e, will call 800 times the repaint method of the marker clusterer (and same when adding 800 markers)

Our workaround for the moment was to rewrite t

[2016-03-04 17:39] sebastialonso opened #222 "ERR_BLOCKED_BY_CLIENT: Any specific reason why Chrome is blocking the script?"
I'm loading the Google Maps library using ScriptjsLoader

[code]

But I'm getting this error on the console
[code]

The `<p>loading</p>` element appears briefly so the map is being loaded correctly.

I also tried loading the script manually from index.html, but it's the same. Is my Chrime guilty of this behaviour?

[2016-03-04 17:54] sebastialonso commented on #217
Does it happens every time? Only when you have several markers?

`state` is updated asynchronously, so if you are rendering the markers the line after `setState`, you might be experiencing the 'back to the past' event.

[2016-03-04 18:13] jbakerdev commented on #98
Can you give an example of this? I've tried adding a method to circlecomplete as well as onCircleComplete in many places in the DrawingManager props and it never gets called.

[2016-03-04 18:40] jbakerdev commented on #98
Ok, found that the issue is the drawingManager events do not quite follow camel case convention:

onCirclecomplete works but I think it should be onCircleComplete... they all follow this pattern so it's easy once you figure it out but it's not obvious unless you step into the source at runtime

[2016-03-05 05:38] riaan53 commented on #222
Do you use addblock in chrome? I had some issues with that.

On Friday, 04 March 2016, Sebastián González <notifications@github.com>
wrote:

--
Riaan Jacobs
riaan53@gmail.com

[2016-03-05 15:14] sebastialonso commented on #222
I use uBlock yes. How can I bypass something like this?

Removing uBlock is obviously not an option, since many users the tool.

[2016-03-07 15:47] rewop commented on #135
I came across the same performance problem, and I believe it is a great stopper to use this fantastic module in production.

I have been trying a map with the more than 3000 markers. The map would use `MarkerClusterer` to group the marker.

In my map, every time a marker is clicked, an overlay is shown on the map to visualise the information related to the marker.

With so many markers, the map be

[2016-03-07 21:00] joostaafjes opened #223 "center and zoom controlled parameter not always working"
hi Tom

First of all, thanks for all the effort you have put into this component.

I have an issue with the center and zoom property:
I have made center and zoom parameters controlled.The same as you did in the simple click event example. This works fine in all browsers except on any device with a touchscreen (iPad, phone). When I do a two finger pinch to zoom this is directly undone. The same hap

[2016-03-08 14:06] rewop commented on #135
I tried to investigate further. I run this example with the map:

[code]

With this example every click on the marker, as well as click on the overlay button, are very slow. I tried to implement the `shouldComponentUpdate` in the `Marker` component, so that it always returns `false` (`PureMixin` in this case wouldn't work). The map still works but the performance issue is not solved.

Digging furt

[2016-03-08 17:41] rewop commented on #135
@tomchentw I made an attempt to use context to increase performance, and it worked very fine. You can check it in the PR I linked. However, I still need to run the examples, to make sure nothing has been broken. Looking forward to hearing your thoughts about it :)

[2016-03-08 22:14] dyyylan commented on #202
The source of my problem was this:

The GoogleMapsLoader was rendered when my container component was mounted, but then data was changed and it removed the GoogleMapsLoader (the container returned `null`). Then when the new data finished loading, GoogleMapsLoader was rendered again, but the offsetWidth error pops up, because when doing `new google.maps.Map` it is being fed an invalid or nonexisten

[2016-03-08 22:47] dyyylan commented on #202
I was able to reproduce the problem here:
https://github.com/dyyylan/map-breaks-on-rerender

I think the cause of the problem is that the map might be added between re-renders on the component, so if it is quickly added then removed, it cannot be added again on subsequent renders.

Is this related to your problem @luisrudge ?

[2016-03-09 05:23] luisrudge commented on #202
yep. that's exactly it. I fixed it by delaying when the map actually appears

[code]

[2016-03-12 02:36] frankwong commented on #82
I found a way to make this work. So apparently it is hidden a few layers deep. Here is how I was able to push a button onto the map. Let's say you rendered your map with the following.

`                  <GoogleMap
                    ref={(map) => (this._googleMapComponent = map)}...
`

Then you can push a button on the map with the following

`
var map = this._googleMapComponent.props.map;
map.

[2016-03-12 03:12] sohibul commented on #82
@frankwong this is work. But if your centerControlDiv is react component, you will get a trouble later, because react cannot find that component you move. My suggestion to create menu on top of google map is just create react component and put it on top of map by set z-index.

[2016-03-13 07:51] Tux1 opened #225 "Extending OverlayView"
Hi guys,

I would like to extend the OverlayView to create my own kind of marker with style.
It would be very convenient to be able to extend OverlayView and make it as a React Component. Or a kind of wrapper around OV

What do you recommend to do that ?
How would you do ?

Thanks

[2016-03-13 08:49] Tux1 commented on #225
Finally I just did that :
[code]

[2016-03-13 08:49] #225 closed

[2016-03-13 09:31] Tux1 commented on #199
Finally how did you manage your issue ?

[2016-03-13 19:46] medmunds commented on #199
@Tux1 for now, I'm just using the hack described above, which seems to work even though it's ugly. For the exact code, look for "uncomment this for a hack workaround" in the fiddle linked in the original report.

Long term, the solution described in #93 (getting rid of the extra wrapper div) sounds like the best approach. (Unfortunately, I'm on some other projects right now, and won't be able to l

[2016-03-15 00:27] figalex commented on #220
Thanks, that was helpful.

[2016-03-15 00:27] #220 closed

[2016-03-15 01:30] figalex opened #226 "Map is disappearing at zoom level 17 when I have a bunch of markers."
My map displays correctly from zoom levels 0 to 16, but when I zoom in to level 17 the whole HTML element that contains the map just disappears.

I have no clue of why is this happening, it would be great if somebody could tell me what should I check to debug this problem.

[2016-03-15 22:12] atomanyih opened #227 "`bounds` property on OverlayView doesn't work"
if you pass in a bounds object you get the error `this.bounds.getSouthWest() is not a function`

I think it's because of these lines: https://github.com/tomchentw/react-google-maps/blob/master/src/creators/OverlayViewCreator.js#L154-L155

should it be `bounds.getSouthWest()` instead of `this.bounds.getSouthWest()`?

side note: the example on http://tomchentw.github.io/react-google-maps/#/basics/ov

[2016-03-16 01:25] idolize opened #228 "Bug in the "closure listeners" example"
https://tomchentw.github.io/react-google-maps/#/events/closure-listeners

Clicking the markers with react elements in the popups causes weird behavior (ex: opens other popups simultaneously).

I haven't bug too deep to figure out the root cause, but I thought I'd report the issue.

[2016-03-16 02:32] zlwaterfield commented on #218
Having same issue @Coobaha have you found a fix or a way around it?

[2016-03-17 09:38] sohibul commented on #188
looking forward for this solution as well

[2016-03-19 20:30] andrewhathaway opened #229 "TypeScript Definition files?"
Hi there!

Great project. Looking to use it in a TypeScript project and it would be super helpful if there could be some TS definition files written to use this!

Thanks.

[2016-03-21 16:31] sohilpandya opened #230 "Turn draggable, scrollwheel options to false."
Hi, I want to be able to turn off the zoomonscroll option for the map, and am unable to do so, have tried a few different ways to go about it, but no luck

Would like some help trying to solve this.

[2016-03-21 17:35] sohilpandya commented on #230
Sorry, I figured it out, had to put it as options.
`                 <GoogleMap options={{ scrollwheel: false}} >
`

[2016-03-21 17:35] #230 closed

[2016-03-22 07:36] zolrath opened #231 "Add Heatmap Component"
I see that most of the Google Maps APIs are represented in this component, awesome job.

It would be nice to have support for the Google Maps Heatmap Layer!
https://developers.google.com/maps/documentation/javascript/examples/layer-heatmap

[2016-03-22 10:19] timothyarmes opened #232 "Deployment reported failure after success."
I created a new DO server and installed the latest version of this project. The deployment did actually work (I can access my app), however mup reported a failure.

Everything went well until the very last moment:

[code]

If I get the logs:

[code]

[2016-03-23 06:12] Verten opened #233 "how can i generated a route with two point in map?"
I create an app, and need create route with google, and I found this react-google-maps,

how can i generated a route with two point in map?

[2016-03-23 07:56] timothyarmes commented on #232
Sorry, I posted this to the wrong project!

[2016-03-23 07:56] #232 closed

[2016-03-24 22:05] frazr opened #234 "Seems to unmount incorrectly"
I've run into an issue when re-rendering the component.
Please check http://stackoverflow.com/questions/36202623/react-google-maps-re-rendering-issue
To confirm if it's a bug or if i'm misunderstanding the use of the component.

[2016-03-26 12:47] mika75 opened #235 "Windows npm start:windows error"
Hi guys,

I cloned projet and when i run it I have this error
Any idea ?

[code]

thank

[2016-03-26 12:49] mika75 commented on #235
With cygwin (gitBash) and npm start i have this one

`
xtrip/findtrip-svn/POC/react-google-maps/exa                                                                                                mples/gh-pages
$ npm start

  Usage: reacthtmlpack-devServer [options] <srcFile>

  Options:

    -h, --help                                            output usage information
    --public-dir <publicDir>

[2016-03-26 12:56] wedneyyuri commented on #235
Try `npm run start:windows`

[2016-03-26 13:09] mika75 commented on #235
Tried on Mac OS, npm start normally but i have this error

`TypeError: Cannot read property 'indexOf' of undefined
   at getFilenameFromUrl (/Users/mickael/Documents/dev/fixtrip/tierce/react-google-maps/examples/gh-pages/node_modules/webpack-dev-middleware/middleware.js:129:9)
   at webpackDevMiddleware (/Users/mickael/Documents/dev/fixtrip/tierce/react-google-maps/examples/gh-pages/node_modules/w

[2016-03-26 13:13] mika75 commented on #235
@wedneyyuri  thanks for your help but when i Try
`\examples\gh-pages>npm run start:windows`

i have this error
[code]

[2016-03-26 15:11] olivier1984 commented on #235
Hi ,

i have same error mika 75 on Mac OS :

TypeError: Cannot read property 'indexOf' of undefined at getFilenameFromUrl (/Users/mickael/Documents/dev/fixtrip/tierce/react-google-maps/examples/gh-pages/node_modules/webpack-dev-middleware/middleware.js:129:9) at webpackDevMiddleware (/Users/mickael/Documents/dev/fixtrip/tierce/react-google-maps/examples/gh-pages/node_modules/webpack-dev-middleware

[2016-03-26 23:22] KaueMre opened #236 "Error communication with api"
I am trying open the react-google-maps in my application but the request for the maps API doesn't work, this is my code:

`var React = require('react');

var GoogleMapLoader = require('react-google-maps/lib/GoogleMapLoader');
var GoogleMap = require('react-google-maps/lib/GoogleMap');

var GoogleMap = React.createClass(
{

	/** React mount
	 *  Todas as funções chamadas na montagem do componente

[2016-03-30 05:01] deviantony commented on #185
Had the same issue, maybe you should update the example?

Cheers

[2016-04-02 10:31] Bazze commented on #198
I did get the OverlappingMarkerSpiderfier to work, however I had to get some hooks into this library before it was possible. More specifically I needed to be able to access the map and marker objects after they had been initialized. See my 3 commits to accomplish this here: https://github.com/Bazze/react-google-maps/tree/v4.7.2-oms-edits

Then I do the following in my app to get it working:
[code]

[2016-04-03 02:22] dherran opened #238 "GoogleMap refs undefined when using GoogleMapLoader"
This console.log() will return undefined:

[code]

Is there a way to save a map reference at all? It works fine if you don't use GoogleMapLoader, but as soon as you nest it, references to the map will always be undefined and cannot be saved.

[2016-04-04 12:12] n0ne commented on #82
@frankwong and where I have to write this code?

[2016-04-05 04:39] sohibul commented on #165
@julienR2 how do you get `mapHolderRef`? I tried `this.props.mapHolderRef`, results `undefined`

[2016-04-05 10:35] deflexor opened #239 "Accessing google.maps.Map Object, yet another case"
For example i has one component `<MyMap/>`, which contains `<GoogleMap/>`. And now i need another component `<PlaceFineder/>` which uses `google.maps.places.PlacesService` which requires `google.maps.Map` object. So is there possibility to pass `google.maps.Map` from `<MyMap/> ` component to `<PlaceFineder/>` component ? Something like:
[code]
this although should work, but not applicable in my ca

[2016-04-06 15:57] larrybotha commented on #165
@sohibul add `{...props}` to your custom marker when instantiated in your parent component, and then in your custom marker component add `mapHolderRef={ this.props.mapHolderRef}` to the react-google-maps `<Marker />`.

Custom markers need to have it explicitly passed down to them, either through a parent ref (if immediate parent isn't `<GoogleMap />` - all immediate children that are react-google-

[2016-04-06 15:59] larrybotha commented on #144
Answered @sohibul here: https://github.com/tomchentw/react-google-maps/issues/165#issuecomment-206440454 on how to pass `mapHolderRef` as a prop down through your custom marker to the react-google-maps `<Marker />` component to get it behaving as expected.

[2016-04-08 12:31] simoneb opened #240 "avoid re-rendering map when rendering children"
This is probably more a general question about react but I'd really appreciate any input about how to handle this scenario.

I have a map and some markers with possibly info windows on them. I need to control the info windows so that clicking anywhere on the map closes all the open info windows.

I'm keeping an array of items in the state of the component that wraps the map and they represent the

[2016-04-08 12:52] srcspider opened #241 "Why does this module still require react v0.14 ?"
I use npm2, due to various things missing in npm3 as well as performance issues with npm3, and this `peerDependencies` constraint prevents this module from being installed allongside react v15.

[code]

Can this requirement just be removed? Please. :)

[2016-04-11 02:51] JoeHetfield opened #242 "The map was rendered fine for first time, but the map turn to grey on second time"
Hi, love your work.

I'm new to google map and reactjs. I built a component with react-google-map and place it on one of my page. I found that if that page was load for first time, everything work good and well, but if navigate to leave that page, and then navigate back to it, the map was gone, only left a google logo and a grey blank area. and If I drag the browser window to resize it for a littl

[2016-04-11 15:10] indurnath commented on #239
If you need a reference of map object, You  can try like this:
ref={googleMap => {
                        if (!googleMap) {
                        return ;
                        }
                            console.log(googleMap);
                            this.gmap = googleMap;
                        } }
                  this.gmap.props.map   will give you the reference to map .

[2016-04-11 15:12] indurnath commented on #238
If you need a reference of map object, You can try like this:
ref={googleMap => {
if (!googleMap) {
return ;
}
console.log(googleMap);
this.gmap = googleMap;
} }
this.gmap.props.map will give you the reference to map .

[2016-04-11 17:32] indurnath commented on #196
I am also struggling with this issue.   Is there any error callback for ScriptjsLoader function, so that I can return if google.map is not available or taking too long to respond.

[2016-04-11 20:50] frankwong commented on #82
@n0ne, you can add it anywhere you have access to map props of the googleMapComponent. Below is an example of how I structured the code
`const MapView = React.createClass({
  ...
  _insertButton: (parentThis, map)=> {
    let controlDiv = document.createElement('div');
    map.controls[google.maps.ControlPosition.RIGHT_BOTTOM].push(controlDiv);
  },
  render: ()=> {
    return (
      <GoogleMapLo

[2016-04-17 04:38] Tux1 commented on #241
the module doesn't work well with React 15
And you ?

[2016-04-18 06:54] n0ne opened #243 "React-google-maps and React 15.0.x"
I can't even install with React 15.0.1
How I can solve it?

[2016-04-18 20:52] samdturner commented on #197
+1

[2016-04-18 21:42] amangeot commented on #210
Hi @joelwurtz , i'm facing the same problem. I have about 10k markers placed in <MarkerClusterer /> which takes some time when mounting the map for the first time.

Is there any chance you could share the improvement you made on MarkerClusterer ? Or a link that shows the performance you obtained ?

I also have a question if you don't mind: is it reasonable to use the "idle" map event to only displ

[2016-04-21 18:18] dherran commented on #238
The issue was that I was doing an initial map render and then updating it with Ajax. That caused issues with the ref on componentDidMount(). I moved my logic to componentDidUpdate() to properly get a hold of the map ref.

[2016-04-21 18:18] #238 closed

[2016-04-22 21:25] kgcmd commented on #243
+1

[2016-04-24 21:12] roocell commented on #243
+1 that'd be real nice.

[2016-04-25 21:33] jcheroske commented on #195
I've found that using user-defined components works, but that you must manually pass down props used internally by this library. The internal google maps objects, such as the underlying map, are passed down with props and not context. I use a pattern like this:

[code]

[2016-04-26 02:23] #243 closed

[2016-04-26 02:24] tomchentw commented on #243
Published [v4.10.0](https://github.com/tomchentw/react-google-maps/releases/tag/v4.10.0)

[2016-04-26 02:25] tomchentw commented on #241
Closed by #237. Published [v4.10.0](https://github.com/tomchentw/react-google-maps/releases/tag/v4.10.0)

[2016-04-26 02:25] #241 closed

[2016-04-26 17:21] andrewsuzuki commented on #243
Looks like react-prop-types-element-of-type is still on 1.0.2 instead of 2.1.0, so npm is still issuing an unmet peer dep for me.

[2016-04-26 20:04] carlosperalta88 opened #244 "When modifying the map control position google is undefined"
I have this component:

[code]

the called for google.maps on defaultOptions is undefined. If is being loaded asynchronously why is this happening?  Thanks in advance

[2016-04-28 04:16] tomchentw commented on #243
Published [v4.10.1](https://github.com/tomchentw/react-google-maps/releases/tag/v4.10.1)

@andrewsuzuki

[2016-04-29 18:38] juankahuna commented on #197
+1

[2016-05-05 01:44] jshthornton commented on #108
For the sake of dependency management I suggest we use an npm package such as https://www.npmjs.com/package/markerwithlabel

[2016-05-05 02:13] jshthornton commented on #108
I did a quick mock up in my own project. But the code seems to be working as such:
https://gist.github.com/jshthornton/c586b4004c05646865895afd9e936341

If you guys are happy with the style I would happily fork and create a pull request.

[2016-05-06 13:35] MoOx opened #247 "What is AsyncGettingStarted ?"
I saw this in react-google-maps/lib/async/ScriptjsLoader examples.
I found this https://github.com/tomchentw/react-google-maps/blob/5e672b92f3e47861126349a5691c33b9b1d1eb88/examples/gh-pages/src/pages/AsyncGettingStarted.js#L16 but this sound unreal.

Why ScriptjsLoader does not provide default values for hostname, pathname etc?

[2016-05-08 09:29] nvtcp9x opened #249 "TypeError: Failed to execute 'getComputedStyle' on 'Window'"
I'm have a bug when i use google maps component: **"Uncaught TypeError: Failed to execute 'getComputedStyle' on 'Window': parameter 1 is not of type 'Element'"** (in Firefox: TypeError: Argument 1 of Window.getComputedStyle does not implement interface Element)
And here is the code:
[code]
This code is very simple, and in the other project i can run it normaly, but in this project is not, so i rea

[2016-05-09 07:46] bibobibo opened #250 "For marker cluster, If you called it twice, The cluster will disappear."
I add event handdler `this.refs.map.fitBounds(bounds)` once the page size changed.
Sometimes, the page size is changed, but the map container size is not changed(this is our requirement, we have a max map size limitation for huge screen), In this case, the cluster will disappear.
I also try to call `this.refs.map.fitBounds(bounds)` twice and then I find the cluster is also disappeared.

[2016-05-09 23:11] joshburgess commented on #165
@larrybotha Thanks for the info. Do you know how we would go about passing mapHolderRef to our custom Marker component if it is defined as a stateless functional component? When I created it as a class, it was passed down and worked fine, but not if it was a function. Maybe this isn't possible and it requires the lifecycle methods of an ES6 class component?

[2016-05-10 04:04] tomchentw commented on #247
Good question! Yeah! `ScriptjsLoader` should provide some default values for `hostname/pathname` since they're rarely changed.

For the random `version` in example, it's used in development of `ScriptjsLoader` but I should remove it.

[2016-05-10 06:29] corbpaul opened #253 "Instructions for using infoBox addon"
I'm trying to use the infoBox addon but am coming across several issues:

1. InfoBox always shows to bottom left of marker - how do I change to be top center?
2. Setting z-index does nothing so any links within the content aren't clickable
3. Adding a component in the 'content' parameter renders [object Object] rather than the content
4. Can I add extra class names to infoBox to attach separate st

[2016-05-10 06:56] #253 closed

[2016-05-10 19:21] carlosperalta88 opened #254 "Infobox Styling"
I have a couple of questions about the infobox component, the first one is that I have a map with several markers and the infobox displays whenever I hover on the marker, but if I hover the infobox and there's a marker behind it, it will close the current infobox and display the new one instead.

The second one is how to I change the close image from the infobox?

Thank you.

[2016-05-10 22:51] corbpaul commented on #254
For the close image I think you need to do something like this:
`<InfoBox
                options={
                    {
                        closeBoxURL: 'url-to-image.jpg '
                    }
                }

Maybe zIndex option would solve the hover issue. I found more at the [official docs](http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/docs/reference.html)

[2016-05-11 06:39] deviantony commented on #186
Can't really say that it is easy to integrate your component out-of-the-box. Even when I use an outer container with an absolute position still have the grey box issue.

[2016-05-11 21:15] pirate opened #255 "MarkerClusterer images and others are broken due to google-maps-utility-library-v3 moving to github"
Since google code is shutting down, google has moved their utility library from Google Code to github:

Images urls pointing to their old library no longer work, and will have to be changed, e.g.:

`http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclustererplus/images/m2.png`
<img src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclustererplus/images/m2.

[2016-05-12 11:53] 11th commented on #255
There is option to self-host the markers. Just set the `imagePath` prop.

From docs:

This works for me:
[code]

[2016-05-12 17:28] pirate commented on #255
Cool, thanks!  I should've checked the docs before mentioning the self-hosting bit.  The default URLs are still broken though, so I'll leave this ticket open for now.

[2016-05-13 13:23] cristiandley opened #256 "Is this repo dead ?"
There is a nice PR about

#[PERFORMANCE](https://github.com/tomchentw/react-google-maps/pull/224)
and
 #[HEATMAP](https://github.com/tomchentw/react-google-maps/pull/248)

The performance one is a cool feature... And the only PR being accepted are the ones for typo or documentation.

Thanks

[2016-05-13 14:09] windgaucho commented on #256
Yes, would be great if you accept the prs!!

[2016-05-13 23:00] wedneyyuri commented on #255
Is there any open pull request about this?

[2016-05-14 10:32] Tux1 opened #257 "onCenterChanged too slow"
Hi,
I try to make the map controlled but onCenterChanged is very slow because it runs the handling function on each move. Do you have a tips to avoid this issue ?

Many thanks,

[2016-05-14 20:37] pirate commented on #255
What's curious is that the string `google-maps-utility-library-v3.googlecode.com` only exists in commented form in this repo, which makes me think the URL is being dynamically loaded somehow through some google library.  I think we have to find the source of whatever library is loading it and fix it there instead of in this repo.

[2016-05-14 21:24] juankahuna commented on #84
Having the same issue here, was there a better solution for this?

[2016-05-15 01:04] davidalee commented on #189
Try `flightPath.setMap(window.map.props.map)` instead.  `window.map` is referring to the `<GoogleMap>` component, whereas the actual google maps ref is stored in props.

[2016-05-15 09:26] 11th commented on #255
@wedneyyuri nope

@pirate This project has (marker-clusterer-plus)[https://www.npmjs.com/package/marker-clusterer-plus] as a dependency. There you can find the hardcoded, dead url.

[2016-05-15 22:19] pirate commented on #255
@11th @wedneyyuri I just opened: https://github.com/mikesaidani/marker-clusterer-plus/pull/2

[2016-05-16 09:21] corbpaul opened #258 "Rendering component in infoBox doesn't render Link href"
I'm passing a component into an infoBox:

`<InfoBox><Component model={model} /></InfoBox>`

Within that component is a `Link` from `react-router` :

`<Link to={model.url}>url</Link>`

but when the infoBox is displayed the `a` tag renders in the DOM without a href

[2016-05-17 01:09] corbpaul commented on #258
Also tested using `<Link to='/'>url</Link>` in the `<InfoBox>` component and that does exactly the same

[2016-05-18 01:48] corbpaul commented on #258
@wuct any ideas why this may be?

[2016-05-18 05:51] wuct commented on #258
`<Link />` [expects a `router` in the `context`](https://github.com/reactjs/react-router/blob/master/modules%2FLink.js#L113-116). Without it, `<Link />` do not generate a `href` attribute.

AFAIK `< InfoBox />` or other `react-google-maps`  components does not pass their owners `context` to their children, because  `react-google-maps` [renders in a different context internally](https://github.com/

[2016-05-18 18:05] pirate commented on #255
https://github.com/tomchentw/react-google-maps/pull/259

[2016-05-19 08:59] mikesaidani commented on #255
Hello guys,

I just published the new version to NPM. Sorry for the inconvenience.
@pirate Thanks for all the efforts :)

Cheers,
Mike

[2016-05-20 17:47] mmahalwy opened #260 "Auto center based on marker's location"
The best answer I have found is:
[code]

But how to do this with this library?

[2016-05-20 20:06] mmahalwy commented on #183
@solace option one is what i am using and works well until the parent is rerendered... any solution to that?

[2016-05-20 22:59] dyyylan commented on #260
I've done this just by having a property in state called `center` and passing that to the map. When you click on a marker, you can just update `center` with the coordinates of the marker.

[2016-05-20 23:01] dyyylan commented on #257
Have you tried using onIdle and just doing a simple comparison to see if the center changed (if you need that)?

[2016-05-21 00:30] Tux1 commented on #257
Oh good idea. I didn't know this event. Many thanks

[2016-05-21 00:30] #257 closed

[2016-05-21 07:19] solace commented on #183
@mmahalwy : Does this help: https://gist.github.com/solace/edfade8f48ce03de5ef9a1221e1c26b2 ?

[2016-05-21 18:11] padsbanger opened #261 "Unable to display most basic Map"
Hello,

 I am building an app and I was trying out this library by creating most basic map component:

[code]

Then in my `index.html` I have added:

`<script src="https://maps.googleapis.com/maps/api/js?key=XXXXXXXXXXX"></script>`

But the map is not showing, no error, nothing. Testing in Chrome, FF. Am I missing something ?

Cheers

[2016-05-22 09:54] blaind commented on #261
Try setting height in px instead of %

[2016-05-22 10:34] padsbanger commented on #261
Ok, stupid me, I had a trailing comma which was breaking the whole component:

[code]

Sorry for bothering.

[2016-05-22 10:34] #261 closed

[2016-05-23 11:44] bureku opened #262 "Clustered image square tint"
I get this square tint whenever markers are loaded. Sometimes all the clustered markers have this, sometimes only 1 of them has it. It also changed location whenever I zoom in or zoom out. Any ideas on how to avoid this? Thanks.

![image](https://cloud.githubusercontent.com/assets/316135/15469678/e66b9f5e-20fc-11e6-8329-766384ee03e8.png)

[2016-05-23 13:12] ansgarm commented on #186
Had a similar problem. Adding zoom & center props helped in my case.

[2016-05-24 09:14] bibobibo commented on #250
Is there anyone focusing on this issue?

[2016-05-24 13:55] cristiandley commented on #256
I created a based version of this repo just to quickly go to production with the new features. If this repo comes active again i will be glad to close mine [https://github.com/cristiandley/react-gl-maps](https://github.com/cristiandley/react-gl-maps)

[2016-05-24 20:35] markogresak commented on #260
Helpful note here, which caused me to spend almost 1 hour in debugging: there are props `defaultCenter` and `center` on `GoogleMap` component. The `defaultCenter` doesn't seem to update even if it's changed later on, so changing this to `center` fixed it.

Hope this helps someone save some time in the future.

[2016-05-25 10:33] sohibul commented on #135
@rewop Could you explain, what do you mean with "context"?

[2016-05-25 11:35] wedneyyuri commented on #135
Are you using this?

https://facebook.github.io/react/docs/context.html
Em 25 de mai de 2016 7:33 AM, "sohibul" <notifications@github.com> escreveu:

[2016-05-25 14:12] TrangNguyen opened #263 "Can't run examples locally"
Hi,
I'm using Mac OSX El Capitan and npm 4. I followed readme instruction for workflow without Docker as
[code]
And got this `Error: Couldn't find preset "babel-preset-syntax-from-presets" relative to directory "../react-google-maps/examples/gh-pages"`.
Can anyone point me to further clue? Why does it need this lib? Thanks.

[2016-05-25 15:31] rewop commented on #135
@sohibul @wedneyyuri Yes I used [react context api](https://facebook.github.io/react/docs/context.html). Check [my comment here](https://github.com/tomchentw/react-google-maps/issues/135#issuecomment-193796609).

### Problem
The problem is that every component in the module needs a reference to the mapHolder instance to perform some operation on the google map.

GoogleMapHolder passes itself down

[2016-05-25 17:24] mmahalwy commented on #260
Thanks for the advice guys - I guess I was inquiring on if I have a number of markers, I'd like to set `center` or `defaultCenter` to make sure they are all on the map (say all the markers are in the UK, I don't want my center to be NYC).

[2016-05-25 17:33] dyyylan commented on #260
@mmahalwy Have you looked at the `fitBounds` method in the API? You give it a list of all your markers' coordinates and it automatically sets the bounds of your map to fit them all in.

[2016-05-26 07:34] RockingRolli commented on #242
Do you have a transition related to the map? I had exactly the same issue as you and after some investigation I found out that a transition is causing these issues.
My map is inside a widget that can be collapsed and has a transition effect when showing the content. Removing the transition made the error disappear.
Unfortunately that is not a solution, but narrows down the issue.

HTH

[2016-05-26 08:21] aight8 opened #264 "fitBounds with async js loader: google object not found"
I lazy load the google maps api with the async component.

I want to set the bounds (fitBounds) trough the public api since that is the way instead when I understand it correctly.

But since I load the google maps lib async I can't create a list of LatLngBound since it's in the google maps library which is not loaded.

[2016-05-26 08:25] aight8 commented on #256
I really would be happy when this library can be passed to someone who have time for it and can manage this repository. It's a good library but one of the popular projects which is going to die sadly.

Any ideas from the author?

[2016-05-26 11:24] TrangNguyen opened #265 "Drawing Manager public APIs"
Is there a reason why only `getDrawingMode()` is exposed as [public API](https://github.com/tomchentw/react-google-maps/blob/master/src/DrawingManager.js)? Is it a bad practice to expose other methods, like `setDrawingMode()`, `setOptions()`, etc, basically complete reference to drawingManager?
Thanks

[2016-05-26 11:27] #265 closed

[2016-05-26 14:53] aight8 commented on #256
For all who are interested we are now actively develop on the fork which cristiandley posted (https://github.com/cristiandley/react-gl-maps)
PR's welcome!

[2016-05-26 15:26] JoeHetfield commented on #242
Yes, I made transition on the map for kind of page turning effect.
But the problem remain unsolved :(

[2016-05-26 15:52] RockingRolli commented on #242
I guess letting the map render when the transition effect is finished could solve the issue, but today I am too lazy to try.

[2016-05-27 03:29] tomchentw opened #266 "Call for maintainers. I need your help"
Hi guys,

First, I want to apologize for not being active on maintaining the module, `react-google-maps`. The main reason is that I don't have any production projects using it for a year and more. Plus, the overhead of the issues and lack of documentations making it even harder to keep issues clean.

I should have asked the great guys like @cristiandley and others for help in order to keep the com

[2016-05-27 07:38] cristiandley commented on #266
You have my sword on this path! :smile:

[2016-05-27 08:26] rewop commented on #266
I can help, also due to the fact I got to know the module a little bit better later.

[2016-05-29 02:35] tomchentw commented on #266
## TODOs

* [ ] Add "Call for maintainers" section in `README.md`.
* [ ] Review current PRs ASAP, merge it if possible and release minor/patch version
* [ ] Create guidelines for maintaining the repo/commit messages/release process……etc
* [ ] Add contributors to the repository. @cristiandley and anyone else?
* [ ] Review on the fork (react-gl-maps) to see if we can merge them together.

---
WIP

[2016-05-29 02:45] #255 closed

[2016-05-29 02:53] tomchentw commented on #255
Published [v4.10.2](https://github.com/tomchentw/react-google-maps/releases/tag/v4.10.2). Thanks to @11th, @pirate, @wedneyyuri and @mikesaidani !

We're also looking for maintainers. Involve in #266 to help strengthen our community!

[2016-05-29 03:02] tomchentw commented on #264
Since `google` is asynchronously loaded, you have to handle the logic yourself.

[2016-05-29 03:02] #264 closed

[2016-05-29 03:03] tomchentw commented on #263
We're going to look into this shortly.

[2016-05-29 03:03] #263 closed

[2016-05-29 03:03] tomchentw commented on #263
We're going to look into this shortly.

We're also looking for maintainers. Involve in #266 to help strengthen our community!

[2016-05-29 03:04] tomchentw commented on #264
Since `google` is asynchronously loaded, you have to handle the logic yourself.

We're also looking for maintainers. Involve in #266 to help strengthen our community!

[2016-05-29 03:07] tomchentw commented on #260
We're working on this to make it clearer.

We're also looking for maintainers. Involve in #266 to help strengthen our community!

[2016-05-29 03:07] #260 closed

[2016-05-29 03:09] tomchentw commented on #258
Since we now have major adoption for `react@^0.14`, we should be able to fix this.

We're also looking for maintainers. Involve in #266 to help strengthen our community!

[2016-05-29 03:15] tomchentw commented on #256
Hi guys, I want to thank you for raising up this. I've created #266 to help organize/clean up issues. Evolve in #266 and please definitely let me know if you like to be part of the maintainers! Thanks @cristiandley , @windgaucho and @aight8 .

[2016-05-29 03:15] #256 closed

[2016-05-29 03:16] tomchentw commented on #254
We're going to look into this shortly.

We're also looking for maintainers. Involve in #266 to help strengthen our community!

[2016-05-29 03:16] #254 closed

[2016-05-29 03:18] tomchentw commented on #250
We're going to look into this shortly.

We're also looking for maintainers. Involve in #266 to help strengthen our community!

[2016-05-29 03:18] #250 closed

[2016-05-29 03:20] tomchentw commented on #249
We're going to look into this shortly. In the meantime, feel free to submit a minimal repository that can fully reproduce this error so that anyone can try to help out. Thanks.

We're also looking for maintainers. Involve in #266 to help strengthen our community!

[2016-05-29 03:20] #249 closed

[2016-05-29 03:21] tomchentw commented on #247
We're also looking for maintainers. Involve in #266 to help strengthen our community!

[2016-05-29 03:21] #247 closed

[2016-05-29 03:22] tomchentw commented on #244
Since `google` is asynchronously loaded, you have to handle the logic yourself.

We're also looking for maintainers. Involve in #266 to help strengthen our community!

[2016-05-29 03:22] #244 closed

[2016-05-29 03:24] tomchentw commented on #242
We're going to look into this shortly. In the meantime, feel free to submit a minimal repository that can fully reproduce this error so that anyone can try to help out. Thanks.

We're also looking for maintainers. Involve in #266 to help strengthen our community!

[2016-05-29 03:24] #242 closed

[2016-05-29 03:26] tomchentw commented on #240
We're going to look into this shortly.

We're also looking for maintainers. Involve in #266 to help strengthen our community!

[2016-05-29 03:26] #240 closed

[2016-05-29 03:26] tomchentw commented on #239
We're going to look into this shortly.

We're also looking for maintainers. Involve in #266 to help strengthen our community!

[2016-05-29 03:26] #239 closed

[2016-05-29 03:27] tomchentw commented on #236
I believe this is an issue of googles' own servers. Close for now.

We're also looking for maintainers. Involve in #266 to help strengthen our community!

[2016-05-29 03:27] #236 closed

[2016-05-29 03:28] tomchentw commented on #235
We're going to look into this shortly.

We're also looking for maintainers. Involve in #266 to help strengthen our community!

[2016-05-29 03:28] #235 closed

[2016-05-29 03:30] tomchentw commented on #234
Seems fixed on SO. Close for now.

We're also looking for maintainers. Involve in #266 to help strengthen our community!

[2016-05-29 03:30] #234 closed

[2016-05-29 03:31] tomchentw commented on #233
Please ask these app related questions on SO, thanks!

We're also looking for maintainers. Involve in #266 to help strengthen our community!

[2016-05-29 03:31] #233 closed

[2016-05-29 03:32] tomchentw commented on #231
Here it is, #248.

We're also looking for maintainers. Involve in #266 to help strengthen our community!

[2016-05-29 03:32] #231 closed

[2016-05-29 03:33] tomchentw commented on #229
I only used `flowtype` before. Is it possible to generate `.d.ts` files from `flowtype`?

We're also looking for maintainers. Involve in #266 to help strengthen our community!

[2016-05-29 03:33] #229 closed

[2016-05-29 03:35] tomchentw commented on #228
We're going to look into this shortly.

We're also looking for maintainers. Involve in #266 to help strengthen our community!

[2016-05-29 03:35] #228 closed

[2016-05-29 03:36] tomchentw commented on #227
We're going to look into this shortly.

We're also looking for maintainers. Involve in #266 to help strengthen our community!

[2016-05-29 03:36] #227 closed

[2016-05-29 07:57] tomchentw commented on #226
We're going to look into this shortly. In the meantime, feel free to submit a minimal repository that can fully reproduce this error so that anyone can try to help out. Thanks.

We're also looking for maintainers. Involve in #266 to help strengthen our community!

[2016-05-29 07:57] #226 closed

[2016-05-29 08:03] tomchentw commented on #223
I don't know. Sorry about that. Close for now

We're also looking for maintainers. Involve in #266 to help strengthen our community!

[2016-05-29 08:03] #223 closed

[2016-05-29 08:04] tomchentw commented on #222
I don't know how to deal with adBlock. Sorry about that. Close for now.

We're also looking for maintainers. Involve in #266 to help strengthen our community!

[2016-05-29 08:04] #222 closed

[2016-05-29 08:05] tomchentw commented on #221
We're going to look into this shortly. In the meantime, feel free to submit a minimal repository that can fully reproduce this error so that anyone can try to help out. Thanks.

We're also looking for maintainers. Involve in #266 to help strengthen our community!

[2016-05-29 08:05] #221 closed

[2016-05-29 08:06] tomchentw commented on #218
We're going to look into this shortly. Close for now.

We're also looking for maintainers. Involve in #266 to help strengthen our community!

[2016-05-29 08:06] #218 closed

[2016-05-29 08:07] tomchentw commented on #217
We're going to look into this shortly. Feel free to submit a gif to demonstrate the behaviour.

We're also looking for maintainers. Involve in #266 to help strengthen our community!

[2016-05-29 08:07] #217 closed

[2016-05-29 08:09] tomchentw commented on #216
We're going to look into this shortly. Close for now

We're also looking for maintainers. Involve in #266 to help strengthen our community!

[2016-05-29 08:09] #216 closed

[2016-05-29 08:10] tomchentw commented on #212
We're working on this to make it clearer.

We're also looking for maintainers. Involve in #266 to help strengthen our community!

[2016-05-29 08:10] #212 closed

[2016-05-29 08:11] tomchentw commented on #211
We're working on this to make it clearer.

We're also looking for maintainers. Involve in #266 to help strengthen our community!

[2016-05-29 08:11] #211 closed

[2016-05-29 08:12] tomchentw commented on #210
We're going to look into this shortly.

We're also looking for maintainers. Involve in #266 to help strengthen our community!

[2016-05-29 08:12] #210 closed

[2016-05-29 08:13] tomchentw commented on #208
Please update your version of `react-google-maps`. https://github.com/tomchentw/react-google-maps/blob/v4.10.3/lib/utils/index.js

[2016-05-29 08:13] #208 closed

[2016-05-29 08:15] tomchentw commented on #207
Feel free to submit a PR. Close for now

We're also looking for maintainers. Involve in #266 to help strengthen our community!

[2016-05-29 08:15] #207 closed

[2016-05-29 08:17] tomchentw commented on #202
We're going to look into this shortly. Thanks for providing the repo:
https://github.com/dyyylan/map-breaks-on-rerender

We're also looking for maintainers. Involve in #266 to help strengthen our community!

[2016-05-29 08:17] #202 closed

[2016-05-29 08:18] tomchentw commented on #201
Feel free to submit a PR. Close for now

We're also looking for maintainers. Involve in #266 to help strengthen our community!

[2016-05-29 08:18] #201 closed

[2016-05-29 08:20] tomchentw commented on #200
We're going to look into this shortly. Thanks for providing the gif.

We're also looking for maintainers. Involve in #266 to help strengthen our community!

[2016-05-29 08:20] #200 closed

[2016-05-29 08:21] tomchentw commented on #199
Feel free to submit a PR. Close for now

We're also looking for maintainers. Involve in #266 to help strengthen our community!

[2016-05-29 08:21] #199 closed

[2016-05-29 08:22] tomchentw commented on #198
Feel free to submit a PR. Close for now

We're also looking for maintainers. Involve in #266 to help strengthen our community!

[2016-05-29 08:22] #198 closed

[2016-05-29 08:23] tomchentw commented on #197
Feel free to submit a PR. Close for now

We're also looking for maintainers. Involve in #266 to help strengthen our community!

[2016-05-29 08:23] #197 closed

[2016-05-29 08:24] tomchentw commented on #196
Feel free to submit a PR. Close for now

We're also looking for maintainers. Involve in #266 to help strengthen our community!

[2016-05-29 08:24] #196 closed

[2016-05-29 08:25] tomchentw commented on #195
Since we now have major adoption for `react@^0.14`, we should be able to fix this.

We're also looking for maintainers. Involve in #266 to help strengthen our community!

[2016-05-29 08:25] #195 closed

[2016-05-29 08:26] tomchentw commented on #191
We're going to look into this shortly. In the meantime, feel free to submit a minimal repository that can fully reproduce this error so that anyone can try to help out. Thanks.

We're also looking for maintainers. Involve in #266 to help strengthen our community!

[2016-05-29 08:26] #191 closed

[2016-05-29 09:02] tomchentw commented on #189
Close for now.

[2016-05-29 09:02] #189 closed

[2016-05-29 09:03] tomchentw commented on #184
Feel free to submit a PR. Close for now

We're also looking for maintainers. Involve in #266 to help strengthen our community!

[2016-05-29 09:03] #184 closed

[2016-05-29 09:03] tomchentw commented on #183
We're going to look into this shortly. Close for now

We're also looking for maintainers. Involve in #266 to help strengthen our community!

[2016-05-29 09:03] #183 closed

[2016-05-29 09:04] tomchentw commented on #180
We're going to look into this shortly.

We're also looking for maintainers. Involve in #266 to help strengthen our community!

[2016-05-29 09:04] #180 closed

[2016-05-29 09:11] tomchentw commented on #178
There's nothing I can do for now.

We're also looking for maintainers. Involve in #266 to help strengthen our community!

[2016-05-29 09:11] #178 closed

[2016-05-29 09:11] tomchentw commented on #173
Close for now.

We're also looking for maintainers. Involve in #266 to help strengthen our community!

[2016-05-29 09:11] #173 closed

[2016-05-29 09:12] tomchentw commented on #172
We're going to look into this shortly.

We're also looking for maintainers. Involve in #266 to help strengthen our community!

[2016-05-29 09:12] #172 closed

[2016-05-29 09:13] tomchentw commented on #169
We're going to look into this shortly. In the meantime, feel free to submit a minimal repository that can fully reproduce this error so that anyone can try to help out. Thanks.

We're also looking for maintainers. Involve in #266 to help strengthen our community!

[2016-05-29 09:13] #169 closed

[2016-05-29 09:14] tomchentw commented on #165
Feel free to submit a PR. Close for now

We're also looking for maintainers. Involve in #266 to help strengthen our community!

[2016-05-29 09:14] #165 closed

[2016-05-29 09:14] tomchentw commented on #163
We're going to look into this shortly. In the meantime, feel free to submit a minimal repository that can fully reproduce this error so that anyone can try to help out. Thanks.

We're also looking for maintainers. Involve in #266 to help strengthen our community!

[2016-05-29 09:14] #163 closed

[2016-05-29 09:15] tomchentw commented on #151
We're going to look into this shortly. Feel free to submit a PR. Close for now

We're also looking for maintainers. Involve in #266 to help strengthen our community!

[2016-05-29 09:15] #151 closed

[2016-05-29 09:15] tomchentw commented on #149
Close for now.

[2016-05-29 09:15] tomchentw commented on #149
We're also looking for maintainers. Involve in #266 to help strengthen our community!

[2016-05-29 09:15] #149 closed

[2016-05-29 09:16] tomchentw commented on #144
Feel free to submit a PR. Close for now

We're also looking for maintainers. Involve in #266 to help strengthen our community!

[2016-05-29 09:16] #144 closed

[2016-05-29 09:20] tomchentw commented on #138
We're going to look into this shortly.

We're also looking for maintainers. Involve in #266 to help strengthen our community!

[2016-05-29 09:20] #138 closed

[2016-05-29 09:21] tomchentw commented on #135
Close this for #224 .

We're also looking for maintainers. Involve in #266 to help strengthen our community!

[2016-05-29 09:21] #135 closed

[2016-05-29 09:22] tomchentw commented on #128
We're also looking for maintainers. Involve in #266 to help strengthen our community!

[2016-05-29 09:22] #128 closed

[2016-05-29 09:22] tomchentw commented on #122
Close for now.

We're also looking for maintainers. Involve in #266 to help strengthen our community!

[2016-05-29 09:22] #122 closed

[2016-05-29 09:23] tomchentw commented on #114
Feel free to submit a PR. Close for now

We're also looking for maintainers. Involve in #266 to help strengthen our community!

[2016-05-29 09:23] #114 closed

[2016-05-29 09:24] tomchentw commented on #108
Feel free to submit a PR. Close for now

We're also looking for maintainers. Involve in #266 to help strengthen our community!

[2016-05-29 09:24] #108 closed

[2016-05-29 09:24] tomchentw commented on #105
Close for #266 now.

[2016-05-29 09:24] #105 closed

[2016-05-29 09:24] tomchentw commented on #96
Close for #266 now.

[2016-05-29 09:24] #96 closed

[2016-05-29 09:25] tomchentw commented on #95
Close for #266 now.

[2016-05-29 09:25] #95 closed

[2016-05-29 09:25] tomchentw commented on #94
Close for #266 now.

We're also looking for maintainers. Involve in #266 to help strengthen our community!

[2016-05-29 09:25] #94 closed

[2016-05-29 09:26] tomchentw commented on #93
Feel free to submit a PR. Close for now

We're also looking for maintainers. Involve in #266 to help strengthen our community!

[2016-05-29 09:26] #93 closed

[2016-05-29 09:27] tomchentw commented on #92
Close for now.

We're also looking for maintainers. Involve in #266 to help strengthen our community!

[2016-05-29 09:27] #92 closed

[2016-05-29 09:28] tomchentw commented on #84
Feel free to submit a PR. Close for now

We're also looking for maintainers. Involve in #266 to help strengthen our community!

[2016-05-29 09:28] #84 closed

[2016-05-29 09:28] tomchentw commented on #82
Feel free to submit a PR. Close for now

We're also looking for maintainers. Involve in #266 to help strengthen our community!

[2016-05-29 09:28] #82 closed

[2016-05-29 09:29] tomchentw commented on #66
Feel free to submit a PR. Close for now

We're also looking for maintainers. Involve in #266 to help strengthen our community!

[2016-05-29 09:29] #66 closed

[2016-05-29 09:29] #14 closed

[2016-05-29 09:29] tomchentw commented on #11
Feel free to submit a PR. Close for now

We're also looking for maintainers. Involve in #266 to help strengthen our community!

[2016-05-29 09:29] #11 closed

[2016-05-29 09:30] tomchentw commented on #262
There's nothing I can do for now.

We're also looking for maintainers. Involve in #266 to help strengthen our community!